
                            	.chosenColorArea {
									float: left;
									width: 428px;
									font-size: 14px;
								}
								
								.chosenColorArea .colorsTable {
									width: 100%;
									margin-bottom: 10px;
								}
								
								.chosenColorArea .colorsTable td {
									border: 1px solid #e7e7eb;
									text-align: center;
									padding-top: 4px;
									padding-bottom: 4px;
									word-break: break-all;
								}
								
								.chosenColorArea .colorsTable th {
									background: #F9F9F9;
									border: 1px solid #e7e7eb;
									text-align: center;
									padding-top: 6px;
									padding-bottom: 6px;
									font-weight: normal;
									color: #9e9e9e;
								}
								
								.chosenColorArea .colorsTable td.tdleft {
									text-align: left;
								}
								
								.chosenColorArea .colorsTable td.tdright {
									text-align: right;
								}
								
								.chosenColorArea .colorsTable td.margin {
									vertical-align: top;
								}
								
								.chosenColorArea .colorsTable tr.padding td {
									padding-bottom: 10px
								}
								
								.chosenColorArea .checkbox {
									float: left;
									margin: 4px 0 0 8px;
									*margin: 0 0 0 4px;
									vertical-align: middle;
								}
								
								.chosenColorArea .listColor {
									clear: both;
								}
								
								.chosenColorArea .ShowColoTabler .Num {
									float: left;
								}
								
								.chosenColorArea .ShowColoTabler .ColorImg {
									border: 1px solid #FFF;
									float: left;
									width: 14px;
									height: 14px;
									margin: 1px 2px 0px 2px;
									*margin: 1px 2px 0px 0;
									_margin: 1px 0px 0px 0;
								}
								
								.chosenColorArea .ShowColoTabler .Color {
									float: left;
									padding-top: 2px;
									cursor: pointer;
									line-height: 14px;
								}
								
								.chosenColorArea .ShowColoTabler .listColor {
									float: left;
								}
								
								.chosenColorArea .ShowColoTabler .listColor li {
									float: left;
									width: 100%;
									padding-top: 2px;
									padding-bottom: 2px;
								}
								
								.chosenColorArea .hasChosenColor .c-000000,
								.listColor .c-000000 .ColorImg {
									background: none repeat scroll 0 0 #000000;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-666666,
								.listColor .c-666666 .ColorImg {
									background: none repeat scroll 0 0 #666666;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-e4e4e4,
								.listColor .c-e4e4e4 .ColorImg {
									background: none repeat scroll 0 0 #E4E4E4;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-4b0082,
								.listColor .c-4b0082 .ColorImg {
									background: none repeat scroll 0 0 #4B0082;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-800080,
								.listColor .c-800080 .ColorImg {
									background: none repeat scroll 0 0 #800080;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-dda0dd,
								.listColor .c-dda0dd .ColorImg {
									background: none repeat scroll 0 0 #DDA0DD;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-990000,
								.listColor .c-990000 .ColorImg {
									background: none repeat scroll 0 0 #990000;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ff0000,
								.listColor .c-ff0000 .ColorImg {
									background: none repeat scroll 0 0 #FF0000;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ffb6c1,
								.listColor .c-ffb6c1 .ColorImg {
									background: none repeat scroll 0 0 #FFB6C1;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ffa500,
								.listColor .c-ffa500 .ColorImg {
									background: none repeat scroll 0 0 #FFA500;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ffff00,
								.listColor .c-ffff00 .ColorImg {
									background: none repeat scroll 0 0 #FFFF00;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ffffb1,
								.listColor .c-ffffb1 .ColorImg {
									background: none repeat scroll 0 0 #FFFFB1;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-855b00,
								.listColor .c-855b00 .ColorImg {
									background: none repeat scroll 0 0 #855B00;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-d2691e,
								.listColor .c-d2691e .ColorImg {
									background: none repeat scroll 0 0 #D2691E;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-bdb76b,
								.listColor .c-bdb76b .ColorImg {
									background: none repeat scroll 0 0 #BDB76B;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-5d762a,
								.listColor .c-5d762a .ColorImg {
									background: none repeat scroll 0 0 #5D762A;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-008000,
								.listColor .c-008000 .ColorImg {
									background: none repeat scroll 0 0 #008000;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-98fb98,
								.listColor .c-98fb98 .ColorImg {
									background: none repeat scroll 0 0 #98FB98;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-041690,
								.listColor .c-041690 .ColorImg {
									background: none repeat scroll 0 0 #041690;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-0000ff,
								.listColor .c-0000ff .ColorImg {
									background: none repeat scroll 0 0 #0000FF;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-1eddff,
								.listColor .c-1eddff .ColorImg {
									background: none repeat scroll 0 0 #1EDDFF;
									border: none;
								}
								
								.chosenColorArea .hasChosenColor .c-ffffff,
								.listColor .c-ffffff .ColorImg {
									background: none repeat scroll 0 0 #FFFFFF;
									border: none;
									border: 1px solid #E1E1E1!important;
								}
								
								.chosenColorArea span.c-transparent,
								.listColor .c-transparent .ColorImg {
									background: url(http://style1.buyinchina.com/img/addProductColor.gif) no-repeat scroll 0 -20px transparent;
									border: none;
								}
								
								.chosenColorArea span.c-assortment,
								.listColor .c-assortment .ColorImg {
									background: url(http://style1.buyinchina.com/img/addProductColor.gif) no-repeat scroll 0 0 transparent;
									border: none;
								}
								
								.chosenColorArea span.outofstock,
								.listColor .outofstock .ColorImg {
									background: url(http://style1.buyinchina.com/img/addProductColor.gif) no-repeat scroll 0 0 transparent;
									border: none;
								}
								
								#uploadImgFileX {
									float: left;
									width: 1px;
									height: 1px;
									background: none repeat scroll 0 0 #FFFFFF;
									filter: alpha(opacity=0);
									-moz-opacity: 0.0;
									-khtml-opacity: 0.0;
									opacity: 0.0;
								}
								
								#productsColorList {
								    float: right;
								    font-size: 14px;
								    width: 428px;
								}
								
								#productsColorList th {
								    background: #F9F9F9;
								    border: 1px solid #e7e7eb;
								    text-align: center;
								    padding-top: 6px;
								    padding-bottom: 6px;
								    font-weight: normal;
								    color: #9e9e9e;
								}