/*.rightarea{
    float: right;
    width: 1040px;
}*/
.mainarea{
    width: 98%;
    margin: 0 auto;
}
.mainhead{
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    border-bottom: 1px solid
    #e7e7eb;
    margin-bottom: 10px;
}
.title{
    line-height: 36px;
    font-size: 16px;
}
.searchArea{
    float: right;
    position: relative;
}
.btn-div{
    float: right;
}
.btn-div a{
    color: #fff !important;
    float: left;
}
.mainbody{
    padding-bottom: 20px;
}
.settable{
    width: 100%;
    font-size: 14px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #e7e7eb;
    border-spacing: 0;
    table-layout: fixed;
}
.settable thead{
    background-color: #f4f5f9;
}
.settable th{
    padding: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    border-bottom: 1px solid #e7e7eb;
}
.settable tbody tr{
    padding: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    border-bottom: 1px solid
    #e7e7eb;
}
.settable tbody td{
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}