<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.BankMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Bank">
    <id column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_english_name" jdbcType="VARCHAR" property="bankEnglishName" />
    <result column="bank_telephone" jdbcType="VARCHAR" property="bankTelephone" />
    <result column="bank_zipcode" jdbcType="VARCHAR" property="bankZipcode" />
    <result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="bank_remark" jdbcType="VARCHAR" property="bankRemark" />
    <result column="bank_yn" jdbcType="VARCHAR" property="bankYn" />
    <result column="bank_custom1" jdbcType="VARCHAR" property="bankCustom1" />
    <result column="bank_custom2" jdbcType="VARCHAR" property="bankCustom2" />
    <result column="bank_custom3" jdbcType="VARCHAR" property="bankCustom3" />
    <result column="bank_custom4" jdbcType="VARCHAR" property="bankCustom4" />
    <result column="bank_custom5" jdbcType="VARCHAR" property="bankCustom5" />
    <result column="bank_custom6" jdbcType="VARCHAR" property="bankCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    bank_id, bank_name, bank_english_name, bank_telephone, bank_zipcode, bank_address, 
    bank_remark, bank_yn, bank_custom1, bank_custom2, bank_custom3, bank_custom4, bank_custom5, 
    bank_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bank
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bank
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Bank">
    insert into bank (bank_id, bank_name, bank_english_name, 
      bank_telephone, bank_zipcode, bank_address, 
      bank_remark, bank_yn, bank_custom1, 
      bank_custom2, bank_custom3, bank_custom4, 
      bank_custom5, bank_custom6)
    values (#{bankId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankEnglishName,jdbcType=VARCHAR}, 
      #{bankTelephone,jdbcType=VARCHAR}, #{bankZipcode,jdbcType=VARCHAR}, #{bankAddress,jdbcType=VARCHAR}, 
      #{bankRemark,jdbcType=VARCHAR}, #{bankYn,jdbcType=VARCHAR}, #{bankCustom1,jdbcType=VARCHAR}, 
      #{bankCustom2,jdbcType=VARCHAR}, #{bankCustom3,jdbcType=VARCHAR}, #{bankCustom4,jdbcType=VARCHAR}, 
      #{bankCustom5,jdbcType=VARCHAR}, #{bankCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Bank">
    insert into bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankEnglishName != null">
        bank_english_name,
      </if>
      <if test="bankTelephone != null">
        bank_telephone,
      </if>
      <if test="bankZipcode != null">
        bank_zipcode,
      </if>
      <if test="bankAddress != null">
        bank_address,
      </if>
      <if test="bankRemark != null">
        bank_remark,
      </if>
      <if test="bankYn != null">
        bank_yn,
      </if>
      <if test="bankCustom1 != null">
        bank_custom1,
      </if>
      <if test="bankCustom2 != null">
        bank_custom2,
      </if>
      <if test="bankCustom3 != null">
        bank_custom3,
      </if>
      <if test="bankCustom4 != null">
        bank_custom4,
      </if>
      <if test="bankCustom5 != null">
        bank_custom5,
      </if>
      <if test="bankCustom6 != null">
        bank_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankEnglishName != null">
        #{bankEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="bankTelephone != null">
        #{bankTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankZipcode != null">
        #{bankZipcode,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankRemark != null">
        #{bankRemark,jdbcType=VARCHAR},
      </if>
      <if test="bankYn != null">
        #{bankYn,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom1 != null">
        #{bankCustom1,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom2 != null">
        #{bankCustom2,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom3 != null">
        #{bankCustom3,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom4 != null">
        #{bankCustom4,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom5 != null">
        #{bankCustom5,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom6 != null">
        #{bankCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Bank">
    update bank
    <set>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankEnglishName != null">
        bank_english_name = #{bankEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="bankTelephone != null">
        bank_telephone = #{bankTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankZipcode != null">
        bank_zipcode = #{bankZipcode,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        bank_address = #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankRemark != null">
        bank_remark = #{bankRemark,jdbcType=VARCHAR},
      </if>
      <if test="bankYn != null">
        bank_yn = #{bankYn,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom1 != null">
        bank_custom1 = #{bankCustom1,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom2 != null">
        bank_custom2 = #{bankCustom2,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom3 != null">
        bank_custom3 = #{bankCustom3,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom4 != null">
        bank_custom4 = #{bankCustom4,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom5 != null">
        bank_custom5 = #{bankCustom5,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom6 != null">
        bank_custom6 = #{bankCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Bank">
    update bank
    set bank_name = #{bankName,jdbcType=VARCHAR},
      bank_english_name = #{bankEnglishName,jdbcType=VARCHAR},
      bank_telephone = #{bankTelephone,jdbcType=VARCHAR},
      bank_zipcode = #{bankZipcode,jdbcType=VARCHAR},
      bank_address = #{bankAddress,jdbcType=VARCHAR},
      bank_remark = #{bankRemark,jdbcType=VARCHAR},
      bank_yn = #{bankYn,jdbcType=VARCHAR},
      bank_custom1 = #{bankCustom1,jdbcType=VARCHAR},
      bank_custom2 = #{bankCustom2,jdbcType=VARCHAR},
      bank_custom3 = #{bankCustom3,jdbcType=VARCHAR},
      bank_custom4 = #{bankCustom4,jdbcType=VARCHAR},
      bank_custom5 = #{bankCustom5,jdbcType=VARCHAR},
      bank_custom6 = #{bankCustom6,jdbcType=VARCHAR}
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Bank">
    <id column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_english_name" jdbcType="VARCHAR" property="bankEnglishName" />
    <result column="bank_telephone" jdbcType="VARCHAR" property="bankTelephone" />
    <result column="bank_zipcode" jdbcType="VARCHAR" property="bankZipcode" />
    <result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="bank_remark" jdbcType="VARCHAR" property="bankRemark" />
    <result column="bank_yn" jdbcType="VARCHAR" property="bankYn" />
    <result column="bank_custom1" jdbcType="VARCHAR" property="bankCustom1" />
    <result column="bank_custom2" jdbcType="VARCHAR" property="bankCustom2" />
    <result column="bank_custom3" jdbcType="VARCHAR" property="bankCustom3" />
    <result column="bank_custom4" jdbcType="VARCHAR" property="bankCustom4" />
    <result column="bank_custom5" jdbcType="VARCHAR" property="bankCustom5" />
    <result column="bank_custom6" jdbcType="VARCHAR" property="bankCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    bank_id, bank_name, bank_english_name, bank_telephone, bank_zipcode, bank_address, 
    bank_remark, bank_yn, bank_custom1, bank_custom2, bank_custom3, bank_custom4, bank_custom5, 
    bank_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bank
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bank
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Bank">
    insert into bank (bank_id, bank_name, bank_english_name, 
      bank_telephone, bank_zipcode, bank_address, 
      bank_remark, bank_yn, bank_custom1, 
      bank_custom2, bank_custom3, bank_custom4, 
      bank_custom5, bank_custom6)
    values (#{bankId,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankEnglishName,jdbcType=VARCHAR}, 
      #{bankTelephone,jdbcType=VARCHAR}, #{bankZipcode,jdbcType=VARCHAR}, #{bankAddress,jdbcType=VARCHAR}, 
      #{bankRemark,jdbcType=VARCHAR}, #{bankYn,jdbcType=VARCHAR}, #{bankCustom1,jdbcType=VARCHAR}, 
      #{bankCustom2,jdbcType=VARCHAR}, #{bankCustom3,jdbcType=VARCHAR}, #{bankCustom4,jdbcType=VARCHAR}, 
      #{bankCustom5,jdbcType=VARCHAR}, #{bankCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Bank">
    insert into bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankEnglishName != null">
        bank_english_name,
      </if>
      <if test="bankTelephone != null">
        bank_telephone,
      </if>
      <if test="bankZipcode != null">
        bank_zipcode,
      </if>
      <if test="bankAddress != null">
        bank_address,
      </if>
      <if test="bankRemark != null">
        bank_remark,
      </if>
      <if test="bankYn != null">
        bank_yn,
      </if>
      <if test="bankCustom1 != null">
        bank_custom1,
      </if>
      <if test="bankCustom2 != null">
        bank_custom2,
      </if>
      <if test="bankCustom3 != null">
        bank_custom3,
      </if>
      <if test="bankCustom4 != null">
        bank_custom4,
      </if>
      <if test="bankCustom5 != null">
        bank_custom5,
      </if>
      <if test="bankCustom6 != null">
        bank_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankEnglishName != null">
        #{bankEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="bankTelephone != null">
        #{bankTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankZipcode != null">
        #{bankZipcode,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankRemark != null">
        #{bankRemark,jdbcType=VARCHAR},
      </if>
      <if test="bankYn != null">
        #{bankYn,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom1 != null">
        #{bankCustom1,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom2 != null">
        #{bankCustom2,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom3 != null">
        #{bankCustom3,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom4 != null">
        #{bankCustom4,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom5 != null">
        #{bankCustom5,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom6 != null">
        #{bankCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Bank">
    update bank
    <set>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankEnglishName != null">
        bank_english_name = #{bankEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="bankTelephone != null">
        bank_telephone = #{bankTelephone,jdbcType=VARCHAR},
      </if>
      <if test="bankZipcode != null">
        bank_zipcode = #{bankZipcode,jdbcType=VARCHAR},
      </if>
      <if test="bankAddress != null">
        bank_address = #{bankAddress,jdbcType=VARCHAR},
      </if>
      <if test="bankRemark != null">
        bank_remark = #{bankRemark,jdbcType=VARCHAR},
      </if>
      <if test="bankYn != null">
        bank_yn = #{bankYn,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom1 != null">
        bank_custom1 = #{bankCustom1,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom2 != null">
        bank_custom2 = #{bankCustom2,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom3 != null">
        bank_custom3 = #{bankCustom3,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom4 != null">
        bank_custom4 = #{bankCustom4,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom5 != null">
        bank_custom5 = #{bankCustom5,jdbcType=VARCHAR},
      </if>
      <if test="bankCustom6 != null">
        bank_custom6 = #{bankCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Bank">
    update bank
    set bank_name = #{bankName,jdbcType=VARCHAR},
      bank_english_name = #{bankEnglishName,jdbcType=VARCHAR},
      bank_telephone = #{bankTelephone,jdbcType=VARCHAR},
      bank_zipcode = #{bankZipcode,jdbcType=VARCHAR},
      bank_address = #{bankAddress,jdbcType=VARCHAR},
      bank_remark = #{bankRemark,jdbcType=VARCHAR},
      bank_yn = #{bankYn,jdbcType=VARCHAR},
      bank_custom1 = #{bankCustom1,jdbcType=VARCHAR},
      bank_custom2 = #{bankCustom2,jdbcType=VARCHAR},
      bank_custom3 = #{bankCustom3,jdbcType=VARCHAR},
      bank_custom4 = #{bankCustom4,jdbcType=VARCHAR},
      bank_custom5 = #{bankCustom5,jdbcType=VARCHAR},
      bank_custom6 = #{bankCustom6,jdbcType=VARCHAR}
    where bank_id = #{bankId,jdbcType=VARCHAR}
  </update>
</mapper>