<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.CashregisterMapper">

	<resultMap id="BaseResultMap"
		type="com.apatech.domain.Cashregister">
		<id column="ashRegisterID" jdbcType="VARCHAR"
			property="ashregisterid" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
		<result column="shopID" jdbcType="VARCHAR"
			property="shopid" />
		<result column="count" jdbcType="INTEGER" property="count" />
		<result column="moneyamt" jdbcType="REAL"
			property="moneyamt" />
		<result column="memberID" jdbcType="INTEGER"
			property="memberid" />
		<result column="cashRegisterName" jdbcType="VARCHAR"
			property="cashregistername" />
		<result column="ispresent" jdbcType="INTEGER"
			property="ispresent" />
	</resultMap>
	<select id="queryByMemberID" parameterType="com.apatech.domain.Cashregister" resultMap="BaseResultMap">
		select * from cashregister where memberid = #{memberid,jdbcType=INTEGER}
	</select>
	<sql id="Base_Column_List">
		ashRegisterID, time, shopID, count, moneyamt, memberID,
		cashRegisterName, ispresent
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from cashregister where ashRegisterID =
		#{ashregisterid,jdbcType=VARCHAR}
	</select>





	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.String">
		delete from cashregister where ashRegisterID =
		#{ashregisterid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.apatech.domain.Cashregister">
		insert into cashregister (ashRegisterID, time, shopID,
		count, moneyamt, memberID, cashRegisterName, ispresent)
		values (#{ashregisterid,jdbcType=VARCHAR},
		#{time,jdbcType=TIMESTAMP}, #{shopid,jdbcType=VARCHAR},
		#{count,jdbcType=INTEGER}, #{moneyamt,jdbcType=REAL},
		#{memberid,jdbcType=INTEGER},
		#{cashregistername,jdbcType=VARCHAR},
		#{ispresent,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.apatech.domain.Cashregister">
		insert into cashregister
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ashregisterid != null">ashRegisterID,</if>
			<if test="time != null">time,</if>
			<if test="shopid != null">shopID,</if>
			<if test="count != null">count,</if>
			<if test="moneyamt != null">moneyamt,</if>
			<if test="memberid != null">memberID,</if>
			<if test="cashregistername != null">
				cashRegisterName,
			</if>
			<if test="ispresent != null">ispresent,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ashregisterid != null">
				#{ashregisterid,jdbcType=VARCHAR},
			</if>
			<if test="time != null">#{time,jdbcType=TIMESTAMP},</if>
			<if test="shopid != null">
				#{shopid,jdbcType=VARCHAR},
			</if>
			<if test="count != null">#{count,jdbcType=INTEGER},</if>
			<if test="moneyamt != null">
				#{moneyamt,jdbcType=REAL},
			</if>
			<if test="memberid != null">
				#{memberid,jdbcType=INTEGER},
			</if>
			<if test="cashregistername != null">
				#{cashregistername,jdbcType=VARCHAR},
			</if>
			<if test="ispresent != null">
				#{ispresent,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Cashregister">
		update cashregister
		<set>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="shopid != null">
				shopID = #{shopid,jdbcType=VARCHAR},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			<if test="moneyamt != null">
				moneyamt = #{moneyamt,jdbcType=REAL},
			</if>
			<if test="memberid != null">
				memberID = #{memberid,jdbcType=INTEGER},
			</if>
			<if test="cashregistername != null">
				cashRegisterName =
				#{cashregistername,jdbcType=VARCHAR},
			</if>
			<if test="ispresent != null">
				ispresent = #{ispresent,jdbcType=INTEGER},
			</if>
		</set>
		where ashRegisterID = #{ashregisterid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.apatech.domain.Cashregister">
		update cashregister set time = #{time,jdbcType=TIMESTAMP},
		shopID = #{shopid,jdbcType=VARCHAR}, count =
		#{count,jdbcType=INTEGER}, moneyamt =
		#{moneyamt,jdbcType=REAL}, memberID =
		#{memberid,jdbcType=INTEGER}, cashRegisterName =
		#{cashregistername,jdbcType=VARCHAR}, ispresent =
		#{ispresent,jdbcType=INTEGER} where ashRegisterID =
		#{ashregisterid,jdbcType=VARCHAR}
	</update>
	<select id="selectByAll" resultType="com.apatech.domain.Cashregister">
		SELECT c.* 
		FROM cashregister c,member m 
		WHERE c.memberID=m.memberID
		<if test="null!=PhoneOrName and ''!=PhoneOrName">
			AND (m.name LIKE "%"#{PhoneOrName}"%" OR m.phone LIKE "%"#{PhoneOrName}"%") 
		</if>
		<if test="null!=startTime">
			AND c.time &gt;= #{startTime}
		</if>
		<if test="null!=endTime">
			AND c.time &lt;= #{endTime}
		</if>
		ORDER BY c.time
		DESC
	</select>

  <select id="queryByGd" parameterType="com.apatech.domain.Cashregister" resultMap="BaseResultMap">
  	select * from cashregister where ispresent = 0 
  	and ashregisterid like '%${ashregisterid}%' order by time desc 
  </select>
  <insert id="insertCashregister" parameterType="com.apatech.domain.Cashregister">
    insert into cashregister (ashRegisterID, time, shopID, 
      count, moneyamt, memberID, 
      cashRegisterName, ispresent)
    values (#{ashregisterid,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{shopid,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{moneyamt,jdbcType=REAL}, #{memberid,jdbcType=INTEGER}, 
      #{cashregistername,jdbcType=VARCHAR}, #{ispresent,jdbcType=INTEGER})
  </insert>


    <!-- 订单主表条件查询(销售统计) -->
  <select id="selectAll3" parameterType="java.lang.String" resultMap="BaseResultMap">
   	SELECT * FROM cashregister b 
		LEFT JOIN member d ON b.memberID=d.memberID 
		LEFT JOIN shop c ON b.shopID=c.shopID 
    where 1=1
    and b.ispresent=1
   	<if test="shopid != null and shopid !=''">
          and b.shopid = #{shopid}
      </if>
      <if test="selectqb != null  and selectqb !=''">
          and b.time like '%${selectqb}%' 
          OR b.ashRegisterID like '%${selectqb}%'
          OR c.shopname like '%${selectqb}%'
          OR d.name like '%${selectqb}%'
          OR b.cashregistername like '%${selectqb}%'
          OR d.price like '%${selectqb}%'
      </if>
     <if test="oldtime!=null">
		AND b.time &gt; #{oldtime}
	</if>
	<if test="newtime!=null">
		AND b.time &lt; #{newtime}
	</if>
	<if test="ddnf!=null and ddnf !=''">
		AND YEAR(b.time)= #{ddnf}
	</if>
	<!-- GROUP BY a.cashRegisterID -->
  </select>
 <!-- 订单主表条件查询(销售统计图) -->
  <select id="selectxstjt" parameterType="java.lang.String" resultMap="BaseResultMap">
	   select year(a.time) 'ddnf',month(a.time) 'ddyf',sum(a.moneyamt) 'ddsumprice',count(a.moneyamt) 'ddcount' ,c.* from cashregister a
	LEFT JOIN shop c ON a.shopID=c.shopID 	
    where 1=1
    and a.ispresent=1
    <if test="shopid != null and shopid !=''">
          and c.shopid = #{shopid}
      </if>
   	<if test="ddnf!=null and ddnf !=''">
		AND YEAR(a.time)= #{ddnf}
	</if>
      
	group by year(a.time),month(a.time)
  </select>

    <!-- 订单主表条件查询(营收概况) -->
  <select id="selectAll4" parameterType="java.lang.String" resultMap="BaseResultMap">
     SELECT * FROM cashregister b 
	LEFT JOIN member d ON b.memberID=d.memberID 
	LEFT JOIN shop c ON b.shopID=c.shopID 
    where 1=1
    and b.ispresent=1
   	<if test="shopid != null and shopid !=''">
          and b.shopid = #{shopid}
      </if>
      <if test="selectqb != null  and selectqb !=''">
          and c.shopname like '%${selectqb}%'
      </if>
     <if test="oldtime!=null">
		AND b.time &gt; #{oldtime}
	</if>
	<if test="newtime!=null">
		AND b.time &lt; #{newtime}
	</if>
	group by c.shopid
  </select>
   
    <!-- 订单主表条件查询(热销商品) -->
  <select id="selectAll5" parameterType="java.lang.String" resultMap="BaseResultMap">
   SELECT  *,f.name as spname,SUM(a.count) as spsccount ,SUM(a.moneyamt) as spsccprice FROM cashregisterdetail a
	INNER JOIN cashregister b ON a.cashRegisterID=b.ashRegisterID
	LEFT JOIN CommodityDetail e ON e.commodityDetailID=a.commodityDetailID
	LEFT JOIN Commodity f ON f.productCodeID=e. productCodeID
	LEFT JOIN member d ON b.memberID=d.memberID
	LEFT JOIN shop c ON b.shopID=c.shopID
	LEFT JOIN color g ON g.colorID=e.colorID   
	LEFT JOIN commoditysize h ON h.commoditySizeID=e.commoditySizeID
    where 1=1
    and b.ispresent=1
   	<if test="shopid != null and shopid !=''">
         and b.shopid = #{shopid}
     </if>
   	<if test="commoditytypeid != null and commoditytypeid !=''">
         and f.commoditytypeid = #{commoditytypeid}
     </if>
     <if test="selectqb != null  and selectqb !=''">
          and f.name like '%${selectqb}%' 
          OR e.commodityDetailID like '%${selectqb}%'
          OR c.shopname like '%${selectqb}%'
          OR g.color like '%${selectqb}%'          
          OR h.commoditysize like '%${selectqb}%'
          OR f.price like '%${selectqb}%'
          OR e.count like '%${selectqb}%'
     </if>
     <if test="oldtime!=null">
		AND b.time &gt; #{oldtime}
	</if>
	<if test="newtime!=null">
		AND b.time &lt; #{newtime}
	</if>
	group by a.commodityDetailID
  </select>
</mapper>
