<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.CashregisterdetailMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Cashregisterdetail">
    <id column="CashRegisterDetailID" jdbcType="INTEGER" property="cashregisterdetailid" />
    <result column="cashRegisterID" jdbcType="VARCHAR" property="cashregisterid" />
    <result column="commodityName" jdbcType="VARCHAR" property="commodityname" />
    <result column="commodityDetailID" jdbcType="VARCHAR" property="commoditydetailid" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="sbtotal" jdbcType="REAL" property="sbtotal" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="zhekou" jdbcType="INTEGER" property="zhekou" />
    <result column="moneyamt" jdbcType="REAL" property="moneyamt" />
  </resultMap>
  <select id="queryByDetail" parameterType="com.apatech.domain.Cashregisterdetail" resultMap="BaseResultMap">
    select * from cashregisterdetail where cashregisterid = #{cashregisterid,jdbcType=VARCHAR}
  </select>
  <insert id="insertCashregisterDetail" parameterType="com.apatech.domain.Cashregisterdetail">
    insert into cashregisterdetail (cashRegisterID, 
      commodityName, commodityDetailID, specifications, 
      price, sbtotal, count, zhekou, 
      moneyamt)
    values (#{cashregisterid,jdbcType=VARCHAR}, 
      #{commodityname,jdbcType=VARCHAR}, #{commoditydetailid,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{sbtotal,jdbcType=REAL}, #{count,jdbcType=INTEGER}, #{zhekou,jdbcType=INTEGER}, 
      #{moneyamt,jdbcType=REAL})
  </insert>
  <sql id="Base_Column_List">
    CashRegisterDetailID, cashRegisterID, commodityName, commodityDetailID, specifications, 
    price, sbtotal, count, zhekou, moneyamt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cashregisterdetail
    where CashRegisterDetailID = #{cashregisterdetailid,jdbcType=INTEGER}
  </select>
  <select id="selectByCashregisterId" parameterType="String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cashregisterdetail
    where `cashRegisterID` = #{cashregisterid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cashregisterdetail
    where CashRegisterDetailID = #{cashregisterdetailid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByid" parameterType="java.lang.String">
  	delete from cashregisterdetail 
    where cashRegisterID = #{cashregisterid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Cashregisterdetail">
    insert into cashregisterdetail (CashRegisterDetailID, cashRegisterID, 
      commodityName, commodityDetailID, specifications, 
      price, sbtotal, count, zhekou, 
      moneyamt)
    values (#{cashregisterdetailid,jdbcType=INTEGER}, #{cashregisterid,jdbcType=VARCHAR}, 
      #{commodityname,jdbcType=VARCHAR}, #{commoditydetailid,jdbcType=VARCHAR}, #{specifications,jdbcType=VARCHAR}, 
      #{price,jdbcType=REAL}, #{sbtotal,jdbcType=REAL}, #{count,jdbcType=INTEGER}, #{zhekou,jdbcType=INTEGER}, 
      #{moneyamt,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Cashregisterdetail">
    insert into cashregisterdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cashregisterdetailid != null">
        CashRegisterDetailID,
      </if>
      <if test="cashregisterid != null">
        cashRegisterID,
      </if>
      <if test="commodityname != null">
        commodityName,
      </if>
      <if test="commoditydetailid != null">
        commodityDetailID,
      </if>
      <if test="specifications != null">
        specifications,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="sbtotal != null">
        sbtotal,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="zhekou != null">
        zhekou,
      </if>
      <if test="moneyamt != null">
        moneyamt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cashregisterdetailid != null">
        #{cashregisterdetailid,jdbcType=INTEGER},
      </if>
      <if test="cashregisterid != null">
        #{cashregisterid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null">
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="commoditydetailid != null">
        #{commoditydetailid,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null">
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="sbtotal != null">
        #{sbtotal,jdbcType=REAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="zhekou != null">
        #{zhekou,jdbcType=INTEGER},
      </if>
      <if test="moneyamt != null">
        #{moneyamt,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Cashregisterdetail">
    update cashregisterdetail
    <set>
      <if test="cashregisterid != null">
        cashRegisterID = #{cashregisterid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null">
        commodityName = #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="commoditydetailid != null">
        commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null">
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=REAL},
      </if>
      <if test="sbtotal != null">
        sbtotal = #{sbtotal,jdbcType=REAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="zhekou != null">
        zhekou = #{zhekou,jdbcType=INTEGER},
      </if>
      <if test="moneyamt != null">
        moneyamt = #{moneyamt,jdbcType=REAL},
      </if>
    </set>
    where CashRegisterDetailID = #{cashregisterdetailid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Cashregisterdetail">
    update cashregisterdetail
    set cashRegisterID = #{cashregisterid,jdbcType=VARCHAR},
      commodityName = #{commodityname,jdbcType=VARCHAR},
      commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      sbtotal = #{sbtotal,jdbcType=REAL},
      count = #{count,jdbcType=INTEGER},
      zhekou = #{zhekou,jdbcType=INTEGER},
      moneyamt = #{moneyamt,jdbcType=REAL}
    where CashRegisterDetailID = #{cashregisterdetailid,jdbcType=INTEGER}
  </update>
</mapper>