<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.ColorMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Color">
    <id column="colorID" jdbcType="INTEGER" property="colorid" />
    <result column="colorTypeID" jdbcType="INTEGER" property="colortypeid" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="colorImg" jdbcType="VARCHAR" property="colorimg" />
    <result column="rgb" jdbcType="VARCHAR" property="rgb" />
  </resultMap>
  <select id="queryColorByColorTypeID" parameterType="com.apatech.domain.Color" resultMap="BaseResultMap">
  	select * from color where colorTypeID = #{colortypeid,jdbcType=INTEGER}
  </select>
  <sql id="Base_Column_List">
    colorID, colorTypeID, color, colorImg, rgb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from color
    where colorID = #{colorid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from color
    where colorID = #{colorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Color">
    insert into color (colorID, colorTypeID, color, 
      colorImg, rgb)
    values (#{colorid,jdbcType=INTEGER}, #{colortypeid,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, 
      #{colorimg,jdbcType=VARCHAR}, #{rgb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Color">
    insert into color
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="colorid != null">
        colorID,
      </if>
      <if test="colortypeid != null">
        colorTypeID,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="colorimg != null">
        colorImg,
      </if>
      <if test="rgb != null">
        rgb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="colorid != null">
        #{colorid,jdbcType=INTEGER},
      </if>
      <if test="colortypeid != null">
        #{colortypeid,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="colorimg != null">
        #{colorimg,jdbcType=VARCHAR},
      </if>
      <if test="rgb != null">
        #{rgb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Color">
    update color
    <set>
      <if test="colortypeid != null">
        colorTypeID = #{colortypeid,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="colorimg != null">
        colorImg = #{colorimg,jdbcType=VARCHAR},
      </if>
      <if test="rgb != null">
        rgb = #{rgb,jdbcType=VARCHAR},
      </if>
    </set>
    where colorID = #{colorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Color">
    update color
    set colorTypeID = #{colortypeid,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      colorImg = #{colorimg,jdbcType=VARCHAR},
      rgb = #{rgb,jdbcType=VARCHAR}
    where colorID = #{colorid,jdbcType=INTEGER}
  </update>
</mapper>