<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.CommoditydetailMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Commoditydetail">
    <id column="commodityDetailID" jdbcType="VARCHAR" property="commoditydetailid" />
    <result column="productCodeID" jdbcType="VARCHAR" property="productcodeid" />
    <result column="colorID" jdbcType="INTEGER" property="colorid" />
    <result column="commoditySizeID" jdbcType="INTEGER" property="commoditysizeid" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <select id="queryCommodityDetailByProductCodeID" parameterType="com.apatech.domain.Commoditydetail" resultMap="BaseResultMap">
  	select * from commoditydetail where productCodeID = #{productcodeid,jdbcType=VARCHAR}
  </select>
  <select id="queryCommodityDetailByCashregister" parameterType="com.apatech.domain.Commoditydetail" resultMap="BaseResultMap">
  	select * from commoditydetail where 1=1 
  	<if test="colorid != 0">
     and colorID = #{colorid,jdbcType=INTEGER} 
    </if>
    <if test="commoditysizeid != 0">
     and commoditySizeID = #{commoditysizeid,jdbcType=INTEGER} 
    </if>
    <if test="productcodeid != 0">
     and productCodeID = #{productcodeid,jdbcType=VARCHAR} 
    </if>
  </select>
  <sql id="Base_Column_List">
    commodityDetailID, productCodeID, colorID, commoditySizeID, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commoditydetail
    where commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR}
  </select>
  
   <select id="selectAll2" parameterType="com.apatech.domain.Commoditydetail" resultMap="BaseResultMap">
   SELECT * FROM commodity a
	INNER JOIN supplier b ON a.supplierID=b.supplierID
	INNER JOIN commoditytype c ON a.commodityTypeID=c.commodityTypeID
	INNER JOIN commoditydetail d ON a.productCodeID=d.productCodeID
	INNER JOIN color f ON d.colorid=f.colorid
	INNER JOIN commoditysize g ON d.commoditySizeID=g.commoditySizeID
    where 1=1
   	<if test="commoditytypeid != null and commoditytypeid !=''">
          and a.commodityTypeID like '%${commoditytypeid}%'
      </if>
      <if test="selectqb != null  and selectqb !=''">
          and a.name like '%${selectqb}%' 
        OR c.commodityTypeName like '%${selectqb}%' 
        OR d.commoditydetailid like '%${selectqb}%' 
          OR g.commoditySize like '%${selectqb}%' 
          OR f.color like '%${selectqb}%' 
           OR a.price like '%${selectqb}%'
          OR a.costPrice like '%${selectqb}%'
          OR a.stockCount like '%${selectqb}%'
      </if>
  </select>
  
    <select id="selectByPrimaryKey2" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commoditydetail
    where commodityDetailID like '%${commoditydetailid}%'
  </select>
  
    <select id="selectByPrimaryKey3" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commoditydetail
    where productCodeID like #{commoditydetailid,jdbcType=VARCHAR}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from commoditydetail
    where commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey2" parameterType="java.lang.String">
    delete from commoditydetail
    where productCodeID = #{productCodeID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Commoditydetail">
    insert into commoditydetail (commodityDetailID, productCodeID, 
      colorID, commoditySizeID, count
      )
    values (#{commoditydetailid,jdbcType=VARCHAR}, #{productcodeid,jdbcType=VARCHAR}, 
      #{colorid,jdbcType=INTEGER}, #{commoditysizeid,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Commoditydetail">
    insert into commoditydetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commoditydetailid != null">
        commodityDetailID,
      </if>
      <if test="productcodeid != null">
        productCodeID,
      </if>
      <if test="colorid != null">
        colorID,
      </if>
      <if test="commoditysizeid != null">
        commoditySizeID,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commoditydetailid != null">
        #{commoditydetailid,jdbcType=VARCHAR},
      </if>
      <if test="productcodeid != null">
        #{productcodeid,jdbcType=VARCHAR},
      </if>
      <if test="colorid != null">
        #{colorid,jdbcType=INTEGER},
      </if>
      <if test="commoditysizeid != null">
        #{commoditysizeid,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Commoditydetail">
    update commoditydetail
    <set>
      <if test="productcodeid != null">
        productCodeID = #{productcodeid,jdbcType=VARCHAR},
      </if>
      <if test="colorid != null">
        colorID = #{colorid,jdbcType=INTEGER},
      </if>
      <if test="commoditysizeid != null">
        commoditySizeID = #{commoditysizeid,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Commoditydetail">
    update commoditydetail
    set productCodeID = #{productcodeid,jdbcType=VARCHAR},
      colorID = #{colorid,jdbcType=INTEGER},
      commoditySizeID = #{commoditysizeid,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where commodityDetailID = #{commoditydetailid,jdbcType=VARCHAR}
  </update>
</mapper>