<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.CommoditytypeMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Commoditytype">
    <id column="commodityTypeID" jdbcType="INTEGER" property="commoditytypeid" />
    <result column="commodityTypeName" jdbcType="VARCHAR" property="commoditytypename" />
  </resultMap>
  <select id="queryCommodityType" parameterType="com.apatech.domain.Commoditytype" resultMap="BaseResultMap">
  	select * from commodityType
  </select>
  <sql id="Base_Column_List">
    commodityTypeID, commodityTypeName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commoditytype
    where commodityTypeID = #{commoditytypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commoditytype
    where commodityTypeID = #{commoditytypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Commoditytype">
    insert into commoditytype (commodityTypeID, commodityTypeName
      )
    values (#{commoditytypeid,jdbcType=INTEGER}, #{commoditytypename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Commoditytype">
    insert into commoditytype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commoditytypeid != null">
        commodityTypeID,
      </if>
      <if test="commoditytypename != null">
        commodityTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commoditytypeid != null">
        #{commoditytypeid,jdbcType=INTEGER},
      </if>
      <if test="commoditytypename != null">
        #{commoditytypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Commoditytype">
    update commoditytype
    <set>
      <if test="commoditytypename != null">
        commodityTypeName = #{commoditytypename,jdbcType=VARCHAR},
      </if>
    </set>
    where commodityTypeID = #{commoditytypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Commoditytype">
    update commoditytype
    set commodityTypeName = #{commoditytypename,jdbcType=VARCHAR}
    where commodityTypeID = #{commoditytypeid,jdbcType=INTEGER}
  </update>
</mapper>