<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.CurrencyMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Currency">
    <id column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="currency_name" jdbcType="VARCHAR" property="currencyName" />
    <result column="currency_easyname" jdbcType="VARCHAR" property="currencyEasyname" />
    <result column="currency_engname" jdbcType="VARCHAR" property="currencyEngname" />
    <result column="currency_transactionday" jdbcType="DATE" property="currencyTransactionday" />
    <result column="currency_standardexchange" jdbcType="REAL" property="currencyStandardexchange" />
    <result column="currency_inexchange" jdbcType="REAL" property="currencyInexchange" />
    <result column="currency_outexchange" jdbcType="REAL" property="currencyOutexchange" />
    <result column="currency_ifthousand" jdbcType="INTEGER" property="currencyIfthousand" />
    <result column="currency_mpointset" jdbcType="INTEGER" property="currencyMpointset" />
    <result column="currency_Auditing" jdbcType="VARCHAR" property="currencyAuditing" />
    <result column="urrency_yn" jdbcType="VARCHAR" property="urrencyYn" />
    <result column="currency_custom1" jdbcType="VARCHAR" property="currencyCustom1" />
    <result column="currency_custom2" jdbcType="VARCHAR" property="currencyCustom2" />
    <result column="currency_custom3" jdbcType="VARCHAR" property="currencyCustom3" />
    <result column="currency_custom4" jdbcType="VARCHAR" property="currencyCustom4" />
    <result column="currency_custom5" jdbcType="VARCHAR" property="currencyCustom5" />
    <result column="currency_custom6" jdbcType="VARCHAR" property="currencyCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    currency_id, currency_name, currency_easyname, currency_engname, currency_transactionday, 
    currency_standardexchange, currency_inexchange, currency_outexchange, currency_ifthousand, 
    currency_mpointset, currency_Auditing, urrency_yn, currency_custom1, currency_custom2, 
    currency_custom3, currency_custom4, currency_custom5, currency_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from currency
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from currency
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Currency">
    insert into currency (currency_id, currency_name, currency_easyname, 
      currency_engname, currency_transactionday, currency_standardexchange, 
      currency_inexchange, currency_outexchange, currency_ifthousand, 
      currency_mpointset, currency_Auditing, urrency_yn, 
      currency_custom1, currency_custom2, currency_custom3, 
      currency_custom4, currency_custom5, currency_custom6
      )
    values (#{currencyId,jdbcType=VARCHAR}, #{currencyName,jdbcType=VARCHAR}, #{currencyEasyname,jdbcType=VARCHAR}, 
      #{currencyEngname,jdbcType=VARCHAR}, #{currencyTransactionday,jdbcType=DATE}, #{currencyStandardexchange,jdbcType=REAL}, 
      #{currencyInexchange,jdbcType=REAL}, #{currencyOutexchange,jdbcType=REAL}, #{currencyIfthousand,jdbcType=INTEGER}, 
      #{currencyMpointset,jdbcType=INTEGER}, #{currencyAuditing,jdbcType=VARCHAR}, #{urrencyYn,jdbcType=VARCHAR}, 
      #{currencyCustom1,jdbcType=VARCHAR}, #{currencyCustom2,jdbcType=VARCHAR}, #{currencyCustom3,jdbcType=VARCHAR}, 
      #{currencyCustom4,jdbcType=VARCHAR}, #{currencyCustom5,jdbcType=VARCHAR}, #{currencyCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Currency">
    insert into currency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="currencyName != null">
        currency_name,
      </if>
      <if test="currencyEasyname != null">
        currency_easyname,
      </if>
      <if test="currencyEngname != null">
        currency_engname,
      </if>
      <if test="currencyTransactionday != null">
        currency_transactionday,
      </if>
      <if test="currencyStandardexchange != null">
        currency_standardexchange,
      </if>
      <if test="currencyInexchange != null">
        currency_inexchange,
      </if>
      <if test="currencyOutexchange != null">
        currency_outexchange,
      </if>
      <if test="currencyIfthousand != null">
        currency_ifthousand,
      </if>
      <if test="currencyMpointset != null">
        currency_mpointset,
      </if>
      <if test="currencyAuditing != null">
        currency_Auditing,
      </if>
      <if test="urrencyYn != null">
        urrency_yn,
      </if>
      <if test="currencyCustom1 != null">
        currency_custom1,
      </if>
      <if test="currencyCustom2 != null">
        currency_custom2,
      </if>
      <if test="currencyCustom3 != null">
        currency_custom3,
      </if>
      <if test="currencyCustom4 != null">
        currency_custom4,
      </if>
      <if test="currencyCustom5 != null">
        currency_custom5,
      </if>
      <if test="currencyCustom6 != null">
        currency_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null">
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="currencyEasyname != null">
        #{currencyEasyname,jdbcType=VARCHAR},
      </if>
      <if test="currencyEngname != null">
        #{currencyEngname,jdbcType=VARCHAR},
      </if>
      <if test="currencyTransactionday != null">
        #{currencyTransactionday,jdbcType=DATE},
      </if>
      <if test="currencyStandardexchange != null">
        #{currencyStandardexchange,jdbcType=REAL},
      </if>
      <if test="currencyInexchange != null">
        #{currencyInexchange,jdbcType=REAL},
      </if>
      <if test="currencyOutexchange != null">
        #{currencyOutexchange,jdbcType=REAL},
      </if>
      <if test="currencyIfthousand != null">
        #{currencyIfthousand,jdbcType=INTEGER},
      </if>
      <if test="currencyMpointset != null">
        #{currencyMpointset,jdbcType=INTEGER},
      </if>
      <if test="currencyAuditing != null">
        #{currencyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="urrencyYn != null">
        #{urrencyYn,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom1 != null">
        #{currencyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom2 != null">
        #{currencyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom3 != null">
        #{currencyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom4 != null">
        #{currencyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom5 != null">
        #{currencyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom6 != null">
        #{currencyCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Currency">
    update currency
    <set>
      <if test="currencyName != null">
        currency_name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="currencyEasyname != null">
        currency_easyname = #{currencyEasyname,jdbcType=VARCHAR},
      </if>
      <if test="currencyEngname != null">
        currency_engname = #{currencyEngname,jdbcType=VARCHAR},
      </if>
      <if test="currencyTransactionday != null">
        currency_transactionday = #{currencyTransactionday,jdbcType=DATE},
      </if>
      <if test="currencyStandardexchange != null">
        currency_standardexchange = #{currencyStandardexchange,jdbcType=REAL},
      </if>
      <if test="currencyInexchange != null">
        currency_inexchange = #{currencyInexchange,jdbcType=REAL},
      </if>
      <if test="currencyOutexchange != null">
        currency_outexchange = #{currencyOutexchange,jdbcType=REAL},
      </if>
      <if test="currencyIfthousand != null">
        currency_ifthousand = #{currencyIfthousand,jdbcType=INTEGER},
      </if>
      <if test="currencyMpointset != null">
        currency_mpointset = #{currencyMpointset,jdbcType=INTEGER},
      </if>
      <if test="currencyAuditing != null">
        currency_Auditing = #{currencyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="urrencyYn != null">
        urrency_yn = #{urrencyYn,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom1 != null">
        currency_custom1 = #{currencyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom2 != null">
        currency_custom2 = #{currencyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom3 != null">
        currency_custom3 = #{currencyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom4 != null">
        currency_custom4 = #{currencyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom5 != null">
        currency_custom5 = #{currencyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom6 != null">
        currency_custom6 = #{currencyCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Currency">
    update currency
    set currency_name = #{currencyName,jdbcType=VARCHAR},
      currency_easyname = #{currencyEasyname,jdbcType=VARCHAR},
      currency_engname = #{currencyEngname,jdbcType=VARCHAR},
      currency_transactionday = #{currencyTransactionday,jdbcType=DATE},
      currency_standardexchange = #{currencyStandardexchange,jdbcType=REAL},
      currency_inexchange = #{currencyInexchange,jdbcType=REAL},
      currency_outexchange = #{currencyOutexchange,jdbcType=REAL},
      currency_ifthousand = #{currencyIfthousand,jdbcType=INTEGER},
      currency_mpointset = #{currencyMpointset,jdbcType=INTEGER},
      currency_Auditing = #{currencyAuditing,jdbcType=VARCHAR},
      urrency_yn = #{urrencyYn,jdbcType=VARCHAR},
      currency_custom1 = #{currencyCustom1,jdbcType=VARCHAR},
      currency_custom2 = #{currencyCustom2,jdbcType=VARCHAR},
      currency_custom3 = #{currencyCustom3,jdbcType=VARCHAR},
      currency_custom4 = #{currencyCustom4,jdbcType=VARCHAR},
      currency_custom5 = #{currencyCustom5,jdbcType=VARCHAR},
      currency_custom6 = #{currencyCustom6,jdbcType=VARCHAR}
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Currency">
    <id column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="currency_name" jdbcType="VARCHAR" property="currencyName" />
    <result column="currency_easyname" jdbcType="VARCHAR" property="currencyEasyname" />
    <result column="currency_engname" jdbcType="VARCHAR" property="currencyEngname" />
    <result column="currency_transactionday" jdbcType="DATE" property="currencyTransactionday" />
    <result column="currency_standardexchange" jdbcType="REAL" property="currencyStandardexchange" />
    <result column="currency_inexchange" jdbcType="REAL" property="currencyInexchange" />
    <result column="currency_outexchange" jdbcType="REAL" property="currencyOutexchange" />
    <result column="currency_ifthousand" jdbcType="INTEGER" property="currencyIfthousand" />
    <result column="currency_mpointset" jdbcType="INTEGER" property="currencyMpointset" />
    <result column="currency_Auditing" jdbcType="VARCHAR" property="currencyAuditing" />
    <result column="urrency_yn" jdbcType="VARCHAR" property="urrencyYn" />
    <result column="currency_custom1" jdbcType="VARCHAR" property="currencyCustom1" />
    <result column="currency_custom2" jdbcType="VARCHAR" property="currencyCustom2" />
    <result column="currency_custom3" jdbcType="VARCHAR" property="currencyCustom3" />
    <result column="currency_custom4" jdbcType="VARCHAR" property="currencyCustom4" />
    <result column="currency_custom5" jdbcType="VARCHAR" property="currencyCustom5" />
    <result column="currency_custom6" jdbcType="VARCHAR" property="currencyCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    currency_id, currency_name, currency_easyname, currency_engname, currency_transactionday, 
    currency_standardexchange, currency_inexchange, currency_outexchange, currency_ifthousand, 
    currency_mpointset, currency_Auditing, urrency_yn, currency_custom1, currency_custom2, 
    currency_custom3, currency_custom4, currency_custom5, currency_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from currency
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from currency
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Currency">
    insert into currency (currency_id, currency_name, currency_easyname, 
      currency_engname, currency_transactionday, currency_standardexchange, 
      currency_inexchange, currency_outexchange, currency_ifthousand, 
      currency_mpointset, currency_Auditing, urrency_yn, 
      currency_custom1, currency_custom2, currency_custom3, 
      currency_custom4, currency_custom5, currency_custom6
      )
    values (#{currencyId,jdbcType=VARCHAR}, #{currencyName,jdbcType=VARCHAR}, #{currencyEasyname,jdbcType=VARCHAR}, 
      #{currencyEngname,jdbcType=VARCHAR}, #{currencyTransactionday,jdbcType=DATE}, #{currencyStandardexchange,jdbcType=REAL}, 
      #{currencyInexchange,jdbcType=REAL}, #{currencyOutexchange,jdbcType=REAL}, #{currencyIfthousand,jdbcType=INTEGER}, 
      #{currencyMpointset,jdbcType=INTEGER}, #{currencyAuditing,jdbcType=VARCHAR}, #{urrencyYn,jdbcType=VARCHAR}, 
      #{currencyCustom1,jdbcType=VARCHAR}, #{currencyCustom2,jdbcType=VARCHAR}, #{currencyCustom3,jdbcType=VARCHAR}, 
      #{currencyCustom4,jdbcType=VARCHAR}, #{currencyCustom5,jdbcType=VARCHAR}, #{currencyCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Currency">
    insert into currency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="currencyName != null">
        currency_name,
      </if>
      <if test="currencyEasyname != null">
        currency_easyname,
      </if>
      <if test="currencyEngname != null">
        currency_engname,
      </if>
      <if test="currencyTransactionday != null">
        currency_transactionday,
      </if>
      <if test="currencyStandardexchange != null">
        currency_standardexchange,
      </if>
      <if test="currencyInexchange != null">
        currency_inexchange,
      </if>
      <if test="currencyOutexchange != null">
        currency_outexchange,
      </if>
      <if test="currencyIfthousand != null">
        currency_ifthousand,
      </if>
      <if test="currencyMpointset != null">
        currency_mpointset,
      </if>
      <if test="currencyAuditing != null">
        currency_Auditing,
      </if>
      <if test="urrencyYn != null">
        urrency_yn,
      </if>
      <if test="currencyCustom1 != null">
        currency_custom1,
      </if>
      <if test="currencyCustom2 != null">
        currency_custom2,
      </if>
      <if test="currencyCustom3 != null">
        currency_custom3,
      </if>
      <if test="currencyCustom4 != null">
        currency_custom4,
      </if>
      <if test="currencyCustom5 != null">
        currency_custom5,
      </if>
      <if test="currencyCustom6 != null">
        currency_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null">
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="currencyEasyname != null">
        #{currencyEasyname,jdbcType=VARCHAR},
      </if>
      <if test="currencyEngname != null">
        #{currencyEngname,jdbcType=VARCHAR},
      </if>
      <if test="currencyTransactionday != null">
        #{currencyTransactionday,jdbcType=DATE},
      </if>
      <if test="currencyStandardexchange != null">
        #{currencyStandardexchange,jdbcType=REAL},
      </if>
      <if test="currencyInexchange != null">
        #{currencyInexchange,jdbcType=REAL},
      </if>
      <if test="currencyOutexchange != null">
        #{currencyOutexchange,jdbcType=REAL},
      </if>
      <if test="currencyIfthousand != null">
        #{currencyIfthousand,jdbcType=INTEGER},
      </if>
      <if test="currencyMpointset != null">
        #{currencyMpointset,jdbcType=INTEGER},
      </if>
      <if test="currencyAuditing != null">
        #{currencyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="urrencyYn != null">
        #{urrencyYn,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom1 != null">
        #{currencyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom2 != null">
        #{currencyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom3 != null">
        #{currencyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom4 != null">
        #{currencyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom5 != null">
        #{currencyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom6 != null">
        #{currencyCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Currency">
    update currency
    <set>
      <if test="currencyName != null">
        currency_name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="currencyEasyname != null">
        currency_easyname = #{currencyEasyname,jdbcType=VARCHAR},
      </if>
      <if test="currencyEngname != null">
        currency_engname = #{currencyEngname,jdbcType=VARCHAR},
      </if>
      <if test="currencyTransactionday != null">
        currency_transactionday = #{currencyTransactionday,jdbcType=DATE},
      </if>
      <if test="currencyStandardexchange != null">
        currency_standardexchange = #{currencyStandardexchange,jdbcType=REAL},
      </if>
      <if test="currencyInexchange != null">
        currency_inexchange = #{currencyInexchange,jdbcType=REAL},
      </if>
      <if test="currencyOutexchange != null">
        currency_outexchange = #{currencyOutexchange,jdbcType=REAL},
      </if>
      <if test="currencyIfthousand != null">
        currency_ifthousand = #{currencyIfthousand,jdbcType=INTEGER},
      </if>
      <if test="currencyMpointset != null">
        currency_mpointset = #{currencyMpointset,jdbcType=INTEGER},
      </if>
      <if test="currencyAuditing != null">
        currency_Auditing = #{currencyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="urrencyYn != null">
        urrency_yn = #{urrencyYn,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom1 != null">
        currency_custom1 = #{currencyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom2 != null">
        currency_custom2 = #{currencyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom3 != null">
        currency_custom3 = #{currencyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom4 != null">
        currency_custom4 = #{currencyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom5 != null">
        currency_custom5 = #{currencyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="currencyCustom6 != null">
        currency_custom6 = #{currencyCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Currency">
    update currency
    set currency_name = #{currencyName,jdbcType=VARCHAR},
      currency_easyname = #{currencyEasyname,jdbcType=VARCHAR},
      currency_engname = #{currencyEngname,jdbcType=VARCHAR},
      currency_transactionday = #{currencyTransactionday,jdbcType=DATE},
      currency_standardexchange = #{currencyStandardexchange,jdbcType=REAL},
      currency_inexchange = #{currencyInexchange,jdbcType=REAL},
      currency_outexchange = #{currencyOutexchange,jdbcType=REAL},
      currency_ifthousand = #{currencyIfthousand,jdbcType=INTEGER},
      currency_mpointset = #{currencyMpointset,jdbcType=INTEGER},
      currency_Auditing = #{currencyAuditing,jdbcType=VARCHAR},
      urrency_yn = #{urrencyYn,jdbcType=VARCHAR},
      currency_custom1 = #{currencyCustom1,jdbcType=VARCHAR},
      currency_custom2 = #{currencyCustom2,jdbcType=VARCHAR},
      currency_custom3 = #{currencyCustom3,jdbcType=VARCHAR},
      currency_custom4 = #{currencyCustom4,jdbcType=VARCHAR},
      currency_custom5 = #{currencyCustom5,jdbcType=VARCHAR},
      currency_custom6 = #{currencyCustom6,jdbcType=VARCHAR}
    where currency_id = #{currencyId,jdbcType=VARCHAR}
  </update>
</mapper>