<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Customer_typeMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Customer_type">
    <id column="cuty_id" jdbcType="VARCHAR" property="cutyId" />
    <result column="cuty_name" jdbcType="VARCHAR" property="cutyName" />
    <result column="cuty_engname" jdbcType="VARCHAR" property="cutyEngname" />
    <result column="cuty_remark" jdbcType="VARCHAR" property="cutyRemark" />
    <result column="cuty_Auditing" jdbcType="VARCHAR" property="cutyAuditing" />
    <result column="cuty_yn" jdbcType="VARCHAR" property="cutyYn" />
    <result column="cuty_custom1" jdbcType="VARCHAR" property="cutyCustom1" />
    <result column="cuty_custom2" jdbcType="VARCHAR" property="cutyCustom2" />
    <result column="cuty_custom3" jdbcType="VARCHAR" property="cutyCustom3" />
    <result column="cuty_custom4" jdbcType="VARCHAR" property="cutyCustom4" />
    <result column="cuty_custom5" jdbcType="VARCHAR" property="cutyCustom5" />
    <result column="cuty_custom6" jdbcType="VARCHAR" property="cutyCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    cuty_id, cuty_name, cuty_engname, cuty_remark, cuty_Auditing, cuty_yn, cuty_custom1, 
    cuty_custom2, cuty_custom3, cuty_custom4, cuty_custom5, cuty_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_type
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customer_type
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Customer_type">
    insert into customer_type (cuty_id, cuty_name, cuty_engname, 
      cuty_remark, cuty_Auditing, cuty_yn, 
      cuty_custom1, cuty_custom2, cuty_custom3, 
      cuty_custom4, cuty_custom5, cuty_custom6
      )
    values (#{cutyId,jdbcType=VARCHAR}, #{cutyName,jdbcType=VARCHAR}, #{cutyEngname,jdbcType=VARCHAR}, 
      #{cutyRemark,jdbcType=VARCHAR}, #{cutyAuditing,jdbcType=VARCHAR}, #{cutyYn,jdbcType=VARCHAR}, 
      #{cutyCustom1,jdbcType=VARCHAR}, #{cutyCustom2,jdbcType=VARCHAR}, #{cutyCustom3,jdbcType=VARCHAR}, 
      #{cutyCustom4,jdbcType=VARCHAR}, #{cutyCustom5,jdbcType=VARCHAR}, #{cutyCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Customer_type">
    insert into customer_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cutyId != null">
        cuty_id,
      </if>
      <if test="cutyName != null">
        cuty_name,
      </if>
      <if test="cutyEngname != null">
        cuty_engname,
      </if>
      <if test="cutyRemark != null">
        cuty_remark,
      </if>
      <if test="cutyAuditing != null">
        cuty_Auditing,
      </if>
      <if test="cutyYn != null">
        cuty_yn,
      </if>
      <if test="cutyCustom1 != null">
        cuty_custom1,
      </if>
      <if test="cutyCustom2 != null">
        cuty_custom2,
      </if>
      <if test="cutyCustom3 != null">
        cuty_custom3,
      </if>
      <if test="cutyCustom4 != null">
        cuty_custom4,
      </if>
      <if test="cutyCustom5 != null">
        cuty_custom5,
      </if>
      <if test="cutyCustom6 != null">
        cuty_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cutyId != null">
        #{cutyId,jdbcType=VARCHAR},
      </if>
      <if test="cutyName != null">
        #{cutyName,jdbcType=VARCHAR},
      </if>
      <if test="cutyEngname != null">
        #{cutyEngname,jdbcType=VARCHAR},
      </if>
      <if test="cutyRemark != null">
        #{cutyRemark,jdbcType=VARCHAR},
      </if>
      <if test="cutyAuditing != null">
        #{cutyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="cutyYn != null">
        #{cutyYn,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom1 != null">
        #{cutyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom2 != null">
        #{cutyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom3 != null">
        #{cutyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom4 != null">
        #{cutyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom5 != null">
        #{cutyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom6 != null">
        #{cutyCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Customer_type">
    update customer_type
    <set>
      <if test="cutyName != null">
        cuty_name = #{cutyName,jdbcType=VARCHAR},
      </if>
      <if test="cutyEngname != null">
        cuty_engname = #{cutyEngname,jdbcType=VARCHAR},
      </if>
      <if test="cutyRemark != null">
        cuty_remark = #{cutyRemark,jdbcType=VARCHAR},
      </if>
      <if test="cutyAuditing != null">
        cuty_Auditing = #{cutyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="cutyYn != null">
        cuty_yn = #{cutyYn,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom1 != null">
        cuty_custom1 = #{cutyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom2 != null">
        cuty_custom2 = #{cutyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom3 != null">
        cuty_custom3 = #{cutyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom4 != null">
        cuty_custom4 = #{cutyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom5 != null">
        cuty_custom5 = #{cutyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom6 != null">
        cuty_custom6 = #{cutyCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Customer_type">
    update customer_type
    set cuty_name = #{cutyName,jdbcType=VARCHAR},
      cuty_engname = #{cutyEngname,jdbcType=VARCHAR},
      cuty_remark = #{cutyRemark,jdbcType=VARCHAR},
      cuty_Auditing = #{cutyAuditing,jdbcType=VARCHAR},
      cuty_yn = #{cutyYn,jdbcType=VARCHAR},
      cuty_custom1 = #{cutyCustom1,jdbcType=VARCHAR},
      cuty_custom2 = #{cutyCustom2,jdbcType=VARCHAR},
      cuty_custom3 = #{cutyCustom3,jdbcType=VARCHAR},
      cuty_custom4 = #{cutyCustom4,jdbcType=VARCHAR},
      cuty_custom5 = #{cutyCustom5,jdbcType=VARCHAR},
      cuty_custom6 = #{cutyCustom6,jdbcType=VARCHAR}
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Customer_type">
    <id column="cuty_id" jdbcType="VARCHAR" property="cutyId" />
    <result column="cuty_name" jdbcType="VARCHAR" property="cutyName" />
    <result column="cuty_engname" jdbcType="VARCHAR" property="cutyEngname" />
    <result column="cuty_remark" jdbcType="VARCHAR" property="cutyRemark" />
    <result column="cuty_Auditing" jdbcType="VARCHAR" property="cutyAuditing" />
    <result column="cuty_yn" jdbcType="VARCHAR" property="cutyYn" />
    <result column="cuty_custom1" jdbcType="VARCHAR" property="cutyCustom1" />
    <result column="cuty_custom2" jdbcType="VARCHAR" property="cutyCustom2" />
    <result column="cuty_custom3" jdbcType="VARCHAR" property="cutyCustom3" />
    <result column="cuty_custom4" jdbcType="VARCHAR" property="cutyCustom4" />
    <result column="cuty_custom5" jdbcType="VARCHAR" property="cutyCustom5" />
    <result column="cuty_custom6" jdbcType="VARCHAR" property="cutyCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    cuty_id, cuty_name, cuty_engname, cuty_remark, cuty_Auditing, cuty_yn, cuty_custom1, 
    cuty_custom2, cuty_custom3, cuty_custom4, cuty_custom5, cuty_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_type
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customer_type
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Customer_type">
    insert into customer_type (cuty_id, cuty_name, cuty_engname, 
      cuty_remark, cuty_Auditing, cuty_yn, 
      cuty_custom1, cuty_custom2, cuty_custom3, 
      cuty_custom4, cuty_custom5, cuty_custom6
      )
    values (#{cutyId,jdbcType=VARCHAR}, #{cutyName,jdbcType=VARCHAR}, #{cutyEngname,jdbcType=VARCHAR}, 
      #{cutyRemark,jdbcType=VARCHAR}, #{cutyAuditing,jdbcType=VARCHAR}, #{cutyYn,jdbcType=VARCHAR}, 
      #{cutyCustom1,jdbcType=VARCHAR}, #{cutyCustom2,jdbcType=VARCHAR}, #{cutyCustom3,jdbcType=VARCHAR}, 
      #{cutyCustom4,jdbcType=VARCHAR}, #{cutyCustom5,jdbcType=VARCHAR}, #{cutyCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Customer_type">
    insert into customer_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cutyId != null">
        cuty_id,
      </if>
      <if test="cutyName != null">
        cuty_name,
      </if>
      <if test="cutyEngname != null">
        cuty_engname,
      </if>
      <if test="cutyRemark != null">
        cuty_remark,
      </if>
      <if test="cutyAuditing != null">
        cuty_Auditing,
      </if>
      <if test="cutyYn != null">
        cuty_yn,
      </if>
      <if test="cutyCustom1 != null">
        cuty_custom1,
      </if>
      <if test="cutyCustom2 != null">
        cuty_custom2,
      </if>
      <if test="cutyCustom3 != null">
        cuty_custom3,
      </if>
      <if test="cutyCustom4 != null">
        cuty_custom4,
      </if>
      <if test="cutyCustom5 != null">
        cuty_custom5,
      </if>
      <if test="cutyCustom6 != null">
        cuty_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cutyId != null">
        #{cutyId,jdbcType=VARCHAR},
      </if>
      <if test="cutyName != null">
        #{cutyName,jdbcType=VARCHAR},
      </if>
      <if test="cutyEngname != null">
        #{cutyEngname,jdbcType=VARCHAR},
      </if>
      <if test="cutyRemark != null">
        #{cutyRemark,jdbcType=VARCHAR},
      </if>
      <if test="cutyAuditing != null">
        #{cutyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="cutyYn != null">
        #{cutyYn,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom1 != null">
        #{cutyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom2 != null">
        #{cutyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom3 != null">
        #{cutyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom4 != null">
        #{cutyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom5 != null">
        #{cutyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom6 != null">
        #{cutyCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Customer_type">
    update customer_type
    <set>
      <if test="cutyName != null">
        cuty_name = #{cutyName,jdbcType=VARCHAR},
      </if>
      <if test="cutyEngname != null">
        cuty_engname = #{cutyEngname,jdbcType=VARCHAR},
      </if>
      <if test="cutyRemark != null">
        cuty_remark = #{cutyRemark,jdbcType=VARCHAR},
      </if>
      <if test="cutyAuditing != null">
        cuty_Auditing = #{cutyAuditing,jdbcType=VARCHAR},
      </if>
      <if test="cutyYn != null">
        cuty_yn = #{cutyYn,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom1 != null">
        cuty_custom1 = #{cutyCustom1,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom2 != null">
        cuty_custom2 = #{cutyCustom2,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom3 != null">
        cuty_custom3 = #{cutyCustom3,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom4 != null">
        cuty_custom4 = #{cutyCustom4,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom5 != null">
        cuty_custom5 = #{cutyCustom5,jdbcType=VARCHAR},
      </if>
      <if test="cutyCustom6 != null">
        cuty_custom6 = #{cutyCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Customer_type">
    update customer_type
    set cuty_name = #{cutyName,jdbcType=VARCHAR},
      cuty_engname = #{cutyEngname,jdbcType=VARCHAR},
      cuty_remark = #{cutyRemark,jdbcType=VARCHAR},
      cuty_Auditing = #{cutyAuditing,jdbcType=VARCHAR},
      cuty_yn = #{cutyYn,jdbcType=VARCHAR},
      cuty_custom1 = #{cutyCustom1,jdbcType=VARCHAR},
      cuty_custom2 = #{cutyCustom2,jdbcType=VARCHAR},
      cuty_custom3 = #{cutyCustom3,jdbcType=VARCHAR},
      cuty_custom4 = #{cutyCustom4,jdbcType=VARCHAR},
      cuty_custom5 = #{cutyCustom5,jdbcType=VARCHAR},
      cuty_custom6 = #{cutyCustom6,jdbcType=VARCHAR}
    where cuty_id = #{cutyId,jdbcType=VARCHAR}
  </update>
</mapper>