<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Invoice_typeMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Invoice_type">
    <id column="it_id" jdbcType="VARCHAR" property="itId" />
    <result column="it_name" jdbcType="VARCHAR" property="itName" />
    <result column="it_english_name" jdbcType="VARCHAR" property="itEnglishName" />
    <result column="it_remark" jdbcType="VARCHAR" property="itRemark" />
    <result column="it_Auditing" jdbcType="VARCHAR" property="itAuditing" />
    <result column="it_yn" jdbcType="VARCHAR" property="itYn" />
    <result column="it_custom1" jdbcType="VARCHAR" property="itCustom1" />
    <result column="it_custom2" jdbcType="VARCHAR" property="itCustom2" />
    <result column="it_custom3" jdbcType="VARCHAR" property="itCustom3" />
    <result column="it_custom4" jdbcType="VARCHAR" property="itCustom4" />
    <result column="it_custom5" jdbcType="VARCHAR" property="itCustom5" />
    <result column="it_custom6" jdbcType="VARCHAR" property="itCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    it_id, it_name, it_english_name, it_remark, it_Auditing, it_yn, it_custom1, it_custom2, 
    it_custom3, it_custom4, it_custom5, it_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invoice_type
    where it_id = #{itId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invoice_type
    where it_id = #{itId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Invoice_type">
    insert into invoice_type (it_id, it_name, it_english_name, 
      it_remark, it_Auditing, it_yn, 
      it_custom1, it_custom2, it_custom3, 
      it_custom4, it_custom5, it_custom6
      )
    values (#{itId,jdbcType=VARCHAR}, #{itName,jdbcType=VARCHAR}, #{itEnglishName,jdbcType=VARCHAR}, 
      #{itRemark,jdbcType=VARCHAR}, #{itAuditing,jdbcType=VARCHAR}, #{itYn,jdbcType=VARCHAR}, 
      #{itCustom1,jdbcType=VARCHAR}, #{itCustom2,jdbcType=VARCHAR}, #{itCustom3,jdbcType=VARCHAR}, 
      #{itCustom4,jdbcType=VARCHAR}, #{itCustom5,jdbcType=VARCHAR}, #{itCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Invoice_type">
    insert into invoice_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itId != null">
        it_id,
      </if>
      <if test="itName != null">
        it_name,
      </if>
      <if test="itEnglishName != null">
        it_english_name,
      </if>
      <if test="itRemark != null">
        it_remark,
      </if>
      <if test="itAuditing != null">
        it_Auditing,
      </if>
      <if test="itYn != null">
        it_yn,
      </if>
      <if test="itCustom1 != null">
        it_custom1,
      </if>
      <if test="itCustom2 != null">
        it_custom2,
      </if>
      <if test="itCustom3 != null">
        it_custom3,
      </if>
      <if test="itCustom4 != null">
        it_custom4,
      </if>
      <if test="itCustom5 != null">
        it_custom5,
      </if>
      <if test="itCustom6 != null">
        it_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itId != null">
        #{itId,jdbcType=VARCHAR},
      </if>
      <if test="itName != null">
        #{itName,jdbcType=VARCHAR},
      </if>
      <if test="itEnglishName != null">
        #{itEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="itRemark != null">
        #{itRemark,jdbcType=VARCHAR},
      </if>
      <if test="itAuditing != null">
        #{itAuditing,jdbcType=VARCHAR},
      </if>
      <if test="itYn != null">
        #{itYn,jdbcType=VARCHAR},
      </if>
      <if test="itCustom1 != null">
        #{itCustom1,jdbcType=VARCHAR},
      </if>
      <if test="itCustom2 != null">
        #{itCustom2,jdbcType=VARCHAR},
      </if>
      <if test="itCustom3 != null">
        #{itCustom3,jdbcType=VARCHAR},
      </if>
      <if test="itCustom4 != null">
        #{itCustom4,jdbcType=VARCHAR},
      </if>
      <if test="itCustom5 != null">
        #{itCustom5,jdbcType=VARCHAR},
      </if>
      <if test="itCustom6 != null">
        #{itCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Invoice_type">
    update invoice_type
    <set>
      <if test="itName != null">
        it_name = #{itName,jdbcType=VARCHAR},
      </if>
      <if test="itEnglishName != null">
        it_english_name = #{itEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="itRemark != null">
        it_remark = #{itRemark,jdbcType=VARCHAR},
      </if>
      <if test="itAuditing != null">
        it_Auditing = #{itAuditing,jdbcType=VARCHAR},
      </if>
      <if test="itYn != null">
        it_yn = #{itYn,jdbcType=VARCHAR},
      </if>
      <if test="itCustom1 != null">
        it_custom1 = #{itCustom1,jdbcType=VARCHAR},
      </if>
      <if test="itCustom2 != null">
        it_custom2 = #{itCustom2,jdbcType=VARCHAR},
      </if>
      <if test="itCustom3 != null">
        it_custom3 = #{itCustom3,jdbcType=VARCHAR},
      </if>
      <if test="itCustom4 != null">
        it_custom4 = #{itCustom4,jdbcType=VARCHAR},
      </if>
      <if test="itCustom5 != null">
        it_custom5 = #{itCustom5,jdbcType=VARCHAR},
      </if>
      <if test="itCustom6 != null">
        it_custom6 = #{itCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where it_id = #{itId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Invoice_type">
    update invoice_type
    set it_name = #{itName,jdbcType=VARCHAR},
      it_english_name = #{itEnglishName,jdbcType=VARCHAR},
      it_remark = #{itRemark,jdbcType=VARCHAR},
      it_Auditing = #{itAuditing,jdbcType=VARCHAR},
      it_yn = #{itYn,jdbcType=VARCHAR},
      it_custom1 = #{itCustom1,jdbcType=VARCHAR},
      it_custom2 = #{itCustom2,jdbcType=VARCHAR},
      it_custom3 = #{itCustom3,jdbcType=VARCHAR},
      it_custom4 = #{itCustom4,jdbcType=VARCHAR},
      it_custom5 = #{itCustom5,jdbcType=VARCHAR},
      it_custom6 = #{itCustom6,jdbcType=VARCHAR}
    where it_id = #{itId,jdbcType=VARCHAR}
  </update>
</mapper>