<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Measurement_unitMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Measurement_unit">
    <id column="mu_id" jdbcType="VARCHAR" property="muId" />
    <result column="mu_name" jdbcType="VARCHAR" property="muName" />
    <result column="mu_englist_name" jdbcType="VARCHAR" property="muEnglistName" />
    <result column="mu_remark" jdbcType="VARCHAR" property="muRemark" />
    <result column="mu_Auditing" jdbcType="VARCHAR" property="muAuditing" />
    <result column="mu_yn" jdbcType="VARCHAR" property="muYn" />
    <result column="mu_custom1" jdbcType="VARCHAR" property="muCustom1" />
    <result column="mu_custom2" jdbcType="VARCHAR" property="muCustom2" />
    <result column="mu_custom3" jdbcType="VARCHAR" property="muCustom3" />
    <result column="mu_custom4" jdbcType="VARCHAR" property="muCustom4" />
    <result column="mu_custom5" jdbcType="VARCHAR" property="muCustom5" />
    <result column="mu_custom6" jdbcType="VARCHAR" property="muCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    mu_id, mu_name, mu_englist_name, mu_remark, mu_Auditing, mu_yn, mu_custom1, mu_custom2, 
    mu_custom3, mu_custom4, mu_custom5, mu_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from measurement_unit
    where mu_id = #{muId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from measurement_unit
    where mu_id = #{muId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Measurement_unit">
    insert into measurement_unit (mu_id, mu_name, mu_englist_name, 
      mu_remark, mu_Auditing, mu_yn, 
      mu_custom1, mu_custom2, mu_custom3, 
      mu_custom4, mu_custom5, mu_custom6
      )
    values (#{muId,jdbcType=VARCHAR}, #{muName,jdbcType=VARCHAR}, #{muEnglistName,jdbcType=VARCHAR}, 
      #{muRemark,jdbcType=VARCHAR}, #{muAuditing,jdbcType=VARCHAR}, #{muYn,jdbcType=VARCHAR}, 
      #{muCustom1,jdbcType=VARCHAR}, #{muCustom2,jdbcType=VARCHAR}, #{muCustom3,jdbcType=VARCHAR}, 
      #{muCustom4,jdbcType=VARCHAR}, #{muCustom5,jdbcType=VARCHAR}, #{muCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Measurement_unit">
    insert into measurement_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="muId != null">
        mu_id,
      </if>
      <if test="muName != null">
        mu_name,
      </if>
      <if test="muEnglistName != null">
        mu_englist_name,
      </if>
      <if test="muRemark != null">
        mu_remark,
      </if>
      <if test="muAuditing != null">
        mu_Auditing,
      </if>
      <if test="muYn != null">
        mu_yn,
      </if>
      <if test="muCustom1 != null">
        mu_custom1,
      </if>
      <if test="muCustom2 != null">
        mu_custom2,
      </if>
      <if test="muCustom3 != null">
        mu_custom3,
      </if>
      <if test="muCustom4 != null">
        mu_custom4,
      </if>
      <if test="muCustom5 != null">
        mu_custom5,
      </if>
      <if test="muCustom6 != null">
        mu_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="muId != null">
        #{muId,jdbcType=VARCHAR},
      </if>
      <if test="muName != null">
        #{muName,jdbcType=VARCHAR},
      </if>
      <if test="muEnglistName != null">
        #{muEnglistName,jdbcType=VARCHAR},
      </if>
      <if test="muRemark != null">
        #{muRemark,jdbcType=VARCHAR},
      </if>
      <if test="muAuditing != null">
        #{muAuditing,jdbcType=VARCHAR},
      </if>
      <if test="muYn != null">
        #{muYn,jdbcType=VARCHAR},
      </if>
      <if test="muCustom1 != null">
        #{muCustom1,jdbcType=VARCHAR},
      </if>
      <if test="muCustom2 != null">
        #{muCustom2,jdbcType=VARCHAR},
      </if>
      <if test="muCustom3 != null">
        #{muCustom3,jdbcType=VARCHAR},
      </if>
      <if test="muCustom4 != null">
        #{muCustom4,jdbcType=VARCHAR},
      </if>
      <if test="muCustom5 != null">
        #{muCustom5,jdbcType=VARCHAR},
      </if>
      <if test="muCustom6 != null">
        #{muCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Measurement_unit">
    update measurement_unit
    <set>
      <if test="muName != null">
        mu_name = #{muName,jdbcType=VARCHAR},
      </if>
      <if test="muEnglistName != null">
        mu_englist_name = #{muEnglistName,jdbcType=VARCHAR},
      </if>
      <if test="muRemark != null">
        mu_remark = #{muRemark,jdbcType=VARCHAR},
      </if>
      <if test="muAuditing != null">
        mu_Auditing = #{muAuditing,jdbcType=VARCHAR},
      </if>
      <if test="muYn != null">
        mu_yn = #{muYn,jdbcType=VARCHAR},
      </if>
      <if test="muCustom1 != null">
        mu_custom1 = #{muCustom1,jdbcType=VARCHAR},
      </if>
      <if test="muCustom2 != null">
        mu_custom2 = #{muCustom2,jdbcType=VARCHAR},
      </if>
      <if test="muCustom3 != null">
        mu_custom3 = #{muCustom3,jdbcType=VARCHAR},
      </if>
      <if test="muCustom4 != null">
        mu_custom4 = #{muCustom4,jdbcType=VARCHAR},
      </if>
      <if test="muCustom5 != null">
        mu_custom5 = #{muCustom5,jdbcType=VARCHAR},
      </if>
      <if test="muCustom6 != null">
        mu_custom6 = #{muCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where mu_id = #{muId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Measurement_unit">
    update measurement_unit
    set mu_name = #{muName,jdbcType=VARCHAR},
      mu_englist_name = #{muEnglistName,jdbcType=VARCHAR},
      mu_remark = #{muRemark,jdbcType=VARCHAR},
      mu_Auditing = #{muAuditing,jdbcType=VARCHAR},
      mu_yn = #{muYn,jdbcType=VARCHAR},
      mu_custom1 = #{muCustom1,jdbcType=VARCHAR},
      mu_custom2 = #{muCustom2,jdbcType=VARCHAR},
      mu_custom3 = #{muCustom3,jdbcType=VARCHAR},
      mu_custom4 = #{muCustom4,jdbcType=VARCHAR},
      mu_custom5 = #{muCustom5,jdbcType=VARCHAR},
      mu_custom6 = #{muCustom6,jdbcType=VARCHAR}
    where mu_id = #{muId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Measurement_unit">
    <id column="mu_id" jdbcType="VARCHAR" property="muId" />
    <result column="mu_name" jdbcType="VARCHAR" property="muName" />
    <result column="mu_englist_name" jdbcType="VARCHAR" property="muEnglistName" />
    <result column="mu_remark" jdbcType="VARCHAR" property="muRemark" />
    <result column="mu_Auditing" jdbcType="VARCHAR" property="muAuditing" />
    <result column="mu_yn" jdbcType="VARCHAR" property="muYn" />
    <result column="mu_custom1" jdbcType="VARCHAR" property="muCustom1" />
    <result column="mu_custom2" jdbcType="VARCHAR" property="muCustom2" />
    <result column="mu_custom3" jdbcType="VARCHAR" property="muCustom3" />
    <result column="mu_custom4" jdbcType="VARCHAR" property="muCustom4" />
    <result column="mu_custom5" jdbcType="VARCHAR" property="muCustom5" />
    <result column="mu_custom6" jdbcType="VARCHAR" property="muCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    mu_id, mu_name, mu_englist_name, mu_remark, mu_Auditing, mu_yn, mu_custom1, mu_custom2, 
    mu_custom3, mu_custom4, mu_custom5, mu_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from measurement_unit
    where mu_id = #{muId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from measurement_unit
    where mu_id = #{muId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Measurement_unit">
    insert into measurement_unit (mu_id, mu_name, mu_englist_name, 
      mu_remark, mu_Auditing, mu_yn, 
      mu_custom1, mu_custom2, mu_custom3, 
      mu_custom4, mu_custom5, mu_custom6
      )
    values (#{muId,jdbcType=VARCHAR}, #{muName,jdbcType=VARCHAR}, #{muEnglistName,jdbcType=VARCHAR}, 
      #{muRemark,jdbcType=VARCHAR}, #{muAuditing,jdbcType=VARCHAR}, #{muYn,jdbcType=VARCHAR}, 
      #{muCustom1,jdbcType=VARCHAR}, #{muCustom2,jdbcType=VARCHAR}, #{muCustom3,jdbcType=VARCHAR}, 
      #{muCustom4,jdbcType=VARCHAR}, #{muCustom5,jdbcType=VARCHAR}, #{muCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Measurement_unit">
    insert into measurement_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="muId != null">
        mu_id,
      </if>
      <if test="muName != null">
        mu_name,
      </if>
      <if test="muEnglistName != null">
        mu_englist_name,
      </if>
      <if test="muRemark != null">
        mu_remark,
      </if>
      <if test="muAuditing != null">
        mu_Auditing,
      </if>
      <if test="muYn != null">
        mu_yn,
      </if>
      <if test="muCustom1 != null">
        mu_custom1,
      </if>
      <if test="muCustom2 != null">
        mu_custom2,
      </if>
      <if test="muCustom3 != null">
        mu_custom3,
      </if>
      <if test="muCustom4 != null">
        mu_custom4,
      </if>
      <if test="muCustom5 != null">
        mu_custom5,
      </if>
      <if test="muCustom6 != null">
        mu_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="muId != null">
        #{muId,jdbcType=VARCHAR},
      </if>
      <if test="muName != null">
        #{muName,jdbcType=VARCHAR},
      </if>
      <if test="muEnglistName != null">
        #{muEnglistName,jdbcType=VARCHAR},
      </if>
      <if test="muRemark != null">
        #{muRemark,jdbcType=VARCHAR},
      </if>
      <if test="muAuditing != null">
        #{muAuditing,jdbcType=VARCHAR},
      </if>
      <if test="muYn != null">
        #{muYn,jdbcType=VARCHAR},
      </if>
      <if test="muCustom1 != null">
        #{muCustom1,jdbcType=VARCHAR},
      </if>
      <if test="muCustom2 != null">
        #{muCustom2,jdbcType=VARCHAR},
      </if>
      <if test="muCustom3 != null">
        #{muCustom3,jdbcType=VARCHAR},
      </if>
      <if test="muCustom4 != null">
        #{muCustom4,jdbcType=VARCHAR},
      </if>
      <if test="muCustom5 != null">
        #{muCustom5,jdbcType=VARCHAR},
      </if>
      <if test="muCustom6 != null">
        #{muCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Measurement_unit">
    update measurement_unit
    <set>
      <if test="muName != null">
        mu_name = #{muName,jdbcType=VARCHAR},
      </if>
      <if test="muEnglistName != null">
        mu_englist_name = #{muEnglistName,jdbcType=VARCHAR},
      </if>
      <if test="muRemark != null">
        mu_remark = #{muRemark,jdbcType=VARCHAR},
      </if>
      <if test="muAuditing != null">
        mu_Auditing = #{muAuditing,jdbcType=VARCHAR},
      </if>
      <if test="muYn != null">
        mu_yn = #{muYn,jdbcType=VARCHAR},
      </if>
      <if test="muCustom1 != null">
        mu_custom1 = #{muCustom1,jdbcType=VARCHAR},
      </if>
      <if test="muCustom2 != null">
        mu_custom2 = #{muCustom2,jdbcType=VARCHAR},
      </if>
      <if test="muCustom3 != null">
        mu_custom3 = #{muCustom3,jdbcType=VARCHAR},
      </if>
      <if test="muCustom4 != null">
        mu_custom4 = #{muCustom4,jdbcType=VARCHAR},
      </if>
      <if test="muCustom5 != null">
        mu_custom5 = #{muCustom5,jdbcType=VARCHAR},
      </if>
      <if test="muCustom6 != null">
        mu_custom6 = #{muCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where mu_id = #{muId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Measurement_unit">
    update measurement_unit
    set mu_name = #{muName,jdbcType=VARCHAR},
      mu_englist_name = #{muEnglistName,jdbcType=VARCHAR},
      mu_remark = #{muRemark,jdbcType=VARCHAR},
      mu_Auditing = #{muAuditing,jdbcType=VARCHAR},
      mu_yn = #{muYn,jdbcType=VARCHAR},
      mu_custom1 = #{muCustom1,jdbcType=VARCHAR},
      mu_custom2 = #{muCustom2,jdbcType=VARCHAR},
      mu_custom3 = #{muCustom3,jdbcType=VARCHAR},
      mu_custom4 = #{muCustom4,jdbcType=VARCHAR},
      mu_custom5 = #{muCustom5,jdbcType=VARCHAR},
      mu_custom6 = #{muCustom6,jdbcType=VARCHAR}
    where mu_id = #{muId,jdbcType=VARCHAR}
  </update>
</mapper>