<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.MoneybelongMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Moneybelong">
    <id column="moneybelong_id" jdbcType="VARCHAR" property="moneybelongId" />
    <result column="moneybelong_name" jdbcType="VARCHAR" property="moneybelongName" />
    <result column="moneybelong_type" jdbcType="VARCHAR" property="moneybelongType" />
    <result column="moneybelong_remarks" jdbcType="VARCHAR" property="moneybelongRemarks" />
    <result column="moneybelong_Auditing" jdbcType="VARCHAR" property="moneybelongAuditing" />
    <result column="moneybelong_yn" jdbcType="VARCHAR" property="moneybelongYn" />
    <result column="moneybelong_custom1" jdbcType="VARCHAR" property="moneybelongCustom1" />
    <result column="moneybelong_custom2" jdbcType="VARCHAR" property="moneybelongCustom2" />
    <result column="moneybelong_custom3" jdbcType="VARCHAR" property="moneybelongCustom3" />
    <result column="moneybelong_custom4" jdbcType="VARCHAR" property="moneybelongCustom4" />
    <result column="moneybelong_custom5" jdbcType="VARCHAR" property="moneybelongCustom5" />
    <result column="moneybelong_custom6" jdbcType="VARCHAR" property="moneybelongCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    moneybelong_id, moneybelong_name, moneybelong_type, moneybelong_remarks, moneybelong_Auditing, 
    moneybelong_yn, moneybelong_custom1, moneybelong_custom2, moneybelong_custom3, moneybelong_custom4, 
    moneybelong_custom5, moneybelong_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moneybelong
    where moneybelong_id = #{moneybelongId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from moneybelong
    where moneybelong_id = #{moneybelongId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Moneybelong">
    insert into moneybelong (moneybelong_id, moneybelong_name, moneybelong_type, 
      moneybelong_remarks, moneybelong_Auditing, 
      moneybelong_yn, moneybelong_custom1, moneybelong_custom2, 
      moneybelong_custom3, moneybelong_custom4, 
      moneybelong_custom5, moneybelong_custom6)
    values (#{moneybelongId,jdbcType=VARCHAR}, #{moneybelongName,jdbcType=VARCHAR}, #{moneybelongType,jdbcType=VARCHAR}, 
      #{moneybelongRemarks,jdbcType=VARCHAR}, #{moneybelongAuditing,jdbcType=VARCHAR}, 
      #{moneybelongYn,jdbcType=VARCHAR}, #{moneybelongCustom1,jdbcType=VARCHAR}, #{moneybelongCustom2,jdbcType=VARCHAR}, 
      #{moneybelongCustom3,jdbcType=VARCHAR}, #{moneybelongCustom4,jdbcType=VARCHAR}, 
      #{moneybelongCustom5,jdbcType=VARCHAR}, #{moneybelongCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Moneybelong">
    insert into moneybelong
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moneybelongId != null">
        moneybelong_id,
      </if>
      <if test="moneybelongName != null">
        moneybelong_name,
      </if>
      <if test="moneybelongType != null">
        moneybelong_type,
      </if>
      <if test="moneybelongRemarks != null">
        moneybelong_remarks,
      </if>
      <if test="moneybelongAuditing != null">
        moneybelong_Auditing,
      </if>
      <if test="moneybelongYn != null">
        moneybelong_yn,
      </if>
      <if test="moneybelongCustom1 != null">
        moneybelong_custom1,
      </if>
      <if test="moneybelongCustom2 != null">
        moneybelong_custom2,
      </if>
      <if test="moneybelongCustom3 != null">
        moneybelong_custom3,
      </if>
      <if test="moneybelongCustom4 != null">
        moneybelong_custom4,
      </if>
      <if test="moneybelongCustom5 != null">
        moneybelong_custom5,
      </if>
      <if test="moneybelongCustom6 != null">
        moneybelong_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moneybelongId != null">
        #{moneybelongId,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongName != null">
        #{moneybelongName,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongType != null">
        #{moneybelongType,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongRemarks != null">
        #{moneybelongRemarks,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongAuditing != null">
        #{moneybelongAuditing,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongYn != null">
        #{moneybelongYn,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom1 != null">
        #{moneybelongCustom1,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom2 != null">
        #{moneybelongCustom2,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom3 != null">
        #{moneybelongCustom3,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom4 != null">
        #{moneybelongCustom4,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom5 != null">
        #{moneybelongCustom5,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom6 != null">
        #{moneybelongCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Moneybelong">
    update moneybelong
    <set>
      <if test="moneybelongName != null">
        moneybelong_name = #{moneybelongName,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongType != null">
        moneybelong_type = #{moneybelongType,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongRemarks != null">
        moneybelong_remarks = #{moneybelongRemarks,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongAuditing != null">
        moneybelong_Auditing = #{moneybelongAuditing,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongYn != null">
        moneybelong_yn = #{moneybelongYn,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom1 != null">
        moneybelong_custom1 = #{moneybelongCustom1,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom2 != null">
        moneybelong_custom2 = #{moneybelongCustom2,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom3 != null">
        moneybelong_custom3 = #{moneybelongCustom3,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom4 != null">
        moneybelong_custom4 = #{moneybelongCustom4,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom5 != null">
        moneybelong_custom5 = #{moneybelongCustom5,jdbcType=VARCHAR},
      </if>
      <if test="moneybelongCustom6 != null">
        moneybelong_custom6 = #{moneybelongCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where moneybelong_id = #{moneybelongId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Moneybelong">
    update moneybelong
    set moneybelong_name = #{moneybelongName,jdbcType=VARCHAR},
      moneybelong_type = #{moneybelongType,jdbcType=VARCHAR},
      moneybelong_remarks = #{moneybelongRemarks,jdbcType=VARCHAR},
      moneybelong_Auditing = #{moneybelongAuditing,jdbcType=VARCHAR},
      moneybelong_yn = #{moneybelongYn,jdbcType=VARCHAR},
      moneybelong_custom1 = #{moneybelongCustom1,jdbcType=VARCHAR},
      moneybelong_custom2 = #{moneybelongCustom2,jdbcType=VARCHAR},
      moneybelong_custom3 = #{moneybelongCustom3,jdbcType=VARCHAR},
      moneybelong_custom4 = #{moneybelongCustom4,jdbcType=VARCHAR},
      moneybelong_custom5 = #{moneybelongCustom5,jdbcType=VARCHAR},
      moneybelong_custom6 = #{moneybelongCustom6,jdbcType=VARCHAR}
    where moneybelong_id = #{moneybelongId,jdbcType=VARCHAR}
  </update>
</mapper>