<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Other_input_storage_detailedMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Other_input_storage_detailed">
    <id column="oisd_id" jdbcType="VARCHAR" property="oisdId" />
    <result column="ois_id" jdbcType="VARCHAR" property="oisId" />
    <result column="matter_id" jdbcType="VARCHAR" property="matterId" />
    <result column="oisd_engname" jdbcType="VARCHAR" property="oisdEngname" />
    <result column="oisd_remark" jdbcType="VARCHAR" property="oisdRemark" />
    <result column="oisd_price_include_tax" jdbcType="VARCHAR" property="oisdPriceIncludeTax" />
    <result column="oisd_single_status" jdbcType="INTEGER" property="oisdSingleStatus" />
    <result column="oisd_price" jdbcType="REAL" property="oisdPrice" />
    <result column="oisd_money" jdbcType="REAL" property="oisdMoney" />
    <result column="oisd_remarks" jdbcType="VARCHAR" property="oisdRemarks" />
    <result column="oisd_source_order" jdbcType="VARCHAR" property="oisdSourceOrder" />
    <result column="oisd_source_no" jdbcType="VARCHAR" property="oisdSourceNo" />
    <result column="oisd_auditing" jdbcType="VARCHAR" property="oisdAuditing" />
    <result column="oisd_yn" jdbcType="VARCHAR" property="oisdYn" />
    <result column="oisd_custom1" jdbcType="VARCHAR" property="oisdCustom1" />
    <result column="oisd_custom2" jdbcType="VARCHAR" property="oisdCustom2" />
    <result column="oisd_custom3" jdbcType="VARCHAR" property="oisdCustom3" />
    <result column="oisd_custom4" jdbcType="VARCHAR" property="oisdCustom4" />
    <result column="oisd_custom5" jdbcType="VARCHAR" property="oisdCustom5" />
    <result column="oisd_custom6" jdbcType="VARCHAR" property="oisdCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    oisd_id, ois_id, matter_id, oisd_engname, oisd_remark, oisd_price_include_tax, oisd_single_status, 
    oisd_price, oisd_money, oisd_remarks, oisd_source_order, oisd_source_no, oisd_auditing, 
    oisd_yn, oisd_custom1, oisd_custom2, oisd_custom3, oisd_custom4, oisd_custom5, oisd_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from other_input_storage_detailed
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from other_input_storage_detailed
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Other_input_storage_detailed">
    insert into other_input_storage_detailed (oisd_id, ois_id, matter_id, 
      oisd_engname, oisd_remark, oisd_price_include_tax, 
      oisd_single_status, oisd_price, oisd_money, 
      oisd_remarks, oisd_source_order, oisd_source_no, 
      oisd_auditing, oisd_yn, oisd_custom1, 
      oisd_custom2, oisd_custom3, oisd_custom4, 
      oisd_custom5, oisd_custom6)
    values (#{oisdId,jdbcType=VARCHAR}, #{oisId,jdbcType=VARCHAR}, #{matterId,jdbcType=VARCHAR}, 
      #{oisdEngname,jdbcType=VARCHAR}, #{oisdRemark,jdbcType=VARCHAR}, #{oisdPriceIncludeTax,jdbcType=VARCHAR}, 
      #{oisdSingleStatus,jdbcType=INTEGER}, #{oisdPrice,jdbcType=REAL}, #{oisdMoney,jdbcType=REAL}, 
      #{oisdRemarks,jdbcType=VARCHAR}, #{oisdSourceOrder,jdbcType=VARCHAR}, #{oisdSourceNo,jdbcType=VARCHAR}, 
      #{oisdAuditing,jdbcType=VARCHAR}, #{oisdYn,jdbcType=VARCHAR}, #{oisdCustom1,jdbcType=VARCHAR}, 
      #{oisdCustom2,jdbcType=VARCHAR}, #{oisdCustom3,jdbcType=VARCHAR}, #{oisdCustom4,jdbcType=VARCHAR}, 
      #{oisdCustom5,jdbcType=VARCHAR}, #{oisdCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Other_input_storage_detailed">
    insert into other_input_storage_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oisdId != null">
        oisd_id,
      </if>
      <if test="oisId != null">
        ois_id,
      </if>
      <if test="matterId != null">
        matter_id,
      </if>
      <if test="oisdEngname != null">
        oisd_engname,
      </if>
      <if test="oisdRemark != null">
        oisd_remark,
      </if>
      <if test="oisdPriceIncludeTax != null">
        oisd_price_include_tax,
      </if>
      <if test="oisdSingleStatus != null">
        oisd_single_status,
      </if>
      <if test="oisdPrice != null">
        oisd_price,
      </if>
      <if test="oisdMoney != null">
        oisd_money,
      </if>
      <if test="oisdRemarks != null">
        oisd_remarks,
      </if>
      <if test="oisdSourceOrder != null">
        oisd_source_order,
      </if>
      <if test="oisdSourceNo != null">
        oisd_source_no,
      </if>
      <if test="oisdAuditing != null">
        oisd_auditing,
      </if>
      <if test="oisdYn != null">
        oisd_yn,
      </if>
      <if test="oisdCustom1 != null">
        oisd_custom1,
      </if>
      <if test="oisdCustom2 != null">
        oisd_custom2,
      </if>
      <if test="oisdCustom3 != null">
        oisd_custom3,
      </if>
      <if test="oisdCustom4 != null">
        oisd_custom4,
      </if>
      <if test="oisdCustom5 != null">
        oisd_custom5,
      </if>
      <if test="oisdCustom6 != null">
        oisd_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oisdId != null">
        #{oisdId,jdbcType=VARCHAR},
      </if>
      <if test="oisId != null">
        #{oisId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="oisdEngname != null">
        #{oisdEngname,jdbcType=VARCHAR},
      </if>
      <if test="oisdRemark != null">
        #{oisdRemark,jdbcType=VARCHAR},
      </if>
      <if test="oisdPriceIncludeTax != null">
        #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="oisdSingleStatus != null">
        #{oisdSingleStatus,jdbcType=INTEGER},
      </if>
      <if test="oisdPrice != null">
        #{oisdPrice,jdbcType=REAL},
      </if>
      <if test="oisdMoney != null">
        #{oisdMoney,jdbcType=REAL},
      </if>
      <if test="oisdRemarks != null">
        #{oisdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceOrder != null">
        #{oisdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceNo != null">
        #{oisdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="oisdAuditing != null">
        #{oisdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="oisdYn != null">
        #{oisdYn,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom1 != null">
        #{oisdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom2 != null">
        #{oisdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom3 != null">
        #{oisdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom4 != null">
        #{oisdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom5 != null">
        #{oisdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom6 != null">
        #{oisdCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Other_input_storage_detailed">
    update other_input_storage_detailed
    <set>
      <if test="oisId != null">
        ois_id = #{oisId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        matter_id = #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="oisdEngname != null">
        oisd_engname = #{oisdEngname,jdbcType=VARCHAR},
      </if>
      <if test="oisdRemark != null">
        oisd_remark = #{oisdRemark,jdbcType=VARCHAR},
      </if>
      <if test="oisdPriceIncludeTax != null">
        oisd_price_include_tax = #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="oisdSingleStatus != null">
        oisd_single_status = #{oisdSingleStatus,jdbcType=INTEGER},
      </if>
      <if test="oisdPrice != null">
        oisd_price = #{oisdPrice,jdbcType=REAL},
      </if>
      <if test="oisdMoney != null">
        oisd_money = #{oisdMoney,jdbcType=REAL},
      </if>
      <if test="oisdRemarks != null">
        oisd_remarks = #{oisdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceOrder != null">
        oisd_source_order = #{oisdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceNo != null">
        oisd_source_no = #{oisdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="oisdAuditing != null">
        oisd_auditing = #{oisdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="oisdYn != null">
        oisd_yn = #{oisdYn,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom1 != null">
        oisd_custom1 = #{oisdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom2 != null">
        oisd_custom2 = #{oisdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom3 != null">
        oisd_custom3 = #{oisdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom4 != null">
        oisd_custom4 = #{oisdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom5 != null">
        oisd_custom5 = #{oisdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom6 != null">
        oisd_custom6 = #{oisdCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Other_input_storage_detailed">
    update other_input_storage_detailed
    set ois_id = #{oisId,jdbcType=VARCHAR},
      matter_id = #{matterId,jdbcType=VARCHAR},
      oisd_engname = #{oisdEngname,jdbcType=VARCHAR},
      oisd_remark = #{oisdRemark,jdbcType=VARCHAR},
      oisd_price_include_tax = #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      oisd_single_status = #{oisdSingleStatus,jdbcType=INTEGER},
      oisd_price = #{oisdPrice,jdbcType=REAL},
      oisd_money = #{oisdMoney,jdbcType=REAL},
      oisd_remarks = #{oisdRemarks,jdbcType=VARCHAR},
      oisd_source_order = #{oisdSourceOrder,jdbcType=VARCHAR},
      oisd_source_no = #{oisdSourceNo,jdbcType=VARCHAR},
      oisd_auditing = #{oisdAuditing,jdbcType=VARCHAR},
      oisd_yn = #{oisdYn,jdbcType=VARCHAR},
      oisd_custom1 = #{oisdCustom1,jdbcType=VARCHAR},
      oisd_custom2 = #{oisdCustom2,jdbcType=VARCHAR},
      oisd_custom3 = #{oisdCustom3,jdbcType=VARCHAR},
      oisd_custom4 = #{oisdCustom4,jdbcType=VARCHAR},
      oisd_custom5 = #{oisdCustom5,jdbcType=VARCHAR},
      oisd_custom6 = #{oisdCustom6,jdbcType=VARCHAR}
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Other_input_storage_detailed">
    <id column="oisd_id" jdbcType="VARCHAR" property="oisdId" />
    <result column="ois_id" jdbcType="VARCHAR" property="oisId" />
    <result column="matter_id" jdbcType="VARCHAR" property="matterId" />
    <result column="oisd_engname" jdbcType="VARCHAR" property="oisdEngname" />
    <result column="oisd_remark" jdbcType="VARCHAR" property="oisdRemark" />
    <result column="oisd_price_include_tax" jdbcType="VARCHAR" property="oisdPriceIncludeTax" />
    <result column="oisd_single_status" jdbcType="INTEGER" property="oisdSingleStatus" />
    <result column="oisd_price" jdbcType="REAL" property="oisdPrice" />
    <result column="oisd_money" jdbcType="REAL" property="oisdMoney" />
    <result column="oisd_remarks" jdbcType="VARCHAR" property="oisdRemarks" />
    <result column="oisd_source_order" jdbcType="VARCHAR" property="oisdSourceOrder" />
    <result column="oisd_source_no" jdbcType="VARCHAR" property="oisdSourceNo" />
    <result column="oisd_auditing" jdbcType="VARCHAR" property="oisdAuditing" />
    <result column="oisd_yn" jdbcType="VARCHAR" property="oisdYn" />
    <result column="oisd_custom1" jdbcType="VARCHAR" property="oisdCustom1" />
    <result column="oisd_custom2" jdbcType="VARCHAR" property="oisdCustom2" />
    <result column="oisd_custom3" jdbcType="VARCHAR" property="oisdCustom3" />
    <result column="oisd_custom4" jdbcType="VARCHAR" property="oisdCustom4" />
    <result column="oisd_custom5" jdbcType="VARCHAR" property="oisdCustom5" />
    <result column="oisd_custom6" jdbcType="VARCHAR" property="oisdCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    oisd_id, ois_id, matter_id, oisd_engname, oisd_remark, oisd_price_include_tax, oisd_single_status, 
    oisd_price, oisd_money, oisd_remarks, oisd_source_order, oisd_source_no, oisd_auditing, 
    oisd_yn, oisd_custom1, oisd_custom2, oisd_custom3, oisd_custom4, oisd_custom5, oisd_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from other_input_storage_detailed
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from other_input_storage_detailed
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Other_input_storage_detailed">
    insert into other_input_storage_detailed (oisd_id, ois_id, matter_id, 
      oisd_engname, oisd_remark, oisd_price_include_tax, 
      oisd_single_status, oisd_price, oisd_money, 
      oisd_remarks, oisd_source_order, oisd_source_no, 
      oisd_auditing, oisd_yn, oisd_custom1, 
      oisd_custom2, oisd_custom3, oisd_custom4, 
      oisd_custom5, oisd_custom6)
    values (#{oisdId,jdbcType=VARCHAR}, #{oisId,jdbcType=VARCHAR}, #{matterId,jdbcType=VARCHAR}, 
      #{oisdEngname,jdbcType=VARCHAR}, #{oisdRemark,jdbcType=VARCHAR}, #{oisdPriceIncludeTax,jdbcType=VARCHAR}, 
      #{oisdSingleStatus,jdbcType=INTEGER}, #{oisdPrice,jdbcType=REAL}, #{oisdMoney,jdbcType=REAL}, 
      #{oisdRemarks,jdbcType=VARCHAR}, #{oisdSourceOrder,jdbcType=VARCHAR}, #{oisdSourceNo,jdbcType=VARCHAR}, 
      #{oisdAuditing,jdbcType=VARCHAR}, #{oisdYn,jdbcType=VARCHAR}, #{oisdCustom1,jdbcType=VARCHAR}, 
      #{oisdCustom2,jdbcType=VARCHAR}, #{oisdCustom3,jdbcType=VARCHAR}, #{oisdCustom4,jdbcType=VARCHAR}, 
      #{oisdCustom5,jdbcType=VARCHAR}, #{oisdCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Other_input_storage_detailed">
    insert into other_input_storage_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oisdId != null">
        oisd_id,
      </if>
      <if test="oisId != null">
        ois_id,
      </if>
      <if test="matterId != null">
        matter_id,
      </if>
      <if test="oisdEngname != null">
        oisd_engname,
      </if>
      <if test="oisdRemark != null">
        oisd_remark,
      </if>
      <if test="oisdPriceIncludeTax != null">
        oisd_price_include_tax,
      </if>
      <if test="oisdSingleStatus != null">
        oisd_single_status,
      </if>
      <if test="oisdPrice != null">
        oisd_price,
      </if>
      <if test="oisdMoney != null">
        oisd_money,
      </if>
      <if test="oisdRemarks != null">
        oisd_remarks,
      </if>
      <if test="oisdSourceOrder != null">
        oisd_source_order,
      </if>
      <if test="oisdSourceNo != null">
        oisd_source_no,
      </if>
      <if test="oisdAuditing != null">
        oisd_auditing,
      </if>
      <if test="oisdYn != null">
        oisd_yn,
      </if>
      <if test="oisdCustom1 != null">
        oisd_custom1,
      </if>
      <if test="oisdCustom2 != null">
        oisd_custom2,
      </if>
      <if test="oisdCustom3 != null">
        oisd_custom3,
      </if>
      <if test="oisdCustom4 != null">
        oisd_custom4,
      </if>
      <if test="oisdCustom5 != null">
        oisd_custom5,
      </if>
      <if test="oisdCustom6 != null">
        oisd_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oisdId != null">
        #{oisdId,jdbcType=VARCHAR},
      </if>
      <if test="oisId != null">
        #{oisId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="oisdEngname != null">
        #{oisdEngname,jdbcType=VARCHAR},
      </if>
      <if test="oisdRemark != null">
        #{oisdRemark,jdbcType=VARCHAR},
      </if>
      <if test="oisdPriceIncludeTax != null">
        #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="oisdSingleStatus != null">
        #{oisdSingleStatus,jdbcType=INTEGER},
      </if>
      <if test="oisdPrice != null">
        #{oisdPrice,jdbcType=REAL},
      </if>
      <if test="oisdMoney != null">
        #{oisdMoney,jdbcType=REAL},
      </if>
      <if test="oisdRemarks != null">
        #{oisdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceOrder != null">
        #{oisdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceNo != null">
        #{oisdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="oisdAuditing != null">
        #{oisdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="oisdYn != null">
        #{oisdYn,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom1 != null">
        #{oisdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom2 != null">
        #{oisdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom3 != null">
        #{oisdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom4 != null">
        #{oisdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom5 != null">
        #{oisdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom6 != null">
        #{oisdCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Other_input_storage_detailed">
    update other_input_storage_detailed
    <set>
      <if test="oisId != null">
        ois_id = #{oisId,jdbcType=VARCHAR},
      </if>
      <if test="matterId != null">
        matter_id = #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="oisdEngname != null">
        oisd_engname = #{oisdEngname,jdbcType=VARCHAR},
      </if>
      <if test="oisdRemark != null">
        oisd_remark = #{oisdRemark,jdbcType=VARCHAR},
      </if>
      <if test="oisdPriceIncludeTax != null">
        oisd_price_include_tax = #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="oisdSingleStatus != null">
        oisd_single_status = #{oisdSingleStatus,jdbcType=INTEGER},
      </if>
      <if test="oisdPrice != null">
        oisd_price = #{oisdPrice,jdbcType=REAL},
      </if>
      <if test="oisdMoney != null">
        oisd_money = #{oisdMoney,jdbcType=REAL},
      </if>
      <if test="oisdRemarks != null">
        oisd_remarks = #{oisdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceOrder != null">
        oisd_source_order = #{oisdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="oisdSourceNo != null">
        oisd_source_no = #{oisdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="oisdAuditing != null">
        oisd_auditing = #{oisdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="oisdYn != null">
        oisd_yn = #{oisdYn,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom1 != null">
        oisd_custom1 = #{oisdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom2 != null">
        oisd_custom2 = #{oisdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom3 != null">
        oisd_custom3 = #{oisdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom4 != null">
        oisd_custom4 = #{oisdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom5 != null">
        oisd_custom5 = #{oisdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="oisdCustom6 != null">
        oisd_custom6 = #{oisdCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Other_input_storage_detailed">
    update other_input_storage_detailed
    set ois_id = #{oisId,jdbcType=VARCHAR},
      matter_id = #{matterId,jdbcType=VARCHAR},
      oisd_engname = #{oisdEngname,jdbcType=VARCHAR},
      oisd_remark = #{oisdRemark,jdbcType=VARCHAR},
      oisd_price_include_tax = #{oisdPriceIncludeTax,jdbcType=VARCHAR},
      oisd_single_status = #{oisdSingleStatus,jdbcType=INTEGER},
      oisd_price = #{oisdPrice,jdbcType=REAL},
      oisd_money = #{oisdMoney,jdbcType=REAL},
      oisd_remarks = #{oisdRemarks,jdbcType=VARCHAR},
      oisd_source_order = #{oisdSourceOrder,jdbcType=VARCHAR},
      oisd_source_no = #{oisdSourceNo,jdbcType=VARCHAR},
      oisd_auditing = #{oisdAuditing,jdbcType=VARCHAR},
      oisd_yn = #{oisdYn,jdbcType=VARCHAR},
      oisd_custom1 = #{oisdCustom1,jdbcType=VARCHAR},
      oisd_custom2 = #{oisdCustom2,jdbcType=VARCHAR},
      oisd_custom3 = #{oisdCustom3,jdbcType=VARCHAR},
      oisd_custom4 = #{oisdCustom4,jdbcType=VARCHAR},
      oisd_custom5 = #{oisdCustom5,jdbcType=VARCHAR},
      oisd_custom6 = #{oisdCustom6,jdbcType=VARCHAR}
    where oisd_id = #{oisdId,jdbcType=VARCHAR}
  </update>
</mapper>