<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Potential_customerMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Potential_customer">
    <id column="pc_id" jdbcType="VARCHAR" property="pcId" />
    <result column="pc_name" jdbcType="VARCHAR" property="pcName" />
    <result column="pc_easyname" jdbcType="VARCHAR" property="pcEasyname" />
    <result column="pc_english_name" jdbcType="VARCHAR" property="pcEnglishName" />
    <result column="pc_charge_person" jdbcType="VARCHAR" property="pcChargePerson" />
    <result column="pc_type" jdbcType="VARCHAR" property="pcType" />
    <result column="pc_area" jdbcType="VARCHAR" property="pcArea" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="cg_id" jdbcType="VARCHAR" property="cgId" />
    <result column="ns_id" jdbcType="VARCHAR" property="nsId" />
    <result column="Pc_probability_success" jdbcType="REAL" property="pcProbabilitySuccess" />
    <result column="Pc_decision maker" jdbcType="VARCHAR" property="pcDecisionMaker" />
    <result column="Pc_negotiation_date" jdbcType="DATE" property="pcNegotiationDate" />
    <result column="Pc_Appointment_visit_date" jdbcType="DATE" property="pcAppointmentVisitDate" />
    <result column="Pc_Recent_visit_date" jdbcType="DATE" property="pcRecentVisitDate" />
    <result column="Pc_Estimated_turnover" jdbcType="REAL" property="pcEstimatedTurnover" />
    <result column="Pc_Customer_Profile" jdbcType="VARCHAR" property="pcCustomerProfile" />
    <result column="pc_principalman" jdbcType="VARCHAR" property="pcPrincipalman" />
    <result column="pc_linkman" jdbcType="VARCHAR" property="pcLinkman" />
    <result column="pc_linktela" jdbcType="VARCHAR" property="pcLinktela" />
    <result column="pc_linktelb" jdbcType="VARCHAR" property="pcLinktelb" />
    <result column="pc_linktelc" jdbcType="VARCHAR" property="pcLinktelc" />
    <result column="pc_mobilephone" jdbcType="VARCHAR" property="pcMobilephone" />
    <result column="ada_id" jdbcType="VARCHAR" property="adaId" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="Pc_servicer" jdbcType="VARCHAR" property="pcServicer" />
    <result column="pc_taxcheckno" jdbcType="VARCHAR" property="pcTaxcheckno" />
    <result column="pc_capitalmoney" jdbcType="REAL" property="pcCapitalmoney" />
    <result column="pc_job" jdbcType="VARCHAR" property="pcJob" />
    <result column="pc_email" jdbcType="VARCHAR" property="pcEmail" />
    <result column="pc_webadd" jdbcType="VARCHAR" property="pcWebadd" />
    <result column="pc_faxno" jdbcType="VARCHAR" property="pcFaxno" />
    <result column="Pc_Expiry_date" jdbcType="DATE" property="pcExpiryDate" />
    <result column="pc_salelv" jdbcType="VARCHAR" property="pcSalelv" />
    <result column="Receivable_id" jdbcType="VARCHAR" property="receivableId" />
    <result column="pc_cuendorderday" jdbcType="DATE" property="pcCuendorderday" />
    <result column="It_Accounts_eceivable_subject" jdbcType="VARCHAR" property="itAccountsEceivableSubject" />
    <result column="pc_discountpoint" jdbcType="REAL" property="pcDiscountpoint" />
    <result column="pc_honestlv" jdbcType="VARCHAR" property="pcHonestlv" />
    <result column="pc_cuiftax" jdbcType="INTEGER" property="pcCuiftax" />
    <result column="It_deposit_received_subject" jdbcType="VARCHAR" property="itDepositReceivedSubject" />
    <result column="pc_remark" jdbcType="VARCHAR" property="pcRemark" />
    <result column="pc_Auditing" jdbcType="VARCHAR" property="pcAuditing" />
    <result column="pc_yn" jdbcType="VARCHAR" property="pcYn" />
    <result column="pc_custom1" jdbcType="VARCHAR" property="pcCustom1" />
    <result column="pc_custom2" jdbcType="VARCHAR" property="pcCustom2" />
    <result column="pc_custom3" jdbcType="VARCHAR" property="pcCustom3" />
    <result column="pc_custom4" jdbcType="VARCHAR" property="pcCustom4" />
    <result column="pc_custom5" jdbcType="VARCHAR" property="pcCustom5" />
    <result column="pc_custom6" jdbcType="VARCHAR" property="pcCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    pc_id, pc_name, pc_easyname, pc_english_name, pc_charge_person, pc_type, pc_area, 
    currency_id, cg_id, ns_id, Pc_probability_success, "Pc_decision maker", Pc_negotiation_date, 
    Pc_Appointment_visit_date, Pc_Recent_visit_date, Pc_Estimated_turnover, Pc_Customer_Profile, 
    pc_principalman, pc_linkman, pc_linktela, pc_linktelb, pc_linktelc, pc_mobilephone, 
    ada_id, bank_id, Pc_servicer, pc_taxcheckno, pc_capitalmoney, pc_job, pc_email, pc_webadd, 
    pc_faxno, Pc_Expiry_date, pc_salelv, Receivable_id, pc_cuendorderday, It_Accounts_eceivable_subject, 
    pc_discountpoint, pc_honestlv, pc_cuiftax, It_deposit_received_subject, pc_remark, 
    pc_Auditing, pc_yn, pc_custom1, pc_custom2, pc_custom3, pc_custom4, pc_custom5, pc_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from potential_customer
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from potential_customer
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Potential_customer">
    insert into potential_customer (pc_id, pc_name, pc_easyname, 
      pc_english_name, pc_charge_person, pc_type, 
      pc_area, currency_id, cg_id, 
      ns_id, Pc_probability_success, "Pc_decision maker", 
      Pc_negotiation_date, Pc_Appointment_visit_date, Pc_Recent_visit_date, 
      Pc_Estimated_turnover, Pc_Customer_Profile, pc_principalman, 
      pc_linkman, pc_linktela, pc_linktelb, 
      pc_linktelc, pc_mobilephone, ada_id, 
      bank_id, Pc_servicer, pc_taxcheckno, 
      pc_capitalmoney, pc_job, pc_email, 
      pc_webadd, pc_faxno, Pc_Expiry_date, 
      pc_salelv, Receivable_id, pc_cuendorderday, 
      It_Accounts_eceivable_subject, pc_discountpoint, 
      pc_honestlv, pc_cuiftax, It_deposit_received_subject, 
      pc_remark, pc_Auditing, pc_yn, 
      pc_custom1, pc_custom2, pc_custom3, 
      pc_custom4, pc_custom5, pc_custom6
      )
    values (#{pcId,jdbcType=VARCHAR}, #{pcName,jdbcType=VARCHAR}, #{pcEasyname,jdbcType=VARCHAR}, 
      #{pcEnglishName,jdbcType=VARCHAR}, #{pcChargePerson,jdbcType=VARCHAR}, #{pcType,jdbcType=VARCHAR}, 
      #{pcArea,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, #{cgId,jdbcType=VARCHAR}, 
      #{nsId,jdbcType=VARCHAR}, #{pcProbabilitySuccess,jdbcType=REAL}, #{pcDecisionMaker,jdbcType=VARCHAR}, 
      #{pcNegotiationDate,jdbcType=DATE}, #{pcAppointmentVisitDate,jdbcType=DATE}, #{pcRecentVisitDate,jdbcType=DATE}, 
      #{pcEstimatedTurnover,jdbcType=REAL}, #{pcCustomerProfile,jdbcType=VARCHAR}, #{pcPrincipalman,jdbcType=VARCHAR}, 
      #{pcLinkman,jdbcType=VARCHAR}, #{pcLinktela,jdbcType=VARCHAR}, #{pcLinktelb,jdbcType=VARCHAR}, 
      #{pcLinktelc,jdbcType=VARCHAR}, #{pcMobilephone,jdbcType=VARCHAR}, #{adaId,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=VARCHAR}, #{pcServicer,jdbcType=VARCHAR}, #{pcTaxcheckno,jdbcType=VARCHAR}, 
      #{pcCapitalmoney,jdbcType=REAL}, #{pcJob,jdbcType=VARCHAR}, #{pcEmail,jdbcType=VARCHAR}, 
      #{pcWebadd,jdbcType=VARCHAR}, #{pcFaxno,jdbcType=VARCHAR}, #{pcExpiryDate,jdbcType=DATE}, 
      #{pcSalelv,jdbcType=VARCHAR}, #{receivableId,jdbcType=VARCHAR}, #{pcCuendorderday,jdbcType=DATE}, 
      #{itAccountsEceivableSubject,jdbcType=VARCHAR}, #{pcDiscountpoint,jdbcType=REAL}, 
      #{pcHonestlv,jdbcType=VARCHAR}, #{pcCuiftax,jdbcType=INTEGER}, #{itDepositReceivedSubject,jdbcType=VARCHAR}, 
      #{pcRemark,jdbcType=VARCHAR}, #{pcAuditing,jdbcType=VARCHAR}, #{pcYn,jdbcType=VARCHAR}, 
      #{pcCustom1,jdbcType=VARCHAR}, #{pcCustom2,jdbcType=VARCHAR}, #{pcCustom3,jdbcType=VARCHAR}, 
      #{pcCustom4,jdbcType=VARCHAR}, #{pcCustom5,jdbcType=VARCHAR}, #{pcCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Potential_customer">
    insert into potential_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        pc_id,
      </if>
      <if test="pcName != null">
        pc_name,
      </if>
      <if test="pcEasyname != null">
        pc_easyname,
      </if>
      <if test="pcEnglishName != null">
        pc_english_name,
      </if>
      <if test="pcChargePerson != null">
        pc_charge_person,
      </if>
      <if test="pcType != null">
        pc_type,
      </if>
      <if test="pcArea != null">
        pc_area,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="cgId != null">
        cg_id,
      </if>
      <if test="nsId != null">
        ns_id,
      </if>
      <if test="pcProbabilitySuccess != null">
        Pc_probability_success,
      </if>
      <if test="pcDecisionMaker != null">
        "Pc_decision maker",
      </if>
      <if test="pcNegotiationDate != null">
        Pc_negotiation_date,
      </if>
      <if test="pcAppointmentVisitDate != null">
        Pc_Appointment_visit_date,
      </if>
      <if test="pcRecentVisitDate != null">
        Pc_Recent_visit_date,
      </if>
      <if test="pcEstimatedTurnover != null">
        Pc_Estimated_turnover,
      </if>
      <if test="pcCustomerProfile != null">
        Pc_Customer_Profile,
      </if>
      <if test="pcPrincipalman != null">
        pc_principalman,
      </if>
      <if test="pcLinkman != null">
        pc_linkman,
      </if>
      <if test="pcLinktela != null">
        pc_linktela,
      </if>
      <if test="pcLinktelb != null">
        pc_linktelb,
      </if>
      <if test="pcLinktelc != null">
        pc_linktelc,
      </if>
      <if test="pcMobilephone != null">
        pc_mobilephone,
      </if>
      <if test="adaId != null">
        ada_id,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="pcServicer != null">
        Pc_servicer,
      </if>
      <if test="pcTaxcheckno != null">
        pc_taxcheckno,
      </if>
      <if test="pcCapitalmoney != null">
        pc_capitalmoney,
      </if>
      <if test="pcJob != null">
        pc_job,
      </if>
      <if test="pcEmail != null">
        pc_email,
      </if>
      <if test="pcWebadd != null">
        pc_webadd,
      </if>
      <if test="pcFaxno != null">
        pc_faxno,
      </if>
      <if test="pcExpiryDate != null">
        Pc_Expiry_date,
      </if>
      <if test="pcSalelv != null">
        pc_salelv,
      </if>
      <if test="receivableId != null">
        Receivable_id,
      </if>
      <if test="pcCuendorderday != null">
        pc_cuendorderday,
      </if>
      <if test="itAccountsEceivableSubject != null">
        It_Accounts_eceivable_subject,
      </if>
      <if test="pcDiscountpoint != null">
        pc_discountpoint,
      </if>
      <if test="pcHonestlv != null">
        pc_honestlv,
      </if>
      <if test="pcCuiftax != null">
        pc_cuiftax,
      </if>
      <if test="itDepositReceivedSubject != null">
        It_deposit_received_subject,
      </if>
      <if test="pcRemark != null">
        pc_remark,
      </if>
      <if test="pcAuditing != null">
        pc_Auditing,
      </if>
      <if test="pcYn != null">
        pc_yn,
      </if>
      <if test="pcCustom1 != null">
        pc_custom1,
      </if>
      <if test="pcCustom2 != null">
        pc_custom2,
      </if>
      <if test="pcCustom3 != null">
        pc_custom3,
      </if>
      <if test="pcCustom4 != null">
        pc_custom4,
      </if>
      <if test="pcCustom5 != null">
        pc_custom5,
      </if>
      <if test="pcCustom6 != null">
        pc_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="pcName != null">
        #{pcName,jdbcType=VARCHAR},
      </if>
      <if test="pcEasyname != null">
        #{pcEasyname,jdbcType=VARCHAR},
      </if>
      <if test="pcEnglishName != null">
        #{pcEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="pcChargePerson != null">
        #{pcChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="pcType != null">
        #{pcType,jdbcType=VARCHAR},
      </if>
      <if test="pcArea != null">
        #{pcArea,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="cgId != null">
        #{cgId,jdbcType=VARCHAR},
      </if>
      <if test="nsId != null">
        #{nsId,jdbcType=VARCHAR},
      </if>
      <if test="pcProbabilitySuccess != null">
        #{pcProbabilitySuccess,jdbcType=REAL},
      </if>
      <if test="pcDecisionMaker != null">
        #{pcDecisionMaker,jdbcType=VARCHAR},
      </if>
      <if test="pcNegotiationDate != null">
        #{pcNegotiationDate,jdbcType=DATE},
      </if>
      <if test="pcAppointmentVisitDate != null">
        #{pcAppointmentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcRecentVisitDate != null">
        #{pcRecentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcEstimatedTurnover != null">
        #{pcEstimatedTurnover,jdbcType=REAL},
      </if>
      <if test="pcCustomerProfile != null">
        #{pcCustomerProfile,jdbcType=VARCHAR},
      </if>
      <if test="pcPrincipalman != null">
        #{pcPrincipalman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinkman != null">
        #{pcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktela != null">
        #{pcLinktela,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelb != null">
        #{pcLinktelb,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelc != null">
        #{pcLinktelc,jdbcType=VARCHAR},
      </if>
      <if test="pcMobilephone != null">
        #{pcMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="adaId != null">
        #{adaId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="pcServicer != null">
        #{pcServicer,jdbcType=VARCHAR},
      </if>
      <if test="pcTaxcheckno != null">
        #{pcTaxcheckno,jdbcType=VARCHAR},
      </if>
      <if test="pcCapitalmoney != null">
        #{pcCapitalmoney,jdbcType=REAL},
      </if>
      <if test="pcJob != null">
        #{pcJob,jdbcType=VARCHAR},
      </if>
      <if test="pcEmail != null">
        #{pcEmail,jdbcType=VARCHAR},
      </if>
      <if test="pcWebadd != null">
        #{pcWebadd,jdbcType=VARCHAR},
      </if>
      <if test="pcFaxno != null">
        #{pcFaxno,jdbcType=VARCHAR},
      </if>
      <if test="pcExpiryDate != null">
        #{pcExpiryDate,jdbcType=DATE},
      </if>
      <if test="pcSalelv != null">
        #{pcSalelv,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="pcCuendorderday != null">
        #{pcCuendorderday,jdbcType=DATE},
      </if>
      <if test="itAccountsEceivableSubject != null">
        #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcDiscountpoint != null">
        #{pcDiscountpoint,jdbcType=REAL},
      </if>
      <if test="pcHonestlv != null">
        #{pcHonestlv,jdbcType=VARCHAR},
      </if>
      <if test="pcCuiftax != null">
        #{pcCuiftax,jdbcType=INTEGER},
      </if>
      <if test="itDepositReceivedSubject != null">
        #{itDepositReceivedSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcRemark != null">
        #{pcRemark,jdbcType=VARCHAR},
      </if>
      <if test="pcAuditing != null">
        #{pcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="pcYn != null">
        #{pcYn,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom1 != null">
        #{pcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom2 != null">
        #{pcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom3 != null">
        #{pcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom4 != null">
        #{pcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom5 != null">
        #{pcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom6 != null">
        #{pcCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Potential_customer">
    update potential_customer
    <set>
      <if test="pcName != null">
        pc_name = #{pcName,jdbcType=VARCHAR},
      </if>
      <if test="pcEasyname != null">
        pc_easyname = #{pcEasyname,jdbcType=VARCHAR},
      </if>
      <if test="pcEnglishName != null">
        pc_english_name = #{pcEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="pcChargePerson != null">
        pc_charge_person = #{pcChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="pcType != null">
        pc_type = #{pcType,jdbcType=VARCHAR},
      </if>
      <if test="pcArea != null">
        pc_area = #{pcArea,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="cgId != null">
        cg_id = #{cgId,jdbcType=VARCHAR},
      </if>
      <if test="nsId != null">
        ns_id = #{nsId,jdbcType=VARCHAR},
      </if>
      <if test="pcProbabilitySuccess != null">
        Pc_probability_success = #{pcProbabilitySuccess,jdbcType=REAL},
      </if>
      <if test="pcDecisionMaker != null">
        "Pc_decision maker" = #{pcDecisionMaker,jdbcType=VARCHAR},
      </if>
      <if test="pcNegotiationDate != null">
        Pc_negotiation_date = #{pcNegotiationDate,jdbcType=DATE},
      </if>
      <if test="pcAppointmentVisitDate != null">
        Pc_Appointment_visit_date = #{pcAppointmentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcRecentVisitDate != null">
        Pc_Recent_visit_date = #{pcRecentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcEstimatedTurnover != null">
        Pc_Estimated_turnover = #{pcEstimatedTurnover,jdbcType=REAL},
      </if>
      <if test="pcCustomerProfile != null">
        Pc_Customer_Profile = #{pcCustomerProfile,jdbcType=VARCHAR},
      </if>
      <if test="pcPrincipalman != null">
        pc_principalman = #{pcPrincipalman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinkman != null">
        pc_linkman = #{pcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktela != null">
        pc_linktela = #{pcLinktela,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelb != null">
        pc_linktelb = #{pcLinktelb,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelc != null">
        pc_linktelc = #{pcLinktelc,jdbcType=VARCHAR},
      </if>
      <if test="pcMobilephone != null">
        pc_mobilephone = #{pcMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="adaId != null">
        ada_id = #{adaId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="pcServicer != null">
        Pc_servicer = #{pcServicer,jdbcType=VARCHAR},
      </if>
      <if test="pcTaxcheckno != null">
        pc_taxcheckno = #{pcTaxcheckno,jdbcType=VARCHAR},
      </if>
      <if test="pcCapitalmoney != null">
        pc_capitalmoney = #{pcCapitalmoney,jdbcType=REAL},
      </if>
      <if test="pcJob != null">
        pc_job = #{pcJob,jdbcType=VARCHAR},
      </if>
      <if test="pcEmail != null">
        pc_email = #{pcEmail,jdbcType=VARCHAR},
      </if>
      <if test="pcWebadd != null">
        pc_webadd = #{pcWebadd,jdbcType=VARCHAR},
      </if>
      <if test="pcFaxno != null">
        pc_faxno = #{pcFaxno,jdbcType=VARCHAR},
      </if>
      <if test="pcExpiryDate != null">
        Pc_Expiry_date = #{pcExpiryDate,jdbcType=DATE},
      </if>
      <if test="pcSalelv != null">
        pc_salelv = #{pcSalelv,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        Receivable_id = #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="pcCuendorderday != null">
        pc_cuendorderday = #{pcCuendorderday,jdbcType=DATE},
      </if>
      <if test="itAccountsEceivableSubject != null">
        It_Accounts_eceivable_subject = #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcDiscountpoint != null">
        pc_discountpoint = #{pcDiscountpoint,jdbcType=REAL},
      </if>
      <if test="pcHonestlv != null">
        pc_honestlv = #{pcHonestlv,jdbcType=VARCHAR},
      </if>
      <if test="pcCuiftax != null">
        pc_cuiftax = #{pcCuiftax,jdbcType=INTEGER},
      </if>
      <if test="itDepositReceivedSubject != null">
        It_deposit_received_subject = #{itDepositReceivedSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcRemark != null">
        pc_remark = #{pcRemark,jdbcType=VARCHAR},
      </if>
      <if test="pcAuditing != null">
        pc_Auditing = #{pcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="pcYn != null">
        pc_yn = #{pcYn,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom1 != null">
        pc_custom1 = #{pcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom2 != null">
        pc_custom2 = #{pcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom3 != null">
        pc_custom3 = #{pcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom4 != null">
        pc_custom4 = #{pcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom5 != null">
        pc_custom5 = #{pcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom6 != null">
        pc_custom6 = #{pcCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Potential_customer">
    update potential_customer
    set pc_name = #{pcName,jdbcType=VARCHAR},
      pc_easyname = #{pcEasyname,jdbcType=VARCHAR},
      pc_english_name = #{pcEnglishName,jdbcType=VARCHAR},
      pc_charge_person = #{pcChargePerson,jdbcType=VARCHAR},
      pc_type = #{pcType,jdbcType=VARCHAR},
      pc_area = #{pcArea,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      cg_id = #{cgId,jdbcType=VARCHAR},
      ns_id = #{nsId,jdbcType=VARCHAR},
      Pc_probability_success = #{pcProbabilitySuccess,jdbcType=REAL},
      "Pc_decision maker" = #{pcDecisionMaker,jdbcType=VARCHAR},
      Pc_negotiation_date = #{pcNegotiationDate,jdbcType=DATE},
      Pc_Appointment_visit_date = #{pcAppointmentVisitDate,jdbcType=DATE},
      Pc_Recent_visit_date = #{pcRecentVisitDate,jdbcType=DATE},
      Pc_Estimated_turnover = #{pcEstimatedTurnover,jdbcType=REAL},
      Pc_Customer_Profile = #{pcCustomerProfile,jdbcType=VARCHAR},
      pc_principalman = #{pcPrincipalman,jdbcType=VARCHAR},
      pc_linkman = #{pcLinkman,jdbcType=VARCHAR},
      pc_linktela = #{pcLinktela,jdbcType=VARCHAR},
      pc_linktelb = #{pcLinktelb,jdbcType=VARCHAR},
      pc_linktelc = #{pcLinktelc,jdbcType=VARCHAR},
      pc_mobilephone = #{pcMobilephone,jdbcType=VARCHAR},
      ada_id = #{adaId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      Pc_servicer = #{pcServicer,jdbcType=VARCHAR},
      pc_taxcheckno = #{pcTaxcheckno,jdbcType=VARCHAR},
      pc_capitalmoney = #{pcCapitalmoney,jdbcType=REAL},
      pc_job = #{pcJob,jdbcType=VARCHAR},
      pc_email = #{pcEmail,jdbcType=VARCHAR},
      pc_webadd = #{pcWebadd,jdbcType=VARCHAR},
      pc_faxno = #{pcFaxno,jdbcType=VARCHAR},
      Pc_Expiry_date = #{pcExpiryDate,jdbcType=DATE},
      pc_salelv = #{pcSalelv,jdbcType=VARCHAR},
      Receivable_id = #{receivableId,jdbcType=VARCHAR},
      pc_cuendorderday = #{pcCuendorderday,jdbcType=DATE},
      It_Accounts_eceivable_subject = #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      pc_discountpoint = #{pcDiscountpoint,jdbcType=REAL},
      pc_honestlv = #{pcHonestlv,jdbcType=VARCHAR},
      pc_cuiftax = #{pcCuiftax,jdbcType=INTEGER},
      It_deposit_received_subject = #{itDepositReceivedSubject,jdbcType=VARCHAR},
      pc_remark = #{pcRemark,jdbcType=VARCHAR},
      pc_Auditing = #{pcAuditing,jdbcType=VARCHAR},
      pc_yn = #{pcYn,jdbcType=VARCHAR},
      pc_custom1 = #{pcCustom1,jdbcType=VARCHAR},
      pc_custom2 = #{pcCustom2,jdbcType=VARCHAR},
      pc_custom3 = #{pcCustom3,jdbcType=VARCHAR},
      pc_custom4 = #{pcCustom4,jdbcType=VARCHAR},
      pc_custom5 = #{pcCustom5,jdbcType=VARCHAR},
      pc_custom6 = #{pcCustom6,jdbcType=VARCHAR}
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Potential_customer">
    <id column="pc_id" jdbcType="VARCHAR" property="pcId" />
    <result column="pc_name" jdbcType="VARCHAR" property="pcName" />
    <result column="pc_easyname" jdbcType="VARCHAR" property="pcEasyname" />
    <result column="pc_english_name" jdbcType="VARCHAR" property="pcEnglishName" />
    <result column="pc_charge_person" jdbcType="VARCHAR" property="pcChargePerson" />
    <result column="pc_type" jdbcType="VARCHAR" property="pcType" />
    <result column="pc_area" jdbcType="VARCHAR" property="pcArea" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="cg_id" jdbcType="VARCHAR" property="cgId" />
    <result column="ns_id" jdbcType="VARCHAR" property="nsId" />
    <result column="Pc_probability_success" jdbcType="REAL" property="pcProbabilitySuccess" />
    <result column="Pc_decision maker" jdbcType="VARCHAR" property="pcDecisionMaker" />
    <result column="Pc_negotiation_date" jdbcType="DATE" property="pcNegotiationDate" />
    <result column="Pc_Appointment_visit_date" jdbcType="DATE" property="pcAppointmentVisitDate" />
    <result column="Pc_Recent_visit_date" jdbcType="DATE" property="pcRecentVisitDate" />
    <result column="Pc_Estimated_turnover" jdbcType="REAL" property="pcEstimatedTurnover" />
    <result column="Pc_Customer_Profile" jdbcType="VARCHAR" property="pcCustomerProfile" />
    <result column="pc_principalman" jdbcType="VARCHAR" property="pcPrincipalman" />
    <result column="pc_linkman" jdbcType="VARCHAR" property="pcLinkman" />
    <result column="pc_linktela" jdbcType="VARCHAR" property="pcLinktela" />
    <result column="pc_linktelb" jdbcType="VARCHAR" property="pcLinktelb" />
    <result column="pc_linktelc" jdbcType="VARCHAR" property="pcLinktelc" />
    <result column="pc_mobilephone" jdbcType="VARCHAR" property="pcMobilephone" />
    <result column="ada_id" jdbcType="VARCHAR" property="adaId" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="Pc_servicer" jdbcType="VARCHAR" property="pcServicer" />
    <result column="pc_taxcheckno" jdbcType="VARCHAR" property="pcTaxcheckno" />
    <result column="pc_capitalmoney" jdbcType="REAL" property="pcCapitalmoney" />
    <result column="pc_job" jdbcType="VARCHAR" property="pcJob" />
    <result column="pc_email" jdbcType="VARCHAR" property="pcEmail" />
    <result column="pc_webadd" jdbcType="VARCHAR" property="pcWebadd" />
    <result column="pc_faxno" jdbcType="VARCHAR" property="pcFaxno" />
    <result column="Pc_Expiry_date" jdbcType="DATE" property="pcExpiryDate" />
    <result column="pc_salelv" jdbcType="VARCHAR" property="pcSalelv" />
    <result column="Receivable_id" jdbcType="VARCHAR" property="receivableId" />
    <result column="pc_cuendorderday" jdbcType="DATE" property="pcCuendorderday" />
    <result column="It_Accounts_eceivable_subject" jdbcType="VARCHAR" property="itAccountsEceivableSubject" />
    <result column="pc_discountpoint" jdbcType="REAL" property="pcDiscountpoint" />
    <result column="pc_honestlv" jdbcType="VARCHAR" property="pcHonestlv" />
    <result column="pc_cuiftax" jdbcType="INTEGER" property="pcCuiftax" />
    <result column="It_deposit_received_subject" jdbcType="VARCHAR" property="itDepositReceivedSubject" />
    <result column="pc_remark" jdbcType="VARCHAR" property="pcRemark" />
    <result column="pc_Auditing" jdbcType="VARCHAR" property="pcAuditing" />
    <result column="pc_yn" jdbcType="VARCHAR" property="pcYn" />
    <result column="pc_custom1" jdbcType="VARCHAR" property="pcCustom1" />
    <result column="pc_custom2" jdbcType="VARCHAR" property="pcCustom2" />
    <result column="pc_custom3" jdbcType="VARCHAR" property="pcCustom3" />
    <result column="pc_custom4" jdbcType="VARCHAR" property="pcCustom4" />
    <result column="pc_custom5" jdbcType="VARCHAR" property="pcCustom5" />
    <result column="pc_custom6" jdbcType="VARCHAR" property="pcCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    pc_id, pc_name, pc_easyname, pc_english_name, pc_charge_person, pc_type, pc_area, 
    currency_id, cg_id, ns_id, Pc_probability_success, "Pc_decision maker", Pc_negotiation_date, 
    Pc_Appointment_visit_date, Pc_Recent_visit_date, Pc_Estimated_turnover, Pc_Customer_Profile, 
    pc_principalman, pc_linkman, pc_linktela, pc_linktelb, pc_linktelc, pc_mobilephone, 
    ada_id, bank_id, Pc_servicer, pc_taxcheckno, pc_capitalmoney, pc_job, pc_email, pc_webadd, 
    pc_faxno, Pc_Expiry_date, pc_salelv, Receivable_id, pc_cuendorderday, It_Accounts_eceivable_subject, 
    pc_discountpoint, pc_honestlv, pc_cuiftax, It_deposit_received_subject, pc_remark, 
    pc_Auditing, pc_yn, pc_custom1, pc_custom2, pc_custom3, pc_custom4, pc_custom5, pc_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from potential_customer
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from potential_customer
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Potential_customer">
    insert into potential_customer (pc_id, pc_name, pc_easyname, 
      pc_english_name, pc_charge_person, pc_type, 
      pc_area, currency_id, cg_id, 
      ns_id, Pc_probability_success, "Pc_decision maker", 
      Pc_negotiation_date, Pc_Appointment_visit_date, Pc_Recent_visit_date, 
      Pc_Estimated_turnover, Pc_Customer_Profile, pc_principalman, 
      pc_linkman, pc_linktela, pc_linktelb, 
      pc_linktelc, pc_mobilephone, ada_id, 
      bank_id, Pc_servicer, pc_taxcheckno, 
      pc_capitalmoney, pc_job, pc_email, 
      pc_webadd, pc_faxno, Pc_Expiry_date, 
      pc_salelv, Receivable_id, pc_cuendorderday, 
      It_Accounts_eceivable_subject, pc_discountpoint, 
      pc_honestlv, pc_cuiftax, It_deposit_received_subject, 
      pc_remark, pc_Auditing, pc_yn, 
      pc_custom1, pc_custom2, pc_custom3, 
      pc_custom4, pc_custom5, pc_custom6
      )
    values (#{pcId,jdbcType=VARCHAR}, #{pcName,jdbcType=VARCHAR}, #{pcEasyname,jdbcType=VARCHAR}, 
      #{pcEnglishName,jdbcType=VARCHAR}, #{pcChargePerson,jdbcType=VARCHAR}, #{pcType,jdbcType=VARCHAR}, 
      #{pcArea,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, #{cgId,jdbcType=VARCHAR}, 
      #{nsId,jdbcType=VARCHAR}, #{pcProbabilitySuccess,jdbcType=REAL}, #{pcDecisionMaker,jdbcType=VARCHAR}, 
      #{pcNegotiationDate,jdbcType=DATE}, #{pcAppointmentVisitDate,jdbcType=DATE}, #{pcRecentVisitDate,jdbcType=DATE}, 
      #{pcEstimatedTurnover,jdbcType=REAL}, #{pcCustomerProfile,jdbcType=VARCHAR}, #{pcPrincipalman,jdbcType=VARCHAR}, 
      #{pcLinkman,jdbcType=VARCHAR}, #{pcLinktela,jdbcType=VARCHAR}, #{pcLinktelb,jdbcType=VARCHAR}, 
      #{pcLinktelc,jdbcType=VARCHAR}, #{pcMobilephone,jdbcType=VARCHAR}, #{adaId,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=VARCHAR}, #{pcServicer,jdbcType=VARCHAR}, #{pcTaxcheckno,jdbcType=VARCHAR}, 
      #{pcCapitalmoney,jdbcType=REAL}, #{pcJob,jdbcType=VARCHAR}, #{pcEmail,jdbcType=VARCHAR}, 
      #{pcWebadd,jdbcType=VARCHAR}, #{pcFaxno,jdbcType=VARCHAR}, #{pcExpiryDate,jdbcType=DATE}, 
      #{pcSalelv,jdbcType=VARCHAR}, #{receivableId,jdbcType=VARCHAR}, #{pcCuendorderday,jdbcType=DATE}, 
      #{itAccountsEceivableSubject,jdbcType=VARCHAR}, #{pcDiscountpoint,jdbcType=REAL}, 
      #{pcHonestlv,jdbcType=VARCHAR}, #{pcCuiftax,jdbcType=INTEGER}, #{itDepositReceivedSubject,jdbcType=VARCHAR}, 
      #{pcRemark,jdbcType=VARCHAR}, #{pcAuditing,jdbcType=VARCHAR}, #{pcYn,jdbcType=VARCHAR}, 
      #{pcCustom1,jdbcType=VARCHAR}, #{pcCustom2,jdbcType=VARCHAR}, #{pcCustom3,jdbcType=VARCHAR}, 
      #{pcCustom4,jdbcType=VARCHAR}, #{pcCustom5,jdbcType=VARCHAR}, #{pcCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Potential_customer">
    insert into potential_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        pc_id,
      </if>
      <if test="pcName != null">
        pc_name,
      </if>
      <if test="pcEasyname != null">
        pc_easyname,
      </if>
      <if test="pcEnglishName != null">
        pc_english_name,
      </if>
      <if test="pcChargePerson != null">
        pc_charge_person,
      </if>
      <if test="pcType != null">
        pc_type,
      </if>
      <if test="pcArea != null">
        pc_area,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="cgId != null">
        cg_id,
      </if>
      <if test="nsId != null">
        ns_id,
      </if>
      <if test="pcProbabilitySuccess != null">
        Pc_probability_success,
      </if>
      <if test="pcDecisionMaker != null">
        "Pc_decision maker",
      </if>
      <if test="pcNegotiationDate != null">
        Pc_negotiation_date,
      </if>
      <if test="pcAppointmentVisitDate != null">
        Pc_Appointment_visit_date,
      </if>
      <if test="pcRecentVisitDate != null">
        Pc_Recent_visit_date,
      </if>
      <if test="pcEstimatedTurnover != null">
        Pc_Estimated_turnover,
      </if>
      <if test="pcCustomerProfile != null">
        Pc_Customer_Profile,
      </if>
      <if test="pcPrincipalman != null">
        pc_principalman,
      </if>
      <if test="pcLinkman != null">
        pc_linkman,
      </if>
      <if test="pcLinktela != null">
        pc_linktela,
      </if>
      <if test="pcLinktelb != null">
        pc_linktelb,
      </if>
      <if test="pcLinktelc != null">
        pc_linktelc,
      </if>
      <if test="pcMobilephone != null">
        pc_mobilephone,
      </if>
      <if test="adaId != null">
        ada_id,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="pcServicer != null">
        Pc_servicer,
      </if>
      <if test="pcTaxcheckno != null">
        pc_taxcheckno,
      </if>
      <if test="pcCapitalmoney != null">
        pc_capitalmoney,
      </if>
      <if test="pcJob != null">
        pc_job,
      </if>
      <if test="pcEmail != null">
        pc_email,
      </if>
      <if test="pcWebadd != null">
        pc_webadd,
      </if>
      <if test="pcFaxno != null">
        pc_faxno,
      </if>
      <if test="pcExpiryDate != null">
        Pc_Expiry_date,
      </if>
      <if test="pcSalelv != null">
        pc_salelv,
      </if>
      <if test="receivableId != null">
        Receivable_id,
      </if>
      <if test="pcCuendorderday != null">
        pc_cuendorderday,
      </if>
      <if test="itAccountsEceivableSubject != null">
        It_Accounts_eceivable_subject,
      </if>
      <if test="pcDiscountpoint != null">
        pc_discountpoint,
      </if>
      <if test="pcHonestlv != null">
        pc_honestlv,
      </if>
      <if test="pcCuiftax != null">
        pc_cuiftax,
      </if>
      <if test="itDepositReceivedSubject != null">
        It_deposit_received_subject,
      </if>
      <if test="pcRemark != null">
        pc_remark,
      </if>
      <if test="pcAuditing != null">
        pc_Auditing,
      </if>
      <if test="pcYn != null">
        pc_yn,
      </if>
      <if test="pcCustom1 != null">
        pc_custom1,
      </if>
      <if test="pcCustom2 != null">
        pc_custom2,
      </if>
      <if test="pcCustom3 != null">
        pc_custom3,
      </if>
      <if test="pcCustom4 != null">
        pc_custom4,
      </if>
      <if test="pcCustom5 != null">
        pc_custom5,
      </if>
      <if test="pcCustom6 != null">
        pc_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pcId != null">
        #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="pcName != null">
        #{pcName,jdbcType=VARCHAR},
      </if>
      <if test="pcEasyname != null">
        #{pcEasyname,jdbcType=VARCHAR},
      </if>
      <if test="pcEnglishName != null">
        #{pcEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="pcChargePerson != null">
        #{pcChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="pcType != null">
        #{pcType,jdbcType=VARCHAR},
      </if>
      <if test="pcArea != null">
        #{pcArea,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="cgId != null">
        #{cgId,jdbcType=VARCHAR},
      </if>
      <if test="nsId != null">
        #{nsId,jdbcType=VARCHAR},
      </if>
      <if test="pcProbabilitySuccess != null">
        #{pcProbabilitySuccess,jdbcType=REAL},
      </if>
      <if test="pcDecisionMaker != null">
        #{pcDecisionMaker,jdbcType=VARCHAR},
      </if>
      <if test="pcNegotiationDate != null">
        #{pcNegotiationDate,jdbcType=DATE},
      </if>
      <if test="pcAppointmentVisitDate != null">
        #{pcAppointmentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcRecentVisitDate != null">
        #{pcRecentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcEstimatedTurnover != null">
        #{pcEstimatedTurnover,jdbcType=REAL},
      </if>
      <if test="pcCustomerProfile != null">
        #{pcCustomerProfile,jdbcType=VARCHAR},
      </if>
      <if test="pcPrincipalman != null">
        #{pcPrincipalman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinkman != null">
        #{pcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktela != null">
        #{pcLinktela,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelb != null">
        #{pcLinktelb,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelc != null">
        #{pcLinktelc,jdbcType=VARCHAR},
      </if>
      <if test="pcMobilephone != null">
        #{pcMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="adaId != null">
        #{adaId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="pcServicer != null">
        #{pcServicer,jdbcType=VARCHAR},
      </if>
      <if test="pcTaxcheckno != null">
        #{pcTaxcheckno,jdbcType=VARCHAR},
      </if>
      <if test="pcCapitalmoney != null">
        #{pcCapitalmoney,jdbcType=REAL},
      </if>
      <if test="pcJob != null">
        #{pcJob,jdbcType=VARCHAR},
      </if>
      <if test="pcEmail != null">
        #{pcEmail,jdbcType=VARCHAR},
      </if>
      <if test="pcWebadd != null">
        #{pcWebadd,jdbcType=VARCHAR},
      </if>
      <if test="pcFaxno != null">
        #{pcFaxno,jdbcType=VARCHAR},
      </if>
      <if test="pcExpiryDate != null">
        #{pcExpiryDate,jdbcType=DATE},
      </if>
      <if test="pcSalelv != null">
        #{pcSalelv,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="pcCuendorderday != null">
        #{pcCuendorderday,jdbcType=DATE},
      </if>
      <if test="itAccountsEceivableSubject != null">
        #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcDiscountpoint != null">
        #{pcDiscountpoint,jdbcType=REAL},
      </if>
      <if test="pcHonestlv != null">
        #{pcHonestlv,jdbcType=VARCHAR},
      </if>
      <if test="pcCuiftax != null">
        #{pcCuiftax,jdbcType=INTEGER},
      </if>
      <if test="itDepositReceivedSubject != null">
        #{itDepositReceivedSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcRemark != null">
        #{pcRemark,jdbcType=VARCHAR},
      </if>
      <if test="pcAuditing != null">
        #{pcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="pcYn != null">
        #{pcYn,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom1 != null">
        #{pcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom2 != null">
        #{pcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom3 != null">
        #{pcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom4 != null">
        #{pcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom5 != null">
        #{pcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom6 != null">
        #{pcCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Potential_customer">
    update potential_customer
    <set>
      <if test="pcName != null">
        pc_name = #{pcName,jdbcType=VARCHAR},
      </if>
      <if test="pcEasyname != null">
        pc_easyname = #{pcEasyname,jdbcType=VARCHAR},
      </if>
      <if test="pcEnglishName != null">
        pc_english_name = #{pcEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="pcChargePerson != null">
        pc_charge_person = #{pcChargePerson,jdbcType=VARCHAR},
      </if>
      <if test="pcType != null">
        pc_type = #{pcType,jdbcType=VARCHAR},
      </if>
      <if test="pcArea != null">
        pc_area = #{pcArea,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="cgId != null">
        cg_id = #{cgId,jdbcType=VARCHAR},
      </if>
      <if test="nsId != null">
        ns_id = #{nsId,jdbcType=VARCHAR},
      </if>
      <if test="pcProbabilitySuccess != null">
        Pc_probability_success = #{pcProbabilitySuccess,jdbcType=REAL},
      </if>
      <if test="pcDecisionMaker != null">
        "Pc_decision maker" = #{pcDecisionMaker,jdbcType=VARCHAR},
      </if>
      <if test="pcNegotiationDate != null">
        Pc_negotiation_date = #{pcNegotiationDate,jdbcType=DATE},
      </if>
      <if test="pcAppointmentVisitDate != null">
        Pc_Appointment_visit_date = #{pcAppointmentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcRecentVisitDate != null">
        Pc_Recent_visit_date = #{pcRecentVisitDate,jdbcType=DATE},
      </if>
      <if test="pcEstimatedTurnover != null">
        Pc_Estimated_turnover = #{pcEstimatedTurnover,jdbcType=REAL},
      </if>
      <if test="pcCustomerProfile != null">
        Pc_Customer_Profile = #{pcCustomerProfile,jdbcType=VARCHAR},
      </if>
      <if test="pcPrincipalman != null">
        pc_principalman = #{pcPrincipalman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinkman != null">
        pc_linkman = #{pcLinkman,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktela != null">
        pc_linktela = #{pcLinktela,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelb != null">
        pc_linktelb = #{pcLinktelb,jdbcType=VARCHAR},
      </if>
      <if test="pcLinktelc != null">
        pc_linktelc = #{pcLinktelc,jdbcType=VARCHAR},
      </if>
      <if test="pcMobilephone != null">
        pc_mobilephone = #{pcMobilephone,jdbcType=VARCHAR},
      </if>
      <if test="adaId != null">
        ada_id = #{adaId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="pcServicer != null">
        Pc_servicer = #{pcServicer,jdbcType=VARCHAR},
      </if>
      <if test="pcTaxcheckno != null">
        pc_taxcheckno = #{pcTaxcheckno,jdbcType=VARCHAR},
      </if>
      <if test="pcCapitalmoney != null">
        pc_capitalmoney = #{pcCapitalmoney,jdbcType=REAL},
      </if>
      <if test="pcJob != null">
        pc_job = #{pcJob,jdbcType=VARCHAR},
      </if>
      <if test="pcEmail != null">
        pc_email = #{pcEmail,jdbcType=VARCHAR},
      </if>
      <if test="pcWebadd != null">
        pc_webadd = #{pcWebadd,jdbcType=VARCHAR},
      </if>
      <if test="pcFaxno != null">
        pc_faxno = #{pcFaxno,jdbcType=VARCHAR},
      </if>
      <if test="pcExpiryDate != null">
        Pc_Expiry_date = #{pcExpiryDate,jdbcType=DATE},
      </if>
      <if test="pcSalelv != null">
        pc_salelv = #{pcSalelv,jdbcType=VARCHAR},
      </if>
      <if test="receivableId != null">
        Receivable_id = #{receivableId,jdbcType=VARCHAR},
      </if>
      <if test="pcCuendorderday != null">
        pc_cuendorderday = #{pcCuendorderday,jdbcType=DATE},
      </if>
      <if test="itAccountsEceivableSubject != null">
        It_Accounts_eceivable_subject = #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcDiscountpoint != null">
        pc_discountpoint = #{pcDiscountpoint,jdbcType=REAL},
      </if>
      <if test="pcHonestlv != null">
        pc_honestlv = #{pcHonestlv,jdbcType=VARCHAR},
      </if>
      <if test="pcCuiftax != null">
        pc_cuiftax = #{pcCuiftax,jdbcType=INTEGER},
      </if>
      <if test="itDepositReceivedSubject != null">
        It_deposit_received_subject = #{itDepositReceivedSubject,jdbcType=VARCHAR},
      </if>
      <if test="pcRemark != null">
        pc_remark = #{pcRemark,jdbcType=VARCHAR},
      </if>
      <if test="pcAuditing != null">
        pc_Auditing = #{pcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="pcYn != null">
        pc_yn = #{pcYn,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom1 != null">
        pc_custom1 = #{pcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom2 != null">
        pc_custom2 = #{pcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom3 != null">
        pc_custom3 = #{pcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom4 != null">
        pc_custom4 = #{pcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom5 != null">
        pc_custom5 = #{pcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="pcCustom6 != null">
        pc_custom6 = #{pcCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Potential_customer">
    update potential_customer
    set pc_name = #{pcName,jdbcType=VARCHAR},
      pc_easyname = #{pcEasyname,jdbcType=VARCHAR},
      pc_english_name = #{pcEnglishName,jdbcType=VARCHAR},
      pc_charge_person = #{pcChargePerson,jdbcType=VARCHAR},
      pc_type = #{pcType,jdbcType=VARCHAR},
      pc_area = #{pcArea,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      cg_id = #{cgId,jdbcType=VARCHAR},
      ns_id = #{nsId,jdbcType=VARCHAR},
      Pc_probability_success = #{pcProbabilitySuccess,jdbcType=REAL},
      "Pc_decision maker" = #{pcDecisionMaker,jdbcType=VARCHAR},
      Pc_negotiation_date = #{pcNegotiationDate,jdbcType=DATE},
      Pc_Appointment_visit_date = #{pcAppointmentVisitDate,jdbcType=DATE},
      Pc_Recent_visit_date = #{pcRecentVisitDate,jdbcType=DATE},
      Pc_Estimated_turnover = #{pcEstimatedTurnover,jdbcType=REAL},
      Pc_Customer_Profile = #{pcCustomerProfile,jdbcType=VARCHAR},
      pc_principalman = #{pcPrincipalman,jdbcType=VARCHAR},
      pc_linkman = #{pcLinkman,jdbcType=VARCHAR},
      pc_linktela = #{pcLinktela,jdbcType=VARCHAR},
      pc_linktelb = #{pcLinktelb,jdbcType=VARCHAR},
      pc_linktelc = #{pcLinktelc,jdbcType=VARCHAR},
      pc_mobilephone = #{pcMobilephone,jdbcType=VARCHAR},
      ada_id = #{adaId,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=VARCHAR},
      Pc_servicer = #{pcServicer,jdbcType=VARCHAR},
      pc_taxcheckno = #{pcTaxcheckno,jdbcType=VARCHAR},
      pc_capitalmoney = #{pcCapitalmoney,jdbcType=REAL},
      pc_job = #{pcJob,jdbcType=VARCHAR},
      pc_email = #{pcEmail,jdbcType=VARCHAR},
      pc_webadd = #{pcWebadd,jdbcType=VARCHAR},
      pc_faxno = #{pcFaxno,jdbcType=VARCHAR},
      Pc_Expiry_date = #{pcExpiryDate,jdbcType=DATE},
      pc_salelv = #{pcSalelv,jdbcType=VARCHAR},
      Receivable_id = #{receivableId,jdbcType=VARCHAR},
      pc_cuendorderday = #{pcCuendorderday,jdbcType=DATE},
      It_Accounts_eceivable_subject = #{itAccountsEceivableSubject,jdbcType=VARCHAR},
      pc_discountpoint = #{pcDiscountpoint,jdbcType=REAL},
      pc_honestlv = #{pcHonestlv,jdbcType=VARCHAR},
      pc_cuiftax = #{pcCuiftax,jdbcType=INTEGER},
      It_deposit_received_subject = #{itDepositReceivedSubject,jdbcType=VARCHAR},
      pc_remark = #{pcRemark,jdbcType=VARCHAR},
      pc_Auditing = #{pcAuditing,jdbcType=VARCHAR},
      pc_yn = #{pcYn,jdbcType=VARCHAR},
      pc_custom1 = #{pcCustom1,jdbcType=VARCHAR},
      pc_custom2 = #{pcCustom2,jdbcType=VARCHAR},
      pc_custom3 = #{pcCustom3,jdbcType=VARCHAR},
      pc_custom4 = #{pcCustom4,jdbcType=VARCHAR},
      pc_custom5 = #{pcCustom5,jdbcType=VARCHAR},
      pc_custom6 = #{pcCustom6,jdbcType=VARCHAR}
    where pc_id = #{pcId,jdbcType=VARCHAR}
  </update>
</mapper>