<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.PriadetailsMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Priadetails">
    <id column="Priadetails_id" jdbcType="VARCHAR" property="priadetailsId" />
    <result column="Priabill_id" jdbcType="VARCHAR" property="priabillId" />
    <result column="Priabill_price" jdbcType="REAL" property="priabillPrice" />
    <result column="Priabill_type" jdbcType="VARCHAR" property="priabillType" />
    <result column="Priabill_number" jdbcType="VARCHAR" property="priabillNumber" />
    <result column="Priabill_remarks" jdbcType="VARCHAR" property="priabillRemarks" />
    <result column="Priabill_Auditing" jdbcType="VARCHAR" property="priabillAuditing" />
    <result column="Priabill_yn" jdbcType="VARCHAR" property="priabillYn" />
    <result column="Priabill_custom1" jdbcType="VARCHAR" property="priabillCustom1" />
    <result column="Priabill_custom2" jdbcType="VARCHAR" property="priabillCustom2" />
    <result column="Priabill_custom3" jdbcType="VARCHAR" property="priabillCustom3" />
    <result column="Priabill_custom4" jdbcType="VARCHAR" property="priabillCustom4" />
    <result column="Priabill_custom5" jdbcType="VARCHAR" property="priabillCustom5" />
    <result column="Priabill_custom6" jdbcType="VARCHAR" property="priabillCustom6" />
    <result column="Priabill_custom7" jdbcType="VARCHAR" property="priabillCustom7" />
    <result column="Priabill_custom8" jdbcType="VARCHAR" property="priabillCustom8" />
    <result column="Priabill_custom9" jdbcType="VARCHAR" property="priabillCustom9" />
    <result column="Priabill_custom10" jdbcType="VARCHAR" property="priabillCustom10" />
  </resultMap>
  <sql id="Base_Column_List">
    Priadetails_id, Priabill_id, Priabill_price, Priabill_type, Priabill_number, Priabill_remarks, 
    Priabill_Auditing, Priabill_yn, Priabill_custom1, Priabill_custom2, Priabill_custom3, 
    Priabill_custom4, Priabill_custom5, Priabill_custom6, Priabill_custom7, Priabill_custom8, 
    Priabill_custom9, Priabill_custom10
  </sql>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from priadetails 
	    where Priabill_yn=0   
	    ORDER BY Priadetails_id DESC
  </select>
  
  <select id="selectAllBySupplier" parameterType="java.lang.String" resultMap="BaseResultMap">
	    SELECT priadetails.Priadetails_id,priadetails.Priabill_id,priadetails.Priabill_price,priadetails.Priabill_type,
priadetails.Priabill_number,priadetails.Priabill_remarks,
priadetails.Priabill_Auditing,priadetails.Priabill_yn,priadetails.Priabill_custom1,priadetails.Priabill_custom2,
priadetails.Priabill_custom3,
priadetails.Priabill_custom4,priadetails.Priabill_custom5,
 priadetails.Priabill_custom6,priadetails.Priabill_custom7,priadetails.Priabill_custom8,priadetails.Priabill_custom9,
 priadetails.Priabill_custom10 
 FROM priadetails,priabill 
	    WHERE priabill.priabill_yn=0 AND priabill.priabill_supplier_name=#{priabillCustom10,jdbcType=VARCHAR}  AND 
	    priadetails.Priabill_id=priabill.priabill_id AND priabill.`priabill_Auditing`=1 
	     AND priadetails.Priabill_custom6 is null            
	    ORDER BY priadetails.Priadetails_id DESC
  </select>
  
  <select id="selectAllBySupplier2" parameterType="java.lang.String" resultMap="BaseResultMap">
	    SELECT priadetails.Priadetails_id,priadetails.Priabill_id,priadetails.Priabill_price,priadetails.Priabill_type,
priadetails.Priabill_number,priadetails.Priabill_remarks,
priadetails.Priabill_Auditing,priadetails.Priabill_yn,priadetails.Priabill_custom1,priadetails.Priabill_custom2,
priadetails.Priabill_custom3,
priadetails.Priabill_custom4,priadetails.Priabill_custom5,
 priadetails.Priabill_custom6,priadetails.Priabill_custom7,priadetails.Priabill_custom8,priadetails.Priabill_custom9,
 priadetails.Priabill_custom10 
 FROM priadetails,priabill 
	    WHERE priabill.priabill_yn=0 AND priabill.priabill_supplier_name=#{priabillCustom10,jdbcType=VARCHAR}  AND 
	    priadetails.Priabill_id=priabill.priabill_id AND priabill.`priabill_Auditing`=1 
	     AND priadetails.Priabill_custom6 = '1'            
	    ORDER BY priadetails.Priadetails_id DESC
  </select>
  
  <select id="selectByPriabillSupplierName" parameterType="com.apatech.domain.Priadetails" resultMap="BaseResultMap">
	    SELECT priadetails.Priadetails_id,priadetails.Priabill_id,priadetails.Priabill_price, 
	    priadetails.Priabill_type,priadetails.Priabill_number,priadetails.Priabill_remarks, 
	    priadetails.Priabill_Auditing,priadetails.Priabill_yn,priadetails.Priabill_custom1, 
	    priadetails.Priabill_custom2,priadetails.Priabill_custom3,priadetails.Priabill_custom4,
	    priadetails.Priabill_custom5,priadetails.Priabill_custom6,priadetails.Priabill_custom7, 
	    priadetails.Priabill_custom8,priadetails.Priabill_custom9,priadetails.Priabill_custom10 
	    FROM priadetails WHERE priadetails.Priabill_id=#{priabillId,jdbcType=VARCHAR} 
	    AND priadetails.Priabill_yn=0   
	    ORDER BY priadetails.Priadetails_id DESC
  </select>
  
  <select id="selectByPrimaryKey2" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from priadetails
    where Priabill_id = #{Priabill_id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectCount"  resultType="Integer">
  		SELECT COUNT(*) FROM priadetails  WHERE Priabill_yn=0 
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from priadetails
    where Priadetails_id = #{priadetailsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from priadetails
    where Priadetails_id = #{priadetailsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKeyXuzhe" parameterType="java.lang.String">
    delete from priadetails
    where Priabill_id = #{priabillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Priadetails">
    insert into priadetails (Priadetails_id, Priabill_id, Priabill_price, 
      Priabill_type, Priabill_number, Priabill_remarks, 
      Priabill_Auditing, Priabill_yn, Priabill_custom1, 
      Priabill_custom2, Priabill_custom3, Priabill_custom4, 
      Priabill_custom5, Priabill_custom6, Priabill_custom7, 
      Priabill_custom8, Priabill_custom9, Priabill_custom10
      )
    values (#{priadetailsId,jdbcType=VARCHAR}, #{priabillId,jdbcType=VARCHAR}, #{priabillPrice,jdbcType=REAL}, 
      #{priabillType,jdbcType=VARCHAR}, #{priabillNumber,jdbcType=VARCHAR}, #{priabillRemarks,jdbcType=VARCHAR}, 
      #{priabillAuditing,jdbcType=VARCHAR}, #{priabillYn,jdbcType=VARCHAR}, #{priabillCustom1,jdbcType=VARCHAR}, 
      #{priabillCustom2,jdbcType=VARCHAR}, #{priabillCustom3,jdbcType=VARCHAR}, #{priabillCustom4,jdbcType=VARCHAR}, 
      #{priabillCustom5,jdbcType=VARCHAR}, #{priabillCustom6,jdbcType=VARCHAR}, #{priabillCustom7,jdbcType=VARCHAR}, 
      #{priabillCustom8,jdbcType=VARCHAR}, #{priabillCustom9,jdbcType=VARCHAR}, #{priabillCustom10,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Priadetails">
    insert into priadetails
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="priadetailsId != null">
        Priadetails_id,
      </if>
      <if test="priabillId != null">
        Priabill_id,
      </if>
      <if test="priabillPrice != null">
        Priabill_price,
      </if>
      <if test="priabillType != null">
        Priabill_type,
      </if>
      <if test="priabillNumber != null">
        Priabill_number,
      </if>
      <if test="priabillRemarks != null">
        Priabill_remarks,
      </if>
      <if test="priabillAuditing != null">
        Priabill_Auditing,
      </if>
      <if test="priabillYn != null">
        Priabill_yn,
      </if>
      <if test="priabillCustom1 != null">
        Priabill_custom1,
      </if>
      <if test="priabillCustom2 != null">
        Priabill_custom2,
      </if>
      <if test="priabillCustom3 != null">
        Priabill_custom3,
      </if>
      <if test="priabillCustom4 != null">
        Priabill_custom4,
      </if>
      <if test="priabillCustom5 != null">
        Priabill_custom5,
      </if>
      <if test="priabillCustom6 != null">
        Priabill_custom6,
      </if>
      <if test="priabillCustom7 != null">
        Priabill_custom7,
      </if>
      <if test="priabillCustom8 != null">
        Priabill_custom8,
      </if>
      <if test="priabillCustom9 != null">
        Priabill_custom9,
      </if>
      <if test="priabillCustom10 != null">
        Priabill_custom10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="priadetailsId != null">
        #{priadetailsId,jdbcType=VARCHAR},
      </if>
      <if test="priabillId != null">
        #{priabillId,jdbcType=VARCHAR},
      </if>
      <if test="priabillPrice != null">
        #{priabillPrice,jdbcType=REAL},
      </if>
      <if test="priabillType != null">
        #{priabillType,jdbcType=VARCHAR},
      </if>
      <if test="priabillNumber != null">
        #{priabillNumber,jdbcType=VARCHAR},
      </if>
      <if test="priabillRemarks != null">
        #{priabillRemarks,jdbcType=VARCHAR},
      </if>
      <if test="priabillAuditing != null">
        #{priabillAuditing,jdbcType=VARCHAR},
      </if>
      <if test="priabillYn != null">
        #{priabillYn,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom1 != null">
        #{priabillCustom1,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom2 != null">
        #{priabillCustom2,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom3 != null">
        #{priabillCustom3,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom4 != null">
        #{priabillCustom4,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom5 != null">
        #{priabillCustom5,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom6 != null">
        #{priabillCustom6,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom7 != null">
        #{priabillCustom7,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom8 != null">
        #{priabillCustom8,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom9 != null">
        #{priabillCustom9,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom10 != null">
        #{priabillCustom10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Priadetails">
    update priadetails
    <set>
      <if test="priabillId != null">
        Priabill_id = #{priabillId,jdbcType=VARCHAR},
      </if>
      <if test="priabillPrice != null">
        Priabill_price = #{priabillPrice,jdbcType=REAL},
      </if>
      <if test="priabillType != null">
        Priabill_type = #{priabillType,jdbcType=VARCHAR},
      </if>
      <if test="priabillNumber != null">
        Priabill_number = #{priabillNumber,jdbcType=VARCHAR},
      </if>
      <if test="priabillRemarks != null">
        Priabill_remarks = #{priabillRemarks,jdbcType=VARCHAR},
      </if>
      <if test="priabillAuditing != null">
        Priabill_Auditing = #{priabillAuditing,jdbcType=VARCHAR},
      </if>
      <if test="priabillYn != null">
        Priabill_yn = #{priabillYn,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom1 != null">
        Priabill_custom1 = #{priabillCustom1,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom2 != null">
        Priabill_custom2 = #{priabillCustom2,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom3 != null">
        Priabill_custom3 = #{priabillCustom3,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom4 != null">
        Priabill_custom4 = #{priabillCustom4,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom5 != null">
        Priabill_custom5 = #{priabillCustom5,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom6 != null">
        Priabill_custom6 = #{priabillCustom6,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom7 != null">
        Priabill_custom7 = #{priabillCustom7,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom8 != null">
        Priabill_custom8 = #{priabillCustom8,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom9 != null">
        Priabill_custom9 = #{priabillCustom9,jdbcType=VARCHAR},
      </if>
      <if test="priabillCustom10 != null">
        Priabill_custom10 = #{priabillCustom10,jdbcType=VARCHAR},
      </if>
    </set>
    where Priadetails_id = #{priadetailsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Priadetails">
    update priadetails
    set Priabill_id = #{priabillId,jdbcType=VARCHAR},
      Priabill_price = #{priabillPrice,jdbcType=REAL},
      Priabill_type = #{priabillType,jdbcType=VARCHAR},
      Priabill_number = #{priabillNumber,jdbcType=VARCHAR},
      Priabill_remarks = #{priabillRemarks,jdbcType=VARCHAR},
      Priabill_Auditing = #{priabillAuditing,jdbcType=VARCHAR},
      Priabill_yn = #{priabillYn,jdbcType=VARCHAR},
      Priabill_custom1 = #{priabillCustom1,jdbcType=VARCHAR},
      Priabill_custom2 = #{priabillCustom2,jdbcType=VARCHAR},
      Priabill_custom3 = #{priabillCustom3,jdbcType=VARCHAR},
      Priabill_custom4 = #{priabillCustom4,jdbcType=VARCHAR},
      Priabill_custom5 = #{priabillCustom5,jdbcType=VARCHAR},
      Priabill_custom6 = #{priabillCustom6,jdbcType=VARCHAR},
      Priabill_custom7 = #{priabillCustom7,jdbcType=VARCHAR},
      Priabill_custom8 = #{priabillCustom8,jdbcType=VARCHAR},
      Priabill_custom9 = #{priabillCustom9,jdbcType=VARCHAR},
      Priabill_custom10 = #{priabillCustom10,jdbcType=VARCHAR}
    where Priadetails_id = #{priadetailsId,jdbcType=VARCHAR}
  </update>
</mapper>