<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.PtmanagementMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Ptmanagement">
    <id column="ptID" jdbcType="INTEGER" property="ptid" />
    <result column="privilegeTypeID" jdbcType="INTEGER" property="privilegetypeid" />
    <result column="privilegeID" jdbcType="INTEGER" property="privilegeid" />
  </resultMap>
  <select id="queryByID" parameterType="com.apatech.domain.Ptmanagement" resultMap="BaseResultMap">
  	SELECT privilege.`privilegeID`,privilege.`privilegeName` FROM ptmanagement,privilege WHERE privilegeTypeID = #{privilegetypeid,jdbcType=INTEGER} AND ptmanagement.`privilegeID`=privilege.`privilegeID`
  </select>
  <sql id="Base_Column_List">
    ptID, privilegeTypeID, privilegeID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ptmanagement
    where ptID = #{ptid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ptmanagement
    where ptID = #{ptid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Ptmanagement">
    insert into ptmanagement (ptID, privilegeTypeID, privilegeID
      )
    values (#{ptid,jdbcType=INTEGER}, #{privilegetypeid,jdbcType=INTEGER}, #{privilegeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Ptmanagement">
    insert into ptmanagement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ptid != null">
        ptID,
      </if>
      <if test="privilegetypeid != null">
        privilegeTypeID,
      </if>
      <if test="privilegeid != null">
        privilegeID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ptid != null">
        #{ptid,jdbcType=INTEGER},
      </if>
      <if test="privilegetypeid != null">
        #{privilegetypeid,jdbcType=INTEGER},
      </if>
      <if test="privilegeid != null">
        #{privilegeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Ptmanagement">
    update ptmanagement
    <set>
      <if test="privilegetypeid != null">
        privilegeTypeID = #{privilegetypeid,jdbcType=INTEGER},
      </if>
      <if test="privilegeid != null">
        privilegeID = #{privilegeid,jdbcType=INTEGER},
      </if>
    </set>
    where ptID = #{ptid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Ptmanagement">
    update ptmanagement
    set privilegeTypeID = #{privilegetypeid,jdbcType=INTEGER},
      privilegeID = #{privilegeid,jdbcType=INTEGER}
    where ptID = #{ptid,jdbcType=INTEGER}
  </update>
</mapper>