<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Purchase_inquiry_detailedMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Purchase_inquiry_detailed">
    <id column="did_id" jdbcType="VARCHAR" property="didId" />
    <result column="pi_id" jdbcType="VARCHAR" property="piId" />
    <result column="did_matter_id" jdbcType="VARCHAR" property="didMatterId" />
    <result column="did_matter_name" jdbcType="VARCHAR" property="didMatterName" />
    <result column="did_specifications" jdbcType="VARCHAR" property="didSpecifications" />
    <result column="did_company_name" jdbcType="VARCHAR" property="didCompanyName" />
    <result column="did_amount" jdbcType="INTEGER" property="didAmount" />
    <result column="did_money_discount_before" jdbcType="REAL" property="didMoneyDiscountBefore" />
    <result column="did_discount_number" jdbcType="VARCHAR" property="didDiscountNumber" />
    <result column="did_price" jdbcType="REAL" property="didPrice" />
    <result column="did_money" jdbcType="REAL" property="didMoney" />
    <result column="did_tax_rate" jdbcType="REAL" property="didTaxRate" />
    <result column="did_tax_amount" jdbcType="REAL" property="didTaxAmount" />
    <result column="did_include_tax_amount" jdbcType="REAL" property="didIncludeTaxAmount" />
    <result column="did_ifgift" jdbcType="VARCHAR" property="didIfgift" />
    <result column="did_remarks" jdbcType="VARCHAR" property="didRemarks" />
    <result column="did_source_order" jdbcType="VARCHAR" property="didSourceOrder" />
    <result column="did_source_no" jdbcType="VARCHAR" property="didSourceNo" />
    <result column="did_audition" jdbcType="VARCHAR" property="didAudition" />
    <result column="did_yn" jdbcType="VARCHAR" property="didYn" />
    <result column="did_custom1" jdbcType="VARCHAR" property="didCustom1" />
    <result column="did_custom2" jdbcType="VARCHAR" property="didCustom2" />
    <result column="did_custom3" jdbcType="VARCHAR" property="didCustom3" />
    <result column="did_custom4" jdbcType="VARCHAR" property="didCustom4" />
    <result column="did_custom5" jdbcType="VARCHAR" property="didCustom5" />
    <result column="did_custom6" jdbcType="VARCHAR" property="didCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    did_id, pi_id, did_matter_id, did_matter_name, did_specifications, did_company_name, 
    did_amount, did_money_discount_before, did_discount_number, did_price, did_money, 
    did_tax_rate, did_tax_amount, did_include_tax_amount, did_ifgift, did_remarks, did_source_order, 
    did_source_no, did_audition, did_yn, did_custom1, did_custom2, did_custom3, did_custom4, 
    did_custom5, did_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_inquiry_detailed
    where did_id = #{didId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from purchase_inquiry_detailed
    where did_id = #{didId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Purchase_inquiry_detailed">
    insert into purchase_inquiry_detailed (did_id, pi_id, did_matter_id, 
      did_matter_name, did_specifications, did_company_name, 
      did_amount, did_money_discount_before, did_discount_number, 
      did_price, did_money, did_tax_rate, 
      did_tax_amount, did_include_tax_amount, did_ifgift, 
      did_remarks, did_source_order, did_source_no, 
      did_audition, did_yn, did_custom1, 
      did_custom2, did_custom3, did_custom4, 
      did_custom5, did_custom6)
    values (#{didId,jdbcType=VARCHAR}, #{piId,jdbcType=VARCHAR}, #{didMatterId,jdbcType=VARCHAR}, 
      #{didMatterName,jdbcType=VARCHAR}, #{didSpecifications,jdbcType=VARCHAR}, #{didCompanyName,jdbcType=VARCHAR}, 
      #{didAmount,jdbcType=INTEGER}, #{didMoneyDiscountBefore,jdbcType=REAL}, #{didDiscountNumber,jdbcType=VARCHAR}, 
      #{didPrice,jdbcType=REAL}, #{didMoney,jdbcType=REAL}, #{didTaxRate,jdbcType=REAL}, 
      #{didTaxAmount,jdbcType=REAL}, #{didIncludeTaxAmount,jdbcType=REAL}, #{didIfgift,jdbcType=VARCHAR}, 
      #{didRemarks,jdbcType=VARCHAR}, #{didSourceOrder,jdbcType=VARCHAR}, #{didSourceNo,jdbcType=VARCHAR}, 
      #{didAudition,jdbcType=VARCHAR}, #{didYn,jdbcType=VARCHAR}, #{didCustom1,jdbcType=VARCHAR}, 
      #{didCustom2,jdbcType=VARCHAR}, #{didCustom3,jdbcType=VARCHAR}, #{didCustom4,jdbcType=VARCHAR}, 
      #{didCustom5,jdbcType=VARCHAR}, #{didCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Purchase_inquiry_detailed">
    insert into purchase_inquiry_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="didId != null">
        did_id,
      </if>
      <if test="piId != null">
        pi_id,
      </if>
      <if test="didMatterId != null">
        did_matter_id,
      </if>
      <if test="didMatterName != null">
        did_matter_name,
      </if>
      <if test="didSpecifications != null">
        did_specifications,
      </if>
      <if test="didCompanyName != null">
        did_company_name,
      </if>
      <if test="didAmount != null">
        did_amount,
      </if>
      <if test="didMoneyDiscountBefore != null">
        did_money_discount_before,
      </if>
      <if test="didDiscountNumber != null">
        did_discount_number,
      </if>
      <if test="didPrice != null">
        did_price,
      </if>
      <if test="didMoney != null">
        did_money,
      </if>
      <if test="didTaxRate != null">
        did_tax_rate,
      </if>
      <if test="didTaxAmount != null">
        did_tax_amount,
      </if>
      <if test="didIncludeTaxAmount != null">
        did_include_tax_amount,
      </if>
      <if test="didIfgift != null">
        did_ifgift,
      </if>
      <if test="didRemarks != null">
        did_remarks,
      </if>
      <if test="didSourceOrder != null">
        did_source_order,
      </if>
      <if test="didSourceNo != null">
        did_source_no,
      </if>
      <if test="didAudition != null">
        did_audition,
      </if>
      <if test="didYn != null">
        did_yn,
      </if>
      <if test="didCustom1 != null">
        did_custom1,
      </if>
      <if test="didCustom2 != null">
        did_custom2,
      </if>
      <if test="didCustom3 != null">
        did_custom3,
      </if>
      <if test="didCustom4 != null">
        did_custom4,
      </if>
      <if test="didCustom5 != null">
        did_custom5,
      </if>
      <if test="didCustom6 != null">
        did_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="didId != null">
        #{didId,jdbcType=VARCHAR},
      </if>
      <if test="piId != null">
        #{piId,jdbcType=VARCHAR},
      </if>
      <if test="didMatterId != null">
        #{didMatterId,jdbcType=VARCHAR},
      </if>
      <if test="didMatterName != null">
        #{didMatterName,jdbcType=VARCHAR},
      </if>
      <if test="didSpecifications != null">
        #{didSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="didCompanyName != null">
        #{didCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="didAmount != null">
        #{didAmount,jdbcType=INTEGER},
      </if>
      <if test="didMoneyDiscountBefore != null">
        #{didMoneyDiscountBefore,jdbcType=REAL},
      </if>
      <if test="didDiscountNumber != null">
        #{didDiscountNumber,jdbcType=VARCHAR},
      </if>
      <if test="didPrice != null">
        #{didPrice,jdbcType=REAL},
      </if>
      <if test="didMoney != null">
        #{didMoney,jdbcType=REAL},
      </if>
      <if test="didTaxRate != null">
        #{didTaxRate,jdbcType=REAL},
      </if>
      <if test="didTaxAmount != null">
        #{didTaxAmount,jdbcType=REAL},
      </if>
      <if test="didIncludeTaxAmount != null">
        #{didIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="didIfgift != null">
        #{didIfgift,jdbcType=VARCHAR},
      </if>
      <if test="didRemarks != null">
        #{didRemarks,jdbcType=VARCHAR},
      </if>
      <if test="didSourceOrder != null">
        #{didSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="didSourceNo != null">
        #{didSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="didAudition != null">
        #{didAudition,jdbcType=VARCHAR},
      </if>
      <if test="didYn != null">
        #{didYn,jdbcType=VARCHAR},
      </if>
      <if test="didCustom1 != null">
        #{didCustom1,jdbcType=VARCHAR},
      </if>
      <if test="didCustom2 != null">
        #{didCustom2,jdbcType=VARCHAR},
      </if>
      <if test="didCustom3 != null">
        #{didCustom3,jdbcType=VARCHAR},
      </if>
      <if test="didCustom4 != null">
        #{didCustom4,jdbcType=VARCHAR},
      </if>
      <if test="didCustom5 != null">
        #{didCustom5,jdbcType=VARCHAR},
      </if>
      <if test="didCustom6 != null">
        #{didCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Purchase_inquiry_detailed">
    update purchase_inquiry_detailed
    <set>
      <if test="piId != null">
        pi_id = #{piId,jdbcType=VARCHAR},
      </if>
      <if test="didMatterId != null">
        did_matter_id = #{didMatterId,jdbcType=VARCHAR},
      </if>
      <if test="didMatterName != null">
        did_matter_name = #{didMatterName,jdbcType=VARCHAR},
      </if>
      <if test="didSpecifications != null">
        did_specifications = #{didSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="didCompanyName != null">
        did_company_name = #{didCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="didAmount != null">
        did_amount = #{didAmount,jdbcType=INTEGER},
      </if>
      <if test="didMoneyDiscountBefore != null">
        did_money_discount_before = #{didMoneyDiscountBefore,jdbcType=REAL},
      </if>
      <if test="didDiscountNumber != null">
        did_discount_number = #{didDiscountNumber,jdbcType=VARCHAR},
      </if>
      <if test="didPrice != null">
        did_price = #{didPrice,jdbcType=REAL},
      </if>
      <if test="didMoney != null">
        did_money = #{didMoney,jdbcType=REAL},
      </if>
      <if test="didTaxRate != null">
        did_tax_rate = #{didTaxRate,jdbcType=REAL},
      </if>
      <if test="didTaxAmount != null">
        did_tax_amount = #{didTaxAmount,jdbcType=REAL},
      </if>
      <if test="didIncludeTaxAmount != null">
        did_include_tax_amount = #{didIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="didIfgift != null">
        did_ifgift = #{didIfgift,jdbcType=VARCHAR},
      </if>
      <if test="didRemarks != null">
        did_remarks = #{didRemarks,jdbcType=VARCHAR},
      </if>
      <if test="didSourceOrder != null">
        did_source_order = #{didSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="didSourceNo != null">
        did_source_no = #{didSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="didAudition != null">
        did_audition = #{didAudition,jdbcType=VARCHAR},
      </if>
      <if test="didYn != null">
        did_yn = #{didYn,jdbcType=VARCHAR},
      </if>
      <if test="didCustom1 != null">
        did_custom1 = #{didCustom1,jdbcType=VARCHAR},
      </if>
      <if test="didCustom2 != null">
        did_custom2 = #{didCustom2,jdbcType=VARCHAR},
      </if>
      <if test="didCustom3 != null">
        did_custom3 = #{didCustom3,jdbcType=VARCHAR},
      </if>
      <if test="didCustom4 != null">
        did_custom4 = #{didCustom4,jdbcType=VARCHAR},
      </if>
      <if test="didCustom5 != null">
        did_custom5 = #{didCustom5,jdbcType=VARCHAR},
      </if>
      <if test="didCustom6 != null">
        did_custom6 = #{didCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where did_id = #{didId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Purchase_inquiry_detailed">
    update purchase_inquiry_detailed
    set pi_id = #{piId,jdbcType=VARCHAR},
      did_matter_id = #{didMatterId,jdbcType=VARCHAR},
      did_matter_name = #{didMatterName,jdbcType=VARCHAR},
      did_specifications = #{didSpecifications,jdbcType=VARCHAR},
      did_company_name = #{didCompanyName,jdbcType=VARCHAR},
      did_amount = #{didAmount,jdbcType=INTEGER},
      did_money_discount_before = #{didMoneyDiscountBefore,jdbcType=REAL},
      did_discount_number = #{didDiscountNumber,jdbcType=VARCHAR},
      did_price = #{didPrice,jdbcType=REAL},
      did_money = #{didMoney,jdbcType=REAL},
      did_tax_rate = #{didTaxRate,jdbcType=REAL},
      did_tax_amount = #{didTaxAmount,jdbcType=REAL},
      did_include_tax_amount = #{didIncludeTaxAmount,jdbcType=REAL},
      did_ifgift = #{didIfgift,jdbcType=VARCHAR},
      did_remarks = #{didRemarks,jdbcType=VARCHAR},
      did_source_order = #{didSourceOrder,jdbcType=VARCHAR},
      did_source_no = #{didSourceNo,jdbcType=VARCHAR},
      did_audition = #{didAudition,jdbcType=VARCHAR},
      did_yn = #{didYn,jdbcType=VARCHAR},
      did_custom1 = #{didCustom1,jdbcType=VARCHAR},
      did_custom2 = #{didCustom2,jdbcType=VARCHAR},
      did_custom3 = #{didCustom3,jdbcType=VARCHAR},
      did_custom4 = #{didCustom4,jdbcType=VARCHAR},
      did_custom5 = #{didCustom5,jdbcType=VARCHAR},
      did_custom6 = #{didCustom6,jdbcType=VARCHAR}
    where did_id = #{didId,jdbcType=VARCHAR}
  </update>
</mapper>