<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Purchase_requisition_detailedMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Purchase_requisition_detailed">
    <id column="prd_id" jdbcType="VARCHAR" property="prdId" />
    <result column="pr_id" jdbcType="VARCHAR" property="prId" />
    <result column="pr_matter_id" jdbcType="VARCHAR" property="prMatterId" />
    <result column="prd_matter_name" jdbcType="VARCHAR" property="prdMatterName" />
    <result column="prd_specifications" jdbcType="VARCHAR" property="prdSpecifications" />
    <result column="prd_company_name" jdbcType="VARCHAR" property="prdCompanyName" />
    <result column="prd_amount" jdbcType="INTEGER" property="prdAmount" />
    <result column="prd_currency_id" jdbcType="VARCHAR" property="prdCurrencyId" />
    <result column="prd_standard_price" jdbcType="REAL" property="prdStandardPrice" />
    <result column="prd_standard_purchase_amount" jdbcType="REAL" property="prdStandardPurchaseAmount" />
    <result column="prd_unit_price" jdbcType="REAL" property="prdUnitPrice" />
    <result column="prd_incoming_amount" jdbcType="REAL" property="prdIncomingAmount" />
    <result column="prd_demand_date" jdbcType="DATE" property="prdDemandDate" />
    <result column="prd_recommended_procurement_date" jdbcType="DATE" property="prdRecommendedProcurementDate" />
    <result column="prd_unpurchased_quantity" jdbcType="INTEGER" property="prdUnpurchasedQuantity" />
    <result column="prd_remarks" jdbcType="VARCHAR" property="prdRemarks" />
    <result column="prd_source_order" jdbcType="VARCHAR" property="prdSourceOrder" />
    <result column="prd_source_no" jdbcType="VARCHAR" property="prdSourceNo" />
    <result column="prd_audition" jdbcType="VARCHAR" property="prdAudition" />
    <result column="prd_yn" jdbcType="VARCHAR" property="prdYn" />
    <result column="prd_custom1" jdbcType="VARCHAR" property="prdCustom1" />
    <result column="prd_custom2" jdbcType="VARCHAR" property="prdCustom2" />
    <result column="prd_custom3" jdbcType="VARCHAR" property="prdCustom3" />
    <result column="prd_custom4" jdbcType="VARCHAR" property="prdCustom4" />
    <result column="prd_custom5" jdbcType="VARCHAR" property="prdCustom5" />
    <result column="prd_custom6" jdbcType="VARCHAR" property="prdCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    prd_id, pr_id, pr_matter_id, prd_matter_name, prd_specifications, prd_company_name, 
    prd_amount, prd_currency_id, prd_standard_price, prd_standard_purchase_amount, prd_unit_price, 
    prd_incoming_amount, prd_demand_date, prd_recommended_procurement_date, prd_unpurchased_quantity, 
    prd_remarks, prd_source_order, prd_source_no, prd_audition, prd_yn, prd_custom1, 
    prd_custom2, prd_custom3, prd_custom4, prd_custom5, prd_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_requisition_detailed
    where prd_id = #{prdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from purchase_requisition_detailed
    where prd_id = #{prdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Purchase_requisition_detailed">
    insert into purchase_requisition_detailed (prd_id, pr_id, pr_matter_id, 
      prd_matter_name, prd_specifications, prd_company_name, 
      prd_amount, prd_currency_id, prd_standard_price, 
      prd_standard_purchase_amount, prd_unit_price, prd_incoming_amount, 
      prd_demand_date, prd_recommended_procurement_date, 
      prd_unpurchased_quantity, prd_remarks, prd_source_order, 
      prd_source_no, prd_audition, prd_yn, 
      prd_custom1, prd_custom2, prd_custom3, 
      prd_custom4, prd_custom5, prd_custom6
      )
    values (#{prdId,jdbcType=VARCHAR}, #{prId,jdbcType=VARCHAR}, #{prMatterId,jdbcType=VARCHAR}, 
      #{prdMatterName,jdbcType=VARCHAR}, #{prdSpecifications,jdbcType=VARCHAR}, #{prdCompanyName,jdbcType=VARCHAR}, 
      #{prdAmount,jdbcType=INTEGER}, #{prdCurrencyId,jdbcType=VARCHAR}, #{prdStandardPrice,jdbcType=REAL}, 
      #{prdStandardPurchaseAmount,jdbcType=REAL}, #{prdUnitPrice,jdbcType=REAL}, #{prdIncomingAmount,jdbcType=REAL}, 
      #{prdDemandDate,jdbcType=DATE}, #{prdRecommendedProcurementDate,jdbcType=DATE}, 
      #{prdUnpurchasedQuantity,jdbcType=INTEGER}, #{prdRemarks,jdbcType=VARCHAR}, #{prdSourceOrder,jdbcType=VARCHAR}, 
      #{prdSourceNo,jdbcType=VARCHAR}, #{prdAudition,jdbcType=VARCHAR}, #{prdYn,jdbcType=VARCHAR}, 
      #{prdCustom1,jdbcType=VARCHAR}, #{prdCustom2,jdbcType=VARCHAR}, #{prdCustom3,jdbcType=VARCHAR}, 
      #{prdCustom4,jdbcType=VARCHAR}, #{prdCustom5,jdbcType=VARCHAR}, #{prdCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Purchase_requisition_detailed">
    insert into purchase_requisition_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prdId != null">
        prd_id,
      </if>
      <if test="prId != null">
        pr_id,
      </if>
      <if test="prMatterId != null">
        pr_matter_id,
      </if>
      <if test="prdMatterName != null">
        prd_matter_name,
      </if>
      <if test="prdSpecifications != null">
        prd_specifications,
      </if>
      <if test="prdCompanyName != null">
        prd_company_name,
      </if>
      <if test="prdAmount != null">
        prd_amount,
      </if>
      <if test="prdCurrencyId != null">
        prd_currency_id,
      </if>
      <if test="prdStandardPrice != null">
        prd_standard_price,
      </if>
      <if test="prdStandardPurchaseAmount != null">
        prd_standard_purchase_amount,
      </if>
      <if test="prdUnitPrice != null">
        prd_unit_price,
      </if>
      <if test="prdIncomingAmount != null">
        prd_incoming_amount,
      </if>
      <if test="prdDemandDate != null">
        prd_demand_date,
      </if>
      <if test="prdRecommendedProcurementDate != null">
        prd_recommended_procurement_date,
      </if>
      <if test="prdUnpurchasedQuantity != null">
        prd_unpurchased_quantity,
      </if>
      <if test="prdRemarks != null">
        prd_remarks,
      </if>
      <if test="prdSourceOrder != null">
        prd_source_order,
      </if>
      <if test="prdSourceNo != null">
        prd_source_no,
      </if>
      <if test="prdAudition != null">
        prd_audition,
      </if>
      <if test="prdYn != null">
        prd_yn,
      </if>
      <if test="prdCustom1 != null">
        prd_custom1,
      </if>
      <if test="prdCustom2 != null">
        prd_custom2,
      </if>
      <if test="prdCustom3 != null">
        prd_custom3,
      </if>
      <if test="prdCustom4 != null">
        prd_custom4,
      </if>
      <if test="prdCustom5 != null">
        prd_custom5,
      </if>
      <if test="prdCustom6 != null">
        prd_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prdId != null">
        #{prdId,jdbcType=VARCHAR},
      </if>
      <if test="prId != null">
        #{prId,jdbcType=VARCHAR},
      </if>
      <if test="prMatterId != null">
        #{prMatterId,jdbcType=VARCHAR},
      </if>
      <if test="prdMatterName != null">
        #{prdMatterName,jdbcType=VARCHAR},
      </if>
      <if test="prdSpecifications != null">
        #{prdSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="prdCompanyName != null">
        #{prdCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="prdAmount != null">
        #{prdAmount,jdbcType=INTEGER},
      </if>
      <if test="prdCurrencyId != null">
        #{prdCurrencyId,jdbcType=VARCHAR},
      </if>
      <if test="prdStandardPrice != null">
        #{prdStandardPrice,jdbcType=REAL},
      </if>
      <if test="prdStandardPurchaseAmount != null">
        #{prdStandardPurchaseAmount,jdbcType=REAL},
      </if>
      <if test="prdUnitPrice != null">
        #{prdUnitPrice,jdbcType=REAL},
      </if>
      <if test="prdIncomingAmount != null">
        #{prdIncomingAmount,jdbcType=REAL},
      </if>
      <if test="prdDemandDate != null">
        #{prdDemandDate,jdbcType=DATE},
      </if>
      <if test="prdRecommendedProcurementDate != null">
        #{prdRecommendedProcurementDate,jdbcType=DATE},
      </if>
      <if test="prdUnpurchasedQuantity != null">
        #{prdUnpurchasedQuantity,jdbcType=INTEGER},
      </if>
      <if test="prdRemarks != null">
        #{prdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="prdSourceOrder != null">
        #{prdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="prdSourceNo != null">
        #{prdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="prdAudition != null">
        #{prdAudition,jdbcType=VARCHAR},
      </if>
      <if test="prdYn != null">
        #{prdYn,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom1 != null">
        #{prdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom2 != null">
        #{prdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom3 != null">
        #{prdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom4 != null">
        #{prdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom5 != null">
        #{prdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom6 != null">
        #{prdCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Purchase_requisition_detailed">
    update purchase_requisition_detailed
    <set>
      <if test="prId != null">
        pr_id = #{prId,jdbcType=VARCHAR},
      </if>
      <if test="prMatterId != null">
        pr_matter_id = #{prMatterId,jdbcType=VARCHAR},
      </if>
      <if test="prdMatterName != null">
        prd_matter_name = #{prdMatterName,jdbcType=VARCHAR},
      </if>
      <if test="prdSpecifications != null">
        prd_specifications = #{prdSpecifications,jdbcType=VARCHAR},
      </if>
      <if test="prdCompanyName != null">
        prd_company_name = #{prdCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="prdAmount != null">
        prd_amount = #{prdAmount,jdbcType=INTEGER},
      </if>
      <if test="prdCurrencyId != null">
        prd_currency_id = #{prdCurrencyId,jdbcType=VARCHAR},
      </if>
      <if test="prdStandardPrice != null">
        prd_standard_price = #{prdStandardPrice,jdbcType=REAL},
      </if>
      <if test="prdStandardPurchaseAmount != null">
        prd_standard_purchase_amount = #{prdStandardPurchaseAmount,jdbcType=REAL},
      </if>
      <if test="prdUnitPrice != null">
        prd_unit_price = #{prdUnitPrice,jdbcType=REAL},
      </if>
      <if test="prdIncomingAmount != null">
        prd_incoming_amount = #{prdIncomingAmount,jdbcType=REAL},
      </if>
      <if test="prdDemandDate != null">
        prd_demand_date = #{prdDemandDate,jdbcType=DATE},
      </if>
      <if test="prdRecommendedProcurementDate != null">
        prd_recommended_procurement_date = #{prdRecommendedProcurementDate,jdbcType=DATE},
      </if>
      <if test="prdUnpurchasedQuantity != null">
        prd_unpurchased_quantity = #{prdUnpurchasedQuantity,jdbcType=INTEGER},
      </if>
      <if test="prdRemarks != null">
        prd_remarks = #{prdRemarks,jdbcType=VARCHAR},
      </if>
      <if test="prdSourceOrder != null">
        prd_source_order = #{prdSourceOrder,jdbcType=VARCHAR},
      </if>
      <if test="prdSourceNo != null">
        prd_source_no = #{prdSourceNo,jdbcType=VARCHAR},
      </if>
      <if test="prdAudition != null">
        prd_audition = #{prdAudition,jdbcType=VARCHAR},
      </if>
      <if test="prdYn != null">
        prd_yn = #{prdYn,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom1 != null">
        prd_custom1 = #{prdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom2 != null">
        prd_custom2 = #{prdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom3 != null">
        prd_custom3 = #{prdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom4 != null">
        prd_custom4 = #{prdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom5 != null">
        prd_custom5 = #{prdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="prdCustom6 != null">
        prd_custom6 = #{prdCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where prd_id = #{prdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Purchase_requisition_detailed">
    update purchase_requisition_detailed
    set pr_id = #{prId,jdbcType=VARCHAR},
      pr_matter_id = #{prMatterId,jdbcType=VARCHAR},
      prd_matter_name = #{prdMatterName,jdbcType=VARCHAR},
      prd_specifications = #{prdSpecifications,jdbcType=VARCHAR},
      prd_company_name = #{prdCompanyName,jdbcType=VARCHAR},
      prd_amount = #{prdAmount,jdbcType=INTEGER},
      prd_currency_id = #{prdCurrencyId,jdbcType=VARCHAR},
      prd_standard_price = #{prdStandardPrice,jdbcType=REAL},
      prd_standard_purchase_amount = #{prdStandardPurchaseAmount,jdbcType=REAL},
      prd_unit_price = #{prdUnitPrice,jdbcType=REAL},
      prd_incoming_amount = #{prdIncomingAmount,jdbcType=REAL},
      prd_demand_date = #{prdDemandDate,jdbcType=DATE},
      prd_recommended_procurement_date = #{prdRecommendedProcurementDate,jdbcType=DATE},
      prd_unpurchased_quantity = #{prdUnpurchasedQuantity,jdbcType=INTEGER},
      prd_remarks = #{prdRemarks,jdbcType=VARCHAR},
      prd_source_order = #{prdSourceOrder,jdbcType=VARCHAR},
      prd_source_no = #{prdSourceNo,jdbcType=VARCHAR},
      prd_audition = #{prdAudition,jdbcType=VARCHAR},
      prd_yn = #{prdYn,jdbcType=VARCHAR},
      prd_custom1 = #{prdCustom1,jdbcType=VARCHAR},
      prd_custom2 = #{prdCustom2,jdbcType=VARCHAR},
      prd_custom3 = #{prdCustom3,jdbcType=VARCHAR},
      prd_custom4 = #{prdCustom4,jdbcType=VARCHAR},
      prd_custom5 = #{prdCustom5,jdbcType=VARCHAR},
      prd_custom6 = #{prdCustom6,jdbcType=VARCHAR}
    where prd_id = #{prdId,jdbcType=VARCHAR}
  </update>
</mapper>