<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Purchase_inquiryMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Purchase_inquiry">
    <id column="pi_id" jdbcType="VARCHAR" property="piId" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="pi_supplier_address" jdbcType="VARCHAR" property="piSupplierAddress" />
    <result column="pit_id" jdbcType="VARCHAR" property="pitId" />
    <result column="pi_price_include_tax" jdbcType="VARCHAR" property="piPriceIncludeTax" />
    <result column="pi_single_status" jdbcType="VARCHAR" property="piSingleStatus" />
    <result column="pi_document_date" jdbcType="DATE" property="piDocumentDate" />
    <result column="pi_document_number" jdbcType="VARCHAR" property="piDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="pi_exchange_rate" jdbcType="REAL" property="piExchangeRate" />
    <result column="pi_sunnum" jdbcType="INTEGER" property="piSunnum" />
    <result column="pi_sunmoney" jdbcType="REAL" property="piSunmoney" />
    <result column="pi_tax" jdbcType="REAL" property="piTax" />
    <result column="pi_include_tax_amount" jdbcType="REAL" property="piIncludeTaxAmount" />
    <result column="pi_delivery_address" jdbcType="VARCHAR" property="piDeliveryAddress" />
    <result column="pi_buyer" jdbcType="VARCHAR" property="piBuyer" />
    <result column="pi_belongs_section" jdbcType="VARCHAR" property="piBelongsSection" />
    <result column="pi_belongs_project" jdbcType="VARCHAR" property="piBelongsProject" />
    <result column="pi_executor" jdbcType="VARCHAR" property="piExecutor" />
    <result column="pi_checkagain_staff" jdbcType="VARCHAR" property="piCheckagainStaff" />
    <result column="pi_header_provision" jdbcType="VARCHAR" property="piHeaderProvision" />
    <result column="pi_end_clause" jdbcType="VARCHAR" property="piEndClause" />
    <result column="pi_remark" jdbcType="VARCHAR" property="piRemark" />
    <result column="pi_audition" jdbcType="VARCHAR" property="piAudition" />
    <result column="pi_yn" jdbcType="VARCHAR" property="piYn" />
    <result column="pi_custom1" jdbcType="VARCHAR" property="piCustom1" />
    <result column="pi_custom2" jdbcType="VARCHAR" property="piCustom2" />
    <result column="pi_custom3" jdbcType="VARCHAR" property="piCustom3" />
    <result column="pi_custom4" jdbcType="VARCHAR" property="piCustom4" />
    <result column="pi_custom5" jdbcType="VARCHAR" property="piCustom5" />
    <result column="pi_custom6" jdbcType="VARCHAR" property="piCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    pi_id, supplier_id, pi_supplier_address, pit_id, pi_price_include_tax, pi_single_status, 
    pi_document_date, pi_document_number, currency_id, pi_exchange_rate, pi_sunnum, pi_sunmoney, 
    pi_tax, pi_include_tax_amount, pi_delivery_address, pi_buyer, pi_belongs_section, 
    pi_belongs_project, pi_executor, pi_checkagain_staff, pi_header_provision, pi_end_clause, 
    pi_remark, pi_audition, pi_yn, pi_custom1, pi_custom2, pi_custom3, pi_custom4, pi_custom5, 
    pi_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_inquiry
    where pi_id = #{piId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from purchase_inquiry
    where pi_id = #{piId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Purchase_inquiry">
    insert into purchase_inquiry (pi_id, supplier_id, pi_supplier_address, 
      pit_id, pi_price_include_tax, pi_single_status, 
      pi_document_date, pi_document_number, currency_id, 
      pi_exchange_rate, pi_sunnum, pi_sunmoney, 
      pi_tax, pi_include_tax_amount, pi_delivery_address, 
      pi_buyer, pi_belongs_section, pi_belongs_project, 
      pi_executor, pi_checkagain_staff, pi_header_provision, 
      pi_end_clause, pi_remark, pi_audition, 
      pi_yn, pi_custom1, pi_custom2, 
      pi_custom3, pi_custom4, pi_custom5, 
      pi_custom6)
    values (#{piId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{piSupplierAddress,jdbcType=VARCHAR}, 
      #{pitId,jdbcType=VARCHAR}, #{piPriceIncludeTax,jdbcType=VARCHAR}, #{piSingleStatus,jdbcType=VARCHAR}, 
      #{piDocumentDate,jdbcType=DATE}, #{piDocumentNumber,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, 
      #{piExchangeRate,jdbcType=REAL}, #{piSunnum,jdbcType=INTEGER}, #{piSunmoney,jdbcType=REAL}, 
      #{piTax,jdbcType=REAL}, #{piIncludeTaxAmount,jdbcType=REAL}, #{piDeliveryAddress,jdbcType=VARCHAR}, 
      #{piBuyer,jdbcType=VARCHAR}, #{piBelongsSection,jdbcType=VARCHAR}, #{piBelongsProject,jdbcType=VARCHAR}, 
      #{piExecutor,jdbcType=VARCHAR}, #{piCheckagainStaff,jdbcType=VARCHAR}, #{piHeaderProvision,jdbcType=VARCHAR}, 
      #{piEndClause,jdbcType=VARCHAR}, #{piRemark,jdbcType=VARCHAR}, #{piAudition,jdbcType=VARCHAR}, 
      #{piYn,jdbcType=VARCHAR}, #{piCustom1,jdbcType=VARCHAR}, #{piCustom2,jdbcType=VARCHAR}, 
      #{piCustom3,jdbcType=VARCHAR}, #{piCustom4,jdbcType=VARCHAR}, #{piCustom5,jdbcType=VARCHAR}, 
      #{piCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Purchase_inquiry">
    insert into purchase_inquiry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="piId != null">
        pi_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="piSupplierAddress != null">
        pi_supplier_address,
      </if>
      <if test="pitId != null">
        pit_id,
      </if>
      <if test="piPriceIncludeTax != null">
        pi_price_include_tax,
      </if>
      <if test="piSingleStatus != null">
        pi_single_status,
      </if>
      <if test="piDocumentDate != null">
        pi_document_date,
      </if>
      <if test="piDocumentNumber != null">
        pi_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="piExchangeRate != null">
        pi_exchange_rate,
      </if>
      <if test="piSunnum != null">
        pi_sunnum,
      </if>
      <if test="piSunmoney != null">
        pi_sunmoney,
      </if>
      <if test="piTax != null">
        pi_tax,
      </if>
      <if test="piIncludeTaxAmount != null">
        pi_include_tax_amount,
      </if>
      <if test="piDeliveryAddress != null">
        pi_delivery_address,
      </if>
      <if test="piBuyer != null">
        pi_buyer,
      </if>
      <if test="piBelongsSection != null">
        pi_belongs_section,
      </if>
      <if test="piBelongsProject != null">
        pi_belongs_project,
      </if>
      <if test="piExecutor != null">
        pi_executor,
      </if>
      <if test="piCheckagainStaff != null">
        pi_checkagain_staff,
      </if>
      <if test="piHeaderProvision != null">
        pi_header_provision,
      </if>
      <if test="piEndClause != null">
        pi_end_clause,
      </if>
      <if test="piRemark != null">
        pi_remark,
      </if>
      <if test="piAudition != null">
        pi_audition,
      </if>
      <if test="piYn != null">
        pi_yn,
      </if>
      <if test="piCustom1 != null">
        pi_custom1,
      </if>
      <if test="piCustom2 != null">
        pi_custom2,
      </if>
      <if test="piCustom3 != null">
        pi_custom3,
      </if>
      <if test="piCustom4 != null">
        pi_custom4,
      </if>
      <if test="piCustom5 != null">
        pi_custom5,
      </if>
      <if test="piCustom6 != null">
        pi_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="piId != null">
        #{piId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="piSupplierAddress != null">
        #{piSupplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="pitId != null">
        #{pitId,jdbcType=VARCHAR},
      </if>
      <if test="piPriceIncludeTax != null">
        #{piPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="piSingleStatus != null">
        #{piSingleStatus,jdbcType=VARCHAR},
      </if>
      <if test="piDocumentDate != null">
        #{piDocumentDate,jdbcType=DATE},
      </if>
      <if test="piDocumentNumber != null">
        #{piDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="piExchangeRate != null">
        #{piExchangeRate,jdbcType=REAL},
      </if>
      <if test="piSunnum != null">
        #{piSunnum,jdbcType=INTEGER},
      </if>
      <if test="piSunmoney != null">
        #{piSunmoney,jdbcType=REAL},
      </if>
      <if test="piTax != null">
        #{piTax,jdbcType=REAL},
      </if>
      <if test="piIncludeTaxAmount != null">
        #{piIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="piDeliveryAddress != null">
        #{piDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="piBuyer != null">
        #{piBuyer,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsSection != null">
        #{piBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsProject != null">
        #{piBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="piExecutor != null">
        #{piExecutor,jdbcType=VARCHAR},
      </if>
      <if test="piCheckagainStaff != null">
        #{piCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="piHeaderProvision != null">
        #{piHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="piEndClause != null">
        #{piEndClause,jdbcType=VARCHAR},
      </if>
      <if test="piRemark != null">
        #{piRemark,jdbcType=VARCHAR},
      </if>
      <if test="piAudition != null">
        #{piAudition,jdbcType=VARCHAR},
      </if>
      <if test="piYn != null">
        #{piYn,jdbcType=VARCHAR},
      </if>
      <if test="piCustom1 != null">
        #{piCustom1,jdbcType=VARCHAR},
      </if>
      <if test="piCustom2 != null">
        #{piCustom2,jdbcType=VARCHAR},
      </if>
      <if test="piCustom3 != null">
        #{piCustom3,jdbcType=VARCHAR},
      </if>
      <if test="piCustom4 != null">
        #{piCustom4,jdbcType=VARCHAR},
      </if>
      <if test="piCustom5 != null">
        #{piCustom5,jdbcType=VARCHAR},
      </if>
      <if test="piCustom6 != null">
        #{piCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Purchase_inquiry">
    update purchase_inquiry
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="piSupplierAddress != null">
        pi_supplier_address = #{piSupplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="pitId != null">
        pit_id = #{pitId,jdbcType=VARCHAR},
      </if>
      <if test="piPriceIncludeTax != null">
        pi_price_include_tax = #{piPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="piSingleStatus != null">
        pi_single_status = #{piSingleStatus,jdbcType=VARCHAR},
      </if>
      <if test="piDocumentDate != null">
        pi_document_date = #{piDocumentDate,jdbcType=DATE},
      </if>
      <if test="piDocumentNumber != null">
        pi_document_number = #{piDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="piExchangeRate != null">
        pi_exchange_rate = #{piExchangeRate,jdbcType=REAL},
      </if>
      <if test="piSunnum != null">
        pi_sunnum = #{piSunnum,jdbcType=INTEGER},
      </if>
      <if test="piSunmoney != null">
        pi_sunmoney = #{piSunmoney,jdbcType=REAL},
      </if>
      <if test="piTax != null">
        pi_tax = #{piTax,jdbcType=REAL},
      </if>
      <if test="piIncludeTaxAmount != null">
        pi_include_tax_amount = #{piIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="piDeliveryAddress != null">
        pi_delivery_address = #{piDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="piBuyer != null">
        pi_buyer = #{piBuyer,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsSection != null">
        pi_belongs_section = #{piBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsProject != null">
        pi_belongs_project = #{piBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="piExecutor != null">
        pi_executor = #{piExecutor,jdbcType=VARCHAR},
      </if>
      <if test="piCheckagainStaff != null">
        pi_checkagain_staff = #{piCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="piHeaderProvision != null">
        pi_header_provision = #{piHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="piEndClause != null">
        pi_end_clause = #{piEndClause,jdbcType=VARCHAR},
      </if>
      <if test="piRemark != null">
        pi_remark = #{piRemark,jdbcType=VARCHAR},
      </if>
      <if test="piAudition != null">
        pi_audition = #{piAudition,jdbcType=VARCHAR},
      </if>
      <if test="piYn != null">
        pi_yn = #{piYn,jdbcType=VARCHAR},
      </if>
      <if test="piCustom1 != null">
        pi_custom1 = #{piCustom1,jdbcType=VARCHAR},
      </if>
      <if test="piCustom2 != null">
        pi_custom2 = #{piCustom2,jdbcType=VARCHAR},
      </if>
      <if test="piCustom3 != null">
        pi_custom3 = #{piCustom3,jdbcType=VARCHAR},
      </if>
      <if test="piCustom4 != null">
        pi_custom4 = #{piCustom4,jdbcType=VARCHAR},
      </if>
      <if test="piCustom5 != null">
        pi_custom5 = #{piCustom5,jdbcType=VARCHAR},
      </if>
      <if test="piCustom6 != null">
        pi_custom6 = #{piCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where pi_id = #{piId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Purchase_inquiry">
    update purchase_inquiry
    set supplier_id = #{supplierId,jdbcType=VARCHAR},
      pi_supplier_address = #{piSupplierAddress,jdbcType=VARCHAR},
      pit_id = #{pitId,jdbcType=VARCHAR},
      pi_price_include_tax = #{piPriceIncludeTax,jdbcType=VARCHAR},
      pi_single_status = #{piSingleStatus,jdbcType=VARCHAR},
      pi_document_date = #{piDocumentDate,jdbcType=DATE},
      pi_document_number = #{piDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      pi_exchange_rate = #{piExchangeRate,jdbcType=REAL},
      pi_sunnum = #{piSunnum,jdbcType=INTEGER},
      pi_sunmoney = #{piSunmoney,jdbcType=REAL},
      pi_tax = #{piTax,jdbcType=REAL},
      pi_include_tax_amount = #{piIncludeTaxAmount,jdbcType=REAL},
      pi_delivery_address = #{piDeliveryAddress,jdbcType=VARCHAR},
      pi_buyer = #{piBuyer,jdbcType=VARCHAR},
      pi_belongs_section = #{piBelongsSection,jdbcType=VARCHAR},
      pi_belongs_project = #{piBelongsProject,jdbcType=VARCHAR},
      pi_executor = #{piExecutor,jdbcType=VARCHAR},
      pi_checkagain_staff = #{piCheckagainStaff,jdbcType=VARCHAR},
      pi_header_provision = #{piHeaderProvision,jdbcType=VARCHAR},
      pi_end_clause = #{piEndClause,jdbcType=VARCHAR},
      pi_remark = #{piRemark,jdbcType=VARCHAR},
      pi_audition = #{piAudition,jdbcType=VARCHAR},
      pi_yn = #{piYn,jdbcType=VARCHAR},
      pi_custom1 = #{piCustom1,jdbcType=VARCHAR},
      pi_custom2 = #{piCustom2,jdbcType=VARCHAR},
      pi_custom3 = #{piCustom3,jdbcType=VARCHAR},
      pi_custom4 = #{piCustom4,jdbcType=VARCHAR},
      pi_custom5 = #{piCustom5,jdbcType=VARCHAR},
      pi_custom6 = #{piCustom6,jdbcType=VARCHAR}
    where pi_id = #{piId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Purchase_inquiry">
    <id column="pi_id" jdbcType="VARCHAR" property="piId" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="pi_supplier_address" jdbcType="VARCHAR" property="piSupplierAddress" />
    <result column="pit_id" jdbcType="VARCHAR" property="pitId" />
    <result column="pi_price_include_tax" jdbcType="VARCHAR" property="piPriceIncludeTax" />
    <result column="pi_single_status" jdbcType="VARCHAR" property="piSingleStatus" />
    <result column="pi_document_date" jdbcType="DATE" property="piDocumentDate" />
    <result column="pi_document_number" jdbcType="VARCHAR" property="piDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="pi_exchange_rate" jdbcType="REAL" property="piExchangeRate" />
    <result column="pi_sunnum" jdbcType="INTEGER" property="piSunnum" />
    <result column="pi_sunmoney" jdbcType="REAL" property="piSunmoney" />
    <result column="pi_tax" jdbcType="REAL" property="piTax" />
    <result column="pi_include_tax_amount" jdbcType="REAL" property="piIncludeTaxAmount" />
    <result column="pi_delivery_address" jdbcType="VARCHAR" property="piDeliveryAddress" />
    <result column="pi_buyer" jdbcType="VARCHAR" property="piBuyer" />
    <result column="pi_belongs_section" jdbcType="VARCHAR" property="piBelongsSection" />
    <result column="pi_belongs_project" jdbcType="VARCHAR" property="piBelongsProject" />
    <result column="pi_executor" jdbcType="VARCHAR" property="piExecutor" />
    <result column="pi_checkagain_staff" jdbcType="VARCHAR" property="piCheckagainStaff" />
    <result column="pi_header_provision" jdbcType="VARCHAR" property="piHeaderProvision" />
    <result column="pi_end_clause" jdbcType="VARCHAR" property="piEndClause" />
    <result column="pi_remark" jdbcType="VARCHAR" property="piRemark" />
    <result column="pi_audition" jdbcType="VARCHAR" property="piAudition" />
    <result column="pi_yn" jdbcType="VARCHAR" property="piYn" />
    <result column="pi_custom1" jdbcType="VARCHAR" property="piCustom1" />
    <result column="pi_custom2" jdbcType="VARCHAR" property="piCustom2" />
    <result column="pi_custom3" jdbcType="VARCHAR" property="piCustom3" />
    <result column="pi_custom4" jdbcType="VARCHAR" property="piCustom4" />
    <result column="pi_custom5" jdbcType="VARCHAR" property="piCustom5" />
    <result column="pi_custom6" jdbcType="VARCHAR" property="piCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    pi_id, supplier_id, pi_supplier_address, pit_id, pi_price_include_tax, pi_single_status, 
    pi_document_date, pi_document_number, currency_id, pi_exchange_rate, pi_sunnum, pi_sunmoney, 
    pi_tax, pi_include_tax_amount, pi_delivery_address, pi_buyer, pi_belongs_section, 
    pi_belongs_project, pi_executor, pi_checkagain_staff, pi_header_provision, pi_end_clause, 
    pi_remark, pi_audition, pi_yn, pi_custom1, pi_custom2, pi_custom3, pi_custom4, pi_custom5, 
    pi_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from purchase_inquiry
    where pi_id = #{piId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from purchase_inquiry
    where pi_id = #{piId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Purchase_inquiry">
    insert into purchase_inquiry (pi_id, supplier_id, pi_supplier_address, 
      pit_id, pi_price_include_tax, pi_single_status, 
      pi_document_date, pi_document_number, currency_id, 
      pi_exchange_rate, pi_sunnum, pi_sunmoney, 
      pi_tax, pi_include_tax_amount, pi_delivery_address, 
      pi_buyer, pi_belongs_section, pi_belongs_project, 
      pi_executor, pi_checkagain_staff, pi_header_provision, 
      pi_end_clause, pi_remark, pi_audition, 
      pi_yn, pi_custom1, pi_custom2, 
      pi_custom3, pi_custom4, pi_custom5, 
      pi_custom6)
    values (#{piId,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, #{piSupplierAddress,jdbcType=VARCHAR}, 
      #{pitId,jdbcType=VARCHAR}, #{piPriceIncludeTax,jdbcType=VARCHAR}, #{piSingleStatus,jdbcType=VARCHAR}, 
      #{piDocumentDate,jdbcType=DATE}, #{piDocumentNumber,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, 
      #{piExchangeRate,jdbcType=REAL}, #{piSunnum,jdbcType=INTEGER}, #{piSunmoney,jdbcType=REAL}, 
      #{piTax,jdbcType=REAL}, #{piIncludeTaxAmount,jdbcType=REAL}, #{piDeliveryAddress,jdbcType=VARCHAR}, 
      #{piBuyer,jdbcType=VARCHAR}, #{piBelongsSection,jdbcType=VARCHAR}, #{piBelongsProject,jdbcType=VARCHAR}, 
      #{piExecutor,jdbcType=VARCHAR}, #{piCheckagainStaff,jdbcType=VARCHAR}, #{piHeaderProvision,jdbcType=VARCHAR}, 
      #{piEndClause,jdbcType=VARCHAR}, #{piRemark,jdbcType=VARCHAR}, #{piAudition,jdbcType=VARCHAR}, 
      #{piYn,jdbcType=VARCHAR}, #{piCustom1,jdbcType=VARCHAR}, #{piCustom2,jdbcType=VARCHAR}, 
      #{piCustom3,jdbcType=VARCHAR}, #{piCustom4,jdbcType=VARCHAR}, #{piCustom5,jdbcType=VARCHAR}, 
      #{piCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Purchase_inquiry">
    insert into purchase_inquiry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="piId != null">
        pi_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="piSupplierAddress != null">
        pi_supplier_address,
      </if>
      <if test="pitId != null">
        pit_id,
      </if>
      <if test="piPriceIncludeTax != null">
        pi_price_include_tax,
      </if>
      <if test="piSingleStatus != null">
        pi_single_status,
      </if>
      <if test="piDocumentDate != null">
        pi_document_date,
      </if>
      <if test="piDocumentNumber != null">
        pi_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="piExchangeRate != null">
        pi_exchange_rate,
      </if>
      <if test="piSunnum != null">
        pi_sunnum,
      </if>
      <if test="piSunmoney != null">
        pi_sunmoney,
      </if>
      <if test="piTax != null">
        pi_tax,
      </if>
      <if test="piIncludeTaxAmount != null">
        pi_include_tax_amount,
      </if>
      <if test="piDeliveryAddress != null">
        pi_delivery_address,
      </if>
      <if test="piBuyer != null">
        pi_buyer,
      </if>
      <if test="piBelongsSection != null">
        pi_belongs_section,
      </if>
      <if test="piBelongsProject != null">
        pi_belongs_project,
      </if>
      <if test="piExecutor != null">
        pi_executor,
      </if>
      <if test="piCheckagainStaff != null">
        pi_checkagain_staff,
      </if>
      <if test="piHeaderProvision != null">
        pi_header_provision,
      </if>
      <if test="piEndClause != null">
        pi_end_clause,
      </if>
      <if test="piRemark != null">
        pi_remark,
      </if>
      <if test="piAudition != null">
        pi_audition,
      </if>
      <if test="piYn != null">
        pi_yn,
      </if>
      <if test="piCustom1 != null">
        pi_custom1,
      </if>
      <if test="piCustom2 != null">
        pi_custom2,
      </if>
      <if test="piCustom3 != null">
        pi_custom3,
      </if>
      <if test="piCustom4 != null">
        pi_custom4,
      </if>
      <if test="piCustom5 != null">
        pi_custom5,
      </if>
      <if test="piCustom6 != null">
        pi_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="piId != null">
        #{piId,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="piSupplierAddress != null">
        #{piSupplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="pitId != null">
        #{pitId,jdbcType=VARCHAR},
      </if>
      <if test="piPriceIncludeTax != null">
        #{piPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="piSingleStatus != null">
        #{piSingleStatus,jdbcType=VARCHAR},
      </if>
      <if test="piDocumentDate != null">
        #{piDocumentDate,jdbcType=DATE},
      </if>
      <if test="piDocumentNumber != null">
        #{piDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="piExchangeRate != null">
        #{piExchangeRate,jdbcType=REAL},
      </if>
      <if test="piSunnum != null">
        #{piSunnum,jdbcType=INTEGER},
      </if>
      <if test="piSunmoney != null">
        #{piSunmoney,jdbcType=REAL},
      </if>
      <if test="piTax != null">
        #{piTax,jdbcType=REAL},
      </if>
      <if test="piIncludeTaxAmount != null">
        #{piIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="piDeliveryAddress != null">
        #{piDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="piBuyer != null">
        #{piBuyer,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsSection != null">
        #{piBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsProject != null">
        #{piBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="piExecutor != null">
        #{piExecutor,jdbcType=VARCHAR},
      </if>
      <if test="piCheckagainStaff != null">
        #{piCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="piHeaderProvision != null">
        #{piHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="piEndClause != null">
        #{piEndClause,jdbcType=VARCHAR},
      </if>
      <if test="piRemark != null">
        #{piRemark,jdbcType=VARCHAR},
      </if>
      <if test="piAudition != null">
        #{piAudition,jdbcType=VARCHAR},
      </if>
      <if test="piYn != null">
        #{piYn,jdbcType=VARCHAR},
      </if>
      <if test="piCustom1 != null">
        #{piCustom1,jdbcType=VARCHAR},
      </if>
      <if test="piCustom2 != null">
        #{piCustom2,jdbcType=VARCHAR},
      </if>
      <if test="piCustom3 != null">
        #{piCustom3,jdbcType=VARCHAR},
      </if>
      <if test="piCustom4 != null">
        #{piCustom4,jdbcType=VARCHAR},
      </if>
      <if test="piCustom5 != null">
        #{piCustom5,jdbcType=VARCHAR},
      </if>
      <if test="piCustom6 != null">
        #{piCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Purchase_inquiry">
    update purchase_inquiry
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="piSupplierAddress != null">
        pi_supplier_address = #{piSupplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="pitId != null">
        pit_id = #{pitId,jdbcType=VARCHAR},
      </if>
      <if test="piPriceIncludeTax != null">
        pi_price_include_tax = #{piPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="piSingleStatus != null">
        pi_single_status = #{piSingleStatus,jdbcType=VARCHAR},
      </if>
      <if test="piDocumentDate != null">
        pi_document_date = #{piDocumentDate,jdbcType=DATE},
      </if>
      <if test="piDocumentNumber != null">
        pi_document_number = #{piDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="piExchangeRate != null">
        pi_exchange_rate = #{piExchangeRate,jdbcType=REAL},
      </if>
      <if test="piSunnum != null">
        pi_sunnum = #{piSunnum,jdbcType=INTEGER},
      </if>
      <if test="piSunmoney != null">
        pi_sunmoney = #{piSunmoney,jdbcType=REAL},
      </if>
      <if test="piTax != null">
        pi_tax = #{piTax,jdbcType=REAL},
      </if>
      <if test="piIncludeTaxAmount != null">
        pi_include_tax_amount = #{piIncludeTaxAmount,jdbcType=REAL},
      </if>
      <if test="piDeliveryAddress != null">
        pi_delivery_address = #{piDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="piBuyer != null">
        pi_buyer = #{piBuyer,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsSection != null">
        pi_belongs_section = #{piBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="piBelongsProject != null">
        pi_belongs_project = #{piBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="piExecutor != null">
        pi_executor = #{piExecutor,jdbcType=VARCHAR},
      </if>
      <if test="piCheckagainStaff != null">
        pi_checkagain_staff = #{piCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="piHeaderProvision != null">
        pi_header_provision = #{piHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="piEndClause != null">
        pi_end_clause = #{piEndClause,jdbcType=VARCHAR},
      </if>
      <if test="piRemark != null">
        pi_remark = #{piRemark,jdbcType=VARCHAR},
      </if>
      <if test="piAudition != null">
        pi_audition = #{piAudition,jdbcType=VARCHAR},
      </if>
      <if test="piYn != null">
        pi_yn = #{piYn,jdbcType=VARCHAR},
      </if>
      <if test="piCustom1 != null">
        pi_custom1 = #{piCustom1,jdbcType=VARCHAR},
      </if>
      <if test="piCustom2 != null">
        pi_custom2 = #{piCustom2,jdbcType=VARCHAR},
      </if>
      <if test="piCustom3 != null">
        pi_custom3 = #{piCustom3,jdbcType=VARCHAR},
      </if>
      <if test="piCustom4 != null">
        pi_custom4 = #{piCustom4,jdbcType=VARCHAR},
      </if>
      <if test="piCustom5 != null">
        pi_custom5 = #{piCustom5,jdbcType=VARCHAR},
      </if>
      <if test="piCustom6 != null">
        pi_custom6 = #{piCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where pi_id = #{piId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Purchase_inquiry">
    update purchase_inquiry
    set supplier_id = #{supplierId,jdbcType=VARCHAR},
      pi_supplier_address = #{piSupplierAddress,jdbcType=VARCHAR},
      pit_id = #{pitId,jdbcType=VARCHAR},
      pi_price_include_tax = #{piPriceIncludeTax,jdbcType=VARCHAR},
      pi_single_status = #{piSingleStatus,jdbcType=VARCHAR},
      pi_document_date = #{piDocumentDate,jdbcType=DATE},
      pi_document_number = #{piDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      pi_exchange_rate = #{piExchangeRate,jdbcType=REAL},
      pi_sunnum = #{piSunnum,jdbcType=INTEGER},
      pi_sunmoney = #{piSunmoney,jdbcType=REAL},
      pi_tax = #{piTax,jdbcType=REAL},
      pi_include_tax_amount = #{piIncludeTaxAmount,jdbcType=REAL},
      pi_delivery_address = #{piDeliveryAddress,jdbcType=VARCHAR},
      pi_buyer = #{piBuyer,jdbcType=VARCHAR},
      pi_belongs_section = #{piBelongsSection,jdbcType=VARCHAR},
      pi_belongs_project = #{piBelongsProject,jdbcType=VARCHAR},
      pi_executor = #{piExecutor,jdbcType=VARCHAR},
      pi_checkagain_staff = #{piCheckagainStaff,jdbcType=VARCHAR},
      pi_header_provision = #{piHeaderProvision,jdbcType=VARCHAR},
      pi_end_clause = #{piEndClause,jdbcType=VARCHAR},
      pi_remark = #{piRemark,jdbcType=VARCHAR},
      pi_audition = #{piAudition,jdbcType=VARCHAR},
      pi_yn = #{piYn,jdbcType=VARCHAR},
      pi_custom1 = #{piCustom1,jdbcType=VARCHAR},
      pi_custom2 = #{piCustom2,jdbcType=VARCHAR},
      pi_custom3 = #{piCustom3,jdbcType=VARCHAR},
      pi_custom4 = #{piCustom4,jdbcType=VARCHAR},
      pi_custom5 = #{piCustom5,jdbcType=VARCHAR},
      pi_custom6 = #{piCustom6,jdbcType=VARCHAR}
    where pi_id = #{piId,jdbcType=VARCHAR}
  </update>
</mapper>