<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.RequisitionMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Requisition">
    <id column="requisition_id" jdbcType="VARCHAR" property="requisitionId" />
    <result column="requisition_out_warehouse" jdbcType="VARCHAR" property="requisitionOutWarehouse" />
    <result column="requisition_input_warehouse" jdbcType="VARCHAR" property="requisitionInputWarehouse" />
    <result column="requisition_documentation_date" jdbcType="TIMESTAMP" property="requisitionDocumentationDate" />
    <result column="requisition_documentation_no" jdbcType="VARCHAR" property="requisitionDocumentationNo" />
    <result column="requisition_form" jdbcType="VARCHAR" property="requisitionForm" />
    <result column="is_review_staff" jdbcType="VARCHAR" property="isReviewStaff" />
    <result column="requisition_remark" jdbcType="VARCHAR" property="requisitionRemark" />
    <result column="requisition_auditing" jdbcType="VARCHAR" property="requisitionAuditing" />
    <result column="requisition_yn" jdbcType="VARCHAR" property="requisitionYn" />
    <result column="requisition_custom1" jdbcType="VARCHAR" property="requisitionCustom1" />
    <result column="requisition_custom2" jdbcType="VARCHAR" property="requisitionCustom2" />
    <result column="requisition_custom3" jdbcType="VARCHAR" property="requisitionCustom3" />
    <result column="requisition_custom4" jdbcType="VARCHAR" property="requisitionCustom4" />
    <result column="requisition_custom5" jdbcType="VARCHAR" property="requisitionCustom5" />
    <result column="requisition_custom6" jdbcType="VARCHAR" property="requisitionCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    requisition_id, requisition_out_warehouse, requisition_input_warehouse, requisition_documentation_date, 
    requisition_documentation_no, requisition_form, is_review_staff, requisition_remark, 
    requisition_auditing, requisition_yn, requisition_custom1, requisition_custom2, requisition_custom3, 
    requisition_custom4, requisition_custom5, requisition_custom6
  </sql>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from requisition 
	    where requisition_Yn=0
	    ORDER BY requisition_id DESC
  </select>
  
  <select id="queryAllByTime" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from requisition 
	    where requisition_Yn=0
	    ORDER BY requisition_documentation_date DESC
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from requisition
    where requisition_id = #{requisitionId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from requisition
    where requisition_id = #{requisitionId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Requisition">
    insert into requisition (requisition_id, requisition_out_warehouse, 
      requisition_input_warehouse, requisition_documentation_date, 
      requisition_documentation_no, requisition_form, 
      is_review_staff, requisition_remark, requisition_auditing, 
      requisition_yn, requisition_custom1, requisition_custom2, 
      requisition_custom3, requisition_custom4, 
      requisition_custom5, requisition_custom6)
    values (#{requisitionId,jdbcType=VARCHAR}, #{requisitionOutWarehouse,jdbcType=VARCHAR}, 
      #{requisitionInputWarehouse,jdbcType=VARCHAR}, #{requisitionDocumentationDate,jdbcType=TIMESTAMP}, 
      #{requisitionDocumentationNo,jdbcType=VARCHAR}, #{requisitionForm,jdbcType=VARCHAR}, 
      #{isReviewStaff,jdbcType=VARCHAR}, #{requisitionRemark,jdbcType=VARCHAR}, #{requisitionAuditing,jdbcType=VARCHAR}, 
      #{requisitionYn,jdbcType=VARCHAR}, #{requisitionCustom1,jdbcType=VARCHAR}, #{requisitionCustom2,jdbcType=VARCHAR}, 
      #{requisitionCustom3,jdbcType=VARCHAR}, #{requisitionCustom4,jdbcType=VARCHAR}, 
      #{requisitionCustom5,jdbcType=VARCHAR}, #{requisitionCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Requisition">
    insert into requisition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requisitionId != null">
        requisition_id,
      </if>
      <if test="requisitionOutWarehouse != null">
        requisition_out_warehouse,
      </if>
      <if test="requisitionInputWarehouse != null">
        requisition_input_warehouse,
      </if>
      <if test="requisitionDocumentationDate != null">
        requisition_documentation_date,
      </if>
      <if test="requisitionDocumentationNo != null">
        requisition_documentation_no,
      </if>
      <if test="requisitionForm != null">
        requisition_form,
      </if>
      <if test="isReviewStaff != null">
        is_review_staff,
      </if>
      <if test="requisitionRemark != null">
        requisition_remark,
      </if>
      <if test="requisitionAuditing != null">
        requisition_auditing,
      </if>
      <if test="requisitionYn != null">
        requisition_yn,
      </if>
      <if test="requisitionCustom1 != null">
        requisition_custom1,
      </if>
      <if test="requisitionCustom2 != null">
        requisition_custom2,
      </if>
      <if test="requisitionCustom3 != null">
        requisition_custom3,
      </if>
      <if test="requisitionCustom4 != null">
        requisition_custom4,
      </if>
      <if test="requisitionCustom5 != null">
        requisition_custom5,
      </if>
      <if test="requisitionCustom6 != null">
        requisition_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requisitionId != null">
        #{requisitionId,jdbcType=VARCHAR},
      </if>
      <if test="requisitionOutWarehouse != null">
        #{requisitionOutWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionInputWarehouse != null">
        #{requisitionInputWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionDocumentationDate != null">
        #{requisitionDocumentationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requisitionDocumentationNo != null">
        #{requisitionDocumentationNo,jdbcType=VARCHAR},
      </if>
      <if test="requisitionForm != null">
        #{requisitionForm,jdbcType=VARCHAR},
      </if>
      <if test="isReviewStaff != null">
        #{isReviewStaff,jdbcType=VARCHAR},
      </if>
      <if test="requisitionRemark != null">
        #{requisitionRemark,jdbcType=VARCHAR},
      </if>
      <if test="requisitionAuditing != null">
        #{requisitionAuditing,jdbcType=VARCHAR},
      </if>
      <if test="requisitionYn != null">
        #{requisitionYn,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom1 != null">
        #{requisitionCustom1,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom2 != null">
        #{requisitionCustom2,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom3 != null">
        #{requisitionCustom3,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom4 != null">
        #{requisitionCustom4,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom5 != null">
        #{requisitionCustom5,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom6 != null">
        #{requisitionCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Requisition">
    update requisition
    <set>
      <if test="requisitionOutWarehouse != null">
        requisition_out_warehouse = #{requisitionOutWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionInputWarehouse != null">
        requisition_input_warehouse = #{requisitionInputWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionDocumentationDate != null">
        requisition_documentation_date = #{requisitionDocumentationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requisitionDocumentationNo != null">
        requisition_documentation_no = #{requisitionDocumentationNo,jdbcType=VARCHAR},
      </if>
      <if test="requisitionForm != null">
        requisition_form = #{requisitionForm,jdbcType=VARCHAR},
      </if>
      <if test="isReviewStaff != null">
        is_review_staff = #{isReviewStaff,jdbcType=VARCHAR},
      </if>
      <if test="requisitionRemark != null">
        requisition_remark = #{requisitionRemark,jdbcType=VARCHAR},
      </if>
      <if test="requisitionAuditing != null">
        requisition_auditing = #{requisitionAuditing,jdbcType=VARCHAR},
      </if>
      <if test="requisitionYn != null">
        requisition_yn = #{requisitionYn,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom1 != null">
        requisition_custom1 = #{requisitionCustom1,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom2 != null">
        requisition_custom2 = #{requisitionCustom2,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom3 != null">
        requisition_custom3 = #{requisitionCustom3,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom4 != null">
        requisition_custom4 = #{requisitionCustom4,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom5 != null">
        requisition_custom5 = #{requisitionCustom5,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom6 != null">
        requisition_custom6 = #{requisitionCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where requisition_id = #{requisitionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Requisition">
    update requisition
    set requisition_out_warehouse = #{requisitionOutWarehouse,jdbcType=VARCHAR},
      requisition_input_warehouse = #{requisitionInputWarehouse,jdbcType=VARCHAR},
      requisition_documentation_date = #{requisitionDocumentationDate,jdbcType=TIMESTAMP},
      requisition_documentation_no = #{requisitionDocumentationNo,jdbcType=VARCHAR},
      requisition_form = #{requisitionForm,jdbcType=VARCHAR},
      is_review_staff = #{isReviewStaff,jdbcType=VARCHAR},
      requisition_remark = #{requisitionRemark,jdbcType=VARCHAR},
      requisition_auditing = #{requisitionAuditing,jdbcType=VARCHAR},
      requisition_yn = #{requisitionYn,jdbcType=VARCHAR},
      requisition_custom1 = #{requisitionCustom1,jdbcType=VARCHAR},
      requisition_custom2 = #{requisitionCustom2,jdbcType=VARCHAR},
      requisition_custom3 = #{requisitionCustom3,jdbcType=VARCHAR},
      requisition_custom4 = #{requisitionCustom4,jdbcType=VARCHAR},
      requisition_custom5 = #{requisitionCustom5,jdbcType=VARCHAR},
      requisition_custom6 = #{requisitionCustom6,jdbcType=VARCHAR}
    where requisition_id = #{requisitionId,jdbcType=VARCHAR}
  </update>
  
  
  <insert id="insertSelective2" parameterType="com.apatech.domain.Requisition">
    insert into requisition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requisitionId != null and requisitionId !=''">
        requisition_id,
      </if>
      <if test="requisitionOutWarehouse != null and requisitionOutWarehouse !=''">
        requisition_out_warehouse,
      </if>
      <if test="requisitionInputWarehouse != null and requisitionInputWarehouse !=''">
        requisition_input_warehouse,
      </if>
      <if test="requisitionDocumentationDate != null">
        requisition_documentation_date,
      </if>
      <if test="requisitionDocumentationNo != null and requisitionDocumentationNo !=''">
        requisition_documentation_no,
      </if>
      <if test="requisitionForm != null and requisitionForm !=''">
        requisition_form,
      </if>
      <if test="isReviewStaff != null and isReviewStaff !=''">
        is_review_staff,
      </if>
      <if test="requisitionRemark != null and requisitionRemark !=''">
        requisition_remark,
      </if>
      <if test="requisitionAuditing != null and requisitionAuditing !=''">
        requisition_auditing,
      </if>
      <if test="requisitionYn != null and requisitionYn !=''">
        requisition_yn,
      </if>
      <if test="requisitionCustom1 != null and requisitionCustom1 !=''">
        requisition_custom1,
      </if>
      <if test="requisitionCustom2 != null and requisitionCustom2 !=''">
        requisition_custom2,
      </if>
      <if test="requisitionCustom3 != null and requisitionCustom3 !=''">
        requisition_custom3,
      </if>
      <if test="requisitionCustom4 != null and requisitionCustom4 !=''">
        requisition_custom4,
      </if>
      <if test="requisitionCustom5 != null and requisitionCustom5 !=''">
        requisition_custom5,
      </if>
      <if test="requisitionCustom6 != null and requisitionCustom6 !=''">
        requisition_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requisitionId != null and requisitionId !=''">
        #{requisitionId,jdbcType=VARCHAR},
      </if>
      <if test="requisitionOutWarehouse != null and requisitionOutWarehouse !=''">
        #{requisitionOutWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionInputWarehouse != null and requisitionInputWarehouse !=''">
        #{requisitionInputWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionDocumentationDate != null">
        #{requisitionDocumentationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requisitionDocumentationNo != null and requisitionDocumentationNo !=''">
        #{requisitionDocumentationNo,jdbcType=VARCHAR},
      </if>
      <if test="requisitionForm != null and requisitionForm !=''">
        #{requisitionForm,jdbcType=VARCHAR},
      </if>
      <if test="isReviewStaff != null and isReviewStaff !=''">
        #{isReviewStaff,jdbcType=VARCHAR},
      </if>
      <if test="requisitionRemark != null and requisitionRemark !=''">
        #{requisitionRemark,jdbcType=VARCHAR},
      </if>
      <if test="requisitionAuditing != null and requisitionAuditing !=''">
        #{requisitionAuditing,jdbcType=VARCHAR},
      </if>
      <if test="requisitionYn != null and requisitionYn !=''">
        #{requisitionYn,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom1 != null and requisitionCustom1 !=''">
        #{requisitionCustom1,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom2 != null and requisitionCustom2 !=''">
        #{requisitionCustom2,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom3 != null and requisitionCustom3 !=''">
        #{requisitionCustom3,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom4 != null and requisitionCustom4 !=''">
        #{requisitionCustom4,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom5 != null and requisitionCustom5 !=''">
        #{requisitionCustom5,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom6 != null and requisitionCustom6 !=''">
        #{requisitionCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective2" parameterType="com.apatech.domain.Requisition">
    update requisition
    <set>
      <if test="requisitionOutWarehouse != null and requisitionOutWarehouse !=''">
        requisition_out_warehouse = #{requisitionOutWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionInputWarehouse != null and requisitionInputWarehouse !=''">
        requisition_input_warehouse = #{requisitionInputWarehouse,jdbcType=VARCHAR},
      </if>
      <if test="requisitionDocumentationDate != null">
        requisition_documentation_date = #{requisitionDocumentationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="requisitionDocumentationNo != null and requisitionDocumentationNo !=''">
        requisition_documentation_no = #{requisitionDocumentationNo,jdbcType=VARCHAR},
      </if>
      <if test="requisitionForm != null and requisitionForm !=''">
        requisition_form = #{requisitionForm,jdbcType=VARCHAR},
      </if>
      <if test="isReviewStaff != null and isReviewStaff !=''">
        is_review_staff = #{isReviewStaff,jdbcType=VARCHAR},
      </if>
      <if test="requisitionRemark != null and requisitionRemark !=''">
        requisition_remark = #{requisitionRemark,jdbcType=VARCHAR},
      </if>
      <if test="requisitionAuditing != null and requisitionAuditing !=''">
        requisition_auditing = #{requisitionAuditing,jdbcType=VARCHAR},
      </if>
      <if test="requisitionYn != null and requisitionYn !=''">
        requisition_yn = #{requisitionYn,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom1 != null and requisitionCustom1 !=''">
        requisition_custom1 = #{requisitionCustom1,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom2 != null and requisitionCustom2 !=''">
        requisition_custom2 = #{requisitionCustom2,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom3 != null and requisitionCustom3 !=''">
        requisition_custom3 = #{requisitionCustom3,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom4 != null and requisitionCustom4 !=''">
        requisition_custom4 = #{requisitionCustom4,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom5 != null and requisitionCustom5 !=''">
        requisition_custom5 = #{requisitionCustom5,jdbcType=VARCHAR},
      </if>
      <if test="requisitionCustom6 != null and requisitionCustom6 !=''">
        requisition_custom6 = #{requisitionCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where requisition_id = #{requisitionId,jdbcType=VARCHAR}
  </update>
</mapper>