<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Sales_discountMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Sales_discount">
    <id column="sd_id" jdbcType="VARCHAR" property="sdId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="pd_attribution_of_account" jdbcType="VARCHAR" property="pdAttributionOfAccount" />
    <result column="pd_accounts_month" jdbcType="DATE" property="pdAccountsMonth" />
    <result column="ps_id" jdbcType="VARCHAR" property="psId" />
    <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="sd_document_date" jdbcType="DATE" property="sdDocumentDate" />
    <result column="sd_document_number" jdbcType="VARCHAR" property="sdDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="sd_exchange_rate" jdbcType="REAL" property="sdExchangeRate" />
    <result column="sd_certificate_number" jdbcType="VARCHAR" property="sdCertificateNumber" />
    <result column="sd_sunnum" jdbcType="INTEGER" property="sdSunnum" />
    <result column="sd_sunmoney" jdbcType="REAL" property="sdSunmoney" />
    <result column="sd_tax" jdbcType="REAL" property="sdTax" />
    <result column="sd_including_tax_amount" jdbcType="REAL" property="sdIncludingTaxAmount" />
    <result column="sd_delivery_address" jdbcType="VARCHAR" property="sdDeliveryAddress" />
    <result column="sd_buyer" jdbcType="VARCHAR" property="sdBuyer" />
    <result column="sd_belongs_section" jdbcType="VARCHAR" property="sdBelongsSection" />
    <result column="sd_belongs_project" jdbcType="VARCHAR" property="sdBelongsProject" />
    <result column="sd_form" jdbcType="VARCHAR" property="sdForm" />
    <result column="sd_checkagain_staff" jdbcType="VARCHAR" property="sdCheckagainStaff" />
    <result column="sd_project" jdbcType="VARCHAR" property="sdProject" />
    <result column="sd_header_provision" jdbcType="VARCHAR" property="sdHeaderProvision" />
    <result column="sd_end_clause" jdbcType="VARCHAR" property="sdEndClause" />
    <result column="sd_remark" jdbcType="VARCHAR" property="sdRemark" />
    <result column="sd_auditing" jdbcType="VARCHAR" property="sdAuditing" />
    <result column="sd_yn" jdbcType="VARCHAR" property="sdYn" />
    <result column="sd_custom1" jdbcType="VARCHAR" property="sdCustom1" />
    <result column="sd_custom2" jdbcType="VARCHAR" property="sdCustom2" />
    <result column="sd_custom3" jdbcType="VARCHAR" property="sdCustom3" />
    <result column="sd_custom4" jdbcType="VARCHAR" property="sdCustom4" />
    <result column="sd_custom5" jdbcType="VARCHAR" property="sdCustom5" />
    <result column="sd_custom6" jdbcType="VARCHAR" property="sdCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sd_id, customer_id, pd_attribution_of_account, pd_accounts_month, ps_id, warehouse_id, 
    sd_document_date, sd_document_number, currency_id, sd_exchange_rate, sd_certificate_number, 
    sd_sunnum, sd_sunmoney, sd_tax, sd_including_tax_amount, sd_delivery_address, sd_buyer, 
    sd_belongs_section, sd_belongs_project, sd_form, sd_checkagain_staff, sd_project, 
    sd_header_provision, sd_end_clause, sd_remark, sd_auditing, sd_yn, sd_custom1, sd_custom2, 
    sd_custom3, sd_custom4, sd_custom5, sd_custom6
  </sql>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from sales_discount 
	    where sd_Yn=0
	    ORDER BY sd_id DESC
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales_discount
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sales_discount
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Sales_discount">
    insert into sales_discount (sd_id, customer_id, pd_attribution_of_account, 
      pd_accounts_month, ps_id, warehouse_id, 
      sd_document_date, sd_document_number, currency_id, 
      sd_exchange_rate, sd_certificate_number, sd_sunnum, 
      sd_sunmoney, sd_tax, sd_including_tax_amount, 
      sd_delivery_address, sd_buyer, sd_belongs_section, 
      sd_belongs_project, sd_form, sd_checkagain_staff, 
      sd_project, sd_header_provision, sd_end_clause, 
      sd_remark, sd_auditing, sd_yn, 
      sd_custom1, sd_custom2, sd_custom3, 
      sd_custom4, sd_custom5, sd_custom6
      )
    values (#{sdId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{pdAttributionOfAccount,jdbcType=VARCHAR}, 
      #{pdAccountsMonth,jdbcType=DATE}, #{psId,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 
      #{sdDocumentDate,jdbcType=DATE}, #{sdDocumentNumber,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, 
      #{sdExchangeRate,jdbcType=REAL}, #{sdCertificateNumber,jdbcType=VARCHAR}, #{sdSunnum,jdbcType=INTEGER}, 
      #{sdSunmoney,jdbcType=REAL}, #{sdTax,jdbcType=REAL}, #{sdIncludingTaxAmount,jdbcType=REAL}, 
      #{sdDeliveryAddress,jdbcType=VARCHAR}, #{sdBuyer,jdbcType=VARCHAR}, #{sdBelongsSection,jdbcType=VARCHAR}, 
      #{sdBelongsProject,jdbcType=VARCHAR}, #{sdForm,jdbcType=VARCHAR}, #{sdCheckagainStaff,jdbcType=VARCHAR}, 
      #{sdProject,jdbcType=VARCHAR}, #{sdHeaderProvision,jdbcType=VARCHAR}, #{sdEndClause,jdbcType=VARCHAR}, 
      #{sdRemark,jdbcType=VARCHAR}, #{sdAuditing,jdbcType=VARCHAR}, #{sdYn,jdbcType=VARCHAR}, 
      #{sdCustom1,jdbcType=VARCHAR}, #{sdCustom2,jdbcType=VARCHAR}, #{sdCustom3,jdbcType=VARCHAR}, 
      #{sdCustom4,jdbcType=VARCHAR}, #{sdCustom5,jdbcType=VARCHAR}, #{sdCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Sales_discount">
    insert into sales_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sdId != null">
        sd_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="pdAttributionOfAccount != null">
        pd_attribution_of_account,
      </if>
      <if test="pdAccountsMonth != null">
        pd_accounts_month,
      </if>
      <if test="psId != null">
        ps_id,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="sdDocumentDate != null">
        sd_document_date,
      </if>
      <if test="sdDocumentNumber != null">
        sd_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="sdExchangeRate != null">
        sd_exchange_rate,
      </if>
      <if test="sdCertificateNumber != null">
        sd_certificate_number,
      </if>
      <if test="sdSunnum != null">
        sd_sunnum,
      </if>
      <if test="sdSunmoney != null">
        sd_sunmoney,
      </if>
      <if test="sdTax != null">
        sd_tax,
      </if>
      <if test="sdIncludingTaxAmount != null">
        sd_including_tax_amount,
      </if>
      <if test="sdDeliveryAddress != null">
        sd_delivery_address,
      </if>
      <if test="sdBuyer != null">
        sd_buyer,
      </if>
      <if test="sdBelongsSection != null">
        sd_belongs_section,
      </if>
      <if test="sdBelongsProject != null">
        sd_belongs_project,
      </if>
      <if test="sdForm != null">
        sd_form,
      </if>
      <if test="sdCheckagainStaff != null">
        sd_checkagain_staff,
      </if>
      <if test="sdProject != null">
        sd_project,
      </if>
      <if test="sdHeaderProvision != null">
        sd_header_provision,
      </if>
      <if test="sdEndClause != null">
        sd_end_clause,
      </if>
      <if test="sdRemark != null">
        sd_remark,
      </if>
      <if test="sdAuditing != null">
        sd_auditing,
      </if>
      <if test="sdYn != null">
        sd_yn,
      </if>
      <if test="sdCustom1 != null">
        sd_custom1,
      </if>
      <if test="sdCustom2 != null">
        sd_custom2,
      </if>
      <if test="sdCustom3 != null">
        sd_custom3,
      </if>
      <if test="sdCustom4 != null">
        sd_custom4,
      </if>
      <if test="sdCustom5 != null">
        sd_custom5,
      </if>
      <if test="sdCustom6 != null">
        sd_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sdId != null">
        #{sdId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="pdAttributionOfAccount != null">
        #{pdAttributionOfAccount,jdbcType=VARCHAR},
      </if>
      <if test="pdAccountsMonth != null">
        #{pdAccountsMonth,jdbcType=DATE},
      </if>
      <if test="psId != null">
        #{psId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sdDocumentDate != null">
        #{sdDocumentDate,jdbcType=DATE},
      </if>
      <if test="sdDocumentNumber != null">
        #{sdDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sdExchangeRate != null">
        #{sdExchangeRate,jdbcType=REAL},
      </if>
      <if test="sdCertificateNumber != null">
        #{sdCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sdSunnum != null">
        #{sdSunnum,jdbcType=INTEGER},
      </if>
      <if test="sdSunmoney != null">
        #{sdSunmoney,jdbcType=REAL},
      </if>
      <if test="sdTax != null">
        #{sdTax,jdbcType=REAL},
      </if>
      <if test="sdIncludingTaxAmount != null">
        #{sdIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sdDeliveryAddress != null">
        #{sdDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sdBuyer != null">
        #{sdBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sdBelongsSection != null">
        #{sdBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sdBelongsProject != null">
        #{sdBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sdForm != null">
        #{sdForm,jdbcType=VARCHAR},
      </if>
      <if test="sdCheckagainStaff != null">
        #{sdCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sdProject != null">
        #{sdProject,jdbcType=VARCHAR},
      </if>
      <if test="sdHeaderProvision != null">
        #{sdHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sdEndClause != null">
        #{sdEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sdRemark != null">
        #{sdRemark,jdbcType=VARCHAR},
      </if>
      <if test="sdAuditing != null">
        #{sdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sdYn != null">
        #{sdYn,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom1 != null">
        #{sdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom2 != null">
        #{sdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom3 != null">
        #{sdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom4 != null">
        #{sdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom5 != null">
        #{sdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom6 != null">
        #{sdCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Sales_discount">
    update sales_discount
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="pdAttributionOfAccount != null">
        pd_attribution_of_account = #{pdAttributionOfAccount,jdbcType=VARCHAR},
      </if>
      <if test="pdAccountsMonth != null">
        pd_accounts_month = #{pdAccountsMonth,jdbcType=DATE},
      </if>
      <if test="psId != null">
        ps_id = #{psId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sdDocumentDate != null">
        sd_document_date = #{sdDocumentDate,jdbcType=DATE},
      </if>
      <if test="sdDocumentNumber != null">
        sd_document_number = #{sdDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sdExchangeRate != null">
        sd_exchange_rate = #{sdExchangeRate,jdbcType=REAL},
      </if>
      <if test="sdCertificateNumber != null">
        sd_certificate_number = #{sdCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sdSunnum != null">
        sd_sunnum = #{sdSunnum,jdbcType=INTEGER},
      </if>
      <if test="sdSunmoney != null">
        sd_sunmoney = #{sdSunmoney,jdbcType=REAL},
      </if>
      <if test="sdTax != null">
        sd_tax = #{sdTax,jdbcType=REAL},
      </if>
      <if test="sdIncludingTaxAmount != null">
        sd_including_tax_amount = #{sdIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sdDeliveryAddress != null">
        sd_delivery_address = #{sdDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sdBuyer != null">
        sd_buyer = #{sdBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sdBelongsSection != null">
        sd_belongs_section = #{sdBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sdBelongsProject != null">
        sd_belongs_project = #{sdBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sdForm != null">
        sd_form = #{sdForm,jdbcType=VARCHAR},
      </if>
      <if test="sdCheckagainStaff != null">
        sd_checkagain_staff = #{sdCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sdProject != null">
        sd_project = #{sdProject,jdbcType=VARCHAR},
      </if>
      <if test="sdHeaderProvision != null">
        sd_header_provision = #{sdHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sdEndClause != null">
        sd_end_clause = #{sdEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sdRemark != null">
        sd_remark = #{sdRemark,jdbcType=VARCHAR},
      </if>
      <if test="sdAuditing != null">
        sd_auditing = #{sdAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sdYn != null">
        sd_yn = #{sdYn,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom1 != null">
        sd_custom1 = #{sdCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom2 != null">
        sd_custom2 = #{sdCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom3 != null">
        sd_custom3 = #{sdCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom4 != null">
        sd_custom4 = #{sdCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom5 != null">
        sd_custom5 = #{sdCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sdCustom6 != null">
        sd_custom6 = #{sdCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Sales_discount">
    update sales_discount
    set customer_id = #{customerId,jdbcType=VARCHAR},
      pd_attribution_of_account = #{pdAttributionOfAccount,jdbcType=VARCHAR},
      pd_accounts_month = #{pdAccountsMonth,jdbcType=DATE},
      ps_id = #{psId,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      sd_document_date = #{sdDocumentDate,jdbcType=DATE},
      sd_document_number = #{sdDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      sd_exchange_rate = #{sdExchangeRate,jdbcType=REAL},
      sd_certificate_number = #{sdCertificateNumber,jdbcType=VARCHAR},
      sd_sunnum = #{sdSunnum,jdbcType=INTEGER},
      sd_sunmoney = #{sdSunmoney,jdbcType=REAL},
      sd_tax = #{sdTax,jdbcType=REAL},
      sd_including_tax_amount = #{sdIncludingTaxAmount,jdbcType=REAL},
      sd_delivery_address = #{sdDeliveryAddress,jdbcType=VARCHAR},
      sd_buyer = #{sdBuyer,jdbcType=VARCHAR},
      sd_belongs_section = #{sdBelongsSection,jdbcType=VARCHAR},
      sd_belongs_project = #{sdBelongsProject,jdbcType=VARCHAR},
      sd_form = #{sdForm,jdbcType=VARCHAR},
      sd_checkagain_staff = #{sdCheckagainStaff,jdbcType=VARCHAR},
      sd_project = #{sdProject,jdbcType=VARCHAR},
      sd_header_provision = #{sdHeaderProvision,jdbcType=VARCHAR},
      sd_end_clause = #{sdEndClause,jdbcType=VARCHAR},
      sd_remark = #{sdRemark,jdbcType=VARCHAR},
      sd_auditing = #{sdAuditing,jdbcType=VARCHAR},
      sd_yn = #{sdYn,jdbcType=VARCHAR},
      sd_custom1 = #{sdCustom1,jdbcType=VARCHAR},
      sd_custom2 = #{sdCustom2,jdbcType=VARCHAR},
      sd_custom3 = #{sdCustom3,jdbcType=VARCHAR},
      sd_custom4 = #{sdCustom4,jdbcType=VARCHAR},
      sd_custom5 = #{sdCustom5,jdbcType=VARCHAR},
      sd_custom6 = #{sdCustom6,jdbcType=VARCHAR}
    where sd_id = #{sdId,jdbcType=VARCHAR}
  </update>
</mapper>