<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Sales_out_warehouseMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Sales_out_warehouse">
    <id column="sow_id" jdbcType="VARCHAR" property="sowId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="sow_address" jdbcType="VARCHAR" property="sowAddress" />
    <result column="sowt_id" jdbcType="VARCHAR" property="sowtId" />
    <result column="sow_price_include_tax" jdbcType="VARCHAR" property="sowPriceIncludeTax" />
    <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="sow_certificate_number" jdbcType="VARCHAR" property="sowCertificateNumber" />
    <result column="sow_document_date" jdbcType="DATE" property="sowDocumentDate" />
    <result column="sow_document_number" jdbcType="VARCHAR" property="sowDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="sow_exchange_rate" jdbcType="REAL" property="sowExchangeRate" />
    <result column="sow_foreign_trade" jdbcType="VARCHAR" property="sowForeignTrade" />
    <result column="sow_sunnum" jdbcType="INTEGER" property="sowSunnum" />
    <result column="sow_sunmoney" jdbcType="REAL" property="sowSunmoney" />
    <result column="sow_tax" jdbcType="REAL" property="sowTax" />
    <result column="sow_including_tax_amount" jdbcType="REAL" property="sowIncludingTaxAmount" />
    <result column="sow_saleszkgs" jdbcType="VARCHAR" property="sowSaleszkgs" />
    <result column="sow_salesdate" jdbcType="DATE" property="sowSalesdate" />
    <result column="sow_salessktj" jdbcType="VARCHAR" property="sowSalessktj" />
    <result column="sow_salesday" jdbcType="INTEGER" property="sowSalesday" />
    <result column="sow_salesyue" jdbcType="DATE" property="sowSalesyue" />
    <result column="sow_buyer" jdbcType="VARCHAR" property="sowBuyer" />
    <result column="sow_belongs_section" jdbcType="VARCHAR" property="sowBelongsSection" />
    <result column="sow_belongs_project" jdbcType="VARCHAR" property="sowBelongsProject" />
    <result column="sow_form" jdbcType="VARCHAR" property="sowForm" />
    <result column="sow_checkagain_staff" jdbcType="VARCHAR" property="sowCheckagainStaff" />
    <result column="sow_project" jdbcType="VARCHAR" property="sowProject" />
    <result column="sow_header_provision" jdbcType="VARCHAR" property="sowHeaderProvision" />
    <result column="sow_end_clause" jdbcType="VARCHAR" property="sowEndClause" />
    <result column="sow_remark" jdbcType="VARCHAR" property="sowRemark" />
    <result column="sow_auditing" jdbcType="VARCHAR" property="sowAuditing" />
    <result column="sow_yn" jdbcType="VARCHAR" property="sowYn" />
    <result column="sow_custom1" jdbcType="VARCHAR" property="sowCustom1" />
    <result column="sow_custom2" jdbcType="VARCHAR" property="sowCustom2" />
    <result column="sow_custom3" jdbcType="VARCHAR" property="sowCustom3" />
    <result column="sow_custom4" jdbcType="VARCHAR" property="sowCustom4" />
    <result column="sow_custom5" jdbcType="VARCHAR" property="sowCustom5" />
    <result column="sow_custom6" jdbcType="VARCHAR" property="sowCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sow_id, customer_id, sow_address, sowt_id, sow_price_include_tax, warehouse_id, sow_certificate_number, 
    sow_document_date, sow_document_number, currency_id, sow_exchange_rate, sow_foreign_trade, 
    sow_sunnum, sow_sunmoney, sow_tax, sow_including_tax_amount, sow_saleszkgs, sow_salesdate, 
    sow_salessktj, sow_salesday, sow_salesyue, sow_buyer, sow_belongs_section, sow_belongs_project, 
    sow_form, sow_checkagain_staff, sow_project, sow_header_provision, sow_end_clause, 
    sow_remark, sow_auditing, sow_yn, sow_custom1, sow_custom2, sow_custom3, sow_custom4, 
    sow_custom5, sow_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales_out_warehouse
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sales_out_warehouse
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Sales_out_warehouse">
    insert into sales_out_warehouse (sow_id, customer_id, sow_address, 
      sowt_id, sow_price_include_tax, warehouse_id, 
      sow_certificate_number, sow_document_date, sow_document_number, 
      currency_id, sow_exchange_rate, sow_foreign_trade, 
      sow_sunnum, sow_sunmoney, sow_tax, 
      sow_including_tax_amount, sow_saleszkgs, sow_salesdate, 
      sow_salessktj, sow_salesday, sow_salesyue, 
      sow_buyer, sow_belongs_section, sow_belongs_project, 
      sow_form, sow_checkagain_staff, sow_project, 
      sow_header_provision, sow_end_clause, sow_remark, 
      sow_auditing, sow_yn, sow_custom1, 
      sow_custom2, sow_custom3, sow_custom4, 
      sow_custom5, sow_custom6)
    values (#{sowId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{sowAddress,jdbcType=VARCHAR}, 
      #{sowtId,jdbcType=VARCHAR}, #{sowPriceIncludeTax,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 
      #{sowCertificateNumber,jdbcType=VARCHAR}, #{sowDocumentDate,jdbcType=DATE}, #{sowDocumentNumber,jdbcType=VARCHAR}, 
      #{currencyId,jdbcType=VARCHAR}, #{sowExchangeRate,jdbcType=REAL}, #{sowForeignTrade,jdbcType=VARCHAR}, 
      #{sowSunnum,jdbcType=INTEGER}, #{sowSunmoney,jdbcType=REAL}, #{sowTax,jdbcType=REAL}, 
      #{sowIncludingTaxAmount,jdbcType=REAL}, #{sowSaleszkgs,jdbcType=VARCHAR}, #{sowSalesdate,jdbcType=DATE}, 
      #{sowSalessktj,jdbcType=VARCHAR}, #{sowSalesday,jdbcType=INTEGER}, #{sowSalesyue,jdbcType=DATE}, 
      #{sowBuyer,jdbcType=VARCHAR}, #{sowBelongsSection,jdbcType=VARCHAR}, #{sowBelongsProject,jdbcType=VARCHAR}, 
      #{sowForm,jdbcType=VARCHAR}, #{sowCheckagainStaff,jdbcType=VARCHAR}, #{sowProject,jdbcType=VARCHAR}, 
      #{sowHeaderProvision,jdbcType=VARCHAR}, #{sowEndClause,jdbcType=VARCHAR}, #{sowRemark,jdbcType=VARCHAR}, 
      #{sowAuditing,jdbcType=VARCHAR}, #{sowYn,jdbcType=VARCHAR}, #{sowCustom1,jdbcType=VARCHAR}, 
      #{sowCustom2,jdbcType=VARCHAR}, #{sowCustom3,jdbcType=VARCHAR}, #{sowCustom4,jdbcType=VARCHAR}, 
      #{sowCustom5,jdbcType=VARCHAR}, #{sowCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Sales_out_warehouse">
    insert into sales_out_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sowId != null">
        sow_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="sowAddress != null">
        sow_address,
      </if>
      <if test="sowtId != null">
        sowt_id,
      </if>
      <if test="sowPriceIncludeTax != null">
        sow_price_include_tax,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="sowCertificateNumber != null">
        sow_certificate_number,
      </if>
      <if test="sowDocumentDate != null">
        sow_document_date,
      </if>
      <if test="sowDocumentNumber != null">
        sow_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="sowExchangeRate != null">
        sow_exchange_rate,
      </if>
      <if test="sowForeignTrade != null">
        sow_foreign_trade,
      </if>
      <if test="sowSunnum != null">
        sow_sunnum,
      </if>
      <if test="sowSunmoney != null">
        sow_sunmoney,
      </if>
      <if test="sowTax != null">
        sow_tax,
      </if>
      <if test="sowIncludingTaxAmount != null">
        sow_including_tax_amount,
      </if>
      <if test="sowSaleszkgs != null">
        sow_saleszkgs,
      </if>
      <if test="sowSalesdate != null">
        sow_salesdate,
      </if>
      <if test="sowSalessktj != null">
        sow_salessktj,
      </if>
      <if test="sowSalesday != null">
        sow_salesday,
      </if>
      <if test="sowSalesyue != null">
        sow_salesyue,
      </if>
      <if test="sowBuyer != null">
        sow_buyer,
      </if>
      <if test="sowBelongsSection != null">
        sow_belongs_section,
      </if>
      <if test="sowBelongsProject != null">
        sow_belongs_project,
      </if>
      <if test="sowForm != null">
        sow_form,
      </if>
      <if test="sowCheckagainStaff != null">
        sow_checkagain_staff,
      </if>
      <if test="sowProject != null">
        sow_project,
      </if>
      <if test="sowHeaderProvision != null">
        sow_header_provision,
      </if>
      <if test="sowEndClause != null">
        sow_end_clause,
      </if>
      <if test="sowRemark != null">
        sow_remark,
      </if>
      <if test="sowAuditing != null">
        sow_auditing,
      </if>
      <if test="sowYn != null">
        sow_yn,
      </if>
      <if test="sowCustom1 != null">
        sow_custom1,
      </if>
      <if test="sowCustom2 != null">
        sow_custom2,
      </if>
      <if test="sowCustom3 != null">
        sow_custom3,
      </if>
      <if test="sowCustom4 != null">
        sow_custom4,
      </if>
      <if test="sowCustom5 != null">
        sow_custom5,
      </if>
      <if test="sowCustom6 != null">
        sow_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sowId != null">
        #{sowId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="sowAddress != null">
        #{sowAddress,jdbcType=VARCHAR},
      </if>
      <if test="sowtId != null">
        #{sowtId,jdbcType=VARCHAR},
      </if>
      <if test="sowPriceIncludeTax != null">
        #{sowPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sowCertificateNumber != null">
        #{sowCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sowDocumentDate != null">
        #{sowDocumentDate,jdbcType=DATE},
      </if>
      <if test="sowDocumentNumber != null">
        #{sowDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sowExchangeRate != null">
        #{sowExchangeRate,jdbcType=REAL},
      </if>
      <if test="sowForeignTrade != null">
        #{sowForeignTrade,jdbcType=VARCHAR},
      </if>
      <if test="sowSunnum != null">
        #{sowSunnum,jdbcType=INTEGER},
      </if>
      <if test="sowSunmoney != null">
        #{sowSunmoney,jdbcType=REAL},
      </if>
      <if test="sowTax != null">
        #{sowTax,jdbcType=REAL},
      </if>
      <if test="sowIncludingTaxAmount != null">
        #{sowIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sowSaleszkgs != null">
        #{sowSaleszkgs,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesdate != null">
        #{sowSalesdate,jdbcType=DATE},
      </if>
      <if test="sowSalessktj != null">
        #{sowSalessktj,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesday != null">
        #{sowSalesday,jdbcType=INTEGER},
      </if>
      <if test="sowSalesyue != null">
        #{sowSalesyue,jdbcType=DATE},
      </if>
      <if test="sowBuyer != null">
        #{sowBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsSection != null">
        #{sowBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsProject != null">
        #{sowBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sowForm != null">
        #{sowForm,jdbcType=VARCHAR},
      </if>
      <if test="sowCheckagainStaff != null">
        #{sowCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sowProject != null">
        #{sowProject,jdbcType=VARCHAR},
      </if>
      <if test="sowHeaderProvision != null">
        #{sowHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sowEndClause != null">
        #{sowEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sowRemark != null">
        #{sowRemark,jdbcType=VARCHAR},
      </if>
      <if test="sowAuditing != null">
        #{sowAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sowYn != null">
        #{sowYn,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom1 != null">
        #{sowCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom2 != null">
        #{sowCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom3 != null">
        #{sowCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom4 != null">
        #{sowCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom5 != null">
        #{sowCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom6 != null">
        #{sowCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Sales_out_warehouse">
    update sales_out_warehouse
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="sowAddress != null">
        sow_address = #{sowAddress,jdbcType=VARCHAR},
      </if>
      <if test="sowtId != null">
        sowt_id = #{sowtId,jdbcType=VARCHAR},
      </if>
      <if test="sowPriceIncludeTax != null">
        sow_price_include_tax = #{sowPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sowCertificateNumber != null">
        sow_certificate_number = #{sowCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sowDocumentDate != null">
        sow_document_date = #{sowDocumentDate,jdbcType=DATE},
      </if>
      <if test="sowDocumentNumber != null">
        sow_document_number = #{sowDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sowExchangeRate != null">
        sow_exchange_rate = #{sowExchangeRate,jdbcType=REAL},
      </if>
      <if test="sowForeignTrade != null">
        sow_foreign_trade = #{sowForeignTrade,jdbcType=VARCHAR},
      </if>
      <if test="sowSunnum != null">
        sow_sunnum = #{sowSunnum,jdbcType=INTEGER},
      </if>
      <if test="sowSunmoney != null">
        sow_sunmoney = #{sowSunmoney,jdbcType=REAL},
      </if>
      <if test="sowTax != null">
        sow_tax = #{sowTax,jdbcType=REAL},
      </if>
      <if test="sowIncludingTaxAmount != null">
        sow_including_tax_amount = #{sowIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sowSaleszkgs != null">
        sow_saleszkgs = #{sowSaleszkgs,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesdate != null">
        sow_salesdate = #{sowSalesdate,jdbcType=DATE},
      </if>
      <if test="sowSalessktj != null">
        sow_salessktj = #{sowSalessktj,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesday != null">
        sow_salesday = #{sowSalesday,jdbcType=INTEGER},
      </if>
      <if test="sowSalesyue != null">
        sow_salesyue = #{sowSalesyue,jdbcType=DATE},
      </if>
      <if test="sowBuyer != null">
        sow_buyer = #{sowBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsSection != null">
        sow_belongs_section = #{sowBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsProject != null">
        sow_belongs_project = #{sowBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sowForm != null">
        sow_form = #{sowForm,jdbcType=VARCHAR},
      </if>
      <if test="sowCheckagainStaff != null">
        sow_checkagain_staff = #{sowCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sowProject != null">
        sow_project = #{sowProject,jdbcType=VARCHAR},
      </if>
      <if test="sowHeaderProvision != null">
        sow_header_provision = #{sowHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sowEndClause != null">
        sow_end_clause = #{sowEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sowRemark != null">
        sow_remark = #{sowRemark,jdbcType=VARCHAR},
      </if>
      <if test="sowAuditing != null">
        sow_auditing = #{sowAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sowYn != null">
        sow_yn = #{sowYn,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom1 != null">
        sow_custom1 = #{sowCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom2 != null">
        sow_custom2 = #{sowCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom3 != null">
        sow_custom3 = #{sowCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom4 != null">
        sow_custom4 = #{sowCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom5 != null">
        sow_custom5 = #{sowCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom6 != null">
        sow_custom6 = #{sowCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Sales_out_warehouse">
    update sales_out_warehouse
    set customer_id = #{customerId,jdbcType=VARCHAR},
      sow_address = #{sowAddress,jdbcType=VARCHAR},
      sowt_id = #{sowtId,jdbcType=VARCHAR},
      sow_price_include_tax = #{sowPriceIncludeTax,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      sow_certificate_number = #{sowCertificateNumber,jdbcType=VARCHAR},
      sow_document_date = #{sowDocumentDate,jdbcType=DATE},
      sow_document_number = #{sowDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      sow_exchange_rate = #{sowExchangeRate,jdbcType=REAL},
      sow_foreign_trade = #{sowForeignTrade,jdbcType=VARCHAR},
      sow_sunnum = #{sowSunnum,jdbcType=INTEGER},
      sow_sunmoney = #{sowSunmoney,jdbcType=REAL},
      sow_tax = #{sowTax,jdbcType=REAL},
      sow_including_tax_amount = #{sowIncludingTaxAmount,jdbcType=REAL},
      sow_saleszkgs = #{sowSaleszkgs,jdbcType=VARCHAR},
      sow_salesdate = #{sowSalesdate,jdbcType=DATE},
      sow_salessktj = #{sowSalessktj,jdbcType=VARCHAR},
      sow_salesday = #{sowSalesday,jdbcType=INTEGER},
      sow_salesyue = #{sowSalesyue,jdbcType=DATE},
      sow_buyer = #{sowBuyer,jdbcType=VARCHAR},
      sow_belongs_section = #{sowBelongsSection,jdbcType=VARCHAR},
      sow_belongs_project = #{sowBelongsProject,jdbcType=VARCHAR},
      sow_form = #{sowForm,jdbcType=VARCHAR},
      sow_checkagain_staff = #{sowCheckagainStaff,jdbcType=VARCHAR},
      sow_project = #{sowProject,jdbcType=VARCHAR},
      sow_header_provision = #{sowHeaderProvision,jdbcType=VARCHAR},
      sow_end_clause = #{sowEndClause,jdbcType=VARCHAR},
      sow_remark = #{sowRemark,jdbcType=VARCHAR},
      sow_auditing = #{sowAuditing,jdbcType=VARCHAR},
      sow_yn = #{sowYn,jdbcType=VARCHAR},
      sow_custom1 = #{sowCustom1,jdbcType=VARCHAR},
      sow_custom2 = #{sowCustom2,jdbcType=VARCHAR},
      sow_custom3 = #{sowCustom3,jdbcType=VARCHAR},
      sow_custom4 = #{sowCustom4,jdbcType=VARCHAR},
      sow_custom5 = #{sowCustom5,jdbcType=VARCHAR},
      sow_custom6 = #{sowCustom6,jdbcType=VARCHAR}
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.Sales_out_warehouse">
    <id column="sow_id" jdbcType="VARCHAR" property="sowId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="sow_address" jdbcType="VARCHAR" property="sowAddress" />
    <result column="sowt_id" jdbcType="VARCHAR" property="sowtId" />
    <result column="sow_price_include_tax" jdbcType="VARCHAR" property="sowPriceIncludeTax" />
    <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="sow_certificate_number" jdbcType="VARCHAR" property="sowCertificateNumber" />
    <result column="sow_document_date" jdbcType="DATE" property="sowDocumentDate" />
    <result column="sow_document_number" jdbcType="VARCHAR" property="sowDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="sow_exchange_rate" jdbcType="REAL" property="sowExchangeRate" />
    <result column="sow_foreign_trade" jdbcType="VARCHAR" property="sowForeignTrade" />
    <result column="sow_sunnum" jdbcType="INTEGER" property="sowSunnum" />
    <result column="sow_sunmoney" jdbcType="REAL" property="sowSunmoney" />
    <result column="sow_tax" jdbcType="REAL" property="sowTax" />
    <result column="sow_including_tax_amount" jdbcType="REAL" property="sowIncludingTaxAmount" />
    <result column="sow_saleszkgs" jdbcType="VARCHAR" property="sowSaleszkgs" />
    <result column="sow_salesdate" jdbcType="DATE" property="sowSalesdate" />
    <result column="sow_salessktj" jdbcType="VARCHAR" property="sowSalessktj" />
    <result column="sow_salesday" jdbcType="INTEGER" property="sowSalesday" />
    <result column="sow_salesyue" jdbcType="DATE" property="sowSalesyue" />
    <result column="sow_buyer" jdbcType="VARCHAR" property="sowBuyer" />
    <result column="sow_belongs_section" jdbcType="VARCHAR" property="sowBelongsSection" />
    <result column="sow_belongs_project" jdbcType="VARCHAR" property="sowBelongsProject" />
    <result column="sow_form" jdbcType="VARCHAR" property="sowForm" />
    <result column="sow_checkagain_staff" jdbcType="VARCHAR" property="sowCheckagainStaff" />
    <result column="sow_project" jdbcType="VARCHAR" property="sowProject" />
    <result column="sow_header_provision" jdbcType="VARCHAR" property="sowHeaderProvision" />
    <result column="sow_end_clause" jdbcType="VARCHAR" property="sowEndClause" />
    <result column="sow_remark" jdbcType="VARCHAR" property="sowRemark" />
    <result column="sow_auditing" jdbcType="VARCHAR" property="sowAuditing" />
    <result column="sow_yn" jdbcType="VARCHAR" property="sowYn" />
    <result column="sow_custom1" jdbcType="VARCHAR" property="sowCustom1" />
    <result column="sow_custom2" jdbcType="VARCHAR" property="sowCustom2" />
    <result column="sow_custom3" jdbcType="VARCHAR" property="sowCustom3" />
    <result column="sow_custom4" jdbcType="VARCHAR" property="sowCustom4" />
    <result column="sow_custom5" jdbcType="VARCHAR" property="sowCustom5" />
    <result column="sow_custom6" jdbcType="VARCHAR" property="sowCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sow_id, customer_id, sow_address, sowt_id, sow_price_include_tax, warehouse_id, sow_certificate_number, 
    sow_document_date, sow_document_number, currency_id, sow_exchange_rate, sow_foreign_trade, 
    sow_sunnum, sow_sunmoney, sow_tax, sow_including_tax_amount, sow_saleszkgs, sow_salesdate, 
    sow_salessktj, sow_salesday, sow_salesyue, sow_buyer, sow_belongs_section, sow_belongs_project, 
    sow_form, sow_checkagain_staff, sow_project, sow_header_provision, sow_end_clause, 
    sow_remark, sow_auditing, sow_yn, sow_custom1, sow_custom2, sow_custom3, sow_custom4, 
    sow_custom5, sow_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales_out_warehouse
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sales_out_warehouse
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Sales_out_warehouse">
    insert into sales_out_warehouse (sow_id, customer_id, sow_address, 
      sowt_id, sow_price_include_tax, warehouse_id, 
      sow_certificate_number, sow_document_date, sow_document_number, 
      currency_id, sow_exchange_rate, sow_foreign_trade, 
      sow_sunnum, sow_sunmoney, sow_tax, 
      sow_including_tax_amount, sow_saleszkgs, sow_salesdate, 
      sow_salessktj, sow_salesday, sow_salesyue, 
      sow_buyer, sow_belongs_section, sow_belongs_project, 
      sow_form, sow_checkagain_staff, sow_project, 
      sow_header_provision, sow_end_clause, sow_remark, 
      sow_auditing, sow_yn, sow_custom1, 
      sow_custom2, sow_custom3, sow_custom4, 
      sow_custom5, sow_custom6)
    values (#{sowId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{sowAddress,jdbcType=VARCHAR}, 
      #{sowtId,jdbcType=VARCHAR}, #{sowPriceIncludeTax,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 
      #{sowCertificateNumber,jdbcType=VARCHAR}, #{sowDocumentDate,jdbcType=DATE}, #{sowDocumentNumber,jdbcType=VARCHAR}, 
      #{currencyId,jdbcType=VARCHAR}, #{sowExchangeRate,jdbcType=REAL}, #{sowForeignTrade,jdbcType=VARCHAR}, 
      #{sowSunnum,jdbcType=INTEGER}, #{sowSunmoney,jdbcType=REAL}, #{sowTax,jdbcType=REAL}, 
      #{sowIncludingTaxAmount,jdbcType=REAL}, #{sowSaleszkgs,jdbcType=VARCHAR}, #{sowSalesdate,jdbcType=DATE}, 
      #{sowSalessktj,jdbcType=VARCHAR}, #{sowSalesday,jdbcType=INTEGER}, #{sowSalesyue,jdbcType=DATE}, 
      #{sowBuyer,jdbcType=VARCHAR}, #{sowBelongsSection,jdbcType=VARCHAR}, #{sowBelongsProject,jdbcType=VARCHAR}, 
      #{sowForm,jdbcType=VARCHAR}, #{sowCheckagainStaff,jdbcType=VARCHAR}, #{sowProject,jdbcType=VARCHAR}, 
      #{sowHeaderProvision,jdbcType=VARCHAR}, #{sowEndClause,jdbcType=VARCHAR}, #{sowRemark,jdbcType=VARCHAR}, 
      #{sowAuditing,jdbcType=VARCHAR}, #{sowYn,jdbcType=VARCHAR}, #{sowCustom1,jdbcType=VARCHAR}, 
      #{sowCustom2,jdbcType=VARCHAR}, #{sowCustom3,jdbcType=VARCHAR}, #{sowCustom4,jdbcType=VARCHAR}, 
      #{sowCustom5,jdbcType=VARCHAR}, #{sowCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Sales_out_warehouse">
    insert into sales_out_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sowId != null">
        sow_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="sowAddress != null">
        sow_address,
      </if>
      <if test="sowtId != null">
        sowt_id,
      </if>
      <if test="sowPriceIncludeTax != null">
        sow_price_include_tax,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="sowCertificateNumber != null">
        sow_certificate_number,
      </if>
      <if test="sowDocumentDate != null">
        sow_document_date,
      </if>
      <if test="sowDocumentNumber != null">
        sow_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="sowExchangeRate != null">
        sow_exchange_rate,
      </if>
      <if test="sowForeignTrade != null">
        sow_foreign_trade,
      </if>
      <if test="sowSunnum != null">
        sow_sunnum,
      </if>
      <if test="sowSunmoney != null">
        sow_sunmoney,
      </if>
      <if test="sowTax != null">
        sow_tax,
      </if>
      <if test="sowIncludingTaxAmount != null">
        sow_including_tax_amount,
      </if>
      <if test="sowSaleszkgs != null">
        sow_saleszkgs,
      </if>
      <if test="sowSalesdate != null">
        sow_salesdate,
      </if>
      <if test="sowSalessktj != null">
        sow_salessktj,
      </if>
      <if test="sowSalesday != null">
        sow_salesday,
      </if>
      <if test="sowSalesyue != null">
        sow_salesyue,
      </if>
      <if test="sowBuyer != null">
        sow_buyer,
      </if>
      <if test="sowBelongsSection != null">
        sow_belongs_section,
      </if>
      <if test="sowBelongsProject != null">
        sow_belongs_project,
      </if>
      <if test="sowForm != null">
        sow_form,
      </if>
      <if test="sowCheckagainStaff != null">
        sow_checkagain_staff,
      </if>
      <if test="sowProject != null">
        sow_project,
      </if>
      <if test="sowHeaderProvision != null">
        sow_header_provision,
      </if>
      <if test="sowEndClause != null">
        sow_end_clause,
      </if>
      <if test="sowRemark != null">
        sow_remark,
      </if>
      <if test="sowAuditing != null">
        sow_auditing,
      </if>
      <if test="sowYn != null">
        sow_yn,
      </if>
      <if test="sowCustom1 != null">
        sow_custom1,
      </if>
      <if test="sowCustom2 != null">
        sow_custom2,
      </if>
      <if test="sowCustom3 != null">
        sow_custom3,
      </if>
      <if test="sowCustom4 != null">
        sow_custom4,
      </if>
      <if test="sowCustom5 != null">
        sow_custom5,
      </if>
      <if test="sowCustom6 != null">
        sow_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sowId != null">
        #{sowId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="sowAddress != null">
        #{sowAddress,jdbcType=VARCHAR},
      </if>
      <if test="sowtId != null">
        #{sowtId,jdbcType=VARCHAR},
      </if>
      <if test="sowPriceIncludeTax != null">
        #{sowPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sowCertificateNumber != null">
        #{sowCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sowDocumentDate != null">
        #{sowDocumentDate,jdbcType=DATE},
      </if>
      <if test="sowDocumentNumber != null">
        #{sowDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sowExchangeRate != null">
        #{sowExchangeRate,jdbcType=REAL},
      </if>
      <if test="sowForeignTrade != null">
        #{sowForeignTrade,jdbcType=VARCHAR},
      </if>
      <if test="sowSunnum != null">
        #{sowSunnum,jdbcType=INTEGER},
      </if>
      <if test="sowSunmoney != null">
        #{sowSunmoney,jdbcType=REAL},
      </if>
      <if test="sowTax != null">
        #{sowTax,jdbcType=REAL},
      </if>
      <if test="sowIncludingTaxAmount != null">
        #{sowIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sowSaleszkgs != null">
        #{sowSaleszkgs,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesdate != null">
        #{sowSalesdate,jdbcType=DATE},
      </if>
      <if test="sowSalessktj != null">
        #{sowSalessktj,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesday != null">
        #{sowSalesday,jdbcType=INTEGER},
      </if>
      <if test="sowSalesyue != null">
        #{sowSalesyue,jdbcType=DATE},
      </if>
      <if test="sowBuyer != null">
        #{sowBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsSection != null">
        #{sowBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsProject != null">
        #{sowBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sowForm != null">
        #{sowForm,jdbcType=VARCHAR},
      </if>
      <if test="sowCheckagainStaff != null">
        #{sowCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sowProject != null">
        #{sowProject,jdbcType=VARCHAR},
      </if>
      <if test="sowHeaderProvision != null">
        #{sowHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sowEndClause != null">
        #{sowEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sowRemark != null">
        #{sowRemark,jdbcType=VARCHAR},
      </if>
      <if test="sowAuditing != null">
        #{sowAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sowYn != null">
        #{sowYn,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom1 != null">
        #{sowCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom2 != null">
        #{sowCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom3 != null">
        #{sowCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom4 != null">
        #{sowCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom5 != null">
        #{sowCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom6 != null">
        #{sowCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Sales_out_warehouse">
    update sales_out_warehouse
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="sowAddress != null">
        sow_address = #{sowAddress,jdbcType=VARCHAR},
      </if>
      <if test="sowtId != null">
        sowt_id = #{sowtId,jdbcType=VARCHAR},
      </if>
      <if test="sowPriceIncludeTax != null">
        sow_price_include_tax = #{sowPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="sowCertificateNumber != null">
        sow_certificate_number = #{sowCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="sowDocumentDate != null">
        sow_document_date = #{sowDocumentDate,jdbcType=DATE},
      </if>
      <if test="sowDocumentNumber != null">
        sow_document_number = #{sowDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="sowExchangeRate != null">
        sow_exchange_rate = #{sowExchangeRate,jdbcType=REAL},
      </if>
      <if test="sowForeignTrade != null">
        sow_foreign_trade = #{sowForeignTrade,jdbcType=VARCHAR},
      </if>
      <if test="sowSunnum != null">
        sow_sunnum = #{sowSunnum,jdbcType=INTEGER},
      </if>
      <if test="sowSunmoney != null">
        sow_sunmoney = #{sowSunmoney,jdbcType=REAL},
      </if>
      <if test="sowTax != null">
        sow_tax = #{sowTax,jdbcType=REAL},
      </if>
      <if test="sowIncludingTaxAmount != null">
        sow_including_tax_amount = #{sowIncludingTaxAmount,jdbcType=REAL},
      </if>
      <if test="sowSaleszkgs != null">
        sow_saleszkgs = #{sowSaleszkgs,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesdate != null">
        sow_salesdate = #{sowSalesdate,jdbcType=DATE},
      </if>
      <if test="sowSalessktj != null">
        sow_salessktj = #{sowSalessktj,jdbcType=VARCHAR},
      </if>
      <if test="sowSalesday != null">
        sow_salesday = #{sowSalesday,jdbcType=INTEGER},
      </if>
      <if test="sowSalesyue != null">
        sow_salesyue = #{sowSalesyue,jdbcType=DATE},
      </if>
      <if test="sowBuyer != null">
        sow_buyer = #{sowBuyer,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsSection != null">
        sow_belongs_section = #{sowBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="sowBelongsProject != null">
        sow_belongs_project = #{sowBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="sowForm != null">
        sow_form = #{sowForm,jdbcType=VARCHAR},
      </if>
      <if test="sowCheckagainStaff != null">
        sow_checkagain_staff = #{sowCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="sowProject != null">
        sow_project = #{sowProject,jdbcType=VARCHAR},
      </if>
      <if test="sowHeaderProvision != null">
        sow_header_provision = #{sowHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="sowEndClause != null">
        sow_end_clause = #{sowEndClause,jdbcType=VARCHAR},
      </if>
      <if test="sowRemark != null">
        sow_remark = #{sowRemark,jdbcType=VARCHAR},
      </if>
      <if test="sowAuditing != null">
        sow_auditing = #{sowAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sowYn != null">
        sow_yn = #{sowYn,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom1 != null">
        sow_custom1 = #{sowCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom2 != null">
        sow_custom2 = #{sowCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom3 != null">
        sow_custom3 = #{sowCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom4 != null">
        sow_custom4 = #{sowCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom5 != null">
        sow_custom5 = #{sowCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sowCustom6 != null">
        sow_custom6 = #{sowCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Sales_out_warehouse">
    update sales_out_warehouse
    set customer_id = #{customerId,jdbcType=VARCHAR},
      sow_address = #{sowAddress,jdbcType=VARCHAR},
      sowt_id = #{sowtId,jdbcType=VARCHAR},
      sow_price_include_tax = #{sowPriceIncludeTax,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      sow_certificate_number = #{sowCertificateNumber,jdbcType=VARCHAR},
      sow_document_date = #{sowDocumentDate,jdbcType=DATE},
      sow_document_number = #{sowDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      sow_exchange_rate = #{sowExchangeRate,jdbcType=REAL},
      sow_foreign_trade = #{sowForeignTrade,jdbcType=VARCHAR},
      sow_sunnum = #{sowSunnum,jdbcType=INTEGER},
      sow_sunmoney = #{sowSunmoney,jdbcType=REAL},
      sow_tax = #{sowTax,jdbcType=REAL},
      sow_including_tax_amount = #{sowIncludingTaxAmount,jdbcType=REAL},
      sow_saleszkgs = #{sowSaleszkgs,jdbcType=VARCHAR},
      sow_salesdate = #{sowSalesdate,jdbcType=DATE},
      sow_salessktj = #{sowSalessktj,jdbcType=VARCHAR},
      sow_salesday = #{sowSalesday,jdbcType=INTEGER},
      sow_salesyue = #{sowSalesyue,jdbcType=DATE},
      sow_buyer = #{sowBuyer,jdbcType=VARCHAR},
      sow_belongs_section = #{sowBelongsSection,jdbcType=VARCHAR},
      sow_belongs_project = #{sowBelongsProject,jdbcType=VARCHAR},
      sow_form = #{sowForm,jdbcType=VARCHAR},
      sow_checkagain_staff = #{sowCheckagainStaff,jdbcType=VARCHAR},
      sow_project = #{sowProject,jdbcType=VARCHAR},
      sow_header_provision = #{sowHeaderProvision,jdbcType=VARCHAR},
      sow_end_clause = #{sowEndClause,jdbcType=VARCHAR},
      sow_remark = #{sowRemark,jdbcType=VARCHAR},
      sow_auditing = #{sowAuditing,jdbcType=VARCHAR},
      sow_yn = #{sowYn,jdbcType=VARCHAR},
      sow_custom1 = #{sowCustom1,jdbcType=VARCHAR},
      sow_custom2 = #{sowCustom2,jdbcType=VARCHAR},
      sow_custom3 = #{sowCustom3,jdbcType=VARCHAR},
      sow_custom4 = #{sowCustom4,jdbcType=VARCHAR},
      sow_custom5 = #{sowCustom5,jdbcType=VARCHAR},
      sow_custom6 = #{sowCustom6,jdbcType=VARCHAR}
    where sow_id = #{sowId,jdbcType=VARCHAR}
  </update>
</mapper>