<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Sales_return_warehouseMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Sales_return_warehouse">
    <id column="srw_id" jdbcType="VARCHAR" property="srwId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="srw_address" jdbcType="VARCHAR" property="srwAddress" />
    <result column="srwt_id" jdbcType="VARCHAR" property="srwtId" />
    <result column="srw_price_include_tax" jdbcType="VARCHAR" property="srwPriceIncludeTax" />
    <result column="salescxrk" jdbcType="INTEGER" property="salescxrk" />
    <result column="warehouse_id" jdbcType="VARCHAR" property="warehouseId" />
    <result column="srw_certificate_number" jdbcType="VARCHAR" property="srwCertificateNumber" />
    <result column="srw_document_date" jdbcType="DATE" property="srwDocumentDate" />
    <result column="srw_document_number" jdbcType="VARCHAR" property="srwDocumentNumber" />
    <result column="currency_id" jdbcType="VARCHAR" property="currencyId" />
    <result column="srw_exchange_rate" jdbcType="REAL" property="srwExchangeRate" />
    <result column="srw_foreign_trade" jdbcType="INTEGER" property="srwForeignTrade" />
    <result column="srw_sunnum" jdbcType="REAL" property="srwSunnum" />
    <result column="srw_sunmoney" jdbcType="REAL" property="srwSunmoney" />
    <result column="srw_tax" jdbcType="REAL" property="srwTax" />
    <result column="srw_including_tax_amount" jdbcType="VARCHAR" property="srwIncludingTaxAmount" />
    <result column="srw_saleszkgs" jdbcType="DATE" property="srwSaleszkgs" />
    <result column="srw_salesdate" jdbcType="VARCHAR" property="srwSalesdate" />
    <result column="srw_salessktj" jdbcType="INTEGER" property="srwSalessktj" />
    <result column="srw_salesday" jdbcType="DATE" property="srwSalesday" />
    <result column="srw_salesyue" jdbcType="VARCHAR" property="srwSalesyue" />
    <result column="srw_buyer" jdbcType="VARCHAR" property="srwBuyer" />
    <result column="srw_belongs_section" jdbcType="VARCHAR" property="srwBelongsSection" />
    <result column="srw_belongs_project" jdbcType="VARCHAR" property="srwBelongsProject" />
    <result column="srw_form" jdbcType="VARCHAR" property="srwForm" />
    <result column="srw_checkagain_staff" jdbcType="VARCHAR" property="srwCheckagainStaff" />
    <result column="srw_header_provision" jdbcType="VARCHAR" property="srwHeaderProvision" />
    <result column="srw_end_clause" jdbcType="VARCHAR" property="srwEndClause" />
    <result column="srw_remark" jdbcType="VARCHAR" property="srwRemark" />
    <result column="srw_auditing" jdbcType="VARCHAR" property="srwAuditing" />
    <result column="srw_yn" jdbcType="VARCHAR" property="srwYn" />
    <result column="srw_custom1" jdbcType="VARCHAR" property="srwCustom1" />
    <result column="srw_custom2" jdbcType="VARCHAR" property="srwCustom2" />
    <result column="srw_custom3" jdbcType="VARCHAR" property="srwCustom3" />
    <result column="srw_custom4" jdbcType="VARCHAR" property="srwCustom4" />
    <result column="srw_custom5" jdbcType="VARCHAR" property="srwCustom5" />
    <result column="srw_custom6" jdbcType="VARCHAR" property="srwCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    srw_id, customer_id, srw_address, srwt_id, srw_price_include_tax, salescxrk, warehouse_id, 
    srw_certificate_number, srw_document_date, srw_document_number, currency_id, srw_exchange_rate, 
    srw_foreign_trade, srw_sunnum, srw_sunmoney, srw_tax, srw_including_tax_amount, srw_saleszkgs, 
    srw_salesdate, srw_salessktj, srw_salesday, srw_salesyue, srw_buyer, srw_belongs_section, 
    srw_belongs_project, srw_form, srw_checkagain_staff, srw_header_provision, srw_end_clause, 
    srw_remark, srw_auditing, srw_yn, srw_custom1, srw_custom2, srw_custom3, srw_custom4, 
    srw_custom5, srw_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales_return_warehouse
    where srw_id = #{srwId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sales_return_warehouse
    where srw_id = #{srwId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Sales_return_warehouse">
    insert into sales_return_warehouse (srw_id, customer_id, srw_address, 
      srwt_id, srw_price_include_tax, salescxrk, 
      warehouse_id, srw_certificate_number, srw_document_date, 
      srw_document_number, currency_id, srw_exchange_rate, 
      srw_foreign_trade, srw_sunnum, srw_sunmoney, 
      srw_tax, srw_including_tax_amount, srw_saleszkgs, 
      srw_salesdate, srw_salessktj, srw_salesday, 
      srw_salesyue, srw_buyer, srw_belongs_section, 
      srw_belongs_project, srw_form, srw_checkagain_staff, 
      srw_header_provision, srw_end_clause, srw_remark, 
      srw_auditing, srw_yn, srw_custom1, 
      srw_custom2, srw_custom3, srw_custom4, 
      srw_custom5, srw_custom6)
    values (#{srwId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, #{srwAddress,jdbcType=VARCHAR}, 
      #{srwtId,jdbcType=VARCHAR}, #{srwPriceIncludeTax,jdbcType=VARCHAR}, #{salescxrk,jdbcType=INTEGER}, 
      #{warehouseId,jdbcType=VARCHAR}, #{srwCertificateNumber,jdbcType=VARCHAR}, #{srwDocumentDate,jdbcType=DATE}, 
      #{srwDocumentNumber,jdbcType=VARCHAR}, #{currencyId,jdbcType=VARCHAR}, #{srwExchangeRate,jdbcType=REAL}, 
      #{srwForeignTrade,jdbcType=INTEGER}, #{srwSunnum,jdbcType=REAL}, #{srwSunmoney,jdbcType=REAL}, 
      #{srwTax,jdbcType=REAL}, #{srwIncludingTaxAmount,jdbcType=VARCHAR}, #{srwSaleszkgs,jdbcType=DATE}, 
      #{srwSalesdate,jdbcType=VARCHAR}, #{srwSalessktj,jdbcType=INTEGER}, #{srwSalesday,jdbcType=DATE}, 
      #{srwSalesyue,jdbcType=VARCHAR}, #{srwBuyer,jdbcType=VARCHAR}, #{srwBelongsSection,jdbcType=VARCHAR}, 
      #{srwBelongsProject,jdbcType=VARCHAR}, #{srwForm,jdbcType=VARCHAR}, #{srwCheckagainStaff,jdbcType=VARCHAR}, 
      #{srwHeaderProvision,jdbcType=VARCHAR}, #{srwEndClause,jdbcType=VARCHAR}, #{srwRemark,jdbcType=VARCHAR}, 
      #{srwAuditing,jdbcType=VARCHAR}, #{srwYn,jdbcType=VARCHAR}, #{srwCustom1,jdbcType=VARCHAR}, 
      #{srwCustom2,jdbcType=VARCHAR}, #{srwCustom3,jdbcType=VARCHAR}, #{srwCustom4,jdbcType=VARCHAR}, 
      #{srwCustom5,jdbcType=VARCHAR}, #{srwCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Sales_return_warehouse">
    insert into sales_return_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="srwId != null">
        srw_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="srwAddress != null">
        srw_address,
      </if>
      <if test="srwtId != null">
        srwt_id,
      </if>
      <if test="srwPriceIncludeTax != null">
        srw_price_include_tax,
      </if>
      <if test="salescxrk != null">
        salescxrk,
      </if>
      <if test="warehouseId != null">
        warehouse_id,
      </if>
      <if test="srwCertificateNumber != null">
        srw_certificate_number,
      </if>
      <if test="srwDocumentDate != null">
        srw_document_date,
      </if>
      <if test="srwDocumentNumber != null">
        srw_document_number,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="srwExchangeRate != null">
        srw_exchange_rate,
      </if>
      <if test="srwForeignTrade != null">
        srw_foreign_trade,
      </if>
      <if test="srwSunnum != null">
        srw_sunnum,
      </if>
      <if test="srwSunmoney != null">
        srw_sunmoney,
      </if>
      <if test="srwTax != null">
        srw_tax,
      </if>
      <if test="srwIncludingTaxAmount != null">
        srw_including_tax_amount,
      </if>
      <if test="srwSaleszkgs != null">
        srw_saleszkgs,
      </if>
      <if test="srwSalesdate != null">
        srw_salesdate,
      </if>
      <if test="srwSalessktj != null">
        srw_salessktj,
      </if>
      <if test="srwSalesday != null">
        srw_salesday,
      </if>
      <if test="srwSalesyue != null">
        srw_salesyue,
      </if>
      <if test="srwBuyer != null">
        srw_buyer,
      </if>
      <if test="srwBelongsSection != null">
        srw_belongs_section,
      </if>
      <if test="srwBelongsProject != null">
        srw_belongs_project,
      </if>
      <if test="srwForm != null">
        srw_form,
      </if>
      <if test="srwCheckagainStaff != null">
        srw_checkagain_staff,
      </if>
      <if test="srwHeaderProvision != null">
        srw_header_provision,
      </if>
      <if test="srwEndClause != null">
        srw_end_clause,
      </if>
      <if test="srwRemark != null">
        srw_remark,
      </if>
      <if test="srwAuditing != null">
        srw_auditing,
      </if>
      <if test="srwYn != null">
        srw_yn,
      </if>
      <if test="srwCustom1 != null">
        srw_custom1,
      </if>
      <if test="srwCustom2 != null">
        srw_custom2,
      </if>
      <if test="srwCustom3 != null">
        srw_custom3,
      </if>
      <if test="srwCustom4 != null">
        srw_custom4,
      </if>
      <if test="srwCustom5 != null">
        srw_custom5,
      </if>
      <if test="srwCustom6 != null">
        srw_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="srwId != null">
        #{srwId,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="srwAddress != null">
        #{srwAddress,jdbcType=VARCHAR},
      </if>
      <if test="srwtId != null">
        #{srwtId,jdbcType=VARCHAR},
      </if>
      <if test="srwPriceIncludeTax != null">
        #{srwPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="salescxrk != null">
        #{salescxrk,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="srwCertificateNumber != null">
        #{srwCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="srwDocumentDate != null">
        #{srwDocumentDate,jdbcType=DATE},
      </if>
      <if test="srwDocumentNumber != null">
        #{srwDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="srwExchangeRate != null">
        #{srwExchangeRate,jdbcType=REAL},
      </if>
      <if test="srwForeignTrade != null">
        #{srwForeignTrade,jdbcType=INTEGER},
      </if>
      <if test="srwSunnum != null">
        #{srwSunnum,jdbcType=REAL},
      </if>
      <if test="srwSunmoney != null">
        #{srwSunmoney,jdbcType=REAL},
      </if>
      <if test="srwTax != null">
        #{srwTax,jdbcType=REAL},
      </if>
      <if test="srwIncludingTaxAmount != null">
        #{srwIncludingTaxAmount,jdbcType=VARCHAR},
      </if>
      <if test="srwSaleszkgs != null">
        #{srwSaleszkgs,jdbcType=DATE},
      </if>
      <if test="srwSalesdate != null">
        #{srwSalesdate,jdbcType=VARCHAR},
      </if>
      <if test="srwSalessktj != null">
        #{srwSalessktj,jdbcType=INTEGER},
      </if>
      <if test="srwSalesday != null">
        #{srwSalesday,jdbcType=DATE},
      </if>
      <if test="srwSalesyue != null">
        #{srwSalesyue,jdbcType=VARCHAR},
      </if>
      <if test="srwBuyer != null">
        #{srwBuyer,jdbcType=VARCHAR},
      </if>
      <if test="srwBelongsSection != null">
        #{srwBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="srwBelongsProject != null">
        #{srwBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="srwForm != null">
        #{srwForm,jdbcType=VARCHAR},
      </if>
      <if test="srwCheckagainStaff != null">
        #{srwCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="srwHeaderProvision != null">
        #{srwHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="srwEndClause != null">
        #{srwEndClause,jdbcType=VARCHAR},
      </if>
      <if test="srwRemark != null">
        #{srwRemark,jdbcType=VARCHAR},
      </if>
      <if test="srwAuditing != null">
        #{srwAuditing,jdbcType=VARCHAR},
      </if>
      <if test="srwYn != null">
        #{srwYn,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom1 != null">
        #{srwCustom1,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom2 != null">
        #{srwCustom2,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom3 != null">
        #{srwCustom3,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom4 != null">
        #{srwCustom4,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom5 != null">
        #{srwCustom5,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom6 != null">
        #{srwCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Sales_return_warehouse">
    update sales_return_warehouse
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="srwAddress != null">
        srw_address = #{srwAddress,jdbcType=VARCHAR},
      </if>
      <if test="srwtId != null">
        srwt_id = #{srwtId,jdbcType=VARCHAR},
      </if>
      <if test="srwPriceIncludeTax != null">
        srw_price_include_tax = #{srwPriceIncludeTax,jdbcType=VARCHAR},
      </if>
      <if test="salescxrk != null">
        salescxrk = #{salescxrk,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null">
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="srwCertificateNumber != null">
        srw_certificate_number = #{srwCertificateNumber,jdbcType=VARCHAR},
      </if>
      <if test="srwDocumentDate != null">
        srw_document_date = #{srwDocumentDate,jdbcType=DATE},
      </if>
      <if test="srwDocumentNumber != null">
        srw_document_number = #{srwDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="srwExchangeRate != null">
        srw_exchange_rate = #{srwExchangeRate,jdbcType=REAL},
      </if>
      <if test="srwForeignTrade != null">
        srw_foreign_trade = #{srwForeignTrade,jdbcType=INTEGER},
      </if>
      <if test="srwSunnum != null">
        srw_sunnum = #{srwSunnum,jdbcType=REAL},
      </if>
      <if test="srwSunmoney != null">
        srw_sunmoney = #{srwSunmoney,jdbcType=REAL},
      </if>
      <if test="srwTax != null">
        srw_tax = #{srwTax,jdbcType=REAL},
      </if>
      <if test="srwIncludingTaxAmount != null">
        srw_including_tax_amount = #{srwIncludingTaxAmount,jdbcType=VARCHAR},
      </if>
      <if test="srwSaleszkgs != null">
        srw_saleszkgs = #{srwSaleszkgs,jdbcType=DATE},
      </if>
      <if test="srwSalesdate != null">
        srw_salesdate = #{srwSalesdate,jdbcType=VARCHAR},
      </if>
      <if test="srwSalessktj != null">
        srw_salessktj = #{srwSalessktj,jdbcType=INTEGER},
      </if>
      <if test="srwSalesday != null">
        srw_salesday = #{srwSalesday,jdbcType=DATE},
      </if>
      <if test="srwSalesyue != null">
        srw_salesyue = #{srwSalesyue,jdbcType=VARCHAR},
      </if>
      <if test="srwBuyer != null">
        srw_buyer = #{srwBuyer,jdbcType=VARCHAR},
      </if>
      <if test="srwBelongsSection != null">
        srw_belongs_section = #{srwBelongsSection,jdbcType=VARCHAR},
      </if>
      <if test="srwBelongsProject != null">
        srw_belongs_project = #{srwBelongsProject,jdbcType=VARCHAR},
      </if>
      <if test="srwForm != null">
        srw_form = #{srwForm,jdbcType=VARCHAR},
      </if>
      <if test="srwCheckagainStaff != null">
        srw_checkagain_staff = #{srwCheckagainStaff,jdbcType=VARCHAR},
      </if>
      <if test="srwHeaderProvision != null">
        srw_header_provision = #{srwHeaderProvision,jdbcType=VARCHAR},
      </if>
      <if test="srwEndClause != null">
        srw_end_clause = #{srwEndClause,jdbcType=VARCHAR},
      </if>
      <if test="srwRemark != null">
        srw_remark = #{srwRemark,jdbcType=VARCHAR},
      </if>
      <if test="srwAuditing != null">
        srw_auditing = #{srwAuditing,jdbcType=VARCHAR},
      </if>
      <if test="srwYn != null">
        srw_yn = #{srwYn,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom1 != null">
        srw_custom1 = #{srwCustom1,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom2 != null">
        srw_custom2 = #{srwCustom2,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom3 != null">
        srw_custom3 = #{srwCustom3,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom4 != null">
        srw_custom4 = #{srwCustom4,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom5 != null">
        srw_custom5 = #{srwCustom5,jdbcType=VARCHAR},
      </if>
      <if test="srwCustom6 != null">
        srw_custom6 = #{srwCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where srw_id = #{srwId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Sales_return_warehouse">
    update sales_return_warehouse
    set customer_id = #{customerId,jdbcType=VARCHAR},
      srw_address = #{srwAddress,jdbcType=VARCHAR},
      srwt_id = #{srwtId,jdbcType=VARCHAR},
      srw_price_include_tax = #{srwPriceIncludeTax,jdbcType=VARCHAR},
      salescxrk = #{salescxrk,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      srw_certificate_number = #{srwCertificateNumber,jdbcType=VARCHAR},
      srw_document_date = #{srwDocumentDate,jdbcType=DATE},
      srw_document_number = #{srwDocumentNumber,jdbcType=VARCHAR},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      srw_exchange_rate = #{srwExchangeRate,jdbcType=REAL},
      srw_foreign_trade = #{srwForeignTrade,jdbcType=INTEGER},
      srw_sunnum = #{srwSunnum,jdbcType=REAL},
      srw_sunmoney = #{srwSunmoney,jdbcType=REAL},
      srw_tax = #{srwTax,jdbcType=REAL},
      srw_including_tax_amount = #{srwIncludingTaxAmount,jdbcType=VARCHAR},
      srw_saleszkgs = #{srwSaleszkgs,jdbcType=DATE},
      srw_salesdate = #{srwSalesdate,jdbcType=VARCHAR},
      srw_salessktj = #{srwSalessktj,jdbcType=INTEGER},
      srw_salesday = #{srwSalesday,jdbcType=DATE},
      srw_salesyue = #{srwSalesyue,jdbcType=VARCHAR},
      srw_buyer = #{srwBuyer,jdbcType=VARCHAR},
      srw_belongs_section = #{srwBelongsSection,jdbcType=VARCHAR},
      srw_belongs_project = #{srwBelongsProject,jdbcType=VARCHAR},
      srw_form = #{srwForm,jdbcType=VARCHAR},
      srw_checkagain_staff = #{srwCheckagainStaff,jdbcType=VARCHAR},
      srw_header_provision = #{srwHeaderProvision,jdbcType=VARCHAR},
      srw_end_clause = #{srwEndClause,jdbcType=VARCHAR},
      srw_remark = #{srwRemark,jdbcType=VARCHAR},
      srw_auditing = #{srwAuditing,jdbcType=VARCHAR},
      srw_yn = #{srwYn,jdbcType=VARCHAR},
      srw_custom1 = #{srwCustom1,jdbcType=VARCHAR},
      srw_custom2 = #{srwCustom2,jdbcType=VARCHAR},
      srw_custom3 = #{srwCustom3,jdbcType=VARCHAR},
      srw_custom4 = #{srwCustom4,jdbcType=VARCHAR},
      srw_custom5 = #{srwCustom5,jdbcType=VARCHAR},
      srw_custom6 = #{srwCustom6,jdbcType=VARCHAR}
    where srw_id = #{srwId,jdbcType=VARCHAR}
  </update>
</mapper>