<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.Settle_accounts_typeMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.Settle_accounts_type">
    <id column="sat_id" jdbcType="VARCHAR" property="satId" />
    <result column="sat_name" jdbcType="VARCHAR" property="satName" />
    <result column="sat_english_name" jdbcType="VARCHAR" property="satEnglishName" />
    <result column="sat_subject" jdbcType="VARCHAR" property="satSubject" />
    <result column="sat_remark" jdbcType="VARCHAR" property="satRemark" />
    <result column="sat_Auditing" jdbcType="VARCHAR" property="satAuditing" />
    <result column="sat_yn" jdbcType="VARCHAR" property="satYn" />
    <result column="sat_custom1" jdbcType="VARCHAR" property="satCustom1" />
    <result column="sat_custom2" jdbcType="VARCHAR" property="satCustom2" />
    <result column="sat_custom3" jdbcType="VARCHAR" property="satCustom3" />
    <result column="sat_custom4" jdbcType="VARCHAR" property="satCustom4" />
    <result column="sat_custom5" jdbcType="VARCHAR" property="satCustom5" />
    <result column="sat_custom6" jdbcType="VARCHAR" property="satCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sat_id, sat_name, sat_english_name, sat_subject, sat_remark, sat_Auditing, sat_yn, 
    sat_custom1, sat_custom2, sat_custom3, sat_custom4, sat_custom5, sat_custom6
  </sql>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from settle_accounts_type 
	    where sat_Yn=0
	    ORDER BY sat_id DESC
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from settle_accounts_type
    where sat_id = #{satId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from settle_accounts_type
    where sat_id = #{satId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.Settle_accounts_type">
    insert into settle_accounts_type (sat_id, sat_name, sat_english_name, 
      sat_subject, sat_remark, sat_Auditing, 
      sat_yn, sat_custom1, sat_custom2, 
      sat_custom3, sat_custom4, sat_custom5, 
      sat_custom6)
    values (#{satId,jdbcType=VARCHAR}, #{satName,jdbcType=VARCHAR}, #{satEnglishName,jdbcType=VARCHAR}, 
      #{satSubject,jdbcType=VARCHAR}, #{satRemark,jdbcType=VARCHAR}, #{satAuditing,jdbcType=VARCHAR}, 
      #{satYn,jdbcType=VARCHAR}, #{satCustom1,jdbcType=VARCHAR}, #{satCustom2,jdbcType=VARCHAR}, 
      #{satCustom3,jdbcType=VARCHAR}, #{satCustom4,jdbcType=VARCHAR}, #{satCustom5,jdbcType=VARCHAR}, 
      #{satCustom6,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.Settle_accounts_type">
    insert into settle_accounts_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="satId != null">
        sat_id,
      </if>
      <if test="satName != null">
        sat_name,
      </if>
      <if test="satEnglishName != null">
        sat_english_name,
      </if>
      <if test="satSubject != null">
        sat_subject,
      </if>
      <if test="satRemark != null">
        sat_remark,
      </if>
      <if test="satAuditing != null">
        sat_Auditing,
      </if>
      <if test="satYn != null">
        sat_yn,
      </if>
      <if test="satCustom1 != null">
        sat_custom1,
      </if>
      <if test="satCustom2 != null">
        sat_custom2,
      </if>
      <if test="satCustom3 != null">
        sat_custom3,
      </if>
      <if test="satCustom4 != null">
        sat_custom4,
      </if>
      <if test="satCustom5 != null">
        sat_custom5,
      </if>
      <if test="satCustom6 != null">
        sat_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="satId != null">
        #{satId,jdbcType=VARCHAR},
      </if>
      <if test="satName != null">
        #{satName,jdbcType=VARCHAR},
      </if>
      <if test="satEnglishName != null">
        #{satEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="satSubject != null">
        #{satSubject,jdbcType=VARCHAR},
      </if>
      <if test="satRemark != null">
        #{satRemark,jdbcType=VARCHAR},
      </if>
      <if test="satAuditing != null">
        #{satAuditing,jdbcType=VARCHAR},
      </if>
      <if test="satYn != null">
        #{satYn,jdbcType=VARCHAR},
      </if>
      <if test="satCustom1 != null">
        #{satCustom1,jdbcType=VARCHAR},
      </if>
      <if test="satCustom2 != null">
        #{satCustom2,jdbcType=VARCHAR},
      </if>
      <if test="satCustom3 != null">
        #{satCustom3,jdbcType=VARCHAR},
      </if>
      <if test="satCustom4 != null">
        #{satCustom4,jdbcType=VARCHAR},
      </if>
      <if test="satCustom5 != null">
        #{satCustom5,jdbcType=VARCHAR},
      </if>
      <if test="satCustom6 != null">
        #{satCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.Settle_accounts_type">
    update settle_accounts_type
    <set>
      <if test="satName != null">
        sat_name = #{satName,jdbcType=VARCHAR},
      </if>
      <if test="satEnglishName != null">
        sat_english_name = #{satEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="satSubject != null">
        sat_subject = #{satSubject,jdbcType=VARCHAR},
      </if>
      <if test="satRemark != null">
        sat_remark = #{satRemark,jdbcType=VARCHAR},
      </if>
      <if test="satAuditing != null">
        sat_Auditing = #{satAuditing,jdbcType=VARCHAR},
      </if>
      <if test="satYn != null">
        sat_yn = #{satYn,jdbcType=VARCHAR},
      </if>
      <if test="satCustom1 != null">
        sat_custom1 = #{satCustom1,jdbcType=VARCHAR},
      </if>
      <if test="satCustom2 != null">
        sat_custom2 = #{satCustom2,jdbcType=VARCHAR},
      </if>
      <if test="satCustom3 != null">
        sat_custom3 = #{satCustom3,jdbcType=VARCHAR},
      </if>
      <if test="satCustom4 != null">
        sat_custom4 = #{satCustom4,jdbcType=VARCHAR},
      </if>
      <if test="satCustom5 != null">
        sat_custom5 = #{satCustom5,jdbcType=VARCHAR},
      </if>
      <if test="satCustom6 != null">
        sat_custom6 = #{satCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sat_id = #{satId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.Settle_accounts_type">
    update settle_accounts_type
    set sat_name = #{satName,jdbcType=VARCHAR},
      sat_english_name = #{satEnglishName,jdbcType=VARCHAR},
      sat_subject = #{satSubject,jdbcType=VARCHAR},
      sat_remark = #{satRemark,jdbcType=VARCHAR},
      sat_Auditing = #{satAuditing,jdbcType=VARCHAR},
      sat_yn = #{satYn,jdbcType=VARCHAR},
      sat_custom1 = #{satCustom1,jdbcType=VARCHAR},
      sat_custom2 = #{satCustom2,jdbcType=VARCHAR},
      sat_custom3 = #{satCustom3,jdbcType=VARCHAR},
      sat_custom4 = #{satCustom4,jdbcType=VARCHAR},
      sat_custom5 = #{satCustom5,jdbcType=VARCHAR},
      sat_custom6 = #{satCustom6,jdbcType=VARCHAR}
    where sat_id = #{satId,jdbcType=VARCHAR}
  </update>
</mapper>