<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apatech.mapper.subject_blanket_categoryMapper">
  <resultMap id="BaseResultMap" type="com.apatech.domain.subject_blanket_category">
    <id column="sbc_id" jdbcType="VARCHAR" property="sbcId" />
    <result column="sbc_name" jdbcType="VARCHAR" property="sbcName" />
    <result column="sbc_engname" jdbcType="VARCHAR" property="sbcEngname" />
    <result column="sbc_remark" jdbcType="VARCHAR" property="sbcRemark" />
    <result column="sbc_Auditing" jdbcType="VARCHAR" property="sbcAuditing" />
    <result column="sbc_yn" jdbcType="VARCHAR" property="sbcYn" />
    <result column="sbc_custom1" jdbcType="VARCHAR" property="sbcCustom1" />
    <result column="sbc_custom2" jdbcType="VARCHAR" property="sbcCustom2" />
    <result column="sbc_custom3" jdbcType="VARCHAR" property="sbcCustom3" />
    <result column="sbc_custom4" jdbcType="VARCHAR" property="sbcCustom4" />
    <result column="sbc_custom5" jdbcType="VARCHAR" property="sbcCustom5" />
    <result column="sbc_custom6" jdbcType="VARCHAR" property="sbcCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sbc_id, sbc_name, sbc_engname, sbc_remark, sbc_Auditing, sbc_yn, sbc_custom1, sbc_custom2, 
    sbc_custom3, sbc_custom4, sbc_custom5, sbc_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject_blanket_category
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from subject_blanket_category
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.subject_blanket_category">
    insert into subject_blanket_category (sbc_id, sbc_name, sbc_engname, 
      sbc_remark, sbc_Auditing, sbc_yn, 
      sbc_custom1, sbc_custom2, sbc_custom3, 
      sbc_custom4, sbc_custom5, sbc_custom6
      )
    values (#{sbcId,jdbcType=VARCHAR}, #{sbcName,jdbcType=VARCHAR}, #{sbcEngname,jdbcType=VARCHAR}, 
      #{sbcRemark,jdbcType=VARCHAR}, #{sbcAuditing,jdbcType=VARCHAR}, #{sbcYn,jdbcType=VARCHAR}, 
      #{sbcCustom1,jdbcType=VARCHAR}, #{sbcCustom2,jdbcType=VARCHAR}, #{sbcCustom3,jdbcType=VARCHAR}, 
      #{sbcCustom4,jdbcType=VARCHAR}, #{sbcCustom5,jdbcType=VARCHAR}, #{sbcCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.subject_blanket_category">
    insert into subject_blanket_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sbcId != null">
        sbc_id,
      </if>
      <if test="sbcName != null">
        sbc_name,
      </if>
      <if test="sbcEngname != null">
        sbc_engname,
      </if>
      <if test="sbcRemark != null">
        sbc_remark,
      </if>
      <if test="sbcAuditing != null">
        sbc_Auditing,
      </if>
      <if test="sbcYn != null">
        sbc_yn,
      </if>
      <if test="sbcCustom1 != null">
        sbc_custom1,
      </if>
      <if test="sbcCustom2 != null">
        sbc_custom2,
      </if>
      <if test="sbcCustom3 != null">
        sbc_custom3,
      </if>
      <if test="sbcCustom4 != null">
        sbc_custom4,
      </if>
      <if test="sbcCustom5 != null">
        sbc_custom5,
      </if>
      <if test="sbcCustom6 != null">
        sbc_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sbcId != null">
        #{sbcId,jdbcType=VARCHAR},
      </if>
      <if test="sbcName != null">
        #{sbcName,jdbcType=VARCHAR},
      </if>
      <if test="sbcEngname != null">
        #{sbcEngname,jdbcType=VARCHAR},
      </if>
      <if test="sbcRemark != null">
        #{sbcRemark,jdbcType=VARCHAR},
      </if>
      <if test="sbcAuditing != null">
        #{sbcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sbcYn != null">
        #{sbcYn,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom1 != null">
        #{sbcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom2 != null">
        #{sbcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom3 != null">
        #{sbcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom4 != null">
        #{sbcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom5 != null">
        #{sbcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom6 != null">
        #{sbcCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.subject_blanket_category">
    update subject_blanket_category
    <set>
      <if test="sbcName != null">
        sbc_name = #{sbcName,jdbcType=VARCHAR},
      </if>
      <if test="sbcEngname != null">
        sbc_engname = #{sbcEngname,jdbcType=VARCHAR},
      </if>
      <if test="sbcRemark != null">
        sbc_remark = #{sbcRemark,jdbcType=VARCHAR},
      </if>
      <if test="sbcAuditing != null">
        sbc_Auditing = #{sbcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sbcYn != null">
        sbc_yn = #{sbcYn,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom1 != null">
        sbc_custom1 = #{sbcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom2 != null">
        sbc_custom2 = #{sbcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom3 != null">
        sbc_custom3 = #{sbcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom4 != null">
        sbc_custom4 = #{sbcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom5 != null">
        sbc_custom5 = #{sbcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom6 != null">
        sbc_custom6 = #{sbcCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.subject_blanket_category">
    update subject_blanket_category
    set sbc_name = #{sbcName,jdbcType=VARCHAR},
      sbc_engname = #{sbcEngname,jdbcType=VARCHAR},
      sbc_remark = #{sbcRemark,jdbcType=VARCHAR},
      sbc_Auditing = #{sbcAuditing,jdbcType=VARCHAR},
      sbc_yn = #{sbcYn,jdbcType=VARCHAR},
      sbc_custom1 = #{sbcCustom1,jdbcType=VARCHAR},
      sbc_custom2 = #{sbcCustom2,jdbcType=VARCHAR},
      sbc_custom3 = #{sbcCustom3,jdbcType=VARCHAR},
      sbc_custom4 = #{sbcCustom4,jdbcType=VARCHAR},
      sbc_custom5 = #{sbcCustom5,jdbcType=VARCHAR},
      sbc_custom6 = #{sbcCustom6,jdbcType=VARCHAR}
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.apatech.domain.subject_blanket_category">
    <id column="sbc_id" jdbcType="VARCHAR" property="sbcId" />
    <result column="sbc_name" jdbcType="VARCHAR" property="sbcName" />
    <result column="sbc_engname" jdbcType="VARCHAR" property="sbcEngname" />
    <result column="sbc_remark" jdbcType="VARCHAR" property="sbcRemark" />
    <result column="sbc_Auditing" jdbcType="VARCHAR" property="sbcAuditing" />
    <result column="sbc_yn" jdbcType="VARCHAR" property="sbcYn" />
    <result column="sbc_custom1" jdbcType="VARCHAR" property="sbcCustom1" />
    <result column="sbc_custom2" jdbcType="VARCHAR" property="sbcCustom2" />
    <result column="sbc_custom3" jdbcType="VARCHAR" property="sbcCustom3" />
    <result column="sbc_custom4" jdbcType="VARCHAR" property="sbcCustom4" />
    <result column="sbc_custom5" jdbcType="VARCHAR" property="sbcCustom5" />
    <result column="sbc_custom6" jdbcType="VARCHAR" property="sbcCustom6" />
  </resultMap>
  <sql id="Base_Column_List">
    sbc_id, sbc_name, sbc_engname, sbc_remark, sbc_Auditing, sbc_yn, sbc_custom1, sbc_custom2, 
    sbc_custom3, sbc_custom4, sbc_custom5, sbc_custom6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from subject_blanket_category
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from subject_blanket_category
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apatech.domain.subject_blanket_category">
    insert into subject_blanket_category (sbc_id, sbc_name, sbc_engname, 
      sbc_remark, sbc_Auditing, sbc_yn, 
      sbc_custom1, sbc_custom2, sbc_custom3, 
      sbc_custom4, sbc_custom5, sbc_custom6
      )
    values (#{sbcId,jdbcType=VARCHAR}, #{sbcName,jdbcType=VARCHAR}, #{sbcEngname,jdbcType=VARCHAR}, 
      #{sbcRemark,jdbcType=VARCHAR}, #{sbcAuditing,jdbcType=VARCHAR}, #{sbcYn,jdbcType=VARCHAR}, 
      #{sbcCustom1,jdbcType=VARCHAR}, #{sbcCustom2,jdbcType=VARCHAR}, #{sbcCustom3,jdbcType=VARCHAR}, 
      #{sbcCustom4,jdbcType=VARCHAR}, #{sbcCustom5,jdbcType=VARCHAR}, #{sbcCustom6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apatech.domain.subject_blanket_category">
    insert into subject_blanket_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sbcId != null">
        sbc_id,
      </if>
      <if test="sbcName != null">
        sbc_name,
      </if>
      <if test="sbcEngname != null">
        sbc_engname,
      </if>
      <if test="sbcRemark != null">
        sbc_remark,
      </if>
      <if test="sbcAuditing != null">
        sbc_Auditing,
      </if>
      <if test="sbcYn != null">
        sbc_yn,
      </if>
      <if test="sbcCustom1 != null">
        sbc_custom1,
      </if>
      <if test="sbcCustom2 != null">
        sbc_custom2,
      </if>
      <if test="sbcCustom3 != null">
        sbc_custom3,
      </if>
      <if test="sbcCustom4 != null">
        sbc_custom4,
      </if>
      <if test="sbcCustom5 != null">
        sbc_custom5,
      </if>
      <if test="sbcCustom6 != null">
        sbc_custom6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sbcId != null">
        #{sbcId,jdbcType=VARCHAR},
      </if>
      <if test="sbcName != null">
        #{sbcName,jdbcType=VARCHAR},
      </if>
      <if test="sbcEngname != null">
        #{sbcEngname,jdbcType=VARCHAR},
      </if>
      <if test="sbcRemark != null">
        #{sbcRemark,jdbcType=VARCHAR},
      </if>
      <if test="sbcAuditing != null">
        #{sbcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sbcYn != null">
        #{sbcYn,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom1 != null">
        #{sbcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom2 != null">
        #{sbcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom3 != null">
        #{sbcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom4 != null">
        #{sbcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom5 != null">
        #{sbcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom6 != null">
        #{sbcCustom6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apatech.domain.subject_blanket_category">
    update subject_blanket_category
    <set>
      <if test="sbcName != null">
        sbc_name = #{sbcName,jdbcType=VARCHAR},
      </if>
      <if test="sbcEngname != null">
        sbc_engname = #{sbcEngname,jdbcType=VARCHAR},
      </if>
      <if test="sbcRemark != null">
        sbc_remark = #{sbcRemark,jdbcType=VARCHAR},
      </if>
      <if test="sbcAuditing != null">
        sbc_Auditing = #{sbcAuditing,jdbcType=VARCHAR},
      </if>
      <if test="sbcYn != null">
        sbc_yn = #{sbcYn,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom1 != null">
        sbc_custom1 = #{sbcCustom1,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom2 != null">
        sbc_custom2 = #{sbcCustom2,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom3 != null">
        sbc_custom3 = #{sbcCustom3,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom4 != null">
        sbc_custom4 = #{sbcCustom4,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom5 != null">
        sbc_custom5 = #{sbcCustom5,jdbcType=VARCHAR},
      </if>
      <if test="sbcCustom6 != null">
        sbc_custom6 = #{sbcCustom6,jdbcType=VARCHAR},
      </if>
    </set>
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apatech.domain.subject_blanket_category">
    update subject_blanket_category
    set sbc_name = #{sbcName,jdbcType=VARCHAR},
      sbc_engname = #{sbcEngname,jdbcType=VARCHAR},
      sbc_remark = #{sbcRemark,jdbcType=VARCHAR},
      sbc_Auditing = #{sbcAuditing,jdbcType=VARCHAR},
      sbc_yn = #{sbcYn,jdbcType=VARCHAR},
      sbc_custom1 = #{sbcCustom1,jdbcType=VARCHAR},
      sbc_custom2 = #{sbcCustom2,jdbcType=VARCHAR},
      sbc_custom3 = #{sbcCustom3,jdbcType=VARCHAR},
      sbc_custom4 = #{sbcCustom4,jdbcType=VARCHAR},
      sbc_custom5 = #{sbcCustom5,jdbcType=VARCHAR},
      sbc_custom6 = #{sbcCustom6,jdbcType=VARCHAR}
    where sbc_id = #{sbcId,jdbcType=VARCHAR}
  </update>
</mapper>