.topnav{
    margin: 0 auto;
    width: 1240px;
}
.topnav>ul>li{
    float: left;
    width: 18.66%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.topnav>ul>li>a{
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 40px;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.current{
    color: #FFF !important;
    background: #44b549 !important;
    border: 1px solid #44b549 !important;
    cursor: default;
}
.topnav>ul>li>a:hover{
    color: #44b549;
    border: 1px solid #44b549 !important;
}