<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/integer_set.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
	<script th:src="@{/js/vue.js}"></script>
</head>
<body>
<div class="rightarea clearfix" id="jfsz">
    <div class="mainarea clearfix" v-for="item in integral.list">
        <div class="user_list_main clearfix">
            <div class="user_list_body clearfix">
                <div class="title sub_title" style="line-height: 36px;font-size: 16px;margin-top: 10px">积分设置</div>
                <!-- <a href="javascript:;" class="btnx" style="position: relative;top: -23px;">
                    <em class="x">开启</em>
                    <em class="xx">关闭</em>
                </a> -->
               <div class="integerarea">
                    <div class="list clearfix">
                        <div class="title">积分抵扣</div>
                        <div class="cont">
                            <label>使用积分</label>
							<div style="display:none" id="integralid" >{{ item.integralid }}</div>
							<!-- <input type="hidden" id="integralid" :value="item.integralid"> -->
                            <input id="integral" type="text" :value="item.integral" class="form-control" style="width: 110px;float: left;margin: 0 5px ">
                            <label >可抵扣</label>
                            <!-- <span id="price" style="color: rgb(240, 91, 35); float: left; padding-left: 10px; padding-right: 10px; font-size: 16px; padding-top: 8px;">{{item.price}}</span> -->
                            <input id="price" type="text" :value="item.price" class="form-control" style="width: 110px;float: left;margin: 0 5px "/>
                            <label >元</label>
                        </div>
                    </div>
                   <div class="clearfix"></div>
                   <div class="fr" style="margin-right: 100px">
                       <a href="javascript:;" class="btn btn-success" style="color: #fff !important;width: 100px;" onclick="update()">确定</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var vm=new Vue({
	el:"#jfsz",
	data(){
		return {
			integral:{
				list:[]
			}
		}
	},
	methods:{
		getintegral:function(){
			var that=this;
			$.ajax({
				url:"[[@{/IntegralController/selectAll}]]",
				dataType:"json",
				type:"get",
				success:function(res){
					that.integral.list=res;
				}
			});
		}
	},
	created:function(){
		this.getintegral();
	}
});
function update(){
	var integralid=$("#integralid").text();
	var integral=$("#integral").val();
	var price=$("#price").val();
	if(isNaN(integral)||integral<0||isNaN(price)||price<0){
		alert("请输入正确的数字!");
		return ;
	}
	var record={
		integralid:integralid,
		integral:integral,
		price:price
	}
	$.ajax({
		url:"[[@{/IntegralController/updateByPrimaryKeySelective}]]",
		type:"post",
		contentType:"application/json",
		data:JSON.stringify(record),
		success:function(res){
			alert(res.message);
			location.reload();
		}
	});
}
</script>
</body>
</html>