<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css2/bootstrap.css}" />
		<script type="text/javascript" th:src="@{/js2/jquery-1.12.4.js}"></script>
		<script type="text/javascript" th:src="@{/js2/bootstrap.js}"></script>
		<script type="text/javascript" th:src="@{/js2/vue.js}"></script>
	</head>
	<body>
		<div style="height: 500px;">
			<form class="form-inline" style="margin-top: 2%;">
			  <div class="form-group col-md-12">
			    <label for="exampleInputName2">职位名称&nbsp&nbsp&nbsp</label>
			    <input type="text" name="rolename" class="form-control" id="exampleInputName2" placeholder="请填写职位名称">
			  </div>
			  <div class="form-group col-md-12" style="margin-top: 3%;">
			    <label for="exampleInputName2">职位权限&nbsp&nbsp&nbsp</label>
			    <div id="kang" style="font-size: 15px;width: 80%;margin-left: 10.5%;">
			    	
			    </div>
			  </div>
			</form>
			<button id="qx" type="button" class="btn btn-default col-md-3" style="margin-left: 10.5%;margin-top: 4%;">取消</button>
			<button id="sc" type="button" class="btn btn-danger col-md-3" style="margin-left: 2.5%;margin-top: 4%;">删除</button>
		    <button id="xg" type="button" class="btn btn-success col-md-3" style="margin-left: 2.5%;margin-top: 4%;">保存</button>
		</div>
		
		<script>
			$(function(){
				qx();
				addList();
				rolename();
				sc();
				xg();
			});
			
			var roleID = JSON.parse(window.sessionStorage.getItem("roleID"));
			var str = [];
			
			function xg(){
				$("#xg").click(function(){
					var t = 0;
					var rolename = $("[name=rolename]").val();
					var privilegeid = document.getElementsByName("privilegeid");
					var thisLength = privilegeid.length;
					var str2 = [];
					$.ajax({
						url:"[[@{/RoleprivilegeController/deleteRoleAndPrivilege}]]",
						type:"post",
						dataType:"json",
						data:"roleid="+roleID,
						success:function(result){
							for(var i = 0;i < thisLength;i++) {
				                if (privilegeid[i].checked == true) {
				                    str2[t] = privilegeid[i].value; //这个是获取多选框中的值
				                    t++;
				                }
				            }
							console.info(str);
							var thisLength2 = str2.length;
							if(rolename != "" && thisLength2 != 0){
								$.ajax({
									url:"[[@{/RoleprivilegeController/insertRoleprivilege}]]",
									type:"get",
									async:false,
									dataType:"json",
									data:{
										roleid:roleID,
										str:str2
									},
									success:function(result5){
										if(result5.code=="1"){
											alert("修改成功");
											window.history.go(-1);
										}else{
											alert("修改失败");
											window.history.go(-1);
										}
										
									}
								});		
							}else{
								if(rolename == ""){
									alert("职位名称不能为空！");
								}
								if(thisLength2 == 0){
									alert("请勾选需要添加的职位权限！");
								}
							}
						}
					});
				});
				
				
				
				
				
				/* 获取当前用户 */
				 $.ajax({
						url:"[[@{/UsersController/loginuser}]]",
						type:"post",
						data:"",
						dataType:"json",
						success:function(res){
							console.info(res);
							window.sessionStorage.setItem("user",JSON.stringify(res));//将用户信息保存到js中的session中
						}
				}) 
				/* 获取当前用户 */
			}
			
			function sc(){
				$("#sc").click(function(){
					$.ajax({
						url:"[[@{/RoleprivilegeController/deleteRoleAndPrivilege}]]",
						type:"post",
						dataType:"json",
						data:"roleid="+roleID,
						success:function(result){
							alert(result.message);
							window.history.go(-1);
						}
					});
				});
			}
			
			function privilegeid(){
				$.ajax({
					url:"[[@{/RoleController/queryRoleByID}]]",
					type:"get",
					dataType:"json",
					data:"roleid="+roleID,
					success:function(result){
						$("[name=rolename]").val(result.rolename);
					}
				});
			}
			
			function rolename(){
				$.ajax({
					url:"[[@{/RoleController/queryRoleByID}]]",
					type:"get",
					dataType:"json",
					data:"roleid="+roleID,
					success:function(result){
						$("[name=rolename]").val(result.rolename);
					}
				});
			}
			
			function addList(){
				$.ajax({
					url:"[[@{/RoleprivilegeController/queryPrivilegeByRoleID}]]",
					type:"get",
					dataType:"json",
					data:"roleid="+roleID,
					success:function(result2){
						$.each(result2,function(i,obj){
							str[i] = obj.privilegeid;
						});
					}
				});
				$.ajax({
					url:"[[@{/PrivilegetypeController/queryPrivilegeType}]]",
					type:"get",
					dataType:"json",
					success:function(result){
						var io = 0;
						$.each(result,function(i,obj){
							if(i==0){
								var lb = $("<div class=\"row\"><label id=\""+i+"\" for=\"exampleInputName2\">"+obj.privilegetype+"：&nbsp&nbsp&nbsp</label></div>");
								$("#kang").append(lb);
								$.each(obj.list,function(i2,obj2){
									if(str[io] == obj2.privilegeid){
										var lb2 = $("<label class=\"checkbox-inline\" style=\"margin-top: -5px;font-weight: bolder;\"><input type=\"checkbox\" checked =\"checked\" name=\"privilegeid\" id=\"\" value=\""+obj2.privilegeid+"\">"+obj2.privilegename+"&nbsp&nbsp</label>");
										$("#"+i+"").append(lb2);
										io++;
									}else{
										var lb2 = $("<label class=\"checkbox-inline\" style=\"margin-top: -5px;font-weight: bolder;\"><input type=\"checkbox\" name=\"privilegeid\" id=\"\" value=\""+obj2.privilegeid+"\">"+obj2.privilegename+"&nbsp&nbsp</label>");
										$("#"+i+"").append(lb2);
									}
								});
							}else{
								var lb = $("<div class=\"row\" style=\"margin-top: 4%;\"><label id=\""+i+"\" for=\"exampleInputName2\">"+obj.privilegetype+"：&nbsp&nbsp&nbsp</label></div>");
								$("#kang").append(lb);
								$.each(obj.list,function(i2,obj2){
									if(str[io] == obj2.privilegeid){
										var lb2 = $("<label class=\"checkbox-inline\" style=\"margin-top: -5px;font-weight: bolder;\"><input type=\"checkbox\" checked =\"checked\" name=\"privilegeid\" id=\"\" value=\""+obj2.privilegeid+"\">"+obj2.privilegename+"&nbsp&nbsp</label>");
										$("#"+i+"").append(lb2);
										io++;
									}else{
										var lb2 = $("<label class=\"checkbox-inline\" style=\"margin-top: -5px;font-weight: bolder;\"><input type=\"checkbox\" name=\"privilegeid\" id=\"\" value=\""+obj2.privilegeid+"\">"+obj2.privilegename+"&nbsp&nbsp</label>");
										$("#"+i+"").append(lb2);
									}
								});
							}
						});
					}
				});
			}
			
			function qx(){
				$("#qx").click(function(){
					window.history.go(-1);
				});
			}
		</script>
	</body>
</html>