<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/supplier.css}">
      <link rel="stylesheet" th:href="@{/css/purchase_list.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
     <link  rel="stylesheet"  th:href="@{/js/bootstrap-datetimepicker.min.css}"/>  
       <link rel="stylesheet" href="/css/layui.css"  media="all">
    
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
     <script th:src="@{/js/bootstrap-table.js}"></script>
     <script th:src="@{/js/bootstrap-table-zh-CN.js}"></script>
     
     <script src="/layui.js" charset="utf-8"></script>
     <script th:src="@{/js/dialogUtil.js}" ></script>
      <script th:src="@{/js/dialog.js}"></script>
     
     <!-- bootstrap-table-export数据导出---后面两个是Excel2007所需要的js -->
	<script th:src="@{/js/bootstrap-table-export.js}"></script>
	<script th:src="@{/js/tableExport.min.js}"></script>
	<script th:src="@{/js/xlsx.core.min.js}"></script>
	<script th:src="@{/js/FileSaver.min.js}"></script>
	
	<!-- 时间空间所需插件 -->
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>  
	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>  
	
	<!-- 日期所需插件 -->
	<script src="/js/distpicker.data.js"></script>
	  <script src="/js/distpicker.js"></script>
	  <script src="/js/main.js"></script>
	  

	<script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
	  
	  
	  <style type="text/css">
	  /* 设置table隔行变色 E*/
	  	#mytable tr:nth-child(even){
			background: #fafafa;
		}
		#mytable th{
			background: #efefef;
		}
		/* 设置table隔行变色  S*/
		
		/* Bootstrap table th td 实现文字垂直居中 E */
			.table th, .table td {
			text-align: center;
			vertical-align: middle!important;
			}
		/* Bootstrap table th td 实现文字垂直居中 E */
	  </style>
</head>
<body>
<div class="col-md-10" style="width: 100%;margin-bottom: 360px" id="shopType">
	<div class="rightarea clearfix">
	    <div class="mainarea clearfix">
	        <div class="mainhead">
	            <span class="title">查看采购单</span>
	            <div class="list search">
	                <input class="inputtext" type="text" placeholder="查找" id="selectqb" @change="addsp()">
	                <a href="javascript:;" class="search-btn"></a>
	            </div>
	        </div>
	      

	        <div class="mainbody">
	           	<div class="list">
	                <select name="" id="" class="form-control" style="width: 180px" v-model="page.userid" required="required"><!--  v-for="item in Supplier" -->
	                    <option  value="15012341234">李店长</option>
	                </select>
	            </div>
		         <div class="list">
	                <span style="position: relative;top: 10px;">制&nbsp;表&nbsp;人</span>
	            </div>
		           
	          	<div class="list">
	                <select name="" id="shopid" class="form-control"  style="width: 180px"  v-model="page.supplierid" @change="bggys()">
	                    <option value="" selected="selected">请选择供应商</option>
	                    <option :value="item.supplierid" v-for="item in Supplier" >{{item.companyname}}	</option>
	                </select>
	            </div>
		         <div class="list">
	                <span style="position: relative;top: 10px;">供&nbsp;应&nbsp;商</span>
	            </div>
				
	             <div class="list">
		               <input type="date"class="form-control"  id="deliverytime"  v-model="page.deliverytime">
		            </div>
		         <div class="list">
	                <span style="position: relative;top: 10px;">交&nbsp;&nbsp;&nbsp;&nbsp;期</span>
	            </div>
	           
	            
            	
		
	             <div class="list ">
	                <input class="form-control" type="text" id="selectqb" th:onchange="selectAll()" v-model="page.billid" readonly="readonly">
	            </div>
		         <div class="list">
	                <span style="position: relative;top: 10px;">单&nbsp;&nbsp;&nbsp;&nbsp;号</span>
	            </div>
	            
	           
	             <div class="list">
		                <input type="text" class="form-control"  id="newtime" style="width: 940px;margin: 8px 0" v-model="page.remarks">
	            </div>
	          	<div class="list ">
	                <span style="position: relative;top: 10px;">备&nbsp;&nbsp;&nbsp;&nbsp;注</span>
	            </div>
	          
	        

	        
		       <table class="table table-bordered" style="margin-top: 5px">
	                  <thead>
	                         <tr class="">
								<th width="14%">货号</th>
								<th width="14%">条码</th>
								<th width="*">产品名称</th>
								<th width="12%">规格</th>
								<th width="10%">成本价</th>
								<th width="10%">数量</th>
								<th width="10%">金额</th>
							</tr>
	                     </thead>
	                     <tbody>
	                        <tr  v-for="item,index in page.list">
	                        	<td class="bh">{{item.productcodeid}}</td>
	                        	<td class="barcode">{{item.commoditydetailid}}</td>
	                        	<td class="nameTD">
	                        		<div class="nameDiv" style="text-align: left;">
	                        			<img width="30" height="30" :src="item.commodityimg">
	                       				<em>{{item.name}}</em>
	                    			</div>
	                       		</td>
	                       		<td class="colorTd">
	                       			{{item.specifications}}
	                    		</td>
	                    		<td class="fprice">{{item.costprice}}</td>
	                    		<td>{{item.count}}</td>
	                    		<td>
	                    			<div class="amount_td">
	                    				<em class="yuan">¥</em>
	                    				<span class="amount">{{item.moneyamt}}</span>
	                    				<a class="delBtn" href="javascript:void(0);"></a>
	                    				<!-- <span class="glyphicon glyphicon-remove-circle" @click="scspxq(index)"></span> -->
	                    			</div>
	                   			</td>
	                   		</tr>
	                   		<tr >
	                        	<td colspan="7" style="font-size: 16px;padding:24px 14px ">
									<div class="amoutDiv" style="float: right;margin-left: 20px">
										<span>金额</span>
										<em class="total_amount" style="color: #f05b23;">{{sumprice}}</em>
									</div>
									
									<div class="totalNumDiv" style="float: right;  ">
										<span>合计</span>
										<em class="total_num" style="color: #f05b23;">{{sumcount}}</em>
										<span>件</span>
									</div>
									<div style="clear: both;" ></div>
								</td>
	                   		</tr>
	                     </tbody>
	              </table>
	        </div>
	        <div class="btnArea">
			<!-- 	<a href="javascript:void(0);" id="addProductsBtn" @click="hpdpsp()" class="addProductsBtn" >+添加商品</a> -->
				<!-- <a href="javascript:void(0);" id="saveBtn"  @click="add()" class="btn btn-success" style="color: white !important;float:right;padding:0 22px ;    line-height: 30px;margin-left: 10px">提交</a> -->
				<!--<a href="javascript:void(0);" id="addNewBtn" class="wc_btn wc_btn_default addNewBtn">添加</a>-->
				<!-- <a href="javascript:void(0);" id="emptyBtn"  @click="qk()"  class="btn btn-success" style="color: white !important;float:right;padding:0 22px;    line-height: 30px;">清空</a> -->
				<!--<a href="javascript:void(0);" id="printBtn" class="btn topUpBtn">打印</a>-->
			</div>
	    </div>
	</div>
	
	<!-- 模态框（Modal）修改 -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">选择商品</h4>
	            </div>
	            <div class="modal-body" style="padding:10px 50px">	            	
						<div class="dialog_bd clearfix">						
							<div class="classAreaX clearfix">
								<span class="titleX">商品分类：</span>
								<ul class="classDiv"></ul>
							</div>
							<div class="tabelArea clearfix" style="">
								<table class="settable productsTable table-bordered " style="width: 100%;" v-if="block">
									<thead>
										<tr>
											<th width="8%">
												<input type="checkbox" @click="checkAll" v-model="allChecked">
											</th>
											<th width="18%">货号/条码</th>
											<th width="*">商品</th>
											<th width="20%">规格</th>
											<th width="12%">单价</th>
											<th width="12%">库存</th>
										</tr>
									</thead>
									<tbody pages="25" currpage="2">
										 <tr v-for="(item,index) in dpsp"   >
										 	<td>
							                    <input type="checkbox" :value="index" v-model="indexs" @click="spxztj(index)">   <!--  -->
							                </td>
											<td class="bhDiv">
												<em>{{item.commoditydetailid}}</em>
											</td>
											<td class="nameTD">
												<div class="nameDiv">
													<img height="30" width="30" :src="item.commodityimg" >
													<p><em>{{item.name}}</em></p>
												</div>
											</td>
											<td class="colorTd">
												<em>{{item.color}}</em>/<em>{{item.commoditysize}}</em>
											</td>
											<td>{{item.costprice}}</td>
											<td>{{item.count}}</td>
							            </tr>
									</tbody>
							   </table>
							   <table class="" style="width: 100%;" v-else>
									<tbody pages="25" currpage="2">
							             <tr  >
							             	<td colspan="6"><h2>无可选数据</h2></td>
							             </tr>
									</tbody>
							   </table>
							</div>
						</div>	
	            </div>
	            <div class="modal-footer" style="text-align: center;">
	                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 16.66%;">取消</button>
	                <button type="button" class="btn btn-success" style="width: 16.66%;" @click="qrxzsp()"  v-if="block">确认</button>
	            </div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
	</div>
	
	
	
</div>

	<script type="text/javascript">
			axios.default.withCredentials = true;
			var vue = new Vue({
				el:"#shopType",
				data(){
					return{
						block: true,//判断是否显示
						dpsp:[],//根据供应商id查询商品详情集合
						Commoditydetail:[],//用来暂时存放添加的信息的
						sumcount:0,//采购单总金额
						sumprice:0,//采购单单数量
						Supplier:{
							   supplierid:"",//编号，主键
							   companyname:"",//公司名称
							   companyabbreviation:"",//公司简称
							   contacts:"",//联系人
							   phone:"",//手机号
							   email:"",//邮箱
							   telephone:"",//电话
							   province:"",//省（地址）
							   city:"",//市（地址）
							   region:"",//地区（地址）
							   street:"",//街道
						},//供应商表
						page:{//采购单主详表
							billid:"",//编号，主键
							deliverytime:"",//交期
							supplierid:"",//供应商ID
							userid:"",//制表人id
							remarks:"",//备注
							list:[]//采购单详表
						},
			　　　　	  // 全选的默认
			            allChecked:false,
			            indexs:[],
					};
				},methods:{
					//根据采购单主表id查询所有采购单详表信息
					goPage:function(){
						var that = this;
						$.ajax({
							url:"[[@{/DetailController/selectAllByid}]]",
	 						type:"get",
	 						data:"billid="+this.page.billid,
	 						dataType:"json",
	 						success:function(data){
	 							console.info("查询所有采购单")
	 							that.page.list = data;
	 							console.info(data)
	 							//alert(that.page.list[0].commodityimg)
	 						}
						});
					},
					//获取供应商
					hqgys:function(){
						var that = this;
						$.ajax({
							url:"[[@{/SupplierController/selectAll}]]",
	 						type:"get",
	 						data:"",
	 						dataType:"json",
	 						success:function(data){
	 							console.info("查询所有供应商")	 							
	 							that.Supplier = data;	 							
	 							console.info(data)
	 						}
						});
					},
					//根据id查询商品详情表后向采购单详表添加数据
					addsp:function(commoditytypeid){
						let el = event.target;//获取当前行
						console.log("fhowhefjwehpfhiowehfei");
						console.log($(el));
						
						var commoditydetailid=el.value;
						//alert(commoditydetailid)
						 var that = this;
						$.ajax({
							url:"[[@{/CommoditydetailController/selectByPrimaryKey2}]]",
	 						type:"get",
	 						data:{commoditydetailid:commoditydetailid},
	 						dataType:"json",
	 						success:function(data){
	 							that.goPage();
	 						}
						});
					},
					//根据供应商id查询所有商品
					hpdpsp:function(){
						var that = this;
						if(this.page.supplierid!=""){
							
							$.ajax({
								url:"[[@{/CommodityController/selectAllBydpid}]]",
		 						type:"get",
		 						data:"supplierid="+this.page.supplierid,
		 						dataType:"json",
		 						success:function(data){
		 							console.info("根据供应商id查询所有商品")
		 							if(that.page.list!=""){
			 							$.each(data,function(i,obj){
			 								 //alert(obj.commoditydetailid)
			 								
			 								 that.dpsp=[];
			 								 //alert(that.page.list[i])
					                	 	if(that.page.list[i]==undefined){
					                	 		//alert(1)
					                	 		that.dpsp.push(obj)
					                	 		//alert(JSON.stringify(that.dpsp))
					                	 	}
					                	 
			 							})
			 							//alert(that.dpsp)
				                	 	if(that.dpsp==""){
				                	 		that.block=false;
				                	 	}else{
				                	 		that.block=true;
				                	 	}
			 							//alert(that.block)
		 							}else{
		 								//alert(111)
		 								that.dpsp=data;
		 							}
		 							console.info(data)
		 						}
							});
							
							this.spxztj();//
							
							$('#myModal2').modal("show");
						}else{
							alert("请先选择供应商")
						}
						
					},
					checkAll:function(){//全选事件
		                var _this = this;
		                if(!_this.allChecked){
		                    _this.indexs = _this.dpsp.map(function(json,index){
		                        // console.log("选中行对象")
		                        // console.log(json)
		                        //alert(index)		                        
		                        return index
		                    })
		                }else {
		                    _this.indexs = []
		                }
		            },
		          //单选事件（判断是否全选）
					spxztj:function(index){
						var _this = this;
						
						//判断dpsp的长度和index的长度是否相等
						//alert(this.dpsp.length+"/"+(this.indexs.length+1))
						if(this.dpsp.length==(this.indexs.length+1)){
							 this.allChecked=true;
						}else{
							 this.allChecked=false;
						}
					},
					qrxzsp:function(){//添加商品
						//alert(JSON.stringify(this.Commoditydetail))
						//alert(JSON.stringify(this.indexs))
					
						//alert("进入")
						this.indexs.map((json, index)=>{//把选中的添加到Commoditydetail中
							this.Commoditydetail.push(this.dpsp[index])
		                })
		                this.Commoditydetail.map((json, index)=>{
		                	 json.count=1
	                         json.specifications=json.color+"/"+json.commoditysize;
		                })
		               
                        this.page.list=this.Commoditydetail;//将选中行添加到that.Commoditydetail
                        //alert(JSON.stringify(_this.page.list))
                        this.jsprice();//计算价格数量
					
                        $('#myModal2').modal('hide');
		            },
					scspxq:function(index){//删除商品
					//	alert(index)
						
						this.page.list.splice(index,1);
					
						//alert(JSON.stringify(this.page.list))
						
                        this.jsprice();//计算价格数量
		            },
		            bggys:function(){//变更供应商
	            		 var s=confirm("变更供应商将删除之前所选商品?");
		            	if(s==true){
		            		 this.page.list="";//清空this.page.list
		            	}
		            },
		            qk:function(){//清空this.page.list
		            	var s=confirm("是否清空所选商品?");
		            	if(s==true){
		            		 this.page.list="";//清空this.page.list
		            	}
		            },
		            jsprice:function(){//计算价格数量
		            	//alert(1)
		            	 this.sumprice=0;//清零
		            	 this.sumcount=0;//清零
		                this.page.list.map((json, index)=>{
		                	 json.moneyamt=json.costprice*json.count;//计算单类商品总价格
		                	 this.sumprice+=json.moneyamt;//计算全部商品总价格
		                	 this.sumcount=index;//计算全部商品总数量
		                })
		                this.sumcount+=1;
		            },
					//修改
					add:function(){
						//alert(1)
						
						var that = this;
						var record = that.page;
						$.ajax({
							url:"[[@{/BillController/updateByPrimaryKeySelective2}]]",
	 						type:"post",
	 						data:JSON.stringify(record),
	 						dataType:"json",
	 						contentType:"application/json;charset=utf-8",
	 						success:function(data){
	 							alert(data.message)
	 							window.location.href ="[[@{/topage/page/claim/purchase_list}]]";
	 						}
						});
					},
					
					//根据id删除商品
					del:function(commoditytypeid){
						var that = this;
						$.ajax({
							url:"[[@{/CommoditytypeController/deleteByPrimaryKey}]]",
	 						type:"get",
	 						data:{commoditytypeid:commoditytypeid},
	 						dataType:"json",
	 						success:function(data){
	 							that.goPage();
	 						}
						});
					},
				},
				
				created:function(){
					//获取单号
					this.page.billid=window.sessionStorage.getItem("billid");
					var bill=JSON.parse(window.sessionStorage.getItem("bill"));
					this.page=bill;
					this.page.deliverytime=this.page.deliverytime.split("  00")[0];
					this.page.list=bill.billlist;
					
					//alert(JSON.stringify(this.page))
					console.info("this.page")
					console.info(this.page)
				
		            
		            //获取供应商
		            this.hqgys();
		            //获取制表人
		            
		        	//加载采购单详表数据
	 				this.goPage();
						
	 				this.jsprice();
	 			}
			});
		</script>



			
	
</body>
</html>