<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/transaction_record.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>
<!--成交记录-->
<div class="rightarea clearfix" id="cjjl">
    <div class="mainarea clearfix">
        <div class="mainhead">
            <span class="title">成交记录</span>

            <div class="list search">
                <input class="inputtext" type="text" placeholder="查找" id="PhoneOrName">
                <a href="javascript:;" class="search-btn" @click="queryBy"></a>
            </div>
            <div class="list">
                <input type="date" class="form-control" id="endTime">
            </div>
            <div class="list">
                -
            </div>
            <div class="list">
                <input type="date" class="form-control" id="startTime">
            </div>
            <div class="list">
                <input type="radio" id="sp" name="fl" onclick="spckd()">按商品
            </div>
            <div class="list">
                <input type="radio" id="dd" name="fl" checked="true" onclick="ddckd()">按订单
            </div>
        </div>
        <div class="mainbody" id="ddtb">
            <table class="settable table table-striped">
                <thead>
                    <tr>
                        <th width="8%">序号</th>
                        <th width="18%">订单号</th>
                        <th width="12%">姓名</th>
                        <th width="12%">手机</th>
                        <th width="10%">数量</th>
                        <th width="12%">金额</th>
                        <th width="28%">日期</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="(item,indedx) in page.list">
                    <td>{{indedx+1}}</td>
					<td>{{item.ashregisterid}}</td>
                    <td>{{item.member.name}}</td>
                    <td>{{item.member.phone}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.moneyamt}}</td>
                    <td>{{item.time}}</td>
                </tr>
                </tbody>
                <!-- <tfoot>
                <tr>
                    <td colspan="4">合计</td>
                    <td class="order_nums">67</td>
                    <td class="order_amounts">15,056.00</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tfoot> -->
            </table>
            <!--分页按钮-->
            <div class="pagebar">
                <div class="pagetion">
                    <div class="page">
                        <ul class="pagination">
                            <li>
                                <a href="javascript:;" @click="firstPage">
                                    首页
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="prePage">
                                    &laquo;
                                </a>
                            </li>
                            <li>
                                <span style="font-size: 14px;" id="yebi">1/5</span>
                            </li>
                            <li>
                                <a href="javascript:;" @click="nextPage">
                                    &raquo;
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" @click="lastPage">
                                    尾页
                                </a>
                            </li>
                            <li style="margin-left: 20px; float:left;">
                                <input type="text" class="form-control" style="width: 100px;" id="tz">
                            </li>
                            <li style="margin-left: 15px; float:left;">
                                <a href="javascript:;" class="btn btn-default" @click="goPage">
                                    跳转
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		
		
		
		<div class="mainbody" id="sptb" style="display: none;">
			<table class="settable table table-striped">
				<thead>
					<tr>
						<th width="8%">序号</th>
						<th width="40%">商品</th>
						<th width="12%">数量</th>
						<th width="12%">金额</th>
						<th width="28%">日期</th>
					</tr>
				</thead>
				<tbody v-for="(item,index) in page2.list">
					<tr v-for="itm in item.list">
						<td>{{index+1}}</td>
						<td>{{itm.commodityname}}</td>
						<td>{{itm.count}}</td>
						<td>{{itm.moneyamt}}</td>
						<td>{{item.time}}</td>
					</tr>
				</tbody>
			</table>
		        <!-- <tfoot>
		        <tr>
		            <td colspan="4">合计</td>
		            <td class="order_nums">67</td>
		            <td class="order_amounts">15,056.00</td>
		            <td>-</td>
		            <td>-</td>
		        </tr>
		        </tfoot> -->
			
		    <!--分页按钮-->
		    <div class="pagebar">
		        <div class="pagetion">
		            <div class="page">
		                <ul class="pagination">
		                    <li>
		                        <a href="javascript:;" @click="firstPage1">
		                            首页
		                        </a>
		                    </li>
		                    <li>
		                        <a href="javascript:;" @click="prePage1">
		                            &laquo;
		                        </a>
		                    </li>
		                    <li>
		                        <span style="font-size: 14px;" id="yebi1">1/5</span>
		                    </li>
		                    <li>
		                        <a href="javascript:;" @click="nextPage1">
		                            &raquo;
		                        </a>
		                    </li>
		                    <li>
		                        <a href="javascript:;" @click="lastPage1">
		                            尾页
		                        </a>
		                    </li>
		                    <li style="margin-left: 20px; float:left;">
		                        <input type="text" class="form-control" style="width: 100px;" id="tz1">
		                    </li>
		                    <li style="margin-left: 15px; float:left;">
		                        <a href="javascript:;" class="btn btn-default" @click="goPage1">
		                            跳转
		                        </a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		
		    </div>
		
		</div>
    </div>
</div>
<script type="text/javascript">
	var vm=new Vue({
		el:"#cjjl",
		data(){
			return {
				page:{
					list:[]
				},
				page2:{
					list:[]
				}
			}
		},
		methods:{
			prePage:function(){
					if(this.page.prePage<1){
						//alert("没有上一页了");
						return ;
					}
					var PhoneOrName=$("#PhoneOrName").val();
					var startTime=$("#startTime").val();
					var endTime=$("#endTime").val();
					this.getPage(this.page.prePage,PhoneOrName,startTime,endTime);
			},
			nextPage:function(){
				if(this.page.nextPage==0){
					//alert("没有下一页了");
					return ;
				}
				var PhoneOrName=$("#PhoneOrName").val();
				var startTime=$("#startTime").val();
				var endTime=$("#endTime").val();
				this.getPage(this.page.nextPage,PhoneOrName,startTime,endTime);
			},
			lastPage:function(){
				var PhoneOrName=$("#PhoneOrName").val();
				var startTime=$("#startTime").val();
				var endTime=$("#endTime").val();
				this.getPage(this.page.pages,PhoneOrName,startTime,endTime);
			},
			firstPage:function(){
				var PhoneOrName=$("#PhoneOrName").val();
				var startTime=$("#startTime").val();
				var endTime=$("#endTime").val();
				this.getPage(this.page.firstPage,PhoneOrName,startTime,endTime);
			},
			getPage:function(pageNum,PhoneOrName,startTime,endTime){
				var that = this;
				/* $.ajax({
					url:"[[@{/MemberController/queryAllpage}]]",
					data:{pageNum:pageNum,pageSize:1},
					dataType:"json",
					type:"get",
					success:function(result){
						that.page = result;
						//alert(JSON.stringify(result));
						$("#yebi").text(result.pageNum+"/"+result.lastPage);
					}, */
					$.ajax({
					url:"[[@{/CashregisterController/selectByAllpage}]]",
					type:"get",
					dataType:"json",
					data:{
						pageNum:pageNum,
						pageSize:6,
						PhoneOrName:PhoneOrName,
						startTime:startTime,
						endTime:endTime
					},
					success:function(result){
						that.page = result;
						//alert(JSON.stringify(result));
						$("#yebi").text(result.pageNum+"/"+result.pages);
					}
				});
			},goPage:function(){
				
				var PhoneOrName=$("#PhoneOrName").val();
				var tzy=$("#tz").val();
				var startTime=$("#startTime").val();
				var endTime=$("#endTime").val();
				if(tzy<1||tzy>this.page.pages){
					alert("请输入正确的数字");
					return ;
				}
				this.getPage(tzy,PhoneOrName,startTime,endTime);
			}/* ,insert:function(){
				var that=this;
				$.ajax({
					url:"[[@{/MemberController/insertSelective}]]",
					data:that.member,
					type="get",
					dataType:"json",
					success:function(res){
						alert(res.message);
						
					}
				});
			} */
			,queryBy:function(){
				var PhoneOrName=$("#PhoneOrName").val();
				var startTime=$("#startTime").val();
				var endTime=$("#endTime").val();
				this.getPage(1,PhoneOrName,startTime,endTime);
			},			
			prePage1:function(){
					if(this.page2.prePage<1){
						//alert("没有上一页了");
						return ;
					}
					this.getPage1(this.page2.prePage);
			},
			nextPage1:function(){
				if(this.page2.nextPage==0){
					//alert("没有下一页了");
					return ;
				}
				this.getPage1(this.page2.nextPage);
			},
			lastPage1:function(){
				this.getPage1(this.page2.pages);
			},
			firstPage1:function(){
				this.getPage1(this.page2.firstPage);
			},
			getPage1:function(pageNum){
				var that = this;
					$.ajax({
					url:"[[@{/CashregisterController/queryAll}]]",
					type:"get",
					dataType:"json",
					data:{
						pageNum:pageNum,
						pageSize:6
					},
					success:function(result){
						that.page2 = result;
						//alert(JSON.stringify(result));
						$("#yebi1").text(result.pageNum+"/"+result.pages);
					}
				});
			},goPage1:function(){
				var tzy=$("#tz1").val();
				if(tzy<1||tzy>this.page2.pages){
					alert("请输入正确的数字");
					return ;
				}
				this.getPage1(tzy);
			}
		},
		created:function(){
			this.getPage1(1);
			this.getPage(1,"","","");
		}
	});
	function ddckd(){
		$("#ddtb").show();
		$("#sptb").hide();
	}
	function spckd(){
		$("#ddtb").hide();
		$("#sptb").show();
	}
	
</script>
</body>
</html>