<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>呆滞品分析</title>

		<link rel="stylesheet" href="css/layui.css">
    <script src="jquery-1.12.4.js"></script>
    <script src="layui.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/bootstrap.js"></script>
		<style>
			#app {
				text-align: center;
				padding: 15px;
			}.layui-table{
				align-content: center;
				margin: auto;
			width:100%;
		}
		
		input{
			
			border-radius: 5px;
			border: 1px solid transparent;
			background-color:transparent;
		}span{
			color: #009688;
		}
		button{
			margin-top: 10px;
			margin-bottom: 10px;
			border:1px solid skyblue;
			border-radius: 5px;
			background-color: skyblue;
			color: #FFFFFF;
			width: 100px;
			height: 30px;
		}
		</style>
	</head>

	<body>
		<div id="app">
			<div  class="layui-row" >
				<table  class="layui-table" >
						<tr>
							<td><span>物料区间：</span></td>
							<td><input  id="1" type="text" class="layui-input" @keyup.f4="outmatterStart()">
							<td><span>TO:</span></td>
							<td><input id="2" type="text" class="layui-input" @keyup.f4="outmatterEnd()"></td>
						</tr>
						<tr>
							<td><span>日期选择：</span></td>
							<td><input type="checkbox" id="checkbox-id"/>最近入库日</td>
							<td><span>《====OR====》</span></td>
							<td><input type="checkbox"/>最近出库日</td>
						</tr>
					</table>
					<br />
					
					<div class="layui-col-lg6">
						<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">计算天数:</label>
								<div class="layui-input-block">
									<input id="3" type="date" class="layui-input">
								</div>
								
						</div>
					</div>
				<hr />
			</div>
			<div style="border:1px solid lightgray; width: 60%; border-radius: 5px;padding: 10px;">
				<div  class="layui-row" style="float:left;">
				<span>呆滞区间：</span>
			</div>
			<div  class="layui-row">
				
					<table id="tba"  class="layui-table" style=" float: left;">
							<thead>
								<tr>
									<td>(区间)</td>
									<td>(起始天数)</td>
									<td>结束天数</td>
									<td>(区间说明)</td>
								</tr>
							</thead>
							<tbody>
								<tr v-for="du in page"@click="quSection(du)">
									<td>{{du.dsId}}</td>
									<td>{{du.dsStartday}}</td>
									<td>{{du.dsEnddate}}</td>
									<td>{{du.dsDecoration}}</td>
								</tr>
							</tbody>
						</table>
						
				</div>
			</div>
			<div class="layui-input-block" style="float: left;">
						<button class="layuiadmin-btn" title="确认" @click="openModak">确认</button>
						<button class="layuiadmin-btn" title="取消" @click="clear">取消</button>
						<button class="layuiadmin-btn" title="清空" @click="clear">清空</button>
			</div>
			<div class="layui-col-lg6">
				<div class="layui-form-item">
					<!--区间id-->
					<div class="layui-input-block">
						<input id="4" type="hidden" class="layui-input">
					</div>
					<!--起止天数-->
					<div class="layui-input-block">
						<input id="5" type="hidden" class="layui-input">
					</div>
					<!--结束天数-->
					<div class="layui-input-block">
						<input id="6" type="hidden" class="layui-input">
					</div>
					<!--区间-->
					<div class="layui-input-block">
						<input id="7" type="hidden" class="layui-input">
					</div>
				</div>
			</div>
			<!--起始物料-->
			<div id="matStart"  style="display: none;">
					<table id="tb1" class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
                		<thead>
                			<tr>
                		
                  	 			<td>物料编号</td>
                   				 <td>物料名称</td>
                    
                			</tr>
                	</thead>
                 	<tbody>           
                		<tr v-for="mat in matterStart" @click="quhuiStart(mat)">
                    		<td>{{mat.matterId}}</td>
							<td>{{mat.matterName}}</td>
                		</tr>
                	</tbody>
               	</table>
			</div>
			<!--结束物料-->
		<div id="matEnd"  style="display: none;">
			<table id="tb2" class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
                		<thead>
                			<tr>
                		
                  	 			<td>物料编号</td>
                   				 <td>物料名称</td>
                    
                			</tr>
                	</thead>
                 	<tbody>           
                		<tr v-for="mat in matterEnd" @click="quhuiStart1(mat)">
                    		<td>{{mat.matterId}}</td>
							<td>{{mat.matterName}}</td>
                		</tr>
                	</tbody>
               	</table>
			</div>

		
			<!--查询结果-->
			<div id="motaikunag" style="display: none; text-align: center;">
    			<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm" style="width: 1000px;text-align: center;">
                <thead>
                	<tr>
                		
                   	<td>物料编号</td>
                    <td>物料名称</td>
                    <td>规格型号</td>
                    <td>物料类别</td>
                    <td>单位</td>
                    <td>最近入库日</td>
                    <td>库存量</td>
                    <td>现行总成本</td>
                    <td>呆滞天数</td>
                    
                	</tr>
                </thead>
                 <tbody>           
                	 <tr  v-for="det in detail">
						<td><input type="text" style="text-align: center;" v-model="det.matterId"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterSize"></td>
						<td><input type="text" style="text-align: center;" v-model="det.mtName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.muName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterRecentin"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.matterNowcount"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.matterNowallcost"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.dullDays"></td>
				</tr>
                 
                </tbody>
                	
               </table>
    
			</div>
			
			<!--查询结果-->
			<div id="motaikunags" style="display: none; text-align: center;">
    			<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm" style="width: 1000px;text-align: center;">
                <thead>
                	<tr>
                		
                   	<td>物料编号</td>
                    <td>物料名称</td>
                    <td>规格型号</td>
                    <td>物料类别</td>
                    <td>单位</td>
                    <td>最近出库日</td>
                    <td>库存量</td>
                    <td>现行总成本</td>
                    <td>呆滞天数</td>
                    
                	</tr>
                </thead>
                 <tbody>           
                	 <tr  v-for="det in detail">
						<td><input type="text" style="text-align: center;" v-model="det.matterId"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterSize"></td>
						<td><input type="text" style="text-align: center;" v-model="det.mtName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.muName"></td>
						<td><input type="text" style="text-align: center;" v-model="det.matterRecentout"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.matterNowcount"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.matterNowallcost"></td>
                    	<td><input type="text" style="text-align: center;" v-model="det.dullDays"></td>
				</tr>
                 
                </tbody>
                	
               </table>
    
			</div>
			
			
			
		</div>
		<script>
	    
			
   
    </script>
		<script>
			var win;
			var host = "http://127.0.0.1:8080/";
			var receiptvue = new Vue({
				el: "#app",
				data:{
					page: [],
					matterStart:[],	//起止物料
					matterEnd:[],
					num:[],
					detail:[],
					mat:[]
				},
				methods: {
					clear:function(){
						$("input").attr("value"," ");
						this.selAll();
						
					},
					 openModak:function(){
					 	if($("#3").val()==""){
					 		alert("请填写日期！");
					 		this.querySection();
					 	}else{
					 		
					 	
					 if($("#checkbox-id").get(0).checked){
				     	layui.use(['layer'],function () {
                			var layer = layui.layer,$=layui.$;
                			win=layer.open({
                    			type:1,//类型
                    			area:['1000px','600px'],//定义宽和高
                    			title:'呆滞品分析——查询结果',//题目
                    			shadeClose:false,//点击遮罩层关闭
                    			content: $('#motaikunag')//打开的内容
                			});
            			})
           		 	var matterBegin=$("#1").val();//起始物料
					var matterEnd=$("#2").val();//结束物料
					var dulldate=$("#3").val();//计算日期
					var dullSdate=$("#5").val();//起止
					var dullEdate=$("#6").val();//结束
			alert(matterBegin+","+matterEnd+","+dulldate+","+dullSdate+","+dullEdate);
			var that=this;
            $.ajax({
            	type:"get",
            	url: host + "wd_adjustController/QueryDull",
            	data:{
            			matterBegin:matterBegin,
						matterEnd:matterEnd,
						dulldate:dulldate,
						dullSdate:dullSdate,
						dullEdate:dullEdate
						},
            	success:function(res){
            		that.detail = res;
            	}
            	
            });
            }else{
            	layui.use(['layer'],function () {
                			var layer = layui.layer,$=layui.$;
                			win=layer.open({
                    			type:1,//类型
                    			area:['1000px','600px'],//定义宽和高
                    			title:'呆滞品分析——查询结果',//题目
                    			shadeClose:false,//点击遮罩层关闭
                    			content: $('#motaikunags')//打开的内容
                			});
            			});
            			var matterBegin=$("#1").val();//起始物料
						var matterEnd=$("#2").val();//结束物料
						var dulldate=$("#3").val();//计算日期
						var dullSdate=$("#5").val();//起止
						var dullEdate=$("#6").val();//结束
			alert(matterBegin+","+matterEnd+","+dulldate+","+dullSdate+","+dullEdate);
            			var that=this;
            			$.ajax({
            				type:"get",
            				url: host + "wd_adjustController/QueryDull",
            				data:{
            						matterBegin:matterBegin,
									matterEnd:matterEnd,
									dulldate:dulldate,
									dullSdate:dullSdate,
									dullEdate:dullEdate
								},
            				success:function(res){
            					that.detail = res;
            				}
            	
            			});
            			
            		}
           		}
        },
         
        //物料起止开窗
        outmatterStart:function(){
        	 layui.use(['layer'],function () {
                var layer = layui.layer,$=layui.$;
                win=layer.open({
                    type:1,//类型
                    area:['400px','300px'],//定义宽和高
                    title:'物料取回（物料区间）',//题目
                    shadeClose:false,//点击遮罩层关闭
                    content: $('#matStart')//打开的内容
                });
        	});
        	var that=this;
        	$.ajax({
        		type:"get",
            	url: host + "wd_adjustController/tzqueryMatter",
            	success:function(res){
            		that.matterStart = res;
            	}
        	});
        
        },
        quhuiStart:function(mat){
        	var this_=this;
        	$.each($("#tb1 tbody tr"),function(a,b){
					if($(b).find("td:eq(1)").text()==mat.matterName){
						$(b).css("background","skyblue");
					}else{
						$(b).css("background","");
						layer.close(win);
					}
					
				})
        		receiptvue.mat=mat;
        		var mtsv=$("input:eq(0)").val();
        		mtsv=mat.matterName;
        		$("input:eq(0)").attr("value",mtsv);
        		$("#matStart").css("display","none");
        },
        
        //物料结束开窗
        outmatterEnd:function(){
        	 layui.use(['layer'],function () {
                var layer = layui.layer,$=layui.$;
                win=layer.open({
                    type:1,//类型
                    area:['400px','300px'],//定义宽和高
                    title:'物料取回（物料区间）',//题目
                    shadeClose:false,//点击遮罩层关闭
                    content: $('#matEnd')//打开的内容
                });
        	});
        	var that=this;
        	$.ajax({
        		type:"get",
            	url: host + "wd_adjustController/tzqueryMatter",
            	success:function(res){
            		that.matterEnd = res;
            	}
        	});
        },
        quhuiStart1:function(mat){
        	var this_=this;
        	$.each($("#tb2 tbody tr"),function(a,b){
					if($(b).find("td:eq(1)").text()==mat.matterName){
						$(b).css("background","skyblue");
					}else{
						$(b).css("background","");
					}
					
				})
        		receiptvue.mat=mat;
        		var mtsv=$("input:eq(1)").val();
        		mtsv=mat.matterName;
        		$("input:eq(1)").attr("value",mtsv);
        		layer.close(win);
       
        },
        querySection:function(){
        	var this_=this;
        	$.ajax({
        		type:"get",
        		url:host + "wd_adjustController/querySection",
        		success:function(res){
        			this_.page=res;
        		}
        	});
        },
     
        	//取回区间
        	quSection:function(du){
        		var this_=this;
        		$.each($("#tba tbody tr"),function(a,b){
					if($(b).find("td:eq(1)").text()==du.dsStartday){
						$(b).css("background","skyblue");
					}else{
						$(b).css("background","");
					}
					
				})
        		receiptvue.du=du;
        		var dusta=du.dsStartday;
        		var duend=du.dsEnddate;
        		console.log(dusta+","+duend);
        		$("#5").attr("value",du.dsStartday);
        		$("#6").attr("value",du.dsEnddate);
        	}
        },
				created: function() {
					//查询区间
					this.querySection();
					}
			});
			
		</script>
	</body>

</html>