<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>进出库明细</title>

		<link rel="stylesheet" href="css/layui.css">
    <script src="jquery-1.12.4.js"></script>
    <script src="layui.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/bootstrap.js"></script>
		<style>
			#app {
				text-align: center;
				padding: 15px;
			}.layui-table{
				font-size: 50px;
				align-content: center;
				margin: auto;
				width: 80%;
				height: 80%;
		}
		
		input{
			
			height: 30px;
			border-radius: 5px;
			width: 100px;
			border: 1px solid transparent;
			background-color:transparent;
		}span{
			color: #009688;
		}
		button{
			border:1px solid skyblue;
			border-radius: 5px;
			background-color: skyblue;
			color: #FFFFFF;
			margin-left: -70px;
			margin-right: -70px;
			width: 200px;
			height: 40px;
		}
		</style>
	</head>

	<body>
		<div id="app">
			<div class="layui-row" style="margin-top: 30px;">
				<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
                <thead>
                	<tr>
                   	 	<td>物料编号</td>
                   	 	<td>物料名称</td>
                   	 	<td>仓库</td>
                    	<td>日期</td>
                     	<td>操作</td>
                	</tr>
                </thead>
                 <tbody>           
                	<tr v-for="stu in page">
                    	<td>{{stu.matterId}}</td>
                    	<td>{{stu.matterName}}</td> 
                    	<td>{{stu.warehouseName}}</td> 
                    	<td>{{stu.wdDate}}</td> 
                    	<td>
                    		<button type="button" @click="openModak(stu.matterId,stu.matterName,stu.warehouseName,stu.wdDate)">查看详情</button>
                    	</td>
                	</tr>
                </tbody>
               </table>
			</div>
			<div id="motaikunag" style="display: none;">
    			<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm" style="width: 600px;">
                <tbody  v-for="det in detail">
                	<tr>
                   	 	<td><span>日期：</span></td>
                   	 	<td><input type="text" v-model="det.wdDate"></td>
                		<td><span>仓库：</span></td>
                   	 	<td><input type="text" v-model="det.warehouseName"></td>
                   	</tr>
                	<tr>
                		<td><span>物料编号：</span></td>
                   	 	<td><input type="text" v-model="det.matterId"></td>
                   		<td><span>物料名称：</span></td>
                   	 	<td><input type="text" v-model="det.matterName"></td>
                   	</tr>
                	<tr>
                		<td><span>物料类别：</span></td>
                   	 	<td><input type="text" v-model="det.mtName"></td>
                   		<td><span>规格型号：</span></td>
                   	 	<td><input type="text" v-model="det.matterSize"></td>
                   	</tr>
                	<tr>
                		<td><span>单位：</span></td>
                   	 	<td><input type="text" v-model="det.muName"></td>
                   	 	<td><span>出入库状态：</span></td>
                   	 	<td><input type="text" v-model="det.wdInorout"></td>
                	</tr>
                	<tr>
                		<td><span>数量：</span></td>
                   		<td><input type="text" v-model="det.wdNumber"></td>
                   		<td><span>单价：</span></td>
                   	 	<td><input type="text" v-model="det.wdUnitRice"></td>
                	</tr>
                </tbody>
               </table>
    
			</div>
		</div>
		<script>
	    
			
   
    </script>
		<script>
			var host = "http://127.0.0.1:8080/";
			var receiptvue = new Vue({
				el: "#app",
				data:{
					page: [],
					detail:[]
				},
				methods: {
					 openModak:function(matterId,matterName,warehouseName,wdDate){
				     	
           		 layui.use(['layer'],function () {
                var layer = layui.layer,$=layui.$;
                layer.open({
                    type:1,//类型
                    area:['600px','300px'],//定义宽和高
                    title:'查看详细信息',//题目
                    shadeClose:false,//点击遮罩层关闭
                    content: $('#motaikunag')//打开的内容
                });
            })
            var that=this;
			
            $.ajax({
            	type:"get",
            	url: host + "wd_adjustController/selinoroutDetail",
            	data:{
            		matterId:matterId,
            		warehouseName:warehouseName,
            		wdDate:wdDate
            	},
            	success:function(res){
            		that.detail = res;
            	}
            	
            });
        }
				},
				created: function() {
						var this_ = this;
						$.ajax({
							url: host + "wd_adjustController/selinorout",
							type: "get",
							success: function(res) {
								this_.page = res;
							}
						});
					}
			});
			
		</script>
	</body>

</html>