<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盘点单</title>
    <link rel="stylesheet" href="css/layui.css">
    <script src="jquery-1.12.4.js"></script>
    <script src="layui.js"></script>
    <style>
        #app{
            padding: 15px;
        }
    </style>
	
	
	<!-- 复制这一节 -->
	<link href="css/fontawesome.css" rel="stylesheet">
	<link href="css/brands.css" rel="stylesheet">
	<link href="css/solid.css" rel="stylesheet">
	<!-- 复制这一节 -->
	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
</head>
<body>
    <div id="app">
		<div v-for="pages,index in page.list">
			<div class="layui-row">
				<div class="layui-col-lg6">
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label" style="color:#009688;">盘点仓库</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.warehouse_Name">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">增值科目</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.scAppreciationSubjects_Name">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">减值科目</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.scImpairmentSubjects_Name">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-lg6">
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label" style="color:#009688;">单据日期</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkDocumentationDate">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label" style="color:#009688;">单据号码</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkDocumentationNo">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">凭证编号</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkCustom4">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-tab">
					<ul class="layui-tab-title">
						<li class="layui-this">内容</li>
						<li>备注</li>
					</ul>
					<div class="layui-tab-content" style="padding: 10px 0;">
						<div class="layui-tab-item layui-show">
							<table id="materialsContent" class="layui-hide">

							</table>
						</div>
						<div class="layui-tab-item">
							<div class="layui-row">
								<div class="layui-col-lg6">
									<div class="layui-form">
										<div class="layui-form-item">
											<label class="layui-form-label">自定栏一</label>
											<div class="layui-input-block">
												<input type="text" name="title" class="layui-input" v-model="pages.checkCustom5">
											</div>
										</div>
									</div>
								</div>
								<div class="layui-col-lg6">
									<div class="layui-form">
										<div class="layui-form-item">
											<label class="layui-form-label">自定栏二</label>
											<div class="layui-input-block">
												<input type="text" name="title" class="layui-input" v-model="pages.checkCustom6">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="layui-row">
								<div class="layui-col-lg12">
									<div class="layui-form">
										<div class="layui-form-item">
											<label class="layui-form-label">备注</label>
											<div class="layui-input-block">
												<textarea placeholder="请输入内容" class="layui-textarea" v-model="pages.checkRemark"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-lg6">
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label" style="color:#009688;">盘点人员</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkBuyer">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label" style="color:#009688;">所属部门</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkBelongsSection">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-lg6">
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label">制单人员</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkForm">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">复核人员</label>
							<div class="layui-input-block">
								<input type="text" name="title" class="layui-input" v-model="pages.checkCheckagainStaff">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-lg2">
					<div class="layui-form">
						<div class="layui-form-item">
							<div class="layui-input-block" style="margin-left: 30px;">
								<select name="interest" lay-filter="aihao">
									<option value="">功能</option>
									<option value="0" disabled>载入盘点资料</option>
									<option value="0">批号设定</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">  
					<button :class="[goFirstPage1 ? lay1 : '', lay2]" title="第一笔" @click="goFirstPage"   v-bind:disabled="goFirstPage1"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true" ></i></button>
					<button :class="[goPrePage1 ? lay1 : '', lay2]" class="layui-btn" title="上一笔" @click="goPrePage"  v-bind:disabled="goPrePage1"><i class="fa fa-angle-left fa-lg" aria-hidden="true" ></i></button>				            
					<button :class="[goNextPage1 ? lay1 : '', lay2]" class="layui-btn" title="下一笔" @click="goNextPage" v-bind:disabled="goNextPage1"><i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></button>
					<button :class="[goLastPage1 ? lay1 : '', lay2]" class="layui-btn" title="后一笔" @click="goLastPage" v-bind:disabled="goLastPage1"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true" ></i></button> 
					<button :class="[inset1 ? lay1 : '', lay2]" class="layui-btn" title="新增" @click="inset" v-bind:disabled="inset1"><i class="fa fa-file fa-lg" aria-hidden="true" ></i></button>          
					<button :class="[update1 ? lay1 : '', lay2]" class="layui-btn" title="编辑" @click="update" v-bind:disabled="update1"><i class="fa fa-pencil-square-o fa-lg" ></i></button>
					 <button :class="[saves1 ? lay1 : '', lay2]" class="layui-btn" title="保存" @click="saves" v-bind:disabled="saves1"><i class="fa fa-floppy-o fa-lg" aria-hidden="true" ></i></button>  
					<button :class="[return1 ? lay1 : '', lay2]" class="layui-btn" title="取消" @click="returns" v-bind:disabled="return1"><i class="fa  fa-undo fa-lg" ></i></button>
					<button :class="[deletes1 ? lay1 : '', lay2]" class="layui-btn" title="删除" @click="deletes" v-bind:disabled="deletes1"><i class="fa fa-trash fa-lg" aria-hidden="true" > </i></button>							            
					<button  class="layui-btn" title="刷新" @click="goPage(1,1)" ><i class="fa fa-refresh fa-lg" aria-hidden="true" ></i></button>    
					<button :class="[Auditing1 ? lay1 : '', lay2]" class="layui-btn" title="审核" @click="Auditing"  v-bind:disabled="Auditing1"><i class="fa fa-check fa-lg" aria-hidden="true" ></i></button>             
					<button :class="[noAuditing1 ? lay1 : '', lay2]" class="layui-btn" title="取消审核" @click="noAuditing"  v-bind:disabled="noAuditing1"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
    </div>
	
<script src="jquery-1.12.4.js"></script>
<script src="layui.js"></script>
<script type="text/html" id="barDemo">
  <input lay-skin="primary" type="checkbox" id="cbox" disabled="false"/>
</script>
<script>
    /*layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type: 1,
            title: '调价单',
            content: $('#app'),
            area: ['800px', '650px']
        });
    });*/

    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });
    });

    /*layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#materialsContent'
            ,url:'https://www.layui.com/demo/table/user/'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                  {field: 'cdId', 		title: '(栏号)', sort: true}
                , {field: 'cdName', 	title: '物料编号'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'cdFormat', 		title: '(物料名称)', sort: true}
                , {field: 'cdIncludeTax', 		title: '(规格型号)'}
                , {field: 'cdVolume', 		title: '(单位)'}
                , {field: 'cdInventoriesNumber', 	title: '(账面数量)', align: 'center'} ,//单元格内容水平居中
				, {field: 'cdProfitsLossesNumber', 	title: '盘点数量', align: 'center'} ,//单元格内容水平居中
				, {field: 'cdUnitPrice', 	title: '(盈亏数量)', align: 'center'} //单元格内容水平居中
                , {field: 'cdLossAmountProfit', title: '单价', sort: true, align: 'right'} //单元格内容水平居中
                , {field: 'cdBatchNumber', 		title: '(盈亏金额)', sort: true, align: 'right'}
                , {field: 'cdCause', 	title: '(批号)', sort: true, align: 'right'}
                , {field: 'cdAuditing', 	title: '原因', sort: true, align: 'right'}
            ]]
        });
    });*/
</script>
<script type="text/javascript">
	//必须设置允许跨域访问session中数据(cookie)
	axios.default.withCredentials = true;
	//创建vue实例
	var listVm = new Vue({
		el: "#app",//设置vue可以操作的html内容范围，值就是css的id选择器。
		data: {//保存vue.js中要显示到html页面的数据
			page: [],
			diasabledInput:true,//input框是否可以编辑
			isinsert:false,//是否是新增状态
			isedit:false,//是否是编辑状态
			
			goFirstPage1:false,//第一笔
			goPrePage1:false,//上一笔				            
			goNextPage1:false,//下一笔
			goLastPage1:false,//后一笔
			inset1:false,   //新增  
			return1:true,//取消
			saves1:true,//保存 
			update1:false,//编辑
			deletes1:false,//删除		
			Auditing1:true,//审核
			noAuditing1:true,//取消审核
			
			lay1:'layui-btn-primary',
			lay2:'layui-btn'
		},
		methods: {//定义函数

			goPage: function(page, size) {//获取分页数据（当前页，每页大小）		
//					alert("进入goPage")
				var this_ = this;		
				this.Auditing1 =false;//审核
				this.noAuditing1 =false;//取消审核
				$.ajax({
					url : "http://127.0.0.1:8080/CheckController/queryAllpage",
					type:"get",
					data : "pageNum="+page+"&pageSize="+1,
					dataType:'json',	
					success:function (res) {
						//res.data获取服务器返回的数据
						this_.page = res;
						console.info("详表表数据：");
						console.info(this_.page.list);
						console.info(JSON.stringify(this_.page.list));
						layui.use('table', function(){
						    var table = layui.table;
						    table.render({
						        elem: '#materialsContent'
						        ,url:''//'https://www.layui.com/demo/table/user/'
								,data:this_.page.list[0].cd_List//[{rdId:1,matterId:2,rdEngname:3,rdRemark:4,rdPriceIncludeTax:5,rdSingleNum:6,rdBatchNumber:7,rdRemarks:8}]
						        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
						        , cols: [[
									 {type:'numbers', 					title: '(栏号)', 		sort: true 	,width:'7%'		}
									,{field: 'cdId', 					title: 'id', 		sort: true, 	hide:true		}
									, {field: 'matterId', 				title: '物料编号'									} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
									, {field: 'cdName', 				title: '(物料名称)', 	sort: true					}
									, {field: 'cdFormat', 				title: '(规格型号)'									}
									, {field: 'cdIncludeTax', 			title: '(单位)'										}
									, {field: 'cdVolume', 				title: '(账面数量)', 				align: 'center'	}//单元格内容水平居中
									, {field: 'cdInventoriesNumber', 	title: '盘点数量', 					align: 'center'	}//单元格内容水平居中
									, {field: 'cdProfitsLossesNumber', 	title: '(盈亏数量)', 				align: 'center'	} //单元格内容水平居中
									, {field: 'cdUnitPrice', 			title: '单价', 			sort: true, align: 'right'	} //单元格内容水平居中
									, {field: 'cdLossAmountProfit', 	title: '(盈亏金额)', 	sort: true, align: 'right'	}
									, {field: 'cdBatchNumber', 			title: '(批号)', 		sort: true, align: 'center'	,toolbar: '#barDemo'}
									, {field: 'cdCause', 				title: '原因', 			sort: true, align: 'right'	}
						        ]]
						    });
						});
					}
				}); 					
			},
			goPrePage: function() {//上一条
				//if(this.page.hasPreviousPage) {
				if(this.page.hasNextPage) {
//						alert(this.page.prePage+"："+this.page.pageSize)
					//this.goPage(this.page.prePage, this.page.pageSize);
					this.goPage(this.page.nextPage, this.page.pageSize);//由于时间倒叙上一条的效果应该为下一条
				}
			},
			goNextPage: function() {//下一条
				//if(this.page.hasNextPage) {
				if(this.page.hasPreviousPage) {
//						alert(this.page.nextPage+"："+this.page.pageSize)
					//this.goPage(this.page.nextPage, this.page.pageSize);
					this.goPage(this.page.prePage, this.page.pageSize);//由于时间倒叙下一条的效果应该为上一条
				}
			},
			goFirstPage: function() {//第一条
//					alert(1+"："+this.page.pageSize)
				//this.goPage(1, this.page.pageSize);
				this.goPage(this.page.pages, this.page.pageSize);//由于时间倒叙第一条的效果应该为查询结果的最后一条
			},
			goLastPage: function() {//最后一条
//					alert(this.page.pages+"："+this.page.pageSize)
				//this.goPage(this.page.pages, this.page.pageSize);
				this.goPage(1, this.page.pageSize);//由于时间倒叙最后一条的效果应该为查询结果的第一条
			},
			returns: function() {//取消
				this.goPage(1,1);
				
				this.diasabledInput= true;//input不可编辑
				
				this.goFirstPage1 =false;//第一笔
				this.goPrePage1 =false;//上一笔				            
				this.goNextPage1 =false;//下一笔
				this.goLastPage1 =false;//后一笔
				this.inset1 =false;   //新增      
				this.return1=true;//返回
				this.saves1 =true;//保存 
				this.update1 =false;//编辑
				this.deletes1 =false;//删除		
				this.Auditing1 =false;//审核
				this.noAuditing1 =false;//取消审核
			},
			inset: function() {//新增按钮
				this.page.list[0].requisitionId="";//调拨单编号（主键 唯一）
				this.page.list[0].requisitionOutWarehouse="";//调出仓库id
				this.page.list[0].requisitionInputWarehouse="";//调入仓库id
				this.page.list[0].requisitionDocumentationDate="";//单据日期
				this.page.list[0].requisitionDocumentationNo="";//单据号码
				this.page.list[0].requisitionForm="";//制单人员
				this.page.list[0].isReviewStaff="";//复核人员
				this.page.list[0].requisitionRemark="";//备注
				this.page.list[0].requisitionAuditing="";//是否审核(0否1是,默认0)
				this.page.list[0].rd_list="";//调拨详表
				this.page.list[0].requisitionOutWarehouseName="";//调出仓库名称
				this.page.list[0].requisitionInputWarehouseName="";//调入仓库名称
				this.page.list[0].requisitionYn="";//是否删除（0 否 1 是 ，默认0）
				this.page.list[0].requisitionCustom1="";//创建时间
				this.page.list[0].requisitionCustom2="";//自定义2
				this.page.list[0].requisitionCustom3="";//自定义3
				this.page.list[0].requisitionCustom4="";//自定义4
				this.page.list[0].requisitionCustom5="";//自定义5
				this.page.list[0].requisitionCustom6="";//自定义6
				var this_=this;
				
				layui.use('table', function(){
				    var table = layui.table;
				    table.render({
				        elem: '#materialsContent'
				        ,url:''//'https://www.layui.com/demo/table/user/'
						,data:[{}]//[{rdId:1,matterId:2,rdEngname:3,rdRemark:4,rdPriceIncludeTax:5,rdSingleNum:6,rdBatchNumber:7,rdRemarks:8}]
				        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
				        , cols: [[
							{type:'numbers', 					title: '(栏号)', 		sort: true 	,width:'7%'		}
							,{field: 'cdId', 					title: 'id', 		sort: true, 	hide:true		}
				        	, {field: 'matterId', 				title: '物料编号'									} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
				        	, {field: 'cdName', 				title: '(物料名称)', 	sort: true					}
				        	, {field: 'cdFormat', 				title: '(规格型号)'									}
				        	, {field: 'cdIncludeTax', 			title: '(单位)'										}
				        	, {field: 'cdVolume', 				title: '(账面数量)', 				align: 'center'	}//单元格内容水平居中
				        	, {field: 'cdInventoriesNumber', 	title: '盘点数量', 					align: 'center'	}//单元格内容水平居中
				        	, {field: 'cdProfitsLossesNumber', 	title: '(盈亏数量)', 				align: 'center'	} //单元格内容水平居中
				        	, {field: 'cdUnitPrice', 			title: '单价', 			sort: true, align: 'right'	} //单元格内容水平居中
				        	, {field: 'cdLossAmountProfit', 	title: '(盈亏金额)', 	sort: true, align: 'right'	}
				        	, {field: 'cdBatchNumber', 			title: '(批号)', 		sort: true, align: 'center'	,toolbar: '#barDemo'}
				        	, {field: 'cdCause', 				title: '原因', 			sort: true, align: 'right'	}
				        ]]
				    });
				});
				//$("#cbox").prop("disabled","true");
				
				this.diasabledInput=false;//input可以编辑
				this.isinsert=true;//开启新增模式
				this.isedit=false;//关闭修改模式
				this.getno();
				
				
				
				this.goFirstPage1 =true;//第一笔
				this.goPrePage1 =true;//上一笔				            
				this.goNextPage1 =true;//下一笔
				this.goLastPage1 =true;//后一笔
				this.inset1 =true;   //新增      
				this.return1=false;//返回
				this.saves1 =false;//保存 
				this.update1 =true;//编辑
				this.deletes1 =true;//删除		
				this.Auditing1 =true;//审核
				this.noAuditing1 =true;//取消审核
			},
			insets: function() {//新增
				/*获取当前时间*/
				//判断是否在前面加0
					function getNow(s) {
					return s < 10 ? '0' + s: s;
					}
					 
					var myDate = new Date();            
					 
					var year=myDate.getFullYear();        //获取当前年
					var month=myDate.getMonth()+1;   //获取当前月
					var date=myDate.getDate();            //获取当前日
					 
					var h=myDate.getHours();              //获取当前小时数(0-23)
					var m=myDate.getMinutes();          //获取当前分钟数(0-59)
					var s=myDate.getSeconds();
					 
					var now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);
				/*获取当前时间*/
				
				
				
				var this_ = this;
				//修改信息
				this.page.list[0].teamCustom1=year+getNow(month)+getNow(date);//创建时间
				var obj=this.page.list[0];
				
				$.ajax({
					url : "http://127.0.0.1:8080/CheckController/insertSelective",
					type:"post",
					data : JSON.stringify(obj),
					dataType:'json',	
					contentType : "application/json;charset=utf-8",
					success:function (res) {
						//alert("系统提示：" +res.message);
						this_.isinsert=false;//关闭新增模式
						this_.isedit=false;//关闭编辑模式
						this_.goPage(1, 1);		
					}
				}); 
			},
			saves: function() {//保存
				this.diasabledInput= true;//input不可编辑
				
				
				
				if(this.isinsert==true){//新增
					//alert("进入新增")
					this.insets();
				}else if(this.isedit==true){
					//alert("进入修改")
					this.updates();
				}else{
					
				}	
				
				this.goFirstPage1 =false;//第一笔
				this.goPrePage1 =false;//上一笔				            
				this.goNextPage1 =false;//下一笔
				this.goLastPage1 =false;//后一笔
				this.inset1 =false;   //新增      
				this.return1=true;//返回
				this.saves1 =true;//保存 
				this.update1 =false;//编辑
				this.deletes1 =false;//删除		
				this.Auditing1 =true;//审核
				this.noAuditing1 =true;//取消审核
				
			},
			update: function() {//编辑按钮
				this.diasabledInput=false;//input可以输入
				this.isinsert=false;//关闭新增模式
				this.isedit=true;//开启编辑模式
				
				this.goFirstPage1 =true;//第一笔
				this.goPrePage1 =true;//上一笔				            
				this.goNextPage1 =true;//下一笔
				this.goLastPage1 =true;//后一笔
				this.inset1 =true;   //新增      
				this.return1=false;//返回
				this.saves1 =false;//保存 
				this.update1 =true;//编辑
				this.deletes1 =true;//删除		
				this.Auditing1 =true;//审核
				this.noAuditing1 =true;//取消审核
				
			},
			updates: function() {//编辑 
				
				var this_ = this;
				//修改信息
				var obj=this.page.list[0];
				
				$.ajax({
					url : "http://127.0.0.1:8080/CheckController/updateByPrimaryKeySelective",
					type:"post",
					data : JSON.stringify(obj),
					dataType:'json',	
					contentType : "application/json;charset=utf-8",
					success:function (res) {
						//alert("系统提示：" +res.message);
						this_.isinsert=false;//关闭新增模式
						this_.isedit=false;//关闭编辑模式
						this_.goPage(1, 1);		
					}
				}); 
			
			},
			deletes: function() {//删除
				var this_ = this;
				
				if (confirm("是否删除")==true) {
					//修改信息
					this_.page.list[0].checkYn=1;//是否删除（0 否 1 是 ，默认0）
					var obj=this_.page.list[0];
					$.ajax({
						url : "http://127.0.0.1:8080/CheckController/updateByPrimaryKeySelective",
						type:"post",
						data : JSON.stringify(obj),
						dataType:'json',	
						contentType : "application/json;charset=utf-8",
						success:function (res) {
							//alert("系统提示：" +res.message);
							this_.diasabledInput=false;//input不可以输入	
							this_.goPage(1, 1);		
						}
					}); 
				}
			},   
			Auditing: function() {//审核
				
			},   
			noAuditing: function() {//取消
				
			},   
			getno:function(){//获取id
				var this_=this;
				
				
				/*获取当前时间*/
				//判断是否在前面加0
					function getNow(s) {
					return s < 10 ? '0' + s: s;
					}
					 
					var myDate = new Date();            
					 
					var year=myDate.getFullYear();        //获取当前年
					var month=myDate.getMonth()+1;   //获取当前月
					var date=myDate.getDate();            //获取当前日
					 
					var h=myDate.getHours();              //获取当前小时数(0-23)
					var m=myDate.getMinutes();          //获取当前分钟数(0-59)
					var s=myDate.getSeconds();
					 
					var now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);
				/*获取当前时间*/
				
				var ss=year+getNow(month)+getNow(date);
				
				$.ajax({
					url:"http://127.0.0.1:8080/CheckController/getno",
					type:"get",
					data:"billdate="+ss,
					dataType:'text',	
					success:function (res) {
						console.info("idfdsfhoewifhw")
						console.info(res)
						this_.page.list[0].teamId=ss+res;						
					}
				}); 				
			},add:function(){
				//console.log(6666);
				layer.open({
					type: 2,
					title:"单选-- 仓库设定",
					content: "window_set_ repository_settings_type.html",
					area: ['762px', '450px']
				});
				//alert(JSON.stringify(this.page.list[0].rd_list));
			}
		},
		mounted: function() {//在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
						
			var this_ = this;				
			this_.goPage(1, 1);				
		}
	
	});
	
	
	
	 /*layui.use('layer', function(){
		var layer = layui.layer;
		layer.open({
			type: 1,
			title: '小窗口模板',
			content: $('#app'),
			area: ['400px']
		});
	});*/
</script>
</body>
</html>