<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>销售报价单</title>

		<link rel="stylesheet" href="css/layui.css">
		<link href="css/fontawesome.css" rel="stylesheet">
		<link href="css/brands.css" rel="stylesheet">
		<link href="css/solid.css" rel="stylesheet">
		<style>
			#app{
            padding: 15px;
			/* !important 设置样式优先级最高
			 * 防止数据加载完毕之前出现vue表达式 */
			[v-cloak] {
				display: none !important;
			}
        }
    </style>
	</head>
	<body>
		<div id="app">
			<div class="layui-form" v-for="pages,index in page.list">
				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">正式客户</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.customerId" name="customerId" @keyup.f4="showClientWindow()">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">供应商地址</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" style="width:30%;float: left;">
									<input type="text" class="layui-input" style="width:68%;float: right;" v-model="pages.sqDeliveryAddress"
									 disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">单据日期</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqDocumentTime" name="sqDocumentTime">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">单据号码</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqId" name="sqId" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">有效日期</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqEffectiveTime" name="sqEffectiveTime">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="padding: 9px 0 9px 0;width: 95px;">单价是否含税</label>
								<div class="layui-input-block">
									<template v-if="pages.sqTax==1">
										<select name="interest" name="sqTax">
											<option value="1" selected="selected">含税</option>
											<option value="0">未含税</option>
										</select>
									</template>
									<template v-if="pages.sqTax==0">
										<select name="interest"  name="sqTax">
											<option value="1">含税</option>
											<option  value="0" selected="selected">未含税</option>
										</select>
									</template>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">汇率</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqExchangeRate" disabled name="sqExchangeRate">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">币别</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.currencyId" name="currencyId" @keyup.f4="showCurrencyWindow()">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">内容</li>
							<li>备注</li>
						</ul>
						<div class="layui-tab-content" style="padding: 10px 0;">
							<div class="layui-tab-item layui-show">
								<table id="materialsContent" class="layui-hide" >
									
								</table>
							</div>
							<div class="layui-tab-item">
								<div class="layui-row">
									<div class="layui-col-lg6">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">表头条文</label>
												<div class="layui-input-block">
													<input type="text" name="title" class="layui-input" v-model="pages.sqWatchword" name="sqWatchword">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">表头尾文</label>
												<div class="layui-input-block">
													<input type="text" name="title" class="layui-input" v-model="pages.sqTailclause" name="sqTailclause">
												</div>
											</div>
										</div>
									</div>
									<div class="layui-col-lg6">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">自定栏一</label>
												<div class="layui-input-block">
													<input type="text" name="title" class="layui-input" v-model="pages.sqCustom2" name="">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">自定栏二</label>
												<div class="layui-input-block">
													<input type="text" name="title" class="layui-input" v-model="pages.sqCustom3">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-lg12">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">备注</label>
												<div class="layui-input-block">
													<textare class="layui-textarea" v-model="pages.sqRemark" name="sqRemark"></textare>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">业务人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.staffId" name="staffId" @keyup.f4="showSalesmanWindow()">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">所属部门</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqCustom4" name="sqCustom4">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">制单人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqMonograph" name="sqMonograph">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">复核人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqReviewer" id="fhname" name="sqReviewer">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg2">
						<div class="layui-form">
							<div class="layui-form-item">
								<div class="layui-input-block" style="margin-left: 30px;">
									<select name="interest" lay-filter="aihao">
										<option value="">查询</option>
										<option value="0">历史交易查询</option>
										<option value="0">利润预估查询</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg2">
						<div class="layui-form">
							<div class="layui-form-item">
								<div class="layui-input-block" style="margin-left: 30px;">
									<select name="interest" lay-filter="aihao">
										<option value="">功能</option>
										<option value="0" disabled>批次变更单价</option>
										<option value="0">发送Email</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" id="fistinfo" title="第一笔" v-on:click="goFirstPage"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="preinfo" title="上一笔" v-on:click="goPrePage"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="nextinfo" title="下一笔" v-on:click="goNextPage"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="lastinfo" title="后一笔" v-on:click="goLastPage"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" title="新增" v-on:click="addinfo"><i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn layui-btn-disabled" id="save" style="border: 1px solid #008000;" title="保存"  @click="add" ><i   class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="updateinfo" title="编辑"><i class="fa fa-pencil-square-o fa-lg"></i></button>
						<button class="layui-btn" id="deleinfo" title="删除" v-on:click="gomove"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="resetinfo" title="重置" type="reset"><i class="fa fa-rotate-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="renovateinfo" title="刷新" v-on:click="renovate"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="auditinfo" title="审核" v-on:click="audit"><i class="fa fa-check fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="cancelauditinfo" title="取消审核" v-on:click="cancelaudit"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="jquery-1.12.4.js"></script>
		<script src="layui.js"></script>
		<script src="js/vue.js"></script>
		<script>
			$(function() {
				var name = $("#fhname").val();
				if (name != "") {
					$("#auditinfo").attr("class","layui-btn layui-btn-disabled");
				}else{
					$("#auditinfo").attr("class","layui-btn");
				}
				
			});
			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

				//触发事件
				var active = {
					tabAdd: function() {
						//新增一个Tab项
						element.tabAdd('demo', {
							title: '新选项' + (Math.random() * 1000 | 0) //用于演示
								,
							content: '内容' + (Math.random() * 1000 | 0),
							id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
						})
					},
					tabDelete: function(othis) {
						//删除指定Tab项
						element.tabDelete('demo', '44'); //删除：“商品管理”
						othis.addClass('layui-btn-disabled');
					},
					tabChange: function() {
						//切换到指定Tab项
						element.tabChange('demo', '22'); //切换到：用户管理
					}
				};

				$('.site-demo-active').on('click', function() {
					var othis = $(this),
						type = othis.data('type');
					active[type] ? active[type].call(this, othis) : '';
				});

				//Hash地址的定位
				var layid = location.hash.replace(/^#test=/, '');
				element.tabChange('test', layid);

				element.on('tab(test)', function(elem) {
					location.hash = 'test=' + $(this).attr('lay-id');
				});
			});

			/*layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type: 1,
            title: '销售报价单',
            content: $('#app'),
            area: ['800px', '650px']
        });
    });*/
			//创建vue实例
			var receiptvue = new Vue({
				el: "#app",
				data() {
					return {
						page: []
					}
				},
				methods: {
					goPage: function(page) {
						
						var this_ = this;
						$.ajax({
							url: "http://127.0.0.1:8080/Sales_quotationController/selectAllpage",
							type: "get",
							data: "pageNum=" + page + "&pageSize=1",
							success: function(res) {
								console.info(res)
								this_.page = res;
							}
						});
					},
					goFirstPage: function() { //第一条
						this.goPage(this.page.pages);
						this.logininfo();
					},
					goLastPage: function() { //最后一条
						this.goPage(1);
						this.logininfo();
					},
					goPrePage: function() { //上一条
						if (this.page.hasPreviousPage) {
							this.goPage(this.page.prePage);
							this.logininfo();
						}
					},
					goNextPage: function() { //下一条
						if (this.page.hasNextPage) {
							this.goPage(this.page.nextPage);
							this.logininfo();
						}
					},
					//客户资料弹窗
					showClientWindow(){
						layer.open({
							type:2,
							title:"客户资料",
							content:"set_customer_infomation.html",
							area:['762px','450px']
						})
					},
					//币别资料弹窗
					showCurrencyWindow(){
						layer.open({
							type:2,
							title:"币别资料",
							content:"set_customer_infomation.html",
							area:['762px','450px']
						})
					},
					//业务人员资料弹窗
					showSalesmanWindow(){
						layer.open({
							type:2,
							title:"业务人员资料",
							content:"set_customer_infomation.html",
							area:['762px','450px']
						})
					},
					//取消省和
					cancelaudit: function() {
						var name = $("#fhname").val();
						if (name == "") {
							alert("该单据还未审核!");
						} else {
							var con = confirm("是否取消该单据的审核?");
							if (con) {
								var sqid = $("[name=sqId]").val();
								var record = {
									sqId: sqid,
									sqReviewer: "",
									sqAuditing: "否"
								}
								$.ajax({
									url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective2",
									type: "post",
									contentType: "application/json",
									data: JSON.stringify(record),
									success: function(res) {
										if (res.code == "1") {
											alert("订单已取消审核！");
										} else {
											alert("订单已取消审核失败！");
										}
									}
								});
								this.goPage(1);
							}
						}
					},
					//刷新
					renovate: function() {
						this.goPage(1);
						$("#save").attr("class","layui-btn layui-btn-disabled");
						$("#fistinfo").attr("class","layui-btn");
						$("#preinfo").attr("class","layui-btn");
						$("#nextinfo").attr("class","layui-btn");
						$("#lastinfo").attr("class","layui-btn");
						$("#updateinfo").attr("class","layui-btn");
						$("#deleinfo").attr("class","layui-btn");
						$("#auditinfo").attr("class","layui-btn");
						$("#cancelauditinfo").attr("class","layui-btn");
					},
					//保存数据
					add:function(){
						var record={
							sqId:$("[name=sqId]").val(),
							sqDocumentTime:$("[name=sqDocumentTime]").val(),
							currencyId:$("[name=currencyId]").val(),
							sqExchangeRate:$("[name=sqExchangeRate]").val(),
							sqEffectiveTime:$("[name=sqEffectiveTime]").val(),
							sqTax:$("[name=sqTax]").val(),
							customerId:$("[name=customerId]").val(),
							sqDeliveryAddress:$("[name=sqDeliveryAddress]").val(),
							staffId:$("[name=staffId]").val(),
							teamId:$("[name=teamId]").val(),
							sqMonograph:$("[name=sqMonograph]").val(),
							sqReviewer:$("[name=sqReviewer]").val(),
							sqWatchword:$("[name=sqWatchword]").val(),
							sqTailclause:$("[name=sqTailclause]").val(),
							sqRemark:$("[name=sqRemark]").val(),
							sqAuditing:$("[name=sqAuditing]").val(),
							sqYn:"0",
							sqCustom2:$("[name=sqCustom2]").val(),
							sqCustom3:$("[name=sqCustom3]").val(),
							sqCustom4:$("[name=sqCustom4]").val()
						}
						//新增数据
						$.ajax({
							url: "http://127.0.0.1:8080/Sales_quotationController/insertSelective1",
							type: "post",
							contentType: "application/json",
							data: JSON.stringify(record),
							success: function(res){
								alert(res.message);
							}
						});
						this.page(1);
					},
					//新增订单
					addinfo: function() {
						$(":input").val("");
						  var myDate = new Date;
						    var year = myDate.getFullYear(); //获取当前年
						    var mon = myDate.getMonth() + 1; //获取当前月
							if(mon<=9){
								mon="0"+mon;
							}
						    var date = myDate.getDate(); //获取当前日
						    // var h = myDate.getHours();//获取当前小时数(0-23)
						    // var m = myDate.getMinutes();//获取当前分钟数(0-59)
						    // var s = myDate.getSeconds();//获取当前秒
							var nowDate=year+"-"+mon+"-"+date
							//获取当前时间
							$("[name=sqDocumentTime]").val(nowDate);
							//获取当前操作员name
							$("[name=sqMonograph]").val("admin");
							//生成订单号
							 var x = 100;
							  var y = 999;
							 var  rand= parseInt(Math.random() * (x - y + 1) + y);
							var sqId1=year+mon+date+rand
							$("[name=sqId]").val(sqId1);
							//改变保存的按钮属性
							$("#save").attr("class","layui-btn");
							$("#fistinfo").attr("class","layui-btn layui-btn-disabled");
							$("#preinfo").attr("class","layui-btn layui-btn-disabled");
							$("#nextinfo").attr("class","layui-btn layui-btn-disabled");
							$("#lastinfo").attr("class","layui-btn layui-btn-disabled");
							$("#updateinfo").attr("class","layui-btn layui-btn-disabled");
							$("#deleinfo").attr("class","layui-btn layui-btn-disabled");
							$("#auditinfo").attr("class","layui-btn layui-btn-disabled");
							$("#cancelauditinfo").attr("class","layui-btn layui-btn-disabled");
					},
					//删除订单
					gomove: function() {
						var a = confirm("是否删除该张单据？");
						if (a) {
							var sqid = $("[name=sqId]").val();
							var sq_yn = 1;
							var record = {
								sqId: sqid,
								sqYn: sq_yn
							}
							$.ajax({
								url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective1",
								type: "post",
								contentType: "application/json",
								data: JSON.stringify(record),
								success: function(res){
									alert(res.message);
								}
							});
							this.goPage(1);
						}
					},
					//修改订单审核状态
					audit: function() {
						var name = $("#fhname").val();
						if (name != "") {
							alert("该订单已复核！");
						} else {
							//发ajax请求修改订单审核状态
							var sqid = $("[name=sqId]").val();
							var record = {
								sqId: sqid,
								sqReviewer: "admin",
								sqAuditing: "是"
							}
							$.ajax({
								url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective2",
								type: "post",
								contentType: "application/json",
								data: JSON.stringify(record),
								success: function(res) {
									alert(res.message);
								}
							});
							this.goPage(1);
						}
					},
					logininfo: function() {
						layui.use('table', function() {
							var sqlid = $("[name=sqId]").val();
							var table = layui.table;
							table.render({
								elem: '#materialsContent',
								url: 'http://127.0.0.1:8080/Sales_quotationController/querybysqid?sqlid=' + sqlid,
								cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
									,
								cols: [
									[{
											field: 'sqdProdid',
											title: '(栏号)',
											sort: true
										}, {
											field: 'sqdSerno',
											title: '物料编号'
										} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
										, {
											field: 'sqdProdname',
											title: '(物料名称)',
											sort: true
										}, {
											field: 'sqdProdsize',
											title: '(规格型号)'
										}, {
											field: 'sqdUnitname',
											title: '(单位名称)'
										}, {
											field: 'sqdSquantity',
											title: '数量',
											align: 'center'
										} //单元格内容水平居中
										, {
											field: 'sqdZkqprice',
											title: '折扣前单价',
											sort: true,
											align: 'right'
										} //单元格内容水平居中
										, {
											field: 'sqdDiscount',
											title: '折数(%)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdUnitprice',
											title: '单价',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdPrice',
											title: '金额',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdTaxrate',
											title: '税率(%)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdTaxlimit',
											title: '(税额)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdTaxinclusiveprice',
											title: '(含税金额)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdComplimentart',
											title: '赠品',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdItemremark',
											title: '分录备注',
											sort: true,
											align: 'right'
										}, {
											field: '无',
											title: '(来源别)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqlId',
											title: '(来源单号)',
											sort: true,
											align: 'right'
										}
									]
								]
							});
						});
					}
				},
				mounted: function() {
					this.goPage(1);
					this.logininfo();
				}
			});
		</script>
	</body>
</html>
