<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销售出库单</title>
    <link rel="stylesheet" href="css/layui.css">
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="css/brands.css" rel="stylesheet">
    <link href="css/solid.css" rel="stylesheet">
    <script src="jquery-1.12.4.js"></script>
    <script src="layui.js"></script>
    <style>
        #app{
            padding: 15px;
        }
    </style>
</head>
<body>
<div id="app">
	<template v-for="stu in page.list">
    <div class="layui-row">
        <div class="layui-col-lg6">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">客户</label>
                    <div class="layui-input-block">
                    	<template v-for="cust in customerlist">
                    		<template v-if="stu.customerId==cust.customerId">
                    			<input type="text" name="title" readonly="readonly" v-model="cust.customerName" class="layui-input">
                    		</template>
                    	</template>
                        
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">送货地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly"  class="layui-input" style="width: 30%; float: left;">
                        <input type="text" name="title" v-model="stu.sowAddress" readonly="readonly"  class="layui-input" style="width: 68%; float: right;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="padding: 9px 0 9px 0;width: 95px;">销售出库类型</label>
                    <div class="layui-input-block">
                        <template v-for="sales in saletype">
                    		<template v-if="sales.sowtId==stu.sowtId">
                    			<input type="text" name="title" readonly="readonly" v-model="sales.sowtName" class="layui-input">
                    		</template>
                    	</template>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="padding: 9px 0 9px 0;width: 95px;">单价是否含税</label>
                    <div class="layui-input-block">
                        <select name="interest" disabled="disabled" v-model="stu.sowPriceIncludeTax">     	
                        		 <option value="0">不含税</option>
                            	 <option value="1">含税</option>                       
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">仓库</label>
                    <div class="layui-input-block">
                         <template v-for="ware in warelist">
                    		<template v-if="ware.warehouseId==stu.warehouseId">
                    			<input type="text" name="title" readonly="readonly" v-model="ware.warehouseName" class="layui-input">
                    		</template>
                    	</template>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">凭证编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowCertificateNumber"  class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg6">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">单据日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowDocumentDate"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">单据号码</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowDocumentNumber"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">币别</label>
                    <div class="layui-input-block">
                        <template v-for="curr in currencylist">
                    		<template v-if="curr.currencyId==stu.currencyId">
                    			<input type="text" name="title" readonly="readonly" v-model="curr.currencyName" class="layui-input">
                    		</template>
                    	</template>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">汇率</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowExchangeRate" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">国外贸易</label>
                    <div class="layui-input-block">
                        <select name="interest" disabled="disabled" v-model="stu.sowForeignTrade">                          
                        		 <option value="0">否</option>
                            	 <option value="1">是</option>                      	
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">内容</li>
                <li>账款</li>
                <li>备注</li>
            </ul>
            <div class="layui-tab-content" style="padding: 10px 0;">
                <div class="layui-tab-item layui-show">
                	
                    <table id="materialsContent" class="layui-hide">
                    	
                    	
						
                    </table>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-lg6">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="color:#009688;">账款归属</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" readonly="readonly" v-model="stu.sowSaleszkgs" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">收款条件</label>
                                        <div class="layui-input-inline">
                                            <select name="interest" disabled="disabled" v-model="stu.sowSalessktj">                                           	
					                        		 <option value="0">货到</option>
					                            	 <option value="1">次月</option>
					                            	 <option value="2">月结</option>
					                            	 <option value="3">其他</option>
					                        	</select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <input type="text" name="title" readonly="readonly" v-model="stu.sowSalesday" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-lg6">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">付款日期</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" readonly="readonly" v-model="stu.sowSalesdate" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">账款月份</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" readonly="readonly"   v-model="stu.sowSalesyue"    class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-row">
                        <div class="layui-col-lg6">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">自定栏一</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" readonly="readonly" v-model="stu.sowCustom1" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-lg6">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">自定栏二</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" readonly="readonly" v-model="stu.sowCustom2" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-lg12">
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">备注</label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="请输入内容" readonly="readonly" v-model="stu.sowRemark" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-lg6">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">采购人员</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="stu.sowBuyer" readonly="readonly"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color:#009688;">所属部门</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowBelongsSection" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属项目</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowBelongsProject"  class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg6">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">制单人员</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowForm"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">复核人员</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" readonly="readonly" v-model="stu.sowCheckagainStaff"  class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 30px;">
                        <select name="interest" lay-filter="aihao">
                            <option value="">查询</option>
                            <option value="0">历史交易查询</option>
                            <option value="0">分摊费用明细</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg2">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 30px;">
                        <select name="interest" lay-filter="aihao" disabled="disabled">
                            <option value="">转单</option>
                            <option value="0" disabled>采购询价转入</option>
                            <option value="0">销售订单转入</option>
                            <option value="0" disabled>进口商业发票转入</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-lg2">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 30px;">
                        <select name="interest" lay-filter="aihao">
                            <option value="">功能</option>
                            <option value="0">批号设定</option>
                            <option value="0">条码打印</option>
                            <option value="0" disabled>批次变更价格</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
		<div class="layui-form-item">
		    <div class="layui-input-block">  
		        <button class="layui-btn" @click="selectpage(1)" title="第一笔"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></button>
		        <button class="layui-btn" @click="selectpage(page.prePage)" title="上一笔"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button>				            
		        <button class="layui-btn" @click="selectpage(page.nextPage)" title="下一笔"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></button>
				<button class="layui-btn" @click="selectpage(page.pages)" title="后一笔"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></button> 
		        <button class="layui-btn" @click="xz" title="新增"><i class="fa fa-file fa-lg" aria-hidden="true"></i></button>          
		        <button class="layui-btn" @click="baocun" title="保存"><i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>  
		        <button class="layui-btn" @click="bianji" title="编辑"><i class="fa fa-pencil-square-o fa-lg"></i></button>
		        <button class="layui-btn" @click="del(stu.sowId)" title="删除"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>							            
				<button class="layui-btn" @click="chongzhi" title="重置" type="reset"><i class="fa fa-rotate-left fa-lg" aria-hidden="true"></i></button>             
				<button class="layui-btn" @click="shuax" title="刷新"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>    
				<button class="layui-btn" @click="shenhe(stu.sowId,1)" title="审核"><i class="fa fa-check fa-lg" aria-hidden="true"></i></button>             
				<button class="layui-btn" @click="shenhe(stu.sowId,0)" title="取消审核"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
		    </div>
		</div>
    </div>
    </template>
</div>
<script src="jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/vue.js" ></script>
<script src="layui.js"></script>
<script id="xuhao">
	 {{d.LAY_TABLE_INDEX+1}}
</script>
<script>
	var host="http://127.0.0.1:8080/";
	var sales_outboundvue=new Vue({
		el:"#app",
		data:{
			page:{},
			customerlist:[],
			saletype:[],
			currencylist:[],
			warelist:[]
			
		},
		updated:function(){
			layui.use('form', function(){
			    var form = layui.form;
			    form.render();
			});
		},
		watch:{
			 page:{			
			 handler(newName, oldName) {
			 	$.each(newName.list, function(a,b) {
			 		$.each(b.list, function(c,d) {				 						 			
			 			$.ajax({
			 				type:"get",
			 				url:host+"Warehouse_detailController/selectbyid",
			 				data:{id:sales_outboundvue.page.list[0].warehouseId,sid:d.matterId},
			 				async:false,
			 				success:function(res){	
			 						if(res>=d.sowdSingleStatus){
				 						sales_outboundvue.page.list[0].list[c].sowdPrice=parseFloat(d.sowdDocumentDate)*parseFloat(d.sowdDocumentNumber);
							 			sales_outboundvue.page.list[0].list[c].sowdMoney=parseFloat(d.sowdSingleStatus)*parseFloat(d.sowdPrice);
							 			sales_outboundvue.page.list[0].list[c].sowdTaxAmount=parseFloat(d.sowdMoney)*parseFloat(d.sowdTaxRate);
							 			sales_outboundvue.page.list[0].list[c].sowdIncludingTaxAmount=parseFloat(d.sowdMoney)-parseFloat(d.sowdTaxAmount);	
			 						}else{
			 							d.sowdSingleStatus=0;
			 							sales_outboundvue.page.list[0].list[c].sowdPrice=parseFloat(d.sowdDocumentDate)*parseFloat(d.sowdDocumentNumber);
							 			sales_outboundvue.page.list[0].list[c].sowdMoney=parseFloat(d.sowdSingleStatus)*parseFloat(d.sowdPrice);
							 			sales_outboundvue.page.list[0].list[c].sowdTaxAmount=parseFloat(d.sowdMoney)*parseFloat(d.sowdTaxRate);
							 			sales_outboundvue.page.list[0].list[c].sowdIncludingTaxAmount=parseFloat(d.sowdMoney)-parseFloat(d.sowdTaxAmount);	
										//alert("库存不足")
			 						}
	 							}
			 				
			 			});
			 		});
			 		sales_outboundvue.tableshuax();
			 	//	sales_outboundvue.bianji();
			 	$.each($("table tr"), function() {
				$(this).find("td:eq(5)").attr("data-edit","text");
				$(this).find("td:eq(7)").attr("data-edit","text");
				$(this).find("td:eq(6)").attr("data-edit","text");
				$(this).find("td:eq(10)").attr("data-edit","text");
				$(this).find("td:eq(14)").attr("data-edit","text");
			});
			$("table").off("dblclick");
			 		$("table").on("dblclick",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"luowei.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			 	});
		   
		    },
		    immediate: true,
		    deep: true
			}
		},
		methods:{
			xz:function(){
				sales_outboundvue.chongzhi();
				sales_outboundvue.bianji();
				$.ajax({
					type:"get",
					url:host+"Sales_out_warehouseController/selectcount",
					success:function(res){
						sales_outboundvue.page.list[0].sowId=res+1;
					}
					
				});
							
			},
			del:function(id){
				if(confirm("是否删除？")){
				$.ajax({
					type:"get",
					data:{sowId:id},
					url:host+"Sales_out_warehouseController/delete",
					success:function(resulet){
						if(resulet>0){
                    		alert("删除成功！");
                    	}else{
                    		alert("删除失败！");
                    	}
					}
				});
				}
			},
			shenhe:function(id,sid){
				var name="";
				if(sid==1){
					name="审核";
				}else{
					name="反审核";
				}
				if(confirm("是否"+name+"？")){
				$.ajax({
					type:"get",
					data:{id:id,sid:sid},
					url:host+"Sales_out_warehouseController/autddert",
					success:function(resulet){
						if(resulet==1){
							alert(name+"成功！");
						}else{
							alert(name+"失败！");
						}
					}
				});
				}
			},
			baocun:function(){
				let user=$("#app input:eq(0)").val();
				let type=$("#app input:eq(3)").val();
				let ck=$("#app input:eq(5)").val();
				let moeey=$("#app input:eq(9)").val();
				$.each(sales_outboundvue.customerlist,function(a,b){
					if(b.customerName==user){
						sales_outboundvue.page.list[0].customerId=b.customerId;
					}
				})
				$.each(sales_outboundvue.saletype,function(a,b){
					if(b.sowtName==type){
						sales_outboundvue.page.list[0].sowtId=b.sowtId;
					}
				})
				$.each(sales_outboundvue.warelist,function(a,b){
					if(b.warehouseName==ck){
						sales_outboundvue.page.list[0].warehouseId=b.warehouseId;
					}
				})
				$.each(sales_outboundvue.currencylist,function(a,b){
					if(b.currencyName==moeey){
						sales_outboundvue.page.list[0].currencyId=b.currencyId;
					}
				})
				sales_outboundvue.page.list[0].sowPriceIncludeTax=$("#app select:eq(0)").val();
				sales_outboundvue.page.list[0].sowForeignTrade=$("#app select:eq(1)").val();
				sales_outboundvue.page.list[0].sowSalessktj=$("#app select:eq(2)").val();
				if(sales_outboundvue.page.list[0].sowId>sales_outboundvue.page.pages){
					$.ajax({
					type:"get",
					url:host+"Sales_out_warehouse_detailedController/selectcount",
					async:false,
					success:function(res){
						sales_outboundvue.page.list[0].list=layui.table.cache["materialsContent"];
						$.each(sales_outboundvue.page.list[0].list,function(a,b) {
							b.sowdId=res+(a+1);
						});
						
					}
					
				});
				$.ajax({
					type:"post",
					url:host+"Sales_out_warehouseController/insert",
					data:JSON.stringify(sales_outboundvue.page.list[0]),
                    contentType:"application/json;charset=utf-8",
                    success:function(res){
                    	if(res>0){
                    		alert("新增成功！");
                    	}else{
                    		alert("新增失败！");
                    	}
                    }
				});
				
				}else{
				sales_outboundvue.page.list[0].list=layui.table.cache["materialsContent"];
				$.ajax({
					type:"post",
					url:host+"Sales_out_warehouseController/update",
					data:JSON.stringify(sales_outboundvue.page.list[0]),
                    contentType:"application/json;charset=utf-8",
                    success:function(res){
                    	if(res>0){
                    		alert("修改成功！");
                    	}else{
                    		alert("修改失败！");
                    	}
                    }
				});
				}
				
			},
			bianji:function(){
				$("input").removeAttr("readonly");
				$("textarea").removeAttr("readonly");
				layui.use('form', function(){
			    var form = layui.form;
			    form.on("select(aihao)",function(){
			    	layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"Turnthesingle.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
			    })
			    $("select").removeAttr("disabled");
			    form.render('select');
			});
			$.each($("table tr"), function() {
				$(this).find("td:eq(5)").attr("data-edit","text");
				$(this).find("td:eq(7)").attr("data-edit","text");
				$(this).find("td:eq(6)").attr("data-edit","text");
				$(this).find("td:eq(10)").attr("data-edit","text");
				$(this).find("td:eq(14)").attr("data-edit","text");
			});
			$("input:eq(0)").off("keyup.f4");
			$("input:eq(3)").off("keyup.f4");
			$("input:eq(5)").off("keyup.f4");
			$("input:eq(7)").off("blur");
			$("input:eq(9)").off("keyup.f4");
			$("input:eq(19)").off("keyup.f4");
			$("table").off("dblclick");
			$("input:eq(0)").on("keyup.f4",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"kehu.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			$("input:eq(3)").on("keyup.f4",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"saletype.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			$("input:eq(5)").on("keyup.f4",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"cangku.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			$("input:eq(9)").on("keyup.f4",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"huobi.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})
			$("input:eq(7)").on("blur",function(){
				var id=$("input:eq(7)").val();
				$.ajax({
					type:"get",
					url:host+"Sales_out_warehouseController/selectcountby",
					data:{id:id},
					success:function(res){
						id=id.replace(/-/g,'');
						if(res>99){
							$("input:eq(8)").val(id+(res+1));
						}else if(res>9){
							$("input:eq(8)").val(id+"0"+(res+1));
						}else{
							$("input:eq(8)").val(id+"00"+(res+1));
						}
					}
					
				});
				
				
			})
			$("input:eq(19)").on("keyup.f4",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"bumen.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			$("table").on("dblclick",function(){
				layui.use(['layer'],function(){
				var $ = layui.jquery;
				var layer = layui.layer;
					layer.open({
						type:2,
						content:"luowei.html?dizhi=sales_outboundvue",
						area:['762px','450px']
					});				
			});
				
			})	
			},
			shuax:function(){
				location.reload();
			},
			tableshuax(){
				layui.use('table', function(){
			        var table = layui.table;
			        table.render({
			            elem: '#materialsContent'
			            ,data:sales_outboundvue.page.list[0].list               
			            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
			            , cols: [[
			                {title: '(栏号)',templet: '#xuhao',sort: true}
			                , {field: 'matterId', title: '物料编号'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
			                , {field: 'sowdEngname', title: '(物料名称)', sort: true}
			                , {field: 'sowdRemark', title: '(规格型号)'}
			                , {field: 'sowdPriceIncludeTax', title: '(单位名称)'}
			                , {field: 'sowdSingleStatus', title: '数量', align: 'center'} //单元格内容水平居中
			                , {field: 'sowdDocumentDate', title: '折扣前单价', sort: true, align: 'right'} //单元格内容水平居中
			                , {field: 'sowdDocumentNumber', title: '折数(%)', sort: true, align: 'right'}
			                , {field: 'sowdPrice', title: '单价', sort: true, align: 'right'}
			                , {field: 'sowdMoney', title: '金额', sort: true, align: 'right'}
			                , {field: 'sowdTaxRate', title: '税率(%)', sort: true, align: 'right'}
			                , {field: 'sowdTaxAmount', title: '(税额)', sort: true, align: 'right'}
			                , {field: 'sowdIncludingTaxAmount', title: '(含税金额)', sort: true, align: 'right'}
			                , {field: 'sowdBatchNumber', title: '(批号)', sort: true, align: 'right'}
			                , {field: 'sowdIfgift', title: '赠品', sort: true, align: 'right'}
			                , {field: 'sowdInvoiceDetails', title: '(发票明细)', sort: true, align: 'right'}
			                , {field: 'sowdNomakeInvoiceNum', title: '(未开票数量)', sort: true, align: 'right'}
			                , {field: 'sowdRemarks', title: '分录备注', sort: true, align: 'right'}
			            ]]
			        });
			    });
			}
			,selectpage:function(pageNum){
				$.ajax({
					type:"get",
					url:host+"Sales_out_warehouseController/selectAllpage",
					data:{pageNum:pageNum,pageSize:1},
					success:function(res){
						sales_outboundvue.page=res;						
					 	//sales_outboundvue.tableshuax();
					 	//sales_outboundvue.bianji();
					}
				});
				
			}
			,chongzhi:function(){
				layui.use('table', function(){
      			  var table = layui.table;
      			  table.render({
            elem: '#materialsContent'
            ,data:[]              
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {title: '(栏号)',templet: '#xuhao',sort: true}
                , {field: 'matterId', title: '物料编号'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {field: 'sowdEngname', title: '(物料名称)', sort: true}
                , {field: 'sowdRemark', title: '(规格型号)'}
                , {field: 'sowdPriceIncludeTax', title: '(单位名称)'}
                , {field: 'sowdSingleStatus', title: '数量', align: 'center'} //单元格内容水平居中
                , {field: 'sowdDocumentDate', title: '折扣前单价', sort: true, align: 'right'} //单元格内容水平居中
                , {field: 'sowdDocumentNumber', title: '折数(%)', sort: true, align: 'right'}
                , {field: 'sowdPrice', title: '单价', sort: true, align: 'right'}
                , {field: 'sowdMoney', title: '金额', sort: true, align: 'right'}
                , {field: 'sowdTaxRate', title: '税率(%)', sort: true, align: 'right'}
                , {field: 'sowdTaxAmount', title: '(税额)', sort: true, align: 'right'}
                , {field: 'sowdIncludingTaxAmount', title: '(含税金额)', sort: true, align: 'right'}
                , {field: 'sowdBatchNumber', title: '(批号)', sort: true, align: 'right'}
                , {field: 'sowdIfgift', title: '赠品', sort: true, align: 'right'}
                , {field: 'sowdInvoiceDetails', title: '(发票明细)', sort: true, align: 'right'}
                , {field: 'sowdNomakeInvoiceNum', title: '(未开票数量)', sort: true, align: 'right'}
                , {field: 'sowdRemarks', title: '分录备注', sort: true, align: 'right'}
            ]]
        });
      			  $("input").val("");
				$("textarea").val("");				
       	 
      })
			}
		},
		created:function(){
			
		this.selectpage(1);
		
		$.ajax({
			type:"get",
			url:host+"CustomerController/selectAll",
			success:function(res){
				sales_outboundvue.customerlist=res;
			}
		});
		$.ajax({
			type:"get",
			url:host+"Sales_out_warehouse_typeController/selectAll",
			success:function(res){
				sales_outboundvue.saletype=res;
			}
		});
		$.ajax({
			type:"get",
			url:host+"CurrencyController/selectAll",
			success:function(res){
				sales_outboundvue.currencylist=res;
			}
		});
		$.ajax({
			type:"get",
			url:host+"WarehouseController/selectAll",
			success:function(res){
				sales_outboundvue.warelist=res;
			}
		});
		}
		
	})
	
   /* layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type: 1,
            title: '销售出库单',
            content: $('#app'),
            area: ['800px', '650px']
        });
    });*/

    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });
    });
   
</script>
</body>
</html>