<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>销售报价单</title>
		<link rel="stylesheet" href="css/layui.css">
		<link href="css/fontawesome.css" rel="stylesheet">
		<link href="css/brands.css" rel="stylesheet">
		<link href="css/solid.css" rel="stylesheet">
		<style>
			#app{
            padding: 15px;
			/* !important 设置样式优先级最高
			 * 防止数据加载完毕之前出现vue表达式 */
			[v-cloak] {
				display: none !important;
			}
        }
    </style>
	</head>
	<body>
		<div id="app">
			<div class="layui-form" v-for="pages,index in page.list">
				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">正式客户</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.customerId" name="customerId" @keyup.f4="showClientWindow()">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">供应商地址</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" style="width:30%;float: left;">
									<input type="text" class="layui-input" style="width:68%;float: right;" name="sqDeliveryAddress" v-model="pages.sqDeliveryAddress"
									 disabled>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">单据日期</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqDocumentTime" name="sqDocumentTime">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">单据号码</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqId" name="sqId" disabled>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">有效日期</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqEffectiveTime" name="sqEffectiveTime">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="padding: 9px 0 9px 0;width: 95px;">单价是否含税</label>
								<div class="layui-input-block">
									<template v-if="pages.sqTax==1">
										<select  name="sqTax">
											<option value="1" selected="selected">含税</option>
											<option value="0">未含税</option>
										</select>
									</template>
									<template v-if="pages.sqTax==0">
										<select  name="sqTax">
											<option value="1">含税</option>
											<option  value="0" selected="selected">未含税</option>
										</select>
									</template>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">汇率</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqExchangeRate" disabled name="sqExchangeRate">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">币别</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.currencyId" name="currencyId" @keyup.f4="showCurrencyWindow()">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">内容</li>
							<li>备注</li>
						</ul>
						<div class="layui-tab-content" style="padding: 10px 0;">
							<div class="layui-tab-item layui-show">
								<!-- <table class="layui-table" lay-data="{url:'http://127.0.0.1:8080/Sales_quotationController/querybysqid?sqlid=20200203002', id:'test3'}" lay-filter="test3">
									<thead>
										<tr>
											<th lay-data="{field:'sqdSerno', width:80, sort: true}">物料编号</th>
											<th lay-data="{field:'sqdProdname', width:120, sort: true, edit: 'text'}">物料名称</th>
											<th lay-data="{field:'sqdProdsize', minWidth: 150}">(规格型号)</th>
											<th lay-data="{field:'sqdUnitname', width:120}">(单位名称)</th>
											<th lay-data="{field:'sqdSquantity', width:120, sort: true, edit: 'text'}">数量</th>
											<th lay-data="{field:'sqdZkqprice', width:120, sort: true, edit: 'text'}">折扣前单价</th>
											<th lay-data="{field:'sqdDiscount', width:120, sort: true, edit: 'text'}">折数(%)</th>
											<th lay-data="{field:'sqdUnitprice', width:120, sort: true, edit: 'text'}">单价</th>
											<th lay-data="{field:'sqdPrice', width:120, sort: true, edit: 'text'}">金额</th>sqdTaxrate
											<th lay-data="{field:'sqdTaxrate', width:120, sort: true, edit: 'text'}">税率(%)</th>
											<th lay-data="{field:'sqdTaxlimit', width:120}">(税额)</th>
											<th lay-data="{field:'sqdTaxinclusiveprice', width:120}">(含税金额)</th>
											<th lay-data="{field:'sqdComplimentart', width:120, sort: true, edit: 'text'}">赠品</th>
											<th lay-data="{field:'sqdItemremark', width:120, sort: true, edit: 'text'}">分录备注</th>
											<th lay-data="{field:'sqlId', width:120, sort: true, edit: 'text'}">(来源单号)</th>
											
										</tr>
									</thead>
								</table> -->
								<table id="materialsContent" class="layui-hide" lay-filter="materialsContent" >
								
								</table>
							</div>
							<div class="layui-tab-item">
								<div class="layui-row">
									<div class="layui-col-lg6">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">表头条文</label>
												<div class="layui-input-block">
													<input type="text"   class="layui-input" v-model="pages.sqWatchword" name="sqWatchword">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">表头尾文</label>
												<div class="layui-input-block">
													<input type="text"   class="layui-input" v-model="pages.sqTailclause" name="sqTailclause">
												</div>
											</div>
										</div>
									</div>
									<div class="layui-col-lg6">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">自定栏一</label>
												<div class="layui-input-block">
													<input type="text"   class="layui-input" v-model="pages.sqCustom2" name="">
												</div>
											</div>
											<div class="layui-form-item">
												<label class="layui-form-label">自定栏二</label>
												<div class="layui-input-block">
													<input type="text"   class="layui-input" v-model="pages.sqCustom3">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-lg12">
										<div class="layui-form">
											<div class="layui-form-item">
												<label class="layui-form-label">备注</label>
												<div class="layui-input-block">
													<textare class="layui-textarea" v-model="pages.sqRemark" name="sqRemark"></textare>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="layui-row">
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">业务人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.staffId" name="staffId" @keyup.f4="showSalesmanWindow()">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="color:#009688;">所属部门</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqCustom4" name="sqCustom4">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg6">
						<div class="layui-form">
							<div class="layui-form-item">
								<label class="layui-form-label">制单人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqMonograph" name="sqMonograph">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">复核人员</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input" v-model="pages.sqReviewer" id="fhname" name="sqReviewer">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-row">
					<div class="layui-col-lg2">
						<div class="layui-form">
							<div class="layui-form-item">
								<div class="layui-input-block" style="margin-left: 30px;">
									<select name="interest" lay-filter="aihao">
										<option value="">查询</option>
										<option value="0">历史交易查询</option>
										<option value="0">利润预估查询</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-col-lg2">
						<div class="layui-form">
							<div class="layui-form-item">
								<div class="layui-input-block" style="margin-left: 30px;">
									<select name="interest" lay-filter="aihao">
										<option value="">功能</option>
										<option value="0" disabled>批次变更单价</option>
										<option value="0">发送Email</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" id="fistinfo" title="第一笔" v-on:click="goFirstPage"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="preinfo" title="上一笔" v-on:click="goPrePage"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="nextinfo" title="下一笔" v-on:click="goNextPage"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="lastinfo" title="后一笔" v-on:click="goLastPage"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" title="新增" v-on:click="addinfo"><i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn layui-btn-disabled" id="save" style="border: 1px solid #008000;" title="保存"  @click="add" ><i   class="fa fa-floppy-o fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="updateinfo" title="编辑" v-on:click="updateinfo"><i class="fa fa-pencil-square-o fa-lg"></i></button>
						<button class="layui-btn" id="deleinfo" title="删除" v-on:click="gomove"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="resetinfo" title="重置" type="reset"><i class="fa fa-rotate-left fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="renovateinfo" title="刷新" v-on:click="renovate"><i class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="auditinfo" title="审核" v-on:click="audit"><i class="fa fa-check fa-lg" aria-hidden="true"></i></button>
						<button class="layui-btn" id="cancelauditinfo" title="取消审核" v-on:click="cancelaudit"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="jquery-1.12.4.js"></script>
		<script src="layui.js"></script>
		<script src="js/vue.js"></script>
		<script>
				function wuliaoget(customerId){
					alert(customerId);
					layui.use('table', function() {
						var table = layui.table;
						table.render({
							elem: '#materialsContent',
							url: 'http://127.0.0.1:8080/MatterController/querybysqid?sqlid=' + customerId,
							data:{customerId:[
							]},
							cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
								,
							cols: [
								[ {
										field: 'matterId',
										title: '物料编号',
										edit: 'text',
									} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
									, {
										field: 'matterName',
										title: '(物料名称)',
										sort: true
									}, {
										field: 'matterSize',
										title: '(规格型号)'
									}, {
										field: 'sqdUnitname',
										title: '(单位名称)'
									}, {
										field: 'sqdSquantity',
										title: '数量',
										edit: 'text',
										align: 'center',
										sort: true,
									} //单元格内容水平居中
									, {
										field: 'sqdZkqprice',
										title: '折扣前单价',
										edit: 'text',
										sort: true,
										align: 'right'
									} //单元格内容水平居中
									, {
										field: 'sqdDiscount',
										title: '折数(%)',
										sort: true,
										edit: 'text',
										align: 'right'
									}, {
										field: 'matterMsaleA',
										title: '单价',
										edit: 'text',
										sort: true,
										align: 'right'
									}, {
										field: 'sqdPrice',
										title: '金额',
										sort: true,
										align: 'right'
									}, {
										field: 'sqdTaxrate',
										title: '税率(%)',
										sort: true,
										edit: 'text',
										align: 'right'
									}, {
										field: 'sqdTaxlimit',
										title: '(税额)',
										sort: true,
										align: 'right'
									}, {
										field: 'sqdTaxinclusiveprice',
										title: '(含税金额)',
										sort: true,
										align: 'right'
									}, {
										field: 'sqdComplimentart',
										title: '赠品',
										edit: 'text',
										sort: true,
										align: 'right'
									}, {
										field: 'sqdItemremark',
										title: '分录备注',
										edit: 'text',
										sort: true,
										align: 'right'
									}, {
										field: '无',
										title: '(来源别)',
										sort: true,
										align: 'right'
									}, {
										field: 'sqlId',
										title: '(来源单号)',
										sort: true,
										align: 'right'
									} 
								]
							]
						});
					});
				}
		</script>
		<script>
			$(function(){
				var name = $("#fhname").val();
				if (name != "") {
					$("#auditinfo").attr("class","layui-btn layui-btn-disabled");
				}else{
					$("#auditinfo").attr("class","layui-btn");
				}
				
			});
			function ygqh(id,name,teamName){
				$("[name=staffId]").val(name);
				 $("[name=sqCustom4]").val(teamName); 
			};
			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
					
				//触发事件
				var active = {
					tabAdd: function() {
						//新增一个Tab项
						element.tabAdd('demo', {
							title: '新选项' + (Math.random() * 1000 | 0) //用于演示
								,
							content: '内容' + (Math.random() * 1000 | 0),
							id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
						})
					},
					tabDelete: function(othis) {
						//删除指定Tab项
						element.tabDelete('demo', '44'); //删除：“商品管理”
						othis.addClass('layui-btn-disabled');
					},
					tabChange: function() {
						//切换到指定Tab项
						element.tabChange('demo', '22'); //切换到：用户管理
					}
				};

				$('.site-demo-active').on('click', function() {
					var othis = $(this),
						type = othis.data('type');
					active[type] ? active[type].call(this, othis) : '';
				});

				//Hash地址的定位
				var layid = location.hash.replace(/^#test=/, '');
				element.tabChange('test', layid);

				element.on('tab(test)', function(elem) {
					location.hash = 'test=' + $(this).attr('lay-id');
				});
			});

			/*layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
            type: 1,
            title: '销售报价单',
            content: $('#app'),
            area: ['800px', '650px']给我看看清空的方法
			
        });
    });*/
			//创建vue实例
			var listVm = new Vue({
				el: "#app",
				data() {
					return {
						page: [
						],
						customerId:"",
						list:[]
					}
				},
				methods: {
					goPage: function(page) {
						var this_ = this;
						$.ajax({
							url: "http://127.0.0.1:8080/Sales_quotationController/selectAllpage",
							type: "get",
							async:false, 
							data: "pageNum=" + page + "&pageSize=1",
							success: function(res) {
								console.info(res)
								this_.page = res;
							},
							
						});
						this.logininfo();
					},
					goFirstPage: function() { //第一条
						this.goPage(this.page.pages);
					},
					goLastPage: function() { //最后一条
						this.goPage(1);
					},
					goPrePage: function() { //上一条
						if (this.page.hasPreviousPage) {
							this.goPage(this.page.prePage);
						}
					},
					goNextPage: function() { //下一条
						if (this.page.hasNextPage) {
							this.goPage(this.page.nextPage);
							
						}
					},
					
					//客户资料弹窗
					showClientWindow(){
						var t=this;
						layer.open({
							type:2,
							title:"客户资料",
							content:"customerinfo.html",
							area:['762px','450px'],
							closeBtn: 1,//右上角
							       success: function(layero, index){  
							            var body = layer.getChildFrame('body', index);  
							            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到子页面的窗口对象，执行iframe页的方法：iframeWin.method();
							            //console.log(iframeWin);
							            iframeWin.setVueName("info");
										iframeWin.id = 100;
										iframeWin.printId();
							          }  
						})
					},
					//币别资料弹窗
					showCurrencyWindow(){
						layer.open({
							type:2,
							title:"币别资料",
							content:"currencyTC1.html",
							area:['762px','450px']
						})
					},
					//业务人员资料弹窗
					showSalesmanWindow(){
						layer.open({
							type:2,
							title:"业务人员资料",
							content:"window_set_ personnel_master_file_settings.html",
							area:['762px','450px']
						})
					},
					
					//取消省和
					cancelaudit: function() {
						var name = $("#fhname").val();
						if (name == "") {
							layer.msg("该单据还未审核!");
						} else {
							var con = confirm("是否取消该单据的审核?");
							if (con) {
								var sqid = $("[name=sqId]").val();
								var record = {
									sqId: sqid,
									sqReviewer: "",
									sqAuditing: "否"
								}
								$.ajax({
									url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective2",
									type: "post",
									contentType: "application/json",
									data: JSON.stringify(record),
									success: function(res) {
										if (res.code == "1") {
											layer.msg("订单已取消审核！");
										} else {
											layer.msg("订单已取消审核失败！");
										}
									}
								});
								this.goPage(1);
							}
						}
					},
					//刷新
					renovate: function() {
						this.goPage(1);
						$("#save").attr("class","layui-btn layui-btn-disabled");
						$("#fistinfo").attr("class","layui-btn");
						$("#preinfo").attr("class","layui-btn");
						$("#nextinfo").attr("class","layui-btn");
						$("#lastinfo").attr("class","layui-btn");
						$("#updateinfo").attr("class","layui-btn");
						$("#deleinfo").attr("class","layui-btn");
						$("#auditinfo").attr("class","layui-btn");
						$("#cancelauditinfo").attr("class","layui-btn");
					},
					//保存数据
					add:function(){
						 var sqId=$("[name=sqId]").val();
						var record={
							sqId:$("[name=sqId]").val(),
							sqDocumentTime:$("[name=sqDocumentTime]").val(),
							currencyId:$("[name=currencyId]").val(),
							sqExchangeRate:$("[name=sqExchangeRate]").val(),
							sqEffectiveTime:$("[name=sqEffectiveTime]").val(),
							sqTax:$("[name=sqTax]").val(),
							customerId:$("[name=customerId]").val(),
							sqDeliveryAddress:$("[name=sqDeliveryAddress]").val(),
							staffId:$("[name=staffId]").val(),
							teamId:$("[name=teamId]").val(),
							sqMonograph:$("[name=sqMonograph]").val(),
							sqReviewer:$("[name=sqReviewer]").val(),
							sqWatchword:$("[name=sqWatchword]").val(),
							sqTailclause:$("[name=sqTailclause]").val(),
							sqRemark:$("[name=sqRemark]").val(),
							sqAuditing:$("[name=sqAuditing]").val(),
							sqYn:"0",
							sqCustom2:$("[name=sqCustom2]").val(),
							sqCustom3:$("[name=sqCustom3]").val(),
							sqCustom4:$("[name=sqCustom4]").val()
						}
						//判断修改还是新增
						$.ajax({
							url: "http://127.0.0.1:8080/Sales_quotationController/selectByPrimaryKey",
							type: "get",
							data:"sqId="+sqId,
							success: function(res){
								alert(res.msg);
								if(res.msg=="200"){
									if(record.sqDocumentTime>=record.sqEffectiveTime){
										alert("有效日期必须大于单据日期");
										return;
									}else{
										var con=confirm("是否确认修改该订单？");
										if(con){
											$.ajax({
												url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective3",
												type: "post",
												contentType: "application/json",
												data: JSON.stringify(record),
												success: function(res){
													layer.msg(res.message);
												}
											});
										}
									}
								}else{
									 //新增数据主表
								 	$.ajax({
										url: "http://127.0.0.1:8080/Sales_quotationController/insertSelective1",
										type: "post",
										async:false, 
										contentType: "application/json",
										data: JSON.stringify(record),
										success: function(res){
											layer.msg("主表:"+res.message);
										}
									}); 
									//新增数据详表
									layui.use('table',function(){
										var table = layui.table;
										var tabdata=table.cache["materialsContent"];
										 for(var i=0;i<tabdata.length;i++){
											 //获取最后一条数据的id
											 var prodid="";	
											 $.ajax({
											 	url:"http://127.0.0.1:8080/Sales_quotation_detailsController/selectlimet",
											 	type:"GET",
												async:false, 
											 	success:function(res){
											 		prodid=res.sqdProdid;
											 		prodid++;
													var sqdProdid1=tabdata[i].matterId;
													alert(sqdProdid1);
													alert(prodid);
													var matterName=tabdata[i].matterName;
													var matterSize=tabdata[i].matterSize;
													var matterMsaleA=tabdata[i].matterMsaleA;
													var sqlid = $("[name=sqId]").val();
													var record={
														sqdSerno:sqdProdid1,
														sqdProdid:prodid,
														sqdProdname:matterName,
														sqdProdsize:matterSize,
														sqdUnitname:"吨",
														sqdSquantity:"1",
														sqdZkqprice:matterMsaleA,
														sqdDiscount:"",
														sqdUnitprice:"",
														sqdPrice:matterMsaleA,
														sqdTaxrate:"",
														sqdTaxlimit:"",
														sqdTaxinclusiveprice:"",
														sqdComplimentart:"",
														sqdItemremark:"",
														sqlId:sqlid,
														sqdAuditing:"",
														sqdYn:"",
														sqdCustom1:""
													}
													//新增详表的ajax
													$.ajax({
															url: "http://127.0.0.1:8080/Sales_quotation_detailsController/insertSelective",
															type: "post",
															contentType: "application/json",
															data: JSON.stringify(record),
															success: function(res){
																layer.msg("详表："+res.message);
															}
														}); 
											 	}
											 })
											
											
										} 
									});
								}
							}
						})
					},
					//编辑状态时
					updateinfo:function(){
							layui.use('table', function() {
								var table = layui.table;
								
								//监听单元格编辑
								table.on('edit(materialsContent)', function(obj) {
									var value = obj.value //得到修改后的值
										data = obj.data //得到所在行所有键值
										field = obj.field; //得到字段
										layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
										//修改物料表的数据
										$.ajax({
											url: "http://127.0.0.1:8080/Sales_quotation_detailsController/updateByPrimaryKeySelective",
											type: "post",
											contentType: "application/json",
											data: JSON.stringify(data),
											success: function(res){
												layer.msg(res.message);
											}
										}); 
								});
							});
							//改变保存的按钮属性
							$("#save").attr("class","layui-btn");
							$("#fistinfo").attr("class","layui-btn layui-btn-disabled");
							$("#preinfo").attr("class","layui-btn layui-btn-disabled");
							$("#nextinfo").attr("class","layui-btn layui-btn-disabled");
							$("#lastinfo").attr("class","layui-btn layui-btn-disabled");
							$("#updateinfo").attr("class","layui-btn layui-btn-disabled");
							$("#deleinfo").attr("class","layui-btn layui-btn-disabled");
							$("#auditinfo").attr("class","layui-btn layui-btn-disabled");
							$("#cancelauditinfo").attr("class","layui-btn layui-btn-disabled");
							//物料资料绑定事件
							$("table").on("dblclick",function(){
								layui.use(['layer'],function(){
								var $ = layui.jquery;
								var layer = layui.layer;
									layer.open({
										type:2,
										content:"materialget.html",
										area:['762px','450px']
									});				
							});
								
							})
						// var record={
						// 	sqId:$("[name=sqId]").val(),
						// 	sqDocumentTime:$("[name=sqDocumentTime]").val(),
						// 	currencyId:$("[name=currencyId]").val(),
						// 	sqExchangeRate:$("[name=sqExchangeRate]").val(),
						// 	sqEffectiveTime:$("[name=sqEffectiveTime]").val(),
						// 	sqTax:$("[name=sqTax]").val(),
						// 	customerId:$("[name=customerId]").val(),
						// 	sqDeliveryAddress:$("[name=sqDeliveryAddress]").val(),
						// 	staffId:$("[name=staffId]").val(),
						// 	teamId:$("[name=teamId]").val(),
						// 	sqMonograph:$("[name=sqMonograph]").val(),
						// 	sqReviewer:$("[name=sqReviewer]").val(),
						// 	sqWatchword:$("[name=sqWatchword]").val(),
						// 	sqTailclause:$("[name=sqTailclause]").val(),
						// 	sqRemark:$("[name=sqRemark]").val(),
						// 	sqAuditing:$("[name=sqAuditing]").val(),
						// 	sqYn:"0",//是否删除
						// 	sqCustom2:$("[name=sqCustom2]").val(),
						// 	sqCustom3:$("[name=sqCustom3]").val(),
						// 	sqCustom4:$("[name=sqCustom4]").val()
						// }
						// if(record.sqDocumentTime>=record.sqEffectiveTime){
						// 	alert("有效日期必须大于单据日期");
						// 	return;
						// }else{
						// 	var con=confirm("是否确认修改该订单？");
						// 	if(con){
						// 		$.ajax({
						// 			url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective3",
						// 			type: "post",
						// 			contentType: "application/json",
						// 			data: JSON.stringify(record),
						// 			success: function(res){
						// 				alert(res.message);
						// 			}
						// 		});
						// 		this.page(1);
						// 	}
						// }
					},
					//新增订单
					addinfo: function() {
						  var data=this.page;
						   console.log(data);
							/* for(var o in data.list){
							      data.list[0]="";
							 } */
							//data.list[0].customerId = "";
							// data.list[0].sqDocumentTime = "";
							 data.list[0].currencyId = "人民币";
							 data.list[0].sqExchangeRate = "1.0000";
							 data.list[0].sqEffectiveTime = "";
							 data.list[0].sqTax = "";
							 data.list[0].customerId = "";
							 data.list[0].sqDeliveryAddress = "";
							 data.list[0].staffId = "";
							 data.list[0].sqMonograph = "";
							 data.list[0].teamId = "";
							 data.list[0].sqReviewer = "";
							 data.list[0].sqWatchword = "";
							 data.list[0].sqTailclause = "";
							 data.list[0].sqRemark = "";
							 data.list[0].sqAuditing = "";
							 data.list[0].sqYn =0;
							 data.list[0].sqCustom1 = "";
							 data.list[0].sqCustom2 = "";
							 data.list[0].sqCustom3 = "";
							 data.list[0].sqCustom4 = "";
							 data.list[0].sqCustom5 = "";
							 data.list[0].sqCustom6 = "";
							var myDate = new Date;
						    var year = myDate.getFullYear(); //获取当前年
						    var mon = myDate.getMonth() + 1; //获取当前月
							if(mon<=9){
								mon="0"+mon;
							}
						    var date = myDate.getDate(); //获取当前日
						    // var h = myDate.getHours();//获取当前小时数(0-23)
						    // var m = myDate.getMinutes();//获取当前分钟数(0-59)
						    // var s = myDate.getSeconds();//获取当前秒
							var nowDate=year+"-"+mon+"-"+date
							//获取当前时间
							data.list[0].sqDocumentTime = nowDate;
							// data.list[0].sqDocumentTime = "";
							//获取当前操作员name
							 data.list[0].sqMonograph = "admin";
							//生成订单号
							 var x = 100;
							  var y = 999;
							 var  rand= parseInt(Math.random() * (x - y + 1) + y);
							var sqId1=year+mon+date+rand
							data.list[0].sqId = sqId1;
							//改变保存的按钮属性
							$("#save").attr("class","layui-btn");
							$("#fistinfo").attr("class","layui-btn layui-btn-disabled");
							$("#preinfo").attr("class","layui-btn layui-btn-disabled");
							$("#nextinfo").attr("class","layui-btn layui-btn-disabled");
							$("#lastinfo").attr("class","layui-btn layui-btn-disabled");
							$("#updateinfo").attr("class","layui-btn layui-btn-disabled");
							$("#deleinfo").attr("class","layui-btn layui-btn-disabled");
							$("#auditinfo").attr("class","layui-btn layui-btn-disabled");
							$("#cancelauditinfo").attr("class","layui-btn layui-btn-disabled");
							//物料资料绑定事件
								layui.use('table', function(){
								   var table = layui.table; 
								   //监听单元格事件
										table.on('rowDouble(materialsContent)',function(obj){
											
												layer.open({
													type:2,
													content:"materialget.html",
													area:['762px','450px']
												});
											})
								   }); 
							//数据表格重载
							layui.use('table', function() {
								var table = layui.table;
								table.render({
									elem: '#materialsContent',
									url: '',//http://127.0.0.1:8080/Sales_quotationController/querybysqid?sqlid=
									data:[{}],
									cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
										,
									cols: [
										[{
												field: 'sqdProdid',
												title: '(栏号)',
												sort: true
											}, {
												field: 'sqdSerno',
												title: '物料编号',
												edit: 'text',
											} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
											, {
												field: 'sqdProdname',
												title: '(物料名称)',
												sort: true
											}, {
												field: 'sqdProdsize',
												title: '(规格型号)'
											}, {
												field: 'sqdUnitname',
												title: '(单位名称)'
											}, {
												field: 'sqdSquantity',
												title: '数量',
												edit: 'text',
												align: 'center',
												sort: true,
											} //单元格内容水平居中
											, {
												field: 'sqdZkqprice',
												title: '折扣前单价',
												edit: 'text',
												sort: true,
												align: 'right'
											} //单元格内容水平居中
											, {
												field: 'sqdDiscount',
												title: '折数(%)',
												sort: true,
												edit: 'text',
												align: 'right'
											}, {
												field: 'sqdUnitprice',
												title: '单价',
												edit: 'text',
												sort: true,
												align: 'right'
											}, {
												field: 'sqdPrice',
												title: '金额',
												sort: true,
												align: 'right'
											}, {
												field: 'sqdTaxrate',
												title: '税率(%)',
												sort: true,
												edit: 'text',
												align: 'right'
											}, {
												field: 'sqdTaxlimit',
												title: '(税额)',
												sort: true,
												align: 'right'
											}, {
												field: 'sqdTaxinclusiveprice',
												title: '(含税金额)',
												sort: true,
												align: 'right'
											}, {
												field: 'sqdComplimentart',
												title: '赠品',
												edit: 'text',
												sort: true,
												align: 'right'
											}, {
												field: 'sqdItemremark',
												title: '分录备注',
												edit: 'text',
												sort: true,
												align: 'right'
											}, {
												field: '无',
												title: '(来源别)',
												sort: true,
												align: 'right'
											}, {
												field: 'sqlId',
												title: '(来源单号)',
												sort: true,
												align: 'right'
											}
										]
									]
								});
							});
							
					},
					//删除订单
					gomove: function() {
						var a = confirm("是否删除该张单据？");
						if (a) {
							var sqid = $("[name=sqId]").val();
							var sq_yn = 1;
							var record = {
								sqId: sqid,
								sqYn: sq_yn
							}
							$.ajax({
								url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective1",
								type: "post",
								contentType: "application/json",
								data: JSON.stringify(record),
								success: function(res){
									layer.msg(res.message);
								}
							});
							this.goPage(1);
						}
					},
					//修改订单审核状态
					audit: function() {
						var name = $("#fhname").val();
						if (name != "") {
							layer.msg("该订单已复核！");
						} else {
							//发ajax请求修改订单审核状态
							var sqid = $("[name=sqId]").val();
							var record = {
								sqId: sqid,
								sqReviewer: "admin",
								sqAuditing: "是"
							}
							$.ajax({
								url: "http://127.0.0.1:8080/Sales_quotationController/updateByPrimaryKeySelective2",
								type: "post",
								contentType: "application/json",
								data: JSON.stringify(record),
								success: function(res) {
									layer.msg(res.message);
								}
							});
							this.goPage(1);
						}
					},
					logininfo: function() {
						var sqlid = $("[name=sqId]").val();
						layui.use('table', function() {
							var table = layui.table;
							table.render({
								elem: '#materialsContent',
								url: 'http://127.0.0.1:8080/Sales_quotationController/querybysqid?sqlid=' + sqlid,
								data:{list:[
										
								]},
								cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
									,
								cols: [
									[{
											field: 'sqdProdid',
											title: '(栏号)',
											sort: true
										}, {
											field: 'sqdSerno',
											title: '物料编号',
											edit: 'text',
										} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
										, {
											field: 'sqdProdname',
											title: '(物料名称)',
											sort: true
										}, {
											field: 'sqdProdsize',
											title: '(规格型号)'
										}, {
											field: 'sqdUnitname',
											title: '(单位名称)'
										}, {
											field: 'sqdSquantity',
											title: '数量',
											edit: 'text',
											align: 'center',
											sort: true,
										} //单元格内容水平居中
										, {
											field: 'sqdZkqprice',
											title: '折扣前单价',
											edit: 'text',
											sort: true,
											align: 'right'
										} //单元格内容水平居中
										, {
											field: 'sqdDiscount',
											title: '折数(%)',
											sort: true,
											edit: 'text',
											align: 'right'
										}, {
											field: 'sqdUnitprice',
											title: '单价',
											edit: 'text',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdPrice',
											title: '金额',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdTaxrate',
											title: '税率(%)',
											sort: true,
											edit: 'text',
											align: 'right'
										}, {
											field: 'sqdTaxlimit',
											title: '(税额)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdTaxinclusiveprice',
											title: '(含税金额)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdComplimentart',
											title: '赠品',
											edit: 'text',
											sort: true,
											align: 'right'
										}, {
											field: 'sqdItemremark',
											title: '分录备注',
											edit: 'text',
											sort: true,
											align: 'right'
										}, {
											field: '无',
											title: '(来源别)',
											sort: true,
											align: 'right'
										}, {
											field: 'sqlId',
											title: '(来源单号)',
											sort: true,
											align: 'right'
										}
									]
								]
							});
						});
						
					}
				},
				mounted: function() {
					this.goPage(1);
				}
			});
			
		</script>
	</body>
</html>
