<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/bootstrap.css" /> 
    <link href="css/fontawesome.css" rel="stylesheet">
	<link href="css/brands.css" rel="stylesheet">
	<link href="css/solid.css" rel="stylesheet">

    
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/dialog.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/axios.min.js"></script>
    <style>
        #app{
            padding: 15px;
        }
    </style>
</head>
<body>
    <div id="app">
    	<div class="layui-form" v-for="pages,index in page.list" >
    		<div class="layui-row">
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" style="color:#009688;">供应商编号</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierId" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" style="color:#009688;">供应商名称</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierName" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" style="color:#009688;">供应商简称</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierEasyname" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" style="color:#009688;">英文全称</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierEngname" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="layui-row">
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">英文简称</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierEasyengname" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">账款归属</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierAccountAttribution" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">类别</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierType" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">地区</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.supplierZone" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="layui-col-lg6">
	                <div class="layui-form">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label">币别</label>
	                        <div class="layui-input-block">
	                            <input type="text" name="title" v-model="pages.currencyId" v-bind:disabled="diasabledInput"  class="layui-input">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="layui-row">
	            <div class="layui-tab">
	                <ul class="layui-tab-title">
	                    <li class="layui-this">基本资料</li>
	                    <li>采购信息</li>
	                    <li>付款信息</li>
	                    <li>地址</li>
	                    <li>其他</li>
	                </ul>
	                <div class="layui-tab-content" style="padding: 10px 0;">
	                    <div class="layui-tab-item layui-show">
	                        <div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">负责人</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierPrincipalman" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">联系人</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierLinkman" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label" style="color:#009688;">联系电话一</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierLinktela" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">联系电话二</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierLinktelb" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">联系电话三</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierLinktelc" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">移动电话</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierMobilephone" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label" style="padding: 9px 0 9px 0;width: 95px;">银行账号</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.adaId" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">开户银行</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.bankId" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">采购人员</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierProcurementStaff" v-bind:disabled="diasabledInput"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">税务登记号</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">资本额</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">行业别</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">电子邮件</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">网址</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">传真号码</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-tab-item">
	                        <div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">最初采购入库日</label>
				                        <div class="layui-input-block">
				                            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
				                        </div>
				                    </div>
				                    
				                    <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">最初采购退货日</label>
				                        <div class="layui-input-block">
				                            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
				                        </div>
				                    </div>
				                    
				                    <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">最近采购入库日</label>
				                        <div class="layui-input-block">
				                            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
				                        </div>
				                    </div>
				                    
				                    <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">最近采购退货日</label>
				                        <div class="layui-input-block">
				                            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
				                        </div>
				                    </div>
				                    
				                    <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">单价是否含税</label>
				                        <div class="layui-input-block">
				                            <select name="modules" lay-verify="required" lay-search="">
									          <option value="">未税</option>
									          <option value="1">含税</option>
									        </select>
				                        </div>
				                    </div>
				                    
				                    <div class="layui-form-item">
				                        <label class="layui-form-label" style="color:#009688;">终止交易日</label>
				                        <div class="layui-input-block">
				                            <input type="text" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
				                        </div>
				                    </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-tab-item">
	                    	<div class="layui-row">
	                            <div class="layui-col-lg6">
	                                <div class="layui-form">
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">账款额度</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" v-model="pages.supplierCreditmoney" v-bind:disabled="diasabledInput" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">剩余额度</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" v-model="pages.supplierResiduemonet" v-bind:disabled="diasabledInput" name="title"  class="layui-input">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">期初预付款</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierCufirstcollect" v-bind:disabled="diasabledInput"  class="layui-input" value="0.00">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">期初应付款</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierHouldcollect" v-bind:disabled="diasabledInput"  class="layui-input" value="0.00">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label" >期末预付款</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierCuendcollect" v-bind:disabled="diasabledInput"  class="layui-input" value="0.00">
	                                        </div>
	                                    </div>
	                                    <div class="layui-form-item">
	                                        <label class="layui-form-label">期末应付款</label>
	                                        <div class="layui-input-block">
	                                            <input type="text" name="title" v-model="pages.supplierCuendshouldcollect" v-bind:disabled="diasabledInput"  class="layui-input" value="0.00">
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-tab-item">
	                    	<table class="layui-hide" id="test"></table>
	                    </div>
	                    <div class="layui-tab-item">
	                    	<form class="layui-form" action="">
	                    		<div class="layui-inline">
						      <label class="layui-form-label">自定栏一</label>
						      <div class="layui-input-inline">
						        <select name="modules" lay-verify="required" lay-search="">
						          <option value="">直接选择或搜索选择</option>
						          <option value="1">layer</option>
						          <option value="2">form</option>
						          <option value="3">layim</option>
						        </select>
						      </div>
						    </div>
						    
						    <div class="layui-inline">
						      <label class="layui-form-label">自定栏二</label>
						      <div class="layui-input-inline">
						        <select name="modules" lay-verify="required" lay-search="">
						          <option value="">直接选择或搜索选择</option>
						          <option value="1">layer</option>
						          <option value="2">form</option>
						          <option value="3">layim</option>
						        </select>
						      </div>
						    </div>					    
						    <div class="layui-form-item">
		                        <label class="layui-form-label">备注</label>
		                        <div class="layui-input-block">
		                            <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
		                        </div>
		                    </div>
	                    	</form>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="layui-form-item" style=" position: fixed;bottom:0px;">                       
	            <div class="layui-input-block">  
		            <button :class="[goFirstPage1 ? lay1 : '', lay2]" class="layui-btn" title="第一笔" @click="goFirstPage"   v-bind:disabled="goFirstPage1"><i class="fa fa-angle-double-left fa-lg" aria-hidden="true" ></i></button>
		            <button :class="[goPrePage1 ? lay1 : '', lay2]" class="layui-btn" title="上一笔" @click="goPrePage"  v-bind:disabled="goPrePage1"><i class="fa fa-angle-left fa-lg" aria-hidden="true" ></i></button>				            
		            <button :class="[goNextPage1 ? lay1 : '', lay2]" class="layui-btn" title="下一笔" @click="goNextPage" v-bind:disabled="goNextPage1"><i class="fa fa-angle-right fa-lg" aria-hidden="true" ></i></button>
					<button :class="[goLastPage1 ? lay1 : '', lay2]" class="layui-btn" title="后一笔" @click="goLastPage" v-bind:disabled="goLastPage1"><i class="fa fa-angle-double-right fa-lg" aria-hidden="true" ></i></button> 
		            <button :class="[inset1 ? lay1 : '', lay2]" class="layui-btn" title="新增" @click="inset" v-bind:disabled="inset1" id="xinzengXz"><i class="fa fa-file fa-lg" aria-hidden="true" ></i></button>          
		            <button :class="[update1 ? lay1 : '', lay2]" class="layui-btn" title="编辑" @click="update" v-bind:disabled="update1"><i class="fa fa-pencil-square-o fa-lg" ></i></button>
		             <button :class="[saves1 ? lay1 : '', lay2]" class="layui-btn" title="保存" @click="saves" v-bind:disabled="saves1"><i class="fa fa-floppy-o fa-lg" aria-hidden="true" ></i></button>  
		            <button :class="[return1 ? lay1 : '', lay2]" class="layui-btn" title="取消" @click="returns" v-bind:disabled="return1" id="quxiao"><i class="fa  fa-undo fa-lg" ></i></button>
		            <button :class="[deletes1 ? lay1 : '', lay2]" class="layui-btn" title="删除" @click="deletes" v-bind:disabled="deletes1"><i class="fa fa-trash fa-lg" aria-hidden="true" > </i></button>							            
					<button  class="layui-btn" title="刷新" @click="shuaxin" ><i class="fa fa-refresh fa-lg" aria-hidden="true" ></i></button>    
					<button :class="[Auditing1 ? lay1 : '', lay2]" class="layui-btn" title="审核" @click="Auditing"  v-bind:disabled="Auditing1"><i class="fa fa-check fa-lg" aria-hidden="true" ></i></button>             
					<button :class="[noAuditing1 ? lay1 : '', lay2]" class="layui-btn" title="取消审核" @click="noAuditing"  v-bind:disabled="noAuditing1"><i class="fa fa-close fa-lg" aria-hidden="true"></i></button>
	            </div>
	    	</div>
    	</div>       
    </div>
    
    <script src="layui.js"></script>
    <script>
        //必须设置允许跨域访问session中数据(cookie)
		axios.default.withCredentials = true;
		//创建vue实例
		var listVm = new Vue({
			el: "#app",//设置vue可以操作的html内容范围，值就是css的id选择器。
			data: {//保存vue.js中要显示到html页面的数据
				page: [],
				diasabledInput:true,//input框是否可以编辑
				isinsert:false,//是否是新增状态
				isedit:false,//是否是编辑状态
				
		      	goFirstPage1:false,//第一笔
	            goPrePage1:false,//上一笔				            
             	goNextPage1:false,//下一笔
		     	goLastPage1:false,//后一笔
             	inset1:false,   //新增  
             	return1:true,//取消
             	saves1:true,//保存 
             	update1:false,//编辑
             	deletes1:false,//删除		
			    Auditing1:true,//审核
			    noAuditing1:true,//取消审核
			    
			    lay1:'layui-btn-primary',
			    lay2:'layui-btn'
			},
			methods: {//定义函数

				goPage: function(page, size) {//获取分页数据（当前页，每页大小）		
//					alert("进入goPage")
					var this_ = this;					
					$.ajax({
						url : "http://127.0.0.1:8080/SupplierController/selectAllpage",
						type:"get",
					  	data : "pageNum="+page+"&pageSize="+size,
					  	dataType:'json',	
					  	success:function (res) {
					  		//res.data获取服务器返回的数据
							this_.page = res;
							console.info("详表表数据：")
							console.info(this_.page)							
				        }
					}); 					
				},
				goPrePage: function() {//上一条
					if(this.page.hasPreviousPage) {
//						alert(this.page.prePage+"："+this.page.pageSize)
						this.goPage(this.page.prePage, this.page.pageSize);
					}
				},
				goNextPage: function() {//下一条
					if(this.page.hasNextPage) {
//						alert(this.page.nextPage+"："+this.page.pageSize)
						this.goPage(this.page.nextPage, this.page.pageSize);
					}
				},
				goFirstPage: function() {//第一条
//					alert(1+"："+this.page.pageSize)
					this.goPage(1, this.page.pageSize);
				},
				goLastPage: function() {//最后一条
//					alert(this.page.pages+"："+this.page.pageSize)
					this.goPage(this.page.pages, this.page.pageSize);
				},
				returns: function() {//取消
					this.goPage(1,1);
					
					this.diasabledInput= true;//input不可编辑
					
					this.goFirstPage1 =false;//第一笔
		            this.goPrePage1 =false;//上一笔				            
	             	this.goNextPage1 =false;//下一笔
			     	this.goLastPage1 =false;//后一笔
	             	this.inset1 =false;   //新增      
	             	this.return1=true;//返回
	             	this.saves1 =true;//保存 
	             	this.update1 =false;//编辑
	             	this.deletes1 =false;//删除		
				    this.Auditing1 =true;//审核
				    this.noAuditing1 =true;//取消审核
				},
				inset: function() {//新增按钮
					this.page.list[0].teamId="";//部门编号（主键 唯一）
				    this.page.list[0].teamName="";//部门名称
				    this.page.list[0].teamEnglishName="";//部门英文名称
				    this.page.list[0].teamAbate="";//失效日期
				    this.page.list[0].teamRemark="";//备注
				    this.page.list[0].teamAuditing="";//是否审核
				    this.page.list[0].teamYn=0;//是否删除（0 否 1 是 ，默认0）
				    this.page.list[0].teamCustom1="";//创建时间
				    this.page.list[0].teamCustom2="";//自定义2
				    this.page.list[0].teamCustom3="";//自定义3
				    this.page.list[0].teamCustom4="";//自定义4
				    this.page.list[0].teamCustom5="";//自定义5
				    this.page.list[0].teamCustom6="";//自定义6
					
					
					
					this.diasabledInput=false;//input可以编辑
					this.isinsert=true;//开启新增模式
					this.isedit=false;//关闭修改模式
					this.getno();
					
					
					
					this.goFirstPage1 =true;//第一笔
		            this.goPrePage1 =true;//上一笔				            
	             	this.goNextPage1 =true;//下一笔
			     	this.goLastPage1 =true;//后一笔
	             	this.inset1 =true;   //新增      
             		this.return1=false;//返回
	             	this.saves1 =false;//保存 
	             	this.update1 =true;//编辑
	             	this.deletes1 =true;//删除		
				    this.Auditing1 =true;//审核
				    this.noAuditing1 =true;//取消审核
				},
				insets: function() {//新增
				 	/*获取当前时间*/
				   	//判断是否在前面加0
						function getNow(s) {
						return s < 10 ? '0' + s: s;
						}
						 
						var myDate = new Date();            
						 
						var year=myDate.getFullYear();        //获取当前年
						var month=myDate.getMonth()+1;   //获取当前月
						var date=myDate.getDate();            //获取当前日
						 
						var h=myDate.getHours();              //获取当前小时数(0-23)
						var m=myDate.getMinutes();          //获取当前分钟数(0-59)
						var s=myDate.getSeconds();
						 
						var now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);
				   	/*获取当前时间*/
					
					
					
					var this_ = this;
					//修改信息
					this.page.list[0].teamCustom1=year+getNow(month)+getNow(date);//创建时间
					var obj=this.page.list[0];
					
					$.ajax({
						url : "http://127.0.0.1:8080/TeamController/insertSelective",
						type:"post",
					  	data : JSON.stringify(obj),
					  	dataType:'json',	
					  	contentType : "application/json;charset=utf-8",
					  	success:function (res) {
					  		//alert("系统提示：" +res.message);
							this_.isinsert=false;//关闭新增模式
							this_.isedit=false;//关闭编辑模式
							this_.goPage(1, 1);		
				        }
					}); 
				},
				saves: function() {//保存
					this.diasabledInput= true;//input不可编辑
					
					
					
					if(this.isinsert==true){//新增
						//alert("进入新增")
						this.insets();
					}else if(this.isedit==true){
						//alert("进入修改")
						this.updates();
					}else{
						
					}	
					
					this.goFirstPage1 =false;//第一笔
		            this.goPrePage1 =false;//上一笔				            
	             	this.goNextPage1 =false;//下一笔
			     	this.goLastPage1 =false;//后一笔
	             	this.inset1 =false;   //新增      
	             	this.return1=true;//返回
	             	this.saves1 =true;//保存 
	             	this.update1 =false;//编辑
	             	this.deletes1 =false;//删除		
				    this.Auditing1 =true;//审核
				    this.noAuditing1 =true;//取消审核
					
				},
				update: function() {//编辑按钮
					this.diasabledInput=false;//input可以输入
					this.isinsert=false;//关闭新增模式
					this.isedit=true;//开启编辑模式
					
					this.goFirstPage1 =true;//第一笔
		            this.goPrePage1 =true;//上一笔				            
	             	this.goNextPage1 =true;//下一笔
			     	this.goLastPage1 =true;//后一笔
	             	this.inset1 =true;   //新增      
	             	this.return1=false;//返回
	             	this.saves1 =false;//保存 
	             	this.update1 =true;//编辑
	             	this.deletes1 =true;//删除		
				    this.Auditing1 =true;//审核
				    this.noAuditing1 =true;//取消审核
					
				},
				updates: function() {//编辑 
					
					var this_ = this;
					//修改信息
					var obj=this.page.list[0];
					
					$.ajax({
						url : "http://127.0.0.1:8080/TeamController/updateByPrimaryKeySelective",
						type:"post",
					  	data : JSON.stringify(obj),
					  	dataType:'json',	
					  	contentType : "application/json;charset=utf-8",
					  	success:function (res) {
					  		//alert("系统提示：" +res.message);
							this_.isinsert=false;//关闭新增模式
							this_.isedit=false;//关闭编辑模式
							this_.goPage(1, 1);		
				        }
					}); 
				
				},
				deletes: function() {//删除
					var this_ = this;
					//修改信息
					this.page.list[0].teamYn=1;//是否删除（0 否 1 是 ，默认0）
					var obj=this.page.list[0];
					if (confirm("是否删除")==true) {
						$.ajax({
							url : "http://127.0.0.1:8080/TeamController/updateByPrimaryKeySelective",
							type:"post",
					  		data : JSON.stringify(obj),
						  	dataType:'json',	
						  	contentType : "application/json;charset=utf-8",
						  	success:function (res) {
						  		//alert("系统提示：" +res.message);
								this_.diasabledInput=false;//input不可以输入	
								this_.goPage(1, 1);		
					        }
						}); 
					}
				},   
				Auditing: function() {//审核
					
				},   
				noAuditing: function() {//取消
					
				},
				shuaxin:function(){
					this.goPage(this.page.pageNum,1);
				},
			  	getno:function(){//获取id
				   					
				}
			},
			mounted: function() {//在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
							
				var this_ = this;				
				this_.goPage(1, 1);				
			}
		
		});
		
		
		layui.use('table', function(){
		  var table = layui.table;
		  
		  table.render({
		    elem: '#test'
		    ,url:'/demo/table/user/'
		    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
		    ,cols: [[
		      {field:'id', width:120, title: '地址编号'}
		      ,{field:'username', width:220, title: '地址'}
		      ,{field:'sex', width:120, title: '邮政编码'}
		      ,{field:'city', width:150, title: '联系人'}
		      ,{field:'experience',  width:150,title: '联系人职称'}
		      ,{field:'experience',  width:150,title: '联系人电话'}
		      ,{field:'experience',  width:150,title: '传真号码'}
		      ,{field:'experience',  width:150,title: '行走路线'}
		      ,{field:'experience',  width:150,title: '备注'}
		    ]]
		  });
		});

		layui.use('form', function(){
		  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
		  
		  //……
		  
		  //但是，如果你的HTML是动态生成的，自动渲染就会失效
		  //因此你需要在相应的地方，执行下述方法来进行渲染
		  form.render();
		}); 
		
		layui.use('laydate', function(){
		  var laydate = layui.laydate;
		  
		  //常规用法
		  laydate.render({
		    elem: '#test1'
		  });
		  
		});

        layui.use('element', function () {
            var $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                tabAdd: function(){
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: '新选项'+ (Math.random()*1000|0) //用于演示
                        ,content: '内容'+ (Math.random()*1000|0)
                        ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                }
                ,tabDelete: function(othis){
                    //删除指定Tab项
                    element.tabDelete('demo', '44'); //删除：“商品管理”


                    othis.addClass('layui-btn-disabled');
                }
                ,tabChange: function(){
                    //切换到指定Tab项
                    element.tabChange('demo', '22'); //切换到：用户管理
                }
            };

            $('.site-demo-active').on('click', function(){
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });

            //Hash地址的定位
            var layid = location.hash.replace(/^#test=/, '');
            element.tabChange('test', layid);

            element.on('tab(test)', function(elem){
                location.hash = 'test='+ $(this).attr('lay-id');
            });
        });
    </script>
</body>
</html>
