<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
    <link type="text/css" rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</head>
<body>

<div class="login-body">
    <!--标题-->
    <div class="login-header">
        <!--注册联系客服链接-->
        <div class="register-right ">
            <span>如需注册，请联系客服  </span>
            <a href="javascript:;">
                <span></span>
            </a>
        </div>
        用户登录
    </div>
    <!--表单-->
    <form action="" method="post">
	    <div class="login-form">
	        <div class="form-item">
	            <input   type="text" placeholder="账号" name="userName" maxlength="11"  class="form-control">
	        </div>
	        <div class="form-item">
	            <input type="text" placeholder="密码" name="userPassword"   class="form-control">
	        </div>
	        
	       <!--  <div class="form-item code">
	            <input type="text" placeholder="验证码" name="code" maxlength="11"  class="form-control">
	           <a href="javascript:;">
					    <img  onclick="getVerifiCode()" id="yzm_img" style="cursor:pointer;width: 100px;height: 36px;" title="点击刷新验证码" th:src="@{/UsersController/getVerify}"/>
				</a>
	        </div> -->
	        <!-- <div class="form-item">
	            <a href="javascript:;" class="forgetpwd">忘记密码？</a>
	            <input type="checkbox" class="checkbox">记住账号
	        </div> -->
	        <div class="form-item">
	            <button class="btn btn-success" name="dl">登录</button>
	        </div>
	    </div>
    </form>
</div>
<script type="text/javascript">
	function getVerifiCode() {
// 	    $("#yzm_img").attr('src',"[[@{/UsersController/getVerify}]]");//设置或返回被选元素的属性和值。
		$("#yzm_img").attr("src","/UsersController/getVerify");
		console.log($("#yzm_img")[0]);
	}
	//getVerifiCode() 
    </script>
 <script type="text/javascript">
	$("[name=dl]").click(function() {
		var userName=$("[name=userName]").val(); //用户名
		var userPassword=$("[name=userPassword]").val(); //用户密码
   		
   		if (userName==""||userPassword=="") {
   			alert("用户名和密码不能为空！")
   		}else{	
   			var sendDate = $("form").serialize();//获取表单数据
       		sendDate = decodeURIComponent(sendDate,true); //decodeURIComponent() 函数可对 encodeURIComponent() 函数编码的 URI 进行解码。
       		var param=sendDate;//定义总条件变量并赋值
       		//alert(param)
			 $.ajax({
				url:"[[@{/UsersController/login}]]",
				type:"post",
				data:param,
				dataType:"json",
				success:function(res){
					console.info("登录信息");
					console.info(res);
				
					alert(res.message);
				
					window.top.location.href="[[@{/topage/index}]]";					
					window.top.location.href="[[@{/topage/index}]]";					
				}
			}) 
   		}
	})
</script>
<script type="text/javascript">

</script>
</body>
</html>